[2022-05-24 18:42] monde commented on #1135
got it @mcrobbj-SilverBullet , I'll keep this open and come back around to it

[2022-05-24 18:53] monde commented on #1094
@tmatilai the state and subject of `okta_group_rule` are the properties/expression of the rule itself, not the objects that are affected by the rule. Rules are applied in a job on Okta's backend and are asynchronous, it seems incongruous not to mention error prone to have that resource attempt to keep track of users. The state and subject of `okta_group_memberships` are the users that are in the g

[2022-05-24 22:06] monde commented on #1079
@mnovitsk I reopened this issue. I had to revert part of this change and it was released as v3.28.0 https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0 . Can you take a moment if this issue would occur again for you? Feel free to close the issue if you are good.

[2022-05-24 22:07] monde commented on #887
Released as [v3.28.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0).

[2022-05-24 22:07] monde commented on #1111
Released as [v3.28.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0).

[2022-05-24 22:08] monde commented on #1128
Released as [v3.28.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0).

[2022-05-24 22:09] monde commented on #1126
Released as [v3.28.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0).

[2022-05-24 22:09] monde commented on #1106
Released as [v3.28.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0).

[2022-05-24 22:09] monde commented on #1072
Released as [v3.28.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.28.0).

[2022-05-25 00:52] monde commented on #1084
@alldoami I'm trying to stitch this together. I'm not familiar with all the ins and outs of online hooks. That said, the [okta_inline_hook resource](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/inline_hook) is pretty much just a wrapper over the [Okta Management API for creating an online hook](https://developer.okta.com/docs/reference/api/inline-hooks/#create-inline-hoo

[2022-05-25 07:28] tmatilai commented on #1094
I thought that this issue was about the behaviour change in the `okta_group_memberships` resource in the v3.26.0. That was not a major release, and there was nothing in the changelog, so I would have assumed this indeed was a regression bug as it was initially labeled.

I agree that getting the state though API for the `okta_group_memberships` can be more correct, but the change still broke the ex

[2022-05-25 13:04] miguelpuiggarcia commented on #1079
Hi @monde This issue is happening again with version v3.28.0 if this helps
`Error: failed to update sign-on policy rule: the API returned an error: Api validation failed: conditions. Causes: errorSummary: conditions: Invalid condition type specified: identityProvider.`

[2022-05-25 16:11] monde commented on #1094
@tmatilai my mistake, I can see that "fix okta_group_memberships import" #924 was not listed in the v3.26.0 changelog, that was my mistake. As I commented earlier:

@tmatilai as this issue thread has gotten long can do me a favor? Can you please open another issue and describe your use case (number of users, groups, apps, etc.). Describe how `okta_group_memberships` behaved previous to v3.26.0 com

[2022-05-25 16:20] monde commented on #1079
@miguelpuiggarcia @mnovitsk I'll make it a priority to get to the bottom of this today and do a patch release ASAP

[2022-05-25 17:15] mit2222 commented on #953
I am getting the same issue with terraform.
I am getting an error
failed to create sign-on policy rule: failed to create policy rule: the API returned an error: Api validation failed: conditions. Causes: errorSummary: conditions: Invalid condition type specified: identityProvider.

[code]

[2022-05-26 14:41] PurrBiscuit commented on #1111
Thanks for the quick turn around on this one!

[2022-05-27 19:15] kochste commented on #1101
@huy-keydata - we are running into a similar issue.  Did you by chance open a support ticket?  Did anything come out of that - if so?

[2022-05-27 21:56] NeenuAVarghese opened #1141 "Dynamic issue mode not supported in okta_auth_server_default"
Looks like the current set of allowed values for `issuer_mode` in [Default Authorization Server](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/auth_server_default#argument-reference) terraform resource are "CUSTOM_URL" or "ORG_URL".

However, the UI allows setting the issuer as "Dynamic"
![image](https://user-images.githubusercontent.com/15176286/170793357-b1265ca4-0392-4

[2022-05-29 06:58] erelado commented on #1118
Thank you, @monde. I've set `$env:TF_LOG="DEBUG"` and sent the log file to your email adderss.

[2022-05-30 12:29] ivan-sukhomlyn commented on #953
[@bohdanprodan-okta](https://github.com/bogdanprodan-okta) Could we please include these changes in the latest releases? I'm getting the same error using the 3.28 provider version - https://github.com/okta/terraform-provider-okta/blob/v3.28.0/okta/resource_okta_policy_rule_sign_on.go#L138
[code]

[2022-05-30 17:49] yahsiuhsieh commented on #1073
Is there any update on this problem? I am also facing the same issue here.

[2022-05-31 06:57] exitcode0 opened #1143 "okta_app_group_assignments - group priority doesn't enforce uniqueness"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-31 15:02] mit2222 commented on #953
I was able to fix my issue.  I had to use 3.20.8 version. I am not getting an error "Invalid condition type specified: identityProvider" anymore.

[code]

[2022-05-31 15:54] monde commented on #1141
I will look into this @NeenuAVarghese

[2022-05-31 15:54] monde commented on #1143
I will look into this @exitcode0

[2022-05-31 20:06] pc-esekercan opened #1144 "Okta Group Rules - User Removal Issue Despite remove_assigned_users = true"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-31 20:13] DenisBalan opened #1145 "OKTA MFA different behavior terraform (REST API) / GUI"
Issue is in inconsistency between GUI okta_otp factor disabling and terraform (which is calling end REST API)

Basically from UI you cannot disable Okta Verify (okta_otp) factor if you have policies in place.

![image](https://user-images.githubusercontent.com/33955091/171274426-a4196d2d-6255-4053-af77-2b7b4a09837a.png)

But if you have this sort of script.

[code]
run terraform apply
[code]
succe

[2022-05-31 21:47] monde commented on #1144
Thanks @pc-esekercan I'll look into this.

[2022-05-31 21:49] monde commented on #1145
Thanks for listing out all of the details in the behavior @DenisBalan , I will look into this.

[2022-06-01 15:31] michaeldop opened #1147 "Cannot set the okta_policy_password password_history_count to 0"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-01 15:44] monde commented on #1147
Thanks @mdop-wh that seems like an odd bug. I checked the api documentation to be sure there wasn't drift on the meaning of the history count being 0 to reset, that is still the same https://developer.okta.com/docs/reference/api/policy/#age-object . And, our integration test `TestAccOktaPolicyPassword_crud` which changes `password_history_count` from 4 to 5 also still passes. The bug, if it exists

[2022-06-01 18:24] pc-mrousseau commented on #1144
One note which may be helpful, the provider appears to pass a parameter here "RemoveUsers" (bool) which isn't documented in Okta's formal API description. Perhaps someone vanished the undocumented option?

https://github.com/okta/terraform-provider-okta/blob/9059f5c9c9c8dd91976232a30410ef852b83f5a8/okta/resource_okta_group_rule.go#L171

[2022-06-01 20:07] gabelazo opened #1148 "okta_policy_password cannot set question_recovery to INACTIVE"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-01 21:16] monde commented on #1148
Thanks for the gist with the API calls @gabelazo , that is really helpful. Hopefully this can be addressed with the other `okta_policy_password` issues that open.

[2022-06-01 23:53] dli-spoton opened #1149 "Behavior change in okta_group_memberships resource >=3.26"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-02 02:44] virgofx commented on #1149
Personally I think that having `okta_group_memberships` be authoritative is the correct behavior. Meaning it should be able to do a global set for all group memberships/ overwriting any drift.

However, I understand the other side of the coin. Either way, adding documentation to the provider resource docs would help clarity-wise.

[2022-06-02 17:51] monde commented on #1149
Linking related issues #1119, #1094
Thanks @dli-spoton, your explanation of the previous behavior is concise.

I see the strong case for reverting to the previous behavior of `okta_group_memberships` resource. In addition add in the ability for it to concern itself for all users in the group even if they've been added outside of the resource. Looking back at the recent changes I was involved with

[2022-06-02 18:28] virgofx commented on #1149
I'm in favor of the flag. It satisfies both use cases. As for what the default action is -- no preference there - maybe revert to how it was before such that it's opt-in.

[2022-06-02 18:59] dli-spoton commented on #1149
I'm also in favor of the flag.

Personally, I think the default should be the new behavior, since it's more inline with how generally Terraform resources are expected to behave. But it is more disruptive and probably not worth it.

One nice to have that's beyond the scope of this issue is to have the option to only ignore users added by group rules, but be authoritative for all manually managed us

[2022-06-02 19:11] monde commented on #1149
That one sounds cool. I just checked in postman that the response to `GET /api/v1/groups/{groupId}/users` doesn't list hte origin of membership like it does in the UI. In my test org I added a user to the group by UI and added another in the group by rule. Sad.

[2022-06-03 15:26] tmatilai commented on #1149
A flag would be perfect for me, too.

I agree on this. The downside is that it's still a breaking change to the earlier behaviour, but that has been like this already for a couple of releases. But for me personally that wouldn't matter much.

@monde sorry for not responding to your request earlier. Been busy weeks, and now I'll be probably even offline for a couple of weeks. 🙂

[2022-06-03 17:14] icsrmontano opened #1150 "Missing email Resource EmailNewAlreadyChangedNotification"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-03 17:41] monde commented on #1150
Thanks @icsrmontano . I believe the type you are looking to utilize is `email.emailNewAlreadyChangedNotification`
https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_template_email.go#L28-L75

[2022-06-03 17:42] monde commented on #1150
@icsrmontano if you can give some more context, like a sample config, or log output with TF_LOG=1 would be helpful.

[2022-06-05 00:12] #989 closed, assigned to nobody

[2022-06-05 11:15] icsrmontano commented on #1150
Hi,

No luck. I had to remove the "email." prefix for the other three templates I'm working on to make it work as before.

The three templates that work fine are:

ForgotPasswordDenied
PasswordChanged
ForgotPassword

Only one that fails

emailNewAlreadyChangedNotification

Here's the output using the original name. Unfortunately I can't set the debug flag because the script runs via Ansible-Jenkin

[2022-06-06 07:53] andrei-korviakov commented on #976
We are waiting for this as well. It will be very handy

[2022-06-06 14:20] hueydn commented on #1101
We had to get our CSM to enable an early access feature that allows us to use the "implicit_assignment" flag on an application. I'm waiting on a prod deployment happening next monday to determine if this fixed our issue. It seems to have in our staging env so it's promising.

[2022-06-06 15:40] monde commented on #1150
@icsrmontano can you use curl or postman and jq to show me the templates that are available on your org? The type is showing up as `email.emailNewAlreadyChangedNotification` for me. I'm wondering if that template is not available for some reason on your org.

[code]

[code]

for example, this is what I'm seeing on my test org:

[code]

If you are not seeing `email.emailNewAlreadyChangedNotificatio

[2022-06-06 23:10] lucascantor commented on #1149
@monde I'm happy to open a separate issue if needed, but I think this is impacting group memberships of some users that **ARE** defined in Terraform code too.

Here's my code:

[code]

Here's the debug output from a plan with `version = "3.25.0"`:
[code]

And here's the debug output from a plan with `version = "3.27.0"`:
[code]

...which results in the following plan:
[code]

...and applies withou

[2022-06-07 00:31] dli-spoton commented on #1149
@lucascantor that's a pagination bug introduced in `3.26`. Issue #1119. Should've been fixed in `3.28`.

[2022-06-07 03:33] s50600822 opened #1152 "Email Change Confirmed Notification options"
### Description

Terraform options for "Email Change Confirmed Notification" - "Administrators" vs "Administrators and end-users"
<img width="1401" alt="Screen Shot 2022-06-07 at 10 25 36 am" src="https://user-images.githubusercontent.com/5586453/172289896-ad0415e7-adfe-4e54-b925-6be8f561a0ae.png">

### New or Affected Resource(s)

- okta_template_email (maybe) ?

[2022-06-07 03:50] exitcode0 opened #1153 "okta_group_roles - support custom roles"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-07 03:58] lucascantor commented on #1149
@dli-spoton thanks so much for the heads up. Unfortunately, we can't upgrade to `3.28` yet due to it reintroducing https://github.com/okta/terraform-provider-okta/issues/1079

[2022-06-07 10:16] sanketr404 opened #1154 "Okta saml app does not allow to add certificate"
### Community Note

Okta saml app does not allow to add certificate

### Terraform Version
❯ terraform version
Terraform v1.1.9
on darwin_arm64

### Affected Resource(s)

3.28.0

- okta_xxx

### Terraform Configuration Files

[code]

### Debug Output
 Error: Value for unconfigurable attribute

 │ Can't configure a value for "certificate": its value will be decided automatically based on the result

[2022-06-07 10:20] icsrmontano commented on #1150
I can confirm emailNewAlreadyChangedNotification with the original value:

        "type": "email.emailNewAlreadyChangedNotification",

Scratching my head on this one.

Additional context: with the old **okta_email_templates** , I used these four template types just fine:

okta_email_templates = {
  "forgotPasswordDenied" = {
    type       = "email.forgotPasswordDenied"
	...
  }
  "PasswordChange

[2022-06-07 12:57] cbrgm opened #1155 "Do not sort okta_users datasource results"
Due to a new sorting [query parameter in the users datasource](https://github.com/okta/terraform-provider-okta/blob/394b59a619b3fbbb7b9ab693b52360371387793f/okta/data_source_okta_users.go#L76), some strange sorting of user ids happen when terraform tries to apply changes to our state. This behavior does not appear in v3.25.1 but was introduces in v3.26.0.

In my setup, I'm using the `okta_users` d

[2022-06-07 13:50] JasonBuckner commented on #1022
We're still seeing this issue. Please rm 'stale' label.

[2022-06-07 17:01] monde commented on #1155
Thanks @cbrgm I'll be getting `okta_group_memberships` sorted out in #1149

[2022-06-07 17:09] monde commented on #1154
Thanks @sanketr404 . I see the `certificate` was established as a readable attribute on the the `okta_app_saml` resource https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_saml#attributes-reference . I'll have to look into changing the implementation to allow for `certificate` to be a property that can be set. If you are interested in working on a PR I can help you out. Gi

[2022-06-07 17:13] monde commented on #1153
Thanks @exitcode0 . Can we work on this as a PR together? You have a better understanding of the resource surface area you are trying to define here. Let me know, thanks.

[2022-06-07 18:34] icsrmontano commented on #1150
Case  01408710. Should I close this issue?

[2022-06-07 18:37] monde commented on #1150
@icsrmontano let's keep this open, I want to look into it further from the implementation side.

[2022-06-07 20:11] cbrgm commented on #1155
Ah, sorry @monde ! Didn't notice there are already a couple of issues addressing this behaviour. Shall I close this one here?

[2022-06-07 20:19] monde commented on #1155
Let's keep this one open as well.

[2022-06-07 21:53] kostacasa commented on #1008
Any updates on this issue? We are still unable to upgrade to the latest versions of the provider because of this. Our prod org always times out during plan phase.

[2022-06-07 23:33] monde commented on #1150
@icsrmontano taking a second look at this. I missed the email templates is using the brands API [`GET /api/v1/brands/${brandId}/templates/email`](https://developer.okta.com/docs/reference/api/brands/#list-email-templates). I wrote this script to get the template names off the primary brand on my test org:

[code]
This is what I'm seeing on my org for email templates. I'm not seeing anything about

[2022-06-07 23:45] monde commented on #1152
Hi @s50600822
I'm not certain on the ask here. This is how to list out the template names on a brand in your org:
[code]
This is what I'm seeing on my org for email templates.
[code]
I'm not familiar with how the data is surfaced in the Okta Admin UI. The way the brands api is modeled is:

* an org can have many brands
* a brand has many templates
* email customization are working copies of a spec

[2022-06-08 22:50] monde commented on #1014
being addressed in #1159

[2022-06-09 10:37] icsrmontano commented on #1150
Yes.  can confirm that I see the same 10 templates using the brands API (not a big fan now). I used Postman (rather than TF) to verify this, so this is certainly an API limitation.

[2022-06-09 20:09] monde commented on #1149
Working on this PR " Reestablish old behavior of okta_group_memberships resource" #1161 . Trying to get a v3.29.0 release out today.

[2022-06-10 22:26] lucascantor commented on #1079
@monde to confirm, is this bug still expected to impact today's new `3.29.0` release?

[2022-06-10 22:30] monde commented on #1079
@lucascantor I've not had a chance to look at this one yet, nothing related to it is in v3.29.0

[2022-06-10 23:29] monde commented on #1074
This goes back to the SDK
https://github.com/okta/okta-sdk-golang/issues/304

[2022-06-10 23:45] monde commented on #1155
@cbrgm let me know if https://github.com/okta/terraform-provider-okta/releases/tag/v3.29.0 fixes this for you. `okta_group_memberships` reverted back to it's original behavior. If you want it to track all users set the property `track_all_users=true`. Also took extra care to not deviate from the ordering of users ids as they were originally assigned in the update.
https://registry.terraform.io/pro

[2022-06-10 23:47] monde commented on #1150
@icsrmontano I don't think I have anything more I can do for you from the TF side, can I close this ticket?

[2022-06-10 23:48] monde commented on #1149
Hey all, let me know if https://github.com/okta/terraform-provider-okta/releases/tag/v3.29.0 fixes this for you. `okta_group_memberships` reverted back to it's original behavior. If you want it to track all users set the property `track_all_users=true`. Also took extra care to not deviate from the ordering of users ids as they were originally assigned in the update.
https://registry.terraform.io/p

[2022-06-10 23:49] monde commented on #1119
Update in https://github.com/okta/terraform-provider-okta/releases/tag/v3.29.0 . `okta_group_memberships` reverted back to it's original behavior. If you want it to track all users set the property `track_all_users=true`. Also took extra care to not deviate from the ordering of users ids as they were originally assigned in the update.
https://registry.terraform.io/providers/okta/okta/latest/docs/r

[2022-06-10 23:50] monde commented on #1094
Update in https://github.com/okta/terraform-provider-okta/releases/tag/v3.29.0 . `okta_group_memberships` reverted back to it's original behavior. If you want it to track all users set the property `track_all_users=true`. Also took extra care to not deviate from the ordering of users ids as they were originally assigned in the update.
https://registry.terraform.io/providers/okta/okta/latest/docs/r

[2022-06-11 01:37] jglopez commented on #1086
Hey @flyweight, I'm running into this too.
I believe that since Authentication Policies were previously called "App Sign-on Policies" and could only be associated with a single application, the provider has not yet been updated to now include the ability to create a new policy and define it within `okta_app_oauth`, `okta_app_saml`, etc.
I agree that all the current documentation describes is how t

[2022-06-12 12:31] erelado commented on #1118
@monde Did you get my email message? Do you have any updates regarding the matter?

[2022-06-13 07:21] cbrgm commented on #1155
Hey @monde,

that looks great! I can confirm that v3.29.0 fixes the problem and restores the old behavior of v.3.25.0. Thanks for your work and feedback!

[2022-06-13 07:21] #1155 closed, assigned to monde

[2022-06-13 16:17] monde commented on #1084
I have the pattern down for firing events, just need some feedback from @alldoami

[2022-06-13 18:45] dli-spoton commented on #1149
`3.29` looks good to me.

[2022-06-13 18:45] alldoami commented on #1084
Sorry that I didn't respond the first time, haven't had time to look into this too much. I'm a little confused on `firing an event`, does that mean this resource will try and force an update every time a plan is executed?

[2022-06-14 20:22] tim-fitzgerald commented on #1079
Just adding my voice here. Experiencing this on `3.29.0`. If I can provide any useful info @monde please let me know.

[2022-06-15 16:37] c4milo opened #1164 "Potential race condition between groups and group membership when using SCIM app."
We have been consistently hitting a race condition when we create group and assign it membership, for groups that are being pushed to AWS SSO through the SCIM app.

The error we get in Okta is the following:
<img width="816" alt="Screen Shot 2022-06-15 at 12 35 34 PM" src="https://user-images.githubusercontent.com/41681/173879741-98be7941-bf98-4a2c-9602-ec685faf20eb.png">

To work around it, we ha

[2022-06-15 16:50] monde commented on #1164
Thanks @c4milo I'll have to look into this. Would you be interested in working on a PR for this?

[2022-06-15 16:54] c4milo commented on #1164
I would love to but we are currently super tied up, and since we can work around, it is not super high priority. However, we thought it was good to let you all know about it. Other than that the provider has been working really well :)

[2022-06-15 20:45] eephillip opened #1165 "`okta_user_schema_property` - Integer "Attribute Range Support" a.k.a Validation Keywords"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-15 21:36] monde commented on #1165
Thanks @eephillip . This sounds cool, I'm in flight trying to get the array_enum on okta_user_schema_property to correctly have typed values that the API allows, so this is adjacent for sure.

[2022-06-15 22:02] icsrmontano commented on #1150
Please go ahead and close it. Thank you.

[2022-06-15 22:24] #1150 closed, assigned to monde

[2022-06-15 22:25] monde commented on #1149
Going to close this one 🤞

[2022-06-15 22:25] #1149 closed, assigned to monde

[2022-06-16 00:11] #436 closed, assigned to nobody

[2022-06-16 14:44] j-karpinski opened #1166 "okta_policy_rule_signon Invalid condition type specified: identity Provider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-16 15:36] monde commented on #1166
Thanks @Pyrovisionary . As you point out this seems to be a duplicate of other issues reported for `okta_policy_rule_signon` I'll have to make time to work on a fix.

[2022-06-17 04:01] rtlong commented on #953
Also see #1079 - looks like this issue regressed and was fixed there (in 0ebeae7c5e062a084809397ca93b194cdef17a94) before more recently being reverted again by 57d52bb09fe5554ae9eccd31ce43220f3c5c5838

[2022-06-17 12:28] extreme4all opened #1168 "Import environment"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-17 16:03] noinarisak commented on #1168
Hey @extreme4all ! I totally agree, sadly this is not a gap in the Okta Provider but general gap in Terraform CLI it self. Meaning this issue exist in other providers like AWS, GCP, etc.. I label it as a  "brownfield" situation where I configured my Service/Provider via UI console but want to start using Terraform to start IaC-ing.

Your options are either:
- Manually author all the HCLs that mirr

[2022-06-17 16:09] monde commented on #1168
Thanks @noinarisak , great question @extreme4all . If @noinarisak's information satisfies your question please close this issue.

[2022-06-17 16:23] ghost opened #1169 "plugin crashing for okta_inline_hook headers"
Getting this error when I try to add headers on okta_inline_hook.

Terraform resource:
[code]

Error on terraform apply:
[code]

[2022-06-17 16:36] monde commented on #1169
Thanks @nisargpansuria I can definitely see the logical flaw causing this panic https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_inline_hooks.go#L232-L244 if you have an empty `auth` property in your config. Looking at the documentation https://registry.terraform.io/providers/okta/okta/latest/docs/resources/inline_hook and your example compared to the documentation ex

[2022-06-17 17:49] ghost commented on #1169
@monde Yes, auth property was empty. When I added a dummy auth header with auth = { .. }, it let me set custom headers now from terraform (this exception is gone). So for now to bypass this exception I will need to set something in using auth = { .. } even though I am not using it, and use headers { .. } as I intended.

This seems like a logical flaw in this provider. Terraform and Okta console is

[2022-06-17 18:25] monde commented on #1169
Thank for the feedback @nisargpansuria . I'll label this a bug given the inconsistency in behavior you are describing and keep this issue open to address.

[2022-06-18 05:10] rtlong commented on #1150
@icsrmontano FYI the [GET /api/v1/brands/${brandId}/templates/email](https://developer.okta.com/docs/reference/api/brands/#list-email-templates) API is _paginated_. Add `?limit=60` and you should see them all. I get 27, for what it's worth.

[2022-06-20 06:34] garmishr opened #1170 "Enable terraform to maintain order of redirect_uris"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-20 10:20] erelado commented on #1118
@monde The problem [was found](https://github.com/okta/terraform-provider-okta/pull/1167), I believe...

[2022-06-21 17:30] monde commented on #1170
@garmishr looking for some clarification.

I this with the oauth app resource https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_oauth only? Or also with the data source https://registry.terraform.io/providers/okta/okta/latest/docs/data-sources/app_oauth . Seems like just the resource.

Next, are you making use of the early access feature [wildcard_redirect](https://regist

[2022-06-21 17:35] garmishr commented on #1170
Hi @monde , 1.Yes this is with the oauth app resource only. 2. Yes we are using early access feature wildcard_redirect 3.We are getting API error if we enter wildcard URL before non-wildcard URLs when an app is initially created.

[2022-06-21 18:27] monde commented on #1170
@garmishr does this represent ordering of  redirect_uris that would cause the error you are seeing?

[code]

[2022-06-21 20:27] monde commented on #1170
@garmishr never mind my question, I found the answer. This is bug where we were using the set scheme type in the TF sdk and the ordering was not being retained. `redirect_uris` should by schema typed list. See my PR #1171

[2022-06-22 04:53] garmishr commented on #1170
@monde Thank you so much for looking into the issue and creating the PR. Sorry, could not answer your questions as I work in IST time zone.

[2022-06-22 05:36] ahmei0 opened #1172 "It is not possible to assign groups to an AppInstance that has Federation Broker Mode enabled"
I have this error started appearing suddenly and it was working fine 3-4 weeks ago

Error: failed to update application group assignment: the API returned an error: Api validation failed: GroupAppAssignment. Causes: errorSummary: It is not possible to assign groups to an AppInstance that has Federation Broker Mode enabled
│
│   with okta_app_group_assignment.group_MyAccountCustomers,
│   on app_gr

[2022-06-22 16:07] #1170 closed, assigned to monde

[2022-06-22 16:13] monde commented on #1172
@ahmei0 that is an error coming from the API itself, not the terraform provider.
resource `okta_app_group_assignment` makes use of the Application Group Operations endpoints
https://developer.okta.com/docs/reference/api/apps/#application-group-operations
The update operation of the resource is hitting `PUT /api/v1/apps/${applicationId}/groups/${groupId}`.

[2022-06-22 19:46] slichtenthal opened #1174 "Support for enabling oAuth provisioning for org2org"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-22 21:39] monde commented on #1174
Thanks @slichtenthal . We need to finish the or2org funtionality and your config suggestions look good to me.

[2022-06-22 21:48] slichtenthal commented on #1174
Thanks!  FWIW I’m not sure if this is specific to org2org as the API call makes it look like it could work for any generic app where okta can provision users.

[2022-06-22 23:25] Mrorya opened #1175 "okta_user_schema_property - failed to get application user schema property: json: cannot unmarshal number into Go struct field"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-23 16:06] Mrorya commented on #1086
+1 to the previous comment - would love to make use of the linked authentication policy sharing as an easier way to manage these updates in terraform without having to create a unique policy resource per application

The API documentation stating `PUT to /api/v1/apps/{appId}/policies/{policyId}.` as a method to add a policyId to multiple appIds suggests in the future we'd ideally be able to add mu

[2022-06-23 16:20] monde commented on #1175
Thanks @Mrorya . Fwiw, this is what I'm currently working on. I fixed the issue in okta-sdk-golang which was released this week https://github.com/okta/okta-sdk-golang/releases/tag/v2.13.0 . It's been a pita juggling it on the Terraform side as they schema's a statically defined at runtime so the Terraform plugin SDK is inflexible for an array like this that can be typed differently depending on i

[2022-06-23 17:27] BalaGanaparthi opened #1176 "Error: `failed to create MFA policy` : **At least one of Password or Email authenticator must be set to required.**"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-23 17:39] monde commented on #1176
Thanks for all the details @BalaGanaparthi , I will take a look.

[2022-06-24 01:09] ahmei0 commented on #1172
@monde what I'm trying to understand here is either provider behaviour has changed or Okta has made this broker feature effect just now. We always had "implicit_assignment = true" on okta_app_oauth from day one but it never enabled broker mode.

[2022-06-24 05:25] ahmei0 opened #1177 "okta_app_oauth is removing group assignments"
I'm using okta_app_group_assignment resource to assign different group to oauth app created by okta_app_oauth

But weirdly, okta_app_oauth resource is removing group assignments set by okta_app_group_assignment

  # okta_app_oauth.ast_app_oauth will be updated in-place
  ~ resource "okta_app_oauth" "ast_app_oauth" {
      ~ groups                         = [
          - "00g15vat2jlL0VM4a3l7",

[2022-06-24 14:45] monde commented on #1172
@ahmei0 there hasn't been a change to the resource code for `okta_app_group_assignment` in `okta/resource_okta_app_group_assignment.go` since March. I'm not sure if the behavior on the Okta monolith changed in some subtle manner as the error message is coming from the API and passed through the TF to the runtime. Did settings or feature flags change or be applied to your org?

[code]

[2022-06-24 14:49] monde commented on #1177
@ahmei0 did this just start happening for you? Looking at the documentation https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_group_assignment I see this note that might be pertinent to your situation:

[code]

[2022-06-24 15:44] ghost commented on #1098
I also have the same issue. Upvote here

[2022-06-25 00:47] naveen-vijay commented on #1071
Commenting to keep the issue open

[2022-06-26 01:21] kasirajans commented on #1028
Any update @monde ?

[2022-06-27 15:04] bretterer commented on #979
This issue is now resolved

[2022-06-27 15:04] #979 closed, assigned to monde

[2022-06-27 15:12] bretterer commented on #891
@monde Double check manipulated sorting in resources

[2022-06-27 15:16] bretterer commented on #780
@monde check to see if #1167 fixes this issue

[2022-06-27 16:32] monde commented on #1005
#998 was released

[2022-06-27 16:32] #1005 closed, assigned to monde

[2022-06-27 16:35] monde commented on #1018
I believe this is resolved, ref #1016

[2022-06-27 16:35] #1018 closed, assigned to monde

[2022-06-27 16:53] monde commented on #1028
Triaging all the issues that have this bug dealing with a priority property.

[2022-06-27 17:00] monde commented on #713
[OKTA-441274](https://oktainc.atlassian.net/browse/OKTA-441274) is still on the backlog of the responsible internal team.
Trying to escalate this internally with a team dependency.

[2022-06-27 17:28] monde commented on #780
Confirmed, #1167 fixed this issue:
* If resource okta_app_oauth has a groups_claim, make the groups claim issuer mode be the same as the app (instead of hard coded to ORG_URL)
* okta_app_oauth.groups_claim.issuer_mode is a read-only attribute

[2022-06-27 17:28] #780 closed, assigned to monde

[2022-06-27 20:50] monde commented on #1118
Addressed this issue in [v3.30.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.30.0) release. Please reopen if the issue hasn't been fully resolved.

[2022-06-27 20:50] #1118 closed, assigned to monde

[2022-06-27 21:08] monde commented on #884
Closing this one again, skip seems to be working well now, please reopen if this is not the case. We started talking about this again on v3.27.0 and we've just released v3.30.0

[2022-06-27 21:08] #884 closed, assigned to monde

[2022-06-27 21:12] virgofx commented on #1087
@monde I haven't tested yet but should 3.30 fix this?

[2022-06-27 21:17] monde commented on #1087
@virgofx yes try out v3.30.0 . I was just in the process of looking through any of the existing open issues that may benefit from this.

[2022-06-27 22:06] monde commented on #1175
[v3.30.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.30.0) specifically addresses this bug, please reopen if this isn't addressed correctly. One thing to note, your example would look like this as the terraform runtime statically defines the schema at runtime and so we had make enum and one_of.const be string but under the hood the `type` ensures we handle the JSON call to the

[2022-06-27 22:07] #1175 closed, assigned to monde

[2022-06-27 22:13] monde commented on #1087
[v3.30.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.30.0) addresses this, please reopen if this isn't addressed correctly. One thing to note is the terraform runtime statically defines the schema at runtime and so we had make enum and one_of.const be string but under the hood the `type` ensures we handle the JSON call to the API correctly. Here's an example for `integer`:

[c

[2022-06-27 22:13] #1087 closed, assigned to monde

[2022-06-27 22:16] monde commented on #1074
Fixed in [v3.30.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.30.0)

[2022-06-27 22:16] #1074 closed, assigned to monde

[2022-06-28 16:17] Mrorya commented on #1079
This bug is still present in 3.30.0

[2022-06-28 16:26] BalaGanaparthi opened #1181 "Ability to configure `inactivityPeriod` in `okta_app_signon_policy_rule`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-28 17:25] monde commented on #1181
Thank you @BalaGanaparthi

[2022-06-28 19:30] monde commented on #1181
@BalaGanaparthi I see the `inactivityPeriod` property in the public API documents but not a `reAuthenticationFrequency`/`re_authentication_frequency` property: https://developer.okta.com/docs/reference/api/policy/#verification-method-object
Is the `reAuthenticationFrequency` something that you are able to see when you were experimenting with curl/postman calls to the API?

[2022-06-28 19:42] Mrorya commented on #1175
Thanks @monde - can confirm working on v3.30.0

[2022-06-28 23:05] monde commented on #1176
@BalaGanaparthi that error "At least one of Password or Email authenticator must be set to required" is coming from the API itself so this seems to be a policy setting mismatch.

We have an ACC test `TestAccOktaMfaPolicy_crud` and all of the enroll's in the example TF are optional and the test passes:

[code]

https://github.com/okta/terraform-provider-okta/blob/6ddf5aa3a874ca8a254fe8d707bf21cc61d

[2022-06-28 23:28] nicholasconnelly commented on #1176
hi @monde , have you tried this with an OIE tenant and policy? I'm having the same issue above. I've tried multiple permutations of setting okta_email and okta_password as optional / required.
I believe the issue is with the okta_password resource. When I set the email okta_authenticator resource as allowed for authenticaiton, and then set email as required in the MFA policy, I can bypass this err

[2022-06-29 16:15] monde commented on #1176
@nicholasconnelly thanks for the additional information, that is helpful background.

[2022-06-29 16:37] monde commented on #1176
@nicholasconnelly confirmed, @BalaGanaparthi helped me get my OIE testing org set up with the correct feature flag to get the ACC test to fail:
[code]

[2022-06-29 21:30] monde opened #1183 "Version v6.0.0 wish list"
Using this issue to gather suggestions for v5.0.0 of the provider which will occur sometime this year. Anything that is incompatible with v3.X.X / v4.X.X or incongruent with TF design principles https://developer.hashicorp.com/terraform/plugin/best-practices/hashicorp-provider-design-principles is on the table.

* Fully utilize v3 of okta-sdk-golang
* Replace provider config [arguments](https://re

[2022-06-29 23:26] #1181 closed, assigned to monde

[2022-06-30 06:57] BalaGanaparthi commented on #1183
## Resource definitions must be conducive to dynamic blocks.

**Example** : The current resource resource `okta_policy_mfa` has individual authenticators defined like

**Note** : Picking on `okta_policy_mfa` just to highlight the concept, but the same thought process is applicable for new resources or adapting the principles to the existing resource (or datasource) definitions .. where ever possib

[2022-06-30 13:51] noinarisak commented on #1183
Documentation
---
Example: We need a Guides section that would allow new users to understand the following topics: **How get started configuring the Provider**, **Migration instructions on the deprecated resource or data sources**, etc.

Example: More consistency within each resources and data sources around examples or best practices.

[2022-06-30 15:20] BalaGanaparthi commented on #1183
## Documentation

Every resource (and datasource) with a section of `Required Okta OAuth Scopes` that provides all required scopes to successfully execute the resource (or datasource) when `OKTA_API_PRIVATE_KEY` is used for credentials.

[2022-06-30 15:26] monde commented on #1183
A mechanism to partition feature behavior based on what kind of org the provider is pointed at and what can of feature flags are enabled on that org. I believe there are plans to expose a public API endpoint that will surface the feature flags/capabilities of an org that will allow this.

Also, something similar in the ACC tests. The ACC suite takes about 20 minutes to complete and I have to run i

[2022-06-30 19:50] hi-artem opened #1185 "Excluded Networks Order in `okta_threat_insight_settings`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-30 20:50] monde commented on #1185
Thanks @hi-artem I will look into this.

[2022-06-30 21:29] virgofx commented on #1087
@monde I've confirmed that 3.30.0 resolves the issue. Thanks so much!

[2022-07-04 16:59] procule commented on #1135
Reviving that but for a request to add the "Assign an application to a specific policy"
https://developer.okta.com/docs/reference/api/apps/#update-application-policy

Should be quite straight-forward with that function:
https://github.com/okta/okta-sdk-golang/blob/master/okta/application.go#L849-L865

Available since okta-sdk-golang 2.12

[2022-07-05 15:17] jackmurphy89 opened #1186 "Profile mapping with AD"
Is it possible when doing profile mapping to have the source be Active directory? I seem to only find answers that state the source must be an app or a user type and I don't think that solves my issue. Below is what I am looking to map for attributes. Also if this is the wrong place to ask, let me know and I will move it. Thanks!

Attribute Name | String
-- | --
honorificPrefix | appuser.generatio

[2022-07-05 15:24] monde commented on #1186
Thanks @jackmurphy89 I'd open a support ticket to get more a more immediate answer. I don't know top of mind. Also checkout the examples that used in the acceptance tests.

- https://github.com/okta/terraform-provider-okta/tree/master/examples/okta_profile_mapping
- https://registry.terraform.io/providers/okta/okta/latest/docs/resources/profile_mapping
- https://developer.okta.com/docs/reference/o

[2022-07-05 16:00] sgal-dm commented on #1097
@monde The root issue here appears to be a bug in the Resource-Sets API.

The GoLang SDK handles pagniation by checking for a next link in the "Link" header. [Code](https://github.com/okta/okta-sdk-golang/blob/b4946d7139279efce0a539ab766aa7e6fdd34231/okta/requestExecutor.go#L412)

However, the List Resources API call does not return this header, and supplies the next link exclusively in the _links

[2022-07-05 16:46] monde commented on #1097
@sgal-dm that is excellent additional debugging information, I really appreciate that. When I'm able to address this I also maintain okta-sdk-golang, if the issue is there, I can get that fixed. Or if it's in the API I can open an internal bug at Okta to get the appropriate team to address it.

[2022-07-05 18:15] sgal-dm commented on #1097
Thanks for the quick follow up, since this is looking like an issue with the API based on the documentation linked above I also opened up a support ticket (Case # 01431067) and referenced the SDKs (theoretically all languages are affected) and TF Provider as downstream issues.

[2022-07-06 11:39] delize commented on #1183
### Documentation Improvement

__________

Personally, I would like to see the documentation include what the expected data types are for each argument resource.

An example of this is for the [Sign On Policy](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_signon#priority).

[code]

For each of these, what is the expected [value data type](https://www.terraform.io/l

[2022-07-06 16:54] stackofone opened #1190 "`okta_group_role` removes app instance id when applying"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-06 17:24] monde commented on #1190
Hi @stackofone , thanks for your precise explanation and example of the observed behavior. I will be looking into this.

[2022-07-06 17:39] monde commented on #729
Closing for now, please reopen when there is more information.

[2022-07-06 17:39] #729 closed, assigned to monde

[2022-07-06 17:39] monde commented on #885
Closing for now, please reopen when there is more information.

[2022-07-06 17:39] #885 closed, assigned to monde

[2022-07-06 17:40] monde commented on #1114
Closing for now, please reopen when there is more information.

[2022-07-06 17:40] #1114 closed, assigned to monde

[2022-07-06 17:40] monde commented on #1152
Closing for now, please reopen when there is more information.

[2022-07-06 17:40] #1152 closed, assigned to monde

[2022-07-06 17:41] monde commented on #1168
Seems like the question was answered. Closing the issue, please reopen for further discussion.

[2022-07-06 17:41] #1168 closed, assigned to nobody

[2022-07-07 17:29] monde commented on #1176
@nicholasconnelly @BalaGanaparthi check out #1194 . It just updates our tests and documentation. ***TL;DR*** you need to [contact support](mailto:dev-inquiries@okta.com) to have feature flag `OKTA_MFA_POLICY` ***enabled*** (which it probably already is given your comments) and also have feature flag `ENG_ENABLE_OPTIONAL_PASSWORD_ENROLLMENT` ***disabled*** to remove the need for `okta_email` or `ot

[2022-07-08 01:54] NeenuAVarghese commented on #1141
Just checking in - was any progress made on this?

[2022-07-08 05:15] exitcode0 opened #1195 "datasource app_user_base_schema_property & app_user_schema_property"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-08 15:08] monde commented on #1195
Thanks @exitcode0 , I'll have to look into this.

[2022-07-08 17:07] #1025 closed, assigned to monde

[2022-07-08 22:08] #1097 closed, assigned to monde

[2022-07-08 22:09] #1141 closed, assigned to monde

[2022-07-08 22:37] monde commented on #1025
Released https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0

[2022-07-08 22:37] monde commented on #1181
Released in https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0

[2022-07-08 22:38] monde commented on #1141
Released https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0

[2022-07-08 22:39] monde commented on #1097
Released in https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0

[2022-07-08 22:39] monde commented on #1176
Released in https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0

[2022-07-08 22:52] NeenuAVarghese commented on #1141
Thank you @monde!

[2022-07-09 11:44] lucascantor commented on #1079
Looks like this bug is still present in 3.31.0 as well.

I'm sorry I don't understand the nature of the root cause to offer a fix ☹️ Is there perhaps a workaround that allows use of `okta_policy_rule_signon` resources until this is fixed though?

We're stuck on 3.27.0 because of this, and can't make use of other important bug fixes in newer releases.

I imagine nearly every Okta customer using the

[2022-07-09 12:10] tmatilai commented on #1079
Can't test it now, but ignoring the attribute should work. Something like:

[code]

By splitting the Okta configurations into multiple root modules, you might be able to use the newer version where needed, while pinning down the version only where you are affected by a certain bug.

[2022-07-09 12:12] tmatilai commented on #1079
And if it doesn't work in initial creation of the resource, at least by creating the rule manually and then importing to the state, the `ignore_changes` should do its job.

[2022-07-09 12:38] lucascantor commented on #1079
@tmatilai thanks so much for the advice 🙇🏼

[2022-07-09 13:50] monde commented on #1079
This one is still on my todo list. I'm on vacation for a week and can give it priority when I get back.

[2022-07-09 17:26] monde opened #1198 "bug(s) with resources having a `priority` setting"
## Synopsis

We are looking closer at two bugs with resources that have a `priority` attribute. The bugs may be discrete or related. The resources that could possibility be affected are listed below.

## Bug 1 - Parallelism

The terraform runtime operates with a parallelism mechanism wherein it can make many API calls in parallel as it runs commands such as `plan` and `apply`. The [default is 10](

[2022-07-09 17:28] monde commented on #1004
"bug(s) with resources having a priority setting" #1198

[2022-07-09 17:28] monde commented on #713
"bug(s) with resources having a priority setting" #1198

[2022-07-09 17:28] monde commented on #1079
"bug(s) with resources having a priority setting" #1198

[2022-07-09 17:28] monde commented on #1028
"bug(s) with resources having a priority setting" #1198

[2022-07-10 05:42] monde commented on #1183
https://github.com/okta/terraform-provider-okta/issues/999

[2022-07-11 07:56] tmatilai commented on #1079
@monde while the problem with priority bug is real and annoying, IMHO the main issue here is the `identityProvider` attribute (as stated in the subject). To my understanding it's behind a feature flag in the Okta tenant configurations, and without enabling, the API doesn't like to see it used. Right?

Would removing the default value be sufficient fix? Or should the API be changed to ignore the at

[2022-07-11 16:50] chainalysis-madisonhope opened #1200 "Depagination broken when using okta_groups data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-11 18:35] tgoodsell-tempus commented on #1183
Lots of deprecated resources already trying to deal with this, however more strict focus on following the Terraform best practices of having the resources not mix and match various API objects: https://www.terraform.io/plugin/hashicorp-provider-design-principles#resources-should-represent-a-single-api-object

For example, the apps, groups, and users APIs should avoid calling both the "root" CRUD A

[2022-07-11 18:58] RyAndrew opened #1201 "Support Dynamic IdP Routing Rules"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-12 02:33] timgates42 opened #1202 "Change #1193 requires the Identity Engine functionality to be active on the okta tenant to work"
Terraform provider 3.31 update raises the error "The request was not valid: Invalid policy type specified." when querying the available policies of type ACCESS_POLICIES for an Okta tenant that does not use the IDENTITY_ENGINE functionality.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments

[2022-07-12 05:30] ymylei commented on #1183
Adding onto this, may be easier to support this request overall if time is spent in re-doing the docs and generating using `tfplugindocs`. See https://www.terraform.io/registry/providers/docs#generating-documentation

[2022-07-12 10:55] boekkooi-lengoo commented on #1063
@monde Is there any new regarding this issue?

[2022-07-12 11:29] erelado commented on #1029
@monde, @dawoudt-okta any update?

[2022-07-12 12:22] VictorGFM commented on #1202
I believe I'm facing the same "invalid policy type" issue when trying to create an Okta App using the resource `okta_app_saml`. It throws the  following error:
[code]
Is it possible to make this `authentication_policy` update to be backward compatible with `okta_app_saml` created on Okta orgs that are still using the Okta Classic Engine? Right now the only option I see to be able to continue using

[2022-07-12 16:47] monde commented on #1063
@boekkooi-lengoo I'm on vacation atm, I'll try to give it priority when I'm back. Also, open a support ticket support.okta.com on this. That will put pressure on this within the machine.

[2022-07-12 16:54] monde commented on #1029
I'll follow up on this when I get back from vacation.

[2022-07-12 20:20] sklarsa commented on #1202
Also seeing the same thing as @VictorGFM

[2022-07-12 22:29] emanor-okta commented on #1166
@Pyrovisionary - Do you see this in a *.oktapreview.com or *.okta.com Org?
I am testing v3.30.0 in *.oktapreview.com and am able to create a rule with/without identity_provider.

In my *.oktapreview.com Org it worked and in *.okta.com Org I receive the same error you do.
In my preview Org there is a feature that I had enabled that is not set up in prod. After enabling this feature I was able to cr

[2022-07-12 22:44] emanor-okta commented on #953
@rtlong - https://github.com/okta/terraform-provider-okta/issues/1166#issuecomment-1182556364

[2022-07-13 00:32] lyndoh commented on #1202
Also seeing a similar issue when creating an `okta_app_oauth` resource. eg. just try the example https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_app_oauth/native.tf and get
[code]

We only have "API Access Management" functionality/product enabled.

Cheers

[2022-07-13 08:32] ivan-sukhomlyn commented on #1166
@emanor-okta For example, I had the same issue at the okta.com organization, not a preview.
More details
https://github.com/okta/terraform-provider-okta/issues/953#issuecomment-1141099192

[2022-07-13 14:31] lucascantor commented on #1079
I can confirm adding

[code]
resolves my issue, allowing me to use `3.31.0`.

[2022-07-13 14:34] sgal-dm opened #1203 "Add AuthN Policy assignment to Bookmark and SWA app resources"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-13 14:57] tgoodsell-tempus commented on #1203
I'm against adding these directly to the resource due to https://github.com/okta/terraform-provider-okta/issues/1202 and the terraform best practices (https://www.terraform.io/plugin/hashicorp-provider-design-principles#resources-should-represent-a-single-api-object).

However, I think creating a standalone "link" resource that works generically for all apps is do able and the better route. I can

[2022-07-13 15:32] jglopez commented on #1086
Just noticed https://github.com/okta/terraform-provider-okta/pull/1193
Is this fixed with [v3.31.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0)? 😮

[2022-07-13 17:53] Mrorya commented on #1202
Seeing the same issue on 3.31 with an okta_app_oauth resource on _update_ - interestingly, this did not trigger for all applications when upgrading from TFE 3.24 to 3.31

[code]

We have no signon policies configured for this application (as we're on classic still)

[2022-07-14 14:30] rsheppardsos opened #1204 "Error when trying to create a `okta_app_oauth` resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-14 15:07] sebman-metro opened #1205 "Public API and associated Terraform resources for custom signin page"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-14 19:44] vglen commented on #1204
I am seeing the exact same behavior on `3.31`.

[2022-07-14 21:39] ktham commented on #1183
As long as the input validation still happens at plan-time (and not apply-time), I am ok with that. I want to minimize situations where I merge in a PR that generated a valid TF plan, only to have it fail during apply-time.

[2022-07-15 12:08] fatbasstard commented on #1204
Hit the same issue and the `untaint` option is indeed a hotfix. Looking forward for the structural fix in a new release

[2022-07-15 12:38] slichtenthal commented on #1204
Same issue, though in `okta_app_saml`

I did a little bit of research and found the call that is failing is to `/api/v1/policies?type=ACCESS_POLICY`.  This only works if you have the Identity Engine enabled in Okta, which not all environments do, as documented [here](https://developer.okta.com/docs/reference/api/policy/#authentication-policy).

 I think the fix would be to either have a setting in

[2022-07-15 21:21] nickrmc83 commented on #1176
👋🏻 @monde I think there's a bug still here. The code shown below in [okta/resource_okta_policy_mfa.go](https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_policy_mfa.go#L158) removes any specified `okta_password` entry in an `okta_policy_mfa` resource causing the API error to be returned if `okta_email` is disallowed. Looking at the API activity when playing around in th

[2022-07-18 14:16] exitcode0 opened #1208 "data_source_okta_user - remove suppression of custom roles"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-18 16:39] monde commented on #1183
Remove deprecated resources.

[2022-07-19 16:50] monde commented on #1200
Apologies for a delay in ack'ing this @chainalysis-madisonhope - just getting back from vacation. Given other pagination bugs I'm hoping this will be an easy fix.

[2022-07-19 17:14] monde commented on #1202
Just getting back from vacation, apologies for a delayed response and apologies for what I believe is a breaking change. I will give this my top priority.

[2022-07-19 17:17] monde commented on #1029
I don't have any new status on this issue.

[2022-07-19 17:21] monde commented on #1203
We'll have to prioritize working on this.

[2022-07-19 17:26] monde commented on #1205
Apologies for the slow reply @sebman-fizz-vl  , I'm just getting back from vacation. We'll have to prioritize working on this enhancement.

[2022-07-19 17:28] monde commented on #1204
Apologies for the slow ack on this bug, I'm just getting back from vacation. Marking this a bug.

[2022-07-19 17:34] monde commented on #1176
Reopening this.

[2022-07-19 17:37] monde commented on #1208
Thanks @exitcode0 , I'll have to look into this further, thanks for the detail description.

[2022-07-19 20:54] sebman-metro commented on #1205
No problem. (I changed my username)

[2022-07-20 00:47] exitcode0 opened #1211 "resource_okta_app_group_assignments - add attribute "groups""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-20 15:21] nickrmc83 commented on #1022
👋  ~~We've just had this hit us in a production environment whereby our provisioning configuration was wiped out. Is there any expected fix date for this as it makes our ongoing use of terraform to configure Okta much more difficult.~~

I think we're actually hitting issue [655](https://github.com/okta/terraform-provider-okta/issues/655).

[2022-07-20 18:10] swu-etsy commented on #1082
Noting that the plugin for v.3.31.0 also crashes when an app label is misspelled for the `okta_app` data source. Please let me know if more information would be helpful!

[2022-07-20 20:45] emanor-okta opened #1213 "Error when trying to update okta_policy_rule_profile_enrollment resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-21 13:30] erturcot commented on #1176
Terraform ressource okta_policy_mfa doesn't send the okta_password authenticator configuration in the API request.  The result is that the password authenticator is disabled in the policy.
This is caused by the function syncAuthenticator() from https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_policy_mfa.go that filters the okta_password authenticator configuration.

T

[2022-07-21 15:26] pmatpadi commented on #1201
Please provide an ETA on when this feature will be available.

[2022-07-21 18:08] smistephenresmed opened #1216 "Group Membership Issue With Versions >=3.29"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-21 18:50] monde commented on #1124
@ReeceBlack123 where are you at on the PR we were looking at? Have you been able to make progress?

[2022-07-21 18:51] monde commented on #1211
Thanks @exitcode0 , sounds good to me.

[2022-07-21 18:54] monde commented on #1213
Thanks @emanor-okta I'll take a look.

[2022-07-21 18:57] monde commented on #1201
I will report back when we are able to get this on the roadmap.

[2022-07-21 18:59] monde commented on #1216
Thanks for the details @smistephenresmed . Not sure if this is regression or not. I will mark it as such since it changed the behavior you were experiencing previously.

[2022-07-21 19:40] CodyDunlap commented on #1202
I'm getting this same issue for the `okta_app_oauth` resource. I also have no signon policies configured and use Okta Classic engine.

This breaking change effects previous versions of the provider also. My configuration was on version 3.22 of the Okta TF provider and we started getting this error recently when we create a new oauth app. Upgrading to the latest version of the provider has not reso

[2022-07-21 19:54] andrewlasal opened #1217 "When updating multiple okta_user_base_schema_property resources in one apply, only one base property is changed despite terraform returning success"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-21 20:06] andrewlasal commented on #1217
We noticed we were making the mobilePhone required and even after fixing that issue we're still only seeing one base attribute update per apply

[2022-07-21 20:41] monde commented on #1217
Thanks @andrewlasal , I'll have to look into this further.

[2022-07-22 00:39] natmariam commented on #992
I am actually getting the same error, even though I don't have **priority** attribute defined. I also tried priority = null, just to see.

[2022-07-25 06:53] exitcode0 opened #1218 "okta_user_group_memberships - track_all_groups"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-25 16:44] Mrorya opened #1219 "okta_app_user_schema_property - failed to update custom app user schema property: the API returned an error"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-25 17:00] Mrorya commented on #1219
I think the comment in the original issue explains the error here - closing this out ! https://github.com/okta/terraform-provider-okta/issues/1175#issuecomment-1167963587

[2022-07-25 17:06] Mrorya commented on #1219
I lied! This is _not_ fixed by modifying the array_enum or array_one_of values - updated the description and reopening the issue

[2022-07-25 17:09] monde commented on #1218
Thanks @exitcode0 , this sounds good to me.

[2022-07-25 17:11] monde commented on #1219
Thanks for the details @Mrorya . The TF SDK schema inflexibility is a pita when trying to give the Okta API explicit types. Hopefully I can smooth that out as well.

[2022-07-25 17:20] Mrorya commented on #1219
FWIW, this also failed on attribute creation with the same error (attempted to delete + re-create)

[2022-07-25 18:13] Mrorya opened #1220 "okta_app_oauth resource modification results in auth policy set failure"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-25 20:40] Mrorya opened #1221 "ThreatInsight Configuration Continuously Reordering"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-25 23:16] Mrorya commented on #1176
Watching this for updates! Looks like the previous comment noted the explicit issue but just noting that we're on 3.31.0 with the bug that's referenced - run into the same API error regardless of whether the password authenticator is required or not

[2022-07-26 06:11] nicholasconnelly commented on #1176
a workaround for this issue on OIE is to use the non-OIE configuration for this resource

i.e. set
`is_oie      = false`

for Okta Verify use
[code]

for Phone use
[code]

for FIDO use

[code]

[2022-07-26 17:34] Mrorya commented on #1176
@nicholasconnelly - Interesting... I've attempted to create a classic policy in one of my OIE preview tenants and still ran into the same issue with the following configuration:

[code]

And on execution:
[code]

[2022-07-26 22:17] nicholasconnelly commented on #1176
@Mrorya you need to include the password resource or email resource as required
e.g.
[code]

[2022-07-28 14:34] conradchan1213 commented on #1204
I am encountering the exact same issue and identified the same conclusion as https://github.com/okta/terraform-provider-okta/issues/1204#issuecomment-1185504995

[2022-07-28 15:23] monde commented on #1221
I suspect the issue is like that fixed in #1171 (use of set vs list in TF SDK). I'll look into it @Mrorya, thanks.

[2022-07-28 15:30] monde commented on #1220
@Mrorya the error is `no default policy found` and I know @dkulchinsky is having problems with this and is working on a related PR. I need to determine if the issue, in this issue, is really that and not something with redirect uri ordering (which I thought was fixed in #1171).

[2022-07-28 16:11] BalaGanaparthi commented on #1183
## Datasources

### Use-case this feature will solve
When a customer with existing Okta implementation without terraform would like manage all the existing configurations via terraform going forward

### Feature requested
**List Data Source** :
Each _Resource_ have a corresponding list _Data Source_, where the IDs of all the entities/objects configured in the tenant of that Resource Type are fetch

[2022-07-28 18:35] monde commented on #1204
fyi, I consider this a regression, I'm investigating a similar item with @dkulchinsky

[2022-07-28 19:56] Mrorya commented on #1220
@monde Thanks - since opening this issue, we've noticed we're getting the same API error response from any new application integrations (SAML or OAuth) - the trigger here was the redirect URI reorder causing an update to the application, but the actual issue is as you say the no default policy found trigger. I'm not sure if there's something within OIE that identifies the default app sign on polic

[2022-07-28 20:03] Mrorya commented on #1220
@monde FWIW - I've taken the app creation body and sent it through _outside_ of terraform and did not receive a policy failure. If you want another github issue to report the default policy found issue when creating a saml app I can do so, but it sounds like you're both on the case here. An example of the app resource generating the _no default policy_ found error is below, if it helps:

[code]
An

[2022-07-29 19:33] karlsequeira commented on #729
@bogdanprodan-okta  Can you please reopen. Every time I run the update on using okta_idp_saml, JIT turns off.

[2022-07-29 23:22] monde commented on #1220
@Mrorya give v3.32.0 a try https://github.com/okta/terraform-provider-okta/releases/tag/v3.32.0 . Reopen the issue if it doesn't get you unstuck.

[2022-07-29 23:22] #1220 closed, assigned to nobody

[2022-07-29 23:51] cavila-evoliq commented on #1202
My company is also presently experiencing this error. We were previously on provider version 3.18 and upgraded all of our providers, which upgrade Okta to 3.31. Our applies are failing after this upgrade with the following:

`Error: failed to set authentication policy an OAuth application: failed delete authentication policy: the API returned an error: The request was not valid: Invalid policy typ

[2022-07-29 23:55] monde commented on #1202
I'm going to be going after the policy bugs next week. I just added to ability for the provider to discover easily if the org is Classic or OIE, so that will be helpful to put bumpers around resource behavior is that mutually exclusive OIE to Classic and visa versa.

[2022-07-30 00:32] Mrorya commented on #1220
Thank you! We plan on updating early next week to 3.32.0 and I'll reopen this issue if it persists

[2022-07-31 06:32] emanor-okta commented on #1217
@andrewlasal - I think this is an issue with concurrent updates on the back-end.
Can you try running the plan/apply phases with `-parallelism=1` to verify.

The [API does appear to allow sending more than a single property](https://developer.okta.com/docs/reference/api/schemas/#update-user-profile-schema-property) in a single request, so maybe the resource could be updated to accept an array inste

[2022-07-31 13:21] oreni opened #1228 "okta_inline_hook data source with name attribute reference"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-01 14:15] JPLachance opened #1230 "Breaking change introduced between 3.31.0 and 3.32.0?"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-01 15:12] monde commented on #1230
@JPLachance this is a regression I will fix and do a new release ASAP{

[2022-08-01 15:15] monde commented on #1228
Thanks @oreni . Would bring parity to the corresponding resource https://registry.terraform.io/providers/okta/okta/latest/docs/resources/inline_hook

[2022-08-01 15:17] monde commented on #1221
Thanks @Mrorya, suspect this is a set vs. list bug that I've seen in the provider previously.

[2022-08-01 15:42] monde commented on #1230
#1233 /cc @ericnorris

[2022-08-01 20:43] virgofx commented on #1230
Just ran into this issue myself and can confirm we have the `scopes`, `private_key`, and `client_id` specified.

[2022-08-02 19:24] monde commented on #1230
@JPLachance @virgofx fix is out in v3.33.0 now.

[2022-08-02 19:24] #1230 closed, assigned to monde

[2022-08-02 20:53] monde commented on #1176
Ref'd internally https://oktainc.atlassian.net/browse/OKTA-513055

[2022-08-03 01:17] virgofx commented on #1230
Thanks @monde just confirmed it's working on 3.33.0

[2022-08-03 13:01] tmatilai commented on #1198
I'm not sure if the Okta API would even allow this, but the Datadog provider has an interesting take on ordered lists by specifying a separate resource for ordering, e.g. [datadog_logs_pipeline_order](https://github.com/DataDog/terraform-provider-datadog/blob/master/datadog/resource_datadog_logs_pipeline_order.go) ([docs](https://registry.terraform.io/providers/DataDog/datadog/latest/docs/resource

[2022-08-03 14:33] pro4tlzz commented on #1147
I have this problem as well

[2022-08-03 16:59] michaeldop commented on #1106
Hi @monde, Is there anyway we can add `SHA-256` back in as an option? I think that is the default btw for request algorithm. If I am forced to set `HS256` then it requires that my client secrets to be at least 32 characters. Unfortunately I do not have control over all of those values so I cannot upgrade past 3.27.

[code]

Let me know and I can open up a PR for it.

[2022-08-03 17:04] monde commented on #1106
@mdop-wh I'll consider this a regression given your feedback. Is your org a classic org? A classic org that was upgraded to OIE? Or a pure OIE org? I added discovery to the provider to determine if it is a Classic or OIE org and I'm feeling suspicious that we need to account for org type here.

[2022-08-03 17:21] michaeldop commented on #1106
I believe I have Classic Orgs

[2022-08-04 00:12] #1073 closed, assigned to nobody

[2022-08-04 12:25] eduhamel opened #1236 "okta_app_signon_policy_rule -> Add CHROMEOS to the values list for the os_type"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-04 15:11] stmyers commented on #1088
I'm seeing this behavior too but also it means that if a group is added via the UI, subsequent Terraform runs won't remove that group UNLESS a new group being added to the resource.  This means that not only is drift not being detected in plan output, but also won't be corrected unless a new group is being added via TF.  We need to make sure that groups added to the UI are removed on subsequent ru

[2022-08-04 17:29] monde commented on #1236
@eduhamel I'll try and get this quick fix into the next release.

[2022-08-04 23:15] AnnaGiliaeva opened #1238 "support import of okta_app_signon_policy_resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-05 00:14] #1145 closed, assigned to nobody

[2022-08-05 01:02] monde commented on #1238
Thanks @AnnaGiliaeva

[2022-08-05 08:34] delize commented on #1183
# Official Okta Modules

Would be nice to have Okta officially come up with dynamic/flexible module uses where it makes sense to package or bundle the resources that work together or are highly functional together (EG: Sign On Policies & Sign On Rule Policies).

While it is great that these are separate resources, they could function together as a module. Having Okta officially outline the "best p

[2022-08-05 14:53] monde commented on #1183
Thanks @delize . I'm not sure on the follow through, but I do know our product people want to get some sort of reference examples/documention/configurations published for the TF provider. As there are many different ways to use the provider I would think there might be multiple examples.

[2022-08-05 15:13] OnwardKnight commented on #1147
I just ran into this bug this week @monde, the problem appears to be exclusive to setting `password_history_count` to 0. All other valid integers work.

[2022-08-05 17:05] ruimarinho commented on #1183
@monde I think I can provide a _script_ in terms of what I think are onboarding requirements and how those could be translated into this TF provider. E.g. dashboard configuration, authenticator requirements, profile mappings from HR system (which I think are not supported yet?), dynamic group assignments with rules, first SAML app, etc.

[2022-08-05 18:55] lucascantor opened #1240 "Add support for Device Assurance"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-07 00:14] #1148 closed, assigned to nobody

[2022-08-07 00:14] #1144 closed, assigned to nobody

[2022-08-08 05:41] emanor-okta commented on #1213
[PR](https://github.com/okta/okta-developer-docs/pull/3529) to update Docs with this attribute.

[2022-08-08 14:10] martinstuga opened #1241 "Add support to pkce_required property for OIDC app integrations"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-08 16:10] monde commented on #1240
Thanks @lucascantor , agreed we need to create this.

[2022-08-08 16:11] monde commented on #1183
@ruimarinho awesome, share your config in a gist here if it can be shared in the public else send me your artifacts mike.mondragon@okta.com and I'll be able to share with product/documentation.

@ruimarinho @delize , coincidentally, my recollection was correct, just saw a planning deck today, we are in Q3 at Okta, and providing reference architectures for all of our SDKs and the TF provider is a p

[2022-08-08 16:15] monde commented on #1241
Thanks @martinstuga . I see `pkce_required` listed in the public API documentation https://developer.okta.com/docs/reference/api/apps/#oauth-credential-object . We'll need to get that surfaced in okta-sdk-golang .

[2022-08-08 16:16] monde commented on #1241
This will be a quick fix once the property is accessible via okta-sdk-golan

[2022-08-08 16:34] Mrorya commented on #1219
Any update here? We're kinda stuck making any new attributes with arrays due to this issue, but rolling back to a previous provider version would reintroduce other bugs that have been fixed between 3.24->3.33

[2022-08-09 21:30] Mrorya opened #1242 "okta_app_signon_policy_rule created without possession constraint"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-09 22:14] monde commented on #1242
Thanks for writing up the bug @Mrorya

[2022-08-10 00:04] emanor-okta commented on #1213
https://github.com/okta/okta-management-openapi-spec/pull/144

[2022-08-10 07:03] ppanan33 opened #1244 "Terraform import feature for okta_email_customization"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-10 15:35] monde commented on #1244
Thanks @ppanan33 . Also marking this a bug.

[2022-08-10 19:08] Mrorya opened #1245 "inactivity_period default value causing API error for catch all okta_app_signon_policy_rules"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-11 02:38] ppanan33 opened #1246 "List all Email template by provider okta_email_templates"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-11 16:12] monde commented on #1246
@ppanan33 please open a support ticket (support.okta.com), and reference this GH issue. The data coming off the `/api/v1/brands/{brandId}/templates/email` endpoint is controlled by the Okta service itself, or perhaps one level higher in the API layer. That is data is not controlled by the SDKs or the Okta TF provider that consume this data downstream from the API. I'd not want to hard code templat

[2022-08-11 16:14] monde commented on #1245
Thanks for your diligent bug reports @Mrorya I'm looking to knock down all the policy bugs next.

[2022-08-11 18:54] Mrorya opened #1247 "priority = 0 is ignored for okta_app_signon_policy_rule resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-11 22:43] monde commented on #1198
Dropping this example for the upcoming v3.34.0 release that demonstrates how to chain resources (that will now have proper concurrency coordination) using the `depends_on` meta argument so that the Okta service will respect the desired priority assignments.

[code]

[2022-08-11 22:45] monde commented on #713
Dropping this example for the upcoming v3.34.0 release that demonstrates how to chain resources (that will now have proper concurrency coordination) using the `depends_on` meta argument so that the Okta service will respect the desired priority assignments.

[code]

[2022-08-11 23:19] monde commented on #1247
@Mrorya I wasn't able to reproduce what you are seeing with the snippet you've provided. That said, what happens when you use a `depends_on` meta argument? This snippet plan/apply/destroys for me without error.

[code]

[2022-08-11 23:35] Mrorya commented on #1247
Utilizing `depends_on` in the resource does appear to create with the proper priorities, despite the priority attribute still not showing up in the terraform plan

[code]
![image](https://user-images.githubusercontent.com/3143796/184259542-117e6fb5-c032-4264-84aa-c46ac1ad4146.png)

[2022-08-11 23:38] Mrorya commented on #1247
It looks like the behavior is inconsistent after going through destroy->create a few times. Sometimes, this does seem to set properly - others, the priorities aren't set properly. I'm not sure if it's some API execution timing thing here

[2022-08-11 23:47] monde commented on #1247
Reference for others reading along https://developer.okta.com/docs/reference/api/policy/#authentication-policy
"When you create an authentication policy, you automatically also create a default policy rule with the lowest priority of 99. The highest priority that an authentication policy rule can be set to is 0."
The API docs are kind of muddy, it seems like any other policy rule other than type `

[2022-08-11 23:50] monde commented on #1247
@Mrorya, coincidentally, I'm working on a PR to fix the currency issue on all the resources that have a priority property  as described in https://github.com/okta/terraform-provider-okta/issues/1198. The solution will be using good concurrency protections protections https://github.com/okta/terraform-provider-okta/pull/1248

[2022-08-12 02:50] simondemartini opened #1249 "Support generating private keys for okta_app_oauth resources"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-12 21:51] monde commented on #1198
I'm going to close this issue, if anyone runs into it again ask to open it back up. I solved the concurrency for `okta_auth_server_policy_rule` in #1248 released as [v3.34.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.34.0) and no doubt the fix and be reapply in new found offenders.

[2022-08-12 21:51] #1198 closed, assigned to monde

[2022-08-13 01:57] edlott opened #1251 "Add attribute to okta_app_signon_policy to create a 'Catch All' rule that's 'DENY'"
okta_app_signon_policy creates a default 'Catch All' rule.  Once such a rule is created, it's difficult to change anything about it with terraform since the codebase implementing okta_app_signon_policy_rule is designed to work with mutable rules vs. all the restrictions associated with the 'Catch All' rule.

If you could add an attribute to okta_app_signon_policy (catchAll = "DENY"), then okta_app

[2022-08-13 12:59] ppanan33 commented on #1246
@monde thanks, I created a Case with Number 01481146.

[2022-08-15 00:12] #1154 closed, assigned to nobody

[2022-08-15 00:24] eephillip commented on #1165
bumpity bump 🤜🤛

[2022-08-15 13:32] nickrmc83 commented on #655
Can confirm we're also hitting this.

[2022-08-15 15:15] monde commented on #1249
@simondemartini , agreed, your write up reminds me of when I first on-boarded at Okta I was shown how to roll JSKS and private keys by hand. I'll have to look into this further. /cc @duytiennguyen-okta

[2022-08-15 15:18] monde commented on #1249
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524182

[2022-08-15 15:19] monde commented on #1251
@edlott I like this idea.

[2022-08-15 15:27] monde commented on #1247
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524184

[2022-08-15 15:31] monde commented on #1165
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524185

[2022-08-15 15:36] monde commented on #1164
@c4milo is it a large number of users being added to the group causing the race condition?

[2022-08-15 15:38] monde commented on #836
Need to see if the fix in https://github.com/okta/terraform-provider-okta/pull/1248 for `okta_auth_server_policy_rule` is what would work here.

[2022-08-15 15:40] monde commented on #836
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524189

[2022-08-15 15:58] monde commented on #1245
I missed this issue @Mrorya, thanks for the write up, the bug is clear to me.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524195

[2022-08-15 16:00] monde commented on #1244
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524197

[2022-08-15 16:02] monde commented on #1242
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524200

[2022-08-15 16:04] monde commented on #1241
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524201

[2022-08-15 16:10] monde commented on #1216
Was thinking this was a missing feature flag on the org, but looking at the commit history it seems like this is a bug from a recent PR, will keep it as a bug.

[code]

[2022-08-15 16:12] monde commented on #1216
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524210

[2022-08-15 16:14] smistephenresmed commented on #1216
What's contained here? I don't have access, unfortunately.

[2022-08-15 16:14] monde commented on #1240
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524213

[2022-08-15 16:16] monde commented on #1238
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524215

[2022-08-15 16:22] monde commented on #1200
Just adding notes:

[code]

[2022-08-15 16:30] monde commented on #805
@virgofx fyi, the work to fix this is in my current sprint.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-519225

[2022-08-15 16:32] monde commented on #1236
fyi @eduhamel this work is in my current sprint.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-521256

[2022-08-15 16:36] monde commented on #1216
It's a our internal Jira, private to the public; dropping it here for other Okta people to reference. Also, we are trying to manage the work from GH issues better with Jira.

[2022-08-15 17:14] eephillip commented on #1165
Is their a public link available? I don't think I have access.

[2022-08-15 17:27] monde commented on #1165
@eephillip the link to Jira is an internal reference, apologies I should have noted that.

[2022-08-15 17:53] monde commented on #1251
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524183

[2022-08-15 17:57] monde commented on #1246
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-01481146 (I think)

[2022-08-15 18:00] monde commented on #655
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524322

[2022-08-15 18:04] eephillip commented on #1165
So the tldr is an upstream blocker?

[2022-08-15 18:04] monde commented on #1217
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-520010

[2022-08-15 18:05] monde commented on #1219
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-520008

[2022-08-15 18:06] monde commented on #1221
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-520007

[2022-08-15 18:13] monde commented on #1165
@eephillip the blocker is the amount of bandwidth I have for bugs / features on the TF provider, okta-sdk-golang, and some other internal work that is not in the public yet. You can open a support ticket and reference this issue, that can add some signal on how much priority this gets.

[2022-08-15 19:12] lucascantor commented on #1251
I strongly agree with this, given Okta's official instruction when enforcing Device Trust is to do exactly this.

Currently, we're forced to implement a regular DENY rule at the lowest priority above the catch-all rule, since importing the catch-all rule into Terraform state requires painful bureaucracy and toil in our org.

[2022-08-15 20:01] edlott commented on #1251
@lucascantor - that's my exact work-around.

[2022-08-16 01:14] suhasgaddam-trueaccord opened #1253 "Are the limitations of using OAuth2.0 instead of the API Token documented?"
I'm trying to use `okta_app_oauth`, `okta_app_saml`, and `okta_app_group_assignment` with [`clientId`, `privateKeyId`, `privateKey`, `scopes = [ 'okta.apps.read', 'okta.groups.read', 'okta.apps.manage', 'okta.groups.manage']` ].

I keep running into some variant of the following:
[code]

This error seems to be from here: https://github.com/okta/terraform-provider-okta/blob/master/sdk/app_oauth_gro

[2022-08-16 02:21] virgofx commented on #805
Great, thanks @monde !  This is a double benefit if fixed - It will reduce API load to Okta by a fair amount (well from those that use OAuth heavily like we do via Terraform) as well as very slightly improve performance just a tad

[2022-08-16 04:50] ppanan33 commented on #1246
Hello @monde , just got updates from the Case 01481146, the [Pagination](https://support.okta.com/help/s/article/Pagination-Overview?language=en_US) is required to list all email templates, e.g. `{{url}}/api/v1/brands/{{brandId}}/templates/email?limit=50`, can terraform provider  `okta_email_templates` align with this change?

[2022-08-16 14:07] pro4tlzz commented on #1202
I'm facing the same issue on classic and the latest provider version

[2022-08-16 15:57] monde commented on #1253
Hi @suhasgaddam-trueaccord I'd need to see an example of the config you are using that is getting this error to try and reproduce it myself. Can you post up the most minimalist example that reproduces the error?

Unfortunately, some shortcuts were taken in the past where the provider is calling `/internal` endpoints that are considered private and can change without notice. We are in the process o

[2022-08-16 16:30] monde commented on #1228
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524618

[2022-08-16 16:32] monde commented on #1218
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524620

[2022-08-16 16:34] monde commented on #1213
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524622

[2022-08-16 16:36] monde commented on #1211
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524623

[2022-08-16 16:38] monde commented on #1208
I'll call wishy washy behavior a bug.

[2022-08-16 16:39] monde commented on #1208
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524628

[2022-08-16 16:41] monde commented on #1205
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524630

[2022-08-16 16:44] monde commented on #1204
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524631

[2022-08-16 16:45] monde commented on #1203
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524634

[2022-08-16 16:47] monde commented on #1202
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-524637

[2022-08-17 11:30] fatbasstard opened #1254 "Unclear documentation for skip_groups and lifecycle policies and group_assignments"
Hi,

There is some unclarity in the documentation regarding the use of `skip_groups` and the lifecycle policy change.

We've got the following deprecation warning on an `okta_app_oauth` now:

[code]

Since we're using `okta_app_group_assignment` I've replaced this part with the `skip_groups` and removed the lifecycle policy (because deprecated).

BUT:

The `okta_app_group_assignment` resource [doc

[2022-08-17 19:11] monde commented on #1254
Thanks @fatbasstard , I'll call this a documentation bug.

I can see how groups are marked deprecated in the schema, the Terraform runtime uses that to generate the warning:
https://github.com/okta/terraform-provider-okta/blob/master/okta/app.go#L68-L74
And I can see how users are marked deprecated https://github.com/okta/terraform-provider-okta/blob/master/okta/app.go#L61-L67
So maybe that is a b

[2022-08-18 20:02] therealbigzeez opened #1255 "siteURL api error when trying to create SWA application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-18 21:17] monde commented on #1255
Thanks @Robogeek95 we'll have to add an `app_settings_json` on `okta_app_swa` so siteURL can be applied ad hoc like can be done on `okta_app_saml`. I double checked the code in case that was there and not documented, but it is not. So I'll call this a bug.

fyi, `okta_app_saml` example https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_saml

[code]
Please open a support ti

[2022-08-18 21:29] therealbigzeez commented on #1255
Hi @monde
Thanks for your swift response.

I just tried adding an `app_settings_json` attribute on `okta_app_swa` so I can apply the siteURL  setting but I got an error

[code]

it seems like `app_settings_json` is not yet supported for `okta_app_swa`

[2022-08-19 19:40] powellchristoph commented on #1054
I get the same issue attempting to assign the `GROUP_MEMBERSHIP_ADMIN` role to a group.

[code]

[code]

[2022-08-22 08:03] ppanan33 opened #1257 "role_type of okta_role_subscription need to be updated to latest"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-22 11:17] fatbasstard commented on #1254
Refactoring:

[code]

into

[code]

works. For both the `okta_groups` as the Okta apps (like `okta_app_saml` and `okta_app_oauth `). In combination with the group assignments that is.

I think the only thing that needs to be changed is replace the lifecycle policy with the skip_ feature in the documentation.

[2022-08-22 16:22] monde commented on #1257
Thanks @ppanan33 , we'll have to get that updated.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-526325

[2022-08-22 16:25] monde commented on #1255
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-526327

[2022-08-22 16:27] monde commented on #1254
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-526329

[2022-08-22 16:29] monde commented on #1201
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-526331

[2022-08-22 16:31] monde commented on #1200
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-526339

[2022-08-22 16:33] monde commented on #1195
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-526341

[2022-08-22 18:48] antonmos commented on #1249
Huge +1 on this. The suggestion to send a private key to a 3rd party is not good for security.
https://github.com/jpf/lokey/ can covert jwk to pem locally, but it requires python2.6.
Regardless, manual handling of private keys is a security risk and automation is the best way to avoid it.

[2022-08-23 07:28] exitcode0 commented on #1211
I must've been not been sufficiently caffeinated when I opened this issue, revisted this today and the below works
The data is there, its just in a more complex objects structure than flat list of strings, i think its a list of objects

I think we can mark this as closed with a workaround
[code]

[2022-08-23 12:00] Navya-R-Rao opened #1258 "Background image and favicon is not getting applied for okta theme"
I have been trying to implement branding on Okta tenants,
And I am using the below code for implementing it. I have imported the brandid and themeid from the state file.
I am not getting any error when applying the changes but after applying, the background image and the favicon is not getting updated or applied.Everything else is applied.I have given the right path but seems like it's not taking

[2022-08-23 12:44] talmarco commented on #1183
The "Refresh application data" button, which is currently only available from the user interface, would be great to see implemented.
Okta is heavily used and integrates with Terraform for automating the creation of applications, groups, and assignments, but there is still a need to manually refresh application data and then re-run Terraform.

[2022-08-23 17:10] monde commented on #1258
Hi @Navya-R-Rao seems like there is a bug with logo, background image, and favicon not being uploaded/updated/deleted.  I don't see the corresponding endpoints being called from the provider for images when I run my apply with `TF_LOG=1`. I can change colors, etc.
[code]
This is the TF I was experimenting with:

[code]

[2022-08-23 17:23] monde commented on #1258
@Navya-R-Rao , missed this bit in your TF example:
[code]
When I changed the path to not be absolute  like the following, the TF worked for me to update theme.
[code]
I'll still leave this a bug as the provider should error if it can't open the image files.

[2022-08-23 17:26] monde commented on #1258
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-526846

[2022-08-24 11:47] pro4tlzz opened #1260 "Resource for managing factors on Okta Classic?"
Hi,

With some help I found this resource which is used on OIE to enable authenticators https://registry.terraform.io/providers/okta/okta/latest/docs/resources/authenticator

However I am struggling to find the OIE equivalent resource to manage Multifactor Types eg enable OTP disable Okta Verify etc

Am I being stupid or is there no resource to manage this on Okta Classic?

Thanks

[2022-08-24 15:00] Navya-R-Rao commented on #1258
Thank you for the solution. It is working now.

[2022-08-24 15:49] monde commented on #1260
@pro4tlzz I'd open a support ticket https://support.okta.com/help/s/?language=en_US to get help with setting up a configuration. Sounds like you are trying to get your policies set up https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_mfa ? A support engineer would be better help than in a github issue. I'm going to close this issue.

[2022-08-24 15:49] #1260 closed, assigned to nobody

[2022-08-24 16:10] pro4tlzz commented on #1260
Hi @monde I have my mfa policies setup correctly.

What i can't see within your terraform resources is a way to manage (enable, disable) mfa authenticators.

Thats why I am asking if there is a resource to manage mfa authenticators, not the policies or rules themselves

[2022-08-24 16:18] monde commented on #1260
@pro4tlzz please open a support ticket to get the help you looking for. It will be specific and dedicated to your situation.

[2022-08-24 22:01] #1236 closed, assigned to monde

[2022-08-24 22:31] monde commented on #805
fyi, incoming https://github.com/okta/terraform-provider-okta/pull/1263

[2022-08-24 22:36] #805 closed, assigned to monde

[2022-08-24 23:22] #1257 closed, assigned to nobody

[2022-08-24 23:38] #1246 closed, assigned to nobody

[2022-08-25 07:19] pro4tlzz opened #1268 "Adding variable types for okta_policy_password okta_policy_rule_password"
I've done a fair bit of work so far with discovering the various variable types needed for the resources I've worked with so far.

For example this is what I use in my module for managing password policies and rules

[code]

I think it would be very helpful to include the variable types on the documentation as it saves others the time.

Let me know if you like this idea and i can contribute furthe

[2022-08-25 21:20] c4milo commented on #1164
@monde, no, very small, 4 or 3 users.

[2022-08-26 15:47] monde commented on #1268
@pro4tlzz we'd list this on https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_password and https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_rule_password  registry pages? The property names and descriptions are listed but we should include the type as you point out.

The markdown for those pages are in this repo
- https://github.com/okta/t

[2022-08-26 20:50] mnovitsk commented on #1251
@monde I recently upgraded provider version to 3.34.0 and ran into similar issues managing the default Catch-all rule. The primary reason behind upgrading the provider version was to be able to explicitly create and associate app_signon_policy resources to applications when the app is created. This works, but it seems that the catch-all rule is not able to properly be managed by Terraform after im

[2022-08-28 18:02] ymylei commented on #891
Are you able to pull the API response in a debug session to see if this is an issue with the API responding in this order, or something happening when the object is being parsed?

If its the former, since this is a raw JSON interface, I'm not sure we'll be able to "fix" this using terraform/code, since we wouldn't know if the individual items are "lists" or "sets".

If it's the latter, there's pro

[2022-08-28 18:13] ymylei commented on #906
IMO using `ListGroupRules` vs `GetGroupRule` won't matter here:

When handling the individual resource, the various operations are going to be for those individually. ListRules would only be useful if the cache was also turned on, otherwise reach group_rule resource would call ListRules for each run. The issue with the caching, and why it's turned off by default on most terraform providers, is it

[2022-08-29 00:14] #1177 closed, assigned to nobody

[2022-08-29 04:07] exitcode0 commented on #1100
Not sure if this is related to this issue, but attempting to update the `required` attribute to false on our `"okta_user_base_schema_property" "firstName"` we received an API layer error of

`Error: failed to create user base schema: the API returned an error: Api validation failed: updateUserSchemas. Causes: errorSummary: Master override invalid for attribute firstName, error: Attribute master li

[2022-08-29 21:18] mnovitsk opened #1275 "Unable to manage Default Catch-all Rule in Application Authentication Policy via Terraform after importing resource into Terraform State"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-29 21:40] monde commented on #1275
Sorry to hear about this @mnovitsk . Thanks for a detailed description, that will help to get at a fix more quickly. I've put it on our backlog for triaging.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-528719

[2022-08-30 08:00] pro4tlzz commented on #1268
Added in https://github.com/okta/terraform-provider-okta/pull/1276

[2022-08-30 11:42] Matt-Hodgs0n opened #1277 "okta_policy_rule_idp_discovery apply returning API Internal Server Error"
Hi -

I'm trying to create an IDP rule but when I try apply the Terraform I receive the following error:

Error: failed to create IDP discovery policy rule: the API returned an error: Internal Server Error, x-okta-request-id=_<request string>_
│
│   with okta_policy_rule_idp_discovery.example_1_routing_rule,
│   on idp.tf line 84, in resource "okta_policy_rule_idp_discovery" "example_1_routing_rul

[2022-08-30 16:31] monde commented on #1277
Thanks @mhodgson4 . I have this on our backlog but am not certain when it can be addressed.

Okta internal ref https://oktainc.atlassian.net/browse/OKTA-528910

[2022-09-01 01:07] chimerstad opened #1278 "Error when creating okta_resource_set"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-01 07:06] rickardp opened #1279 "client_secret is missing from okta_app_oauth data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-01 08:52] rickardp commented on #1279
I added a draft PR that adds this fields and make my Terraform IaC work the way I expected it to w.r.t. client_secret.

[2022-09-01 15:37] monde commented on #1278
Thanks @chimerstad , looks like this code path needs better type handling.

[code]

[2022-09-01 15:40] monde commented on #1279
@rickardp thanks for the report and the PR illustrating desired behavior.

[2022-09-01 17:04] rickardp opened #1283 "okta_app_oauth_redirect_uri is not correctly updating w.r.t changes"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-01 20:16] slichtenthal commented on #1275
I did some research and playing around with this as I am facing the same issue.  It seems the issue is the API call is not including the `system` parameter, which is documented [here](https://developer.okta.com/docs/reference/api/policy/#default-rules) as:

If I take the API call generated by Terraform, copy it into postman and add the key and value `"system": true` to the payload, all is working

[2022-09-02 09:05] Matt-Hodgs0n commented on #1277
thanks @monde. I've actually found out why I was getting the error - I needed to add the user_identifier_pattern argument to the rule to give a value to match again the 'login' attribute in user_identifier_attribute.

[2022-09-02 10:26] eduhamel opened #1284 "missing riskScore condition in okta_app_signon_policy_rule"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-02 15:45] flyweight commented on #1086
Yes, thanks for the help.

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_signon_policy#example-usage

For reference, the resource argument `authentication_policy` for `okta_app_oauth` and `okta_app_saml` is now available to link the app to a signon policy.

[2022-09-02 15:45] #1086 closed, assigned to nobody

[2022-09-04 22:22] rickardp commented on #1279
Any thought on how to get this fixed? I'm happy to help out, continuing on that PR with some guidance on how to best proceed

[2022-09-05 07:07] rickardp commented on #1283
Another issue is that if there are existing (conflicting) reply URLs, the Okta API will yield a 4xx error message saying duplicate reply URLs. The correct behaviour IMHO would be for Terraform to recognize this as a resource outside of its state and suggest to import it. I wasn't able to verify if "terraform import" solved the issue since I didn't immediately figure out the resource ID to specify.

[2022-09-05 09:48] pro4tlzz opened #1286 "Can't create multiple okta_policy_rule_signon with explicit priorities"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-06 10:27] AndreyZhilinskyCoherent opened #1288 "okta_idp_oidc does not support DYNAMIC issuer_mode"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-06 15:56] monde commented on #1279
@dkulchinsky fixed it in #1285 . This will go out in the next release. I'm going to try and get one out tomorrow.

[2022-09-06 20:05] rickardp commented on #1279
Nice! Just a heads up, I tried this and got an empty client secret back. I had to specifically request the secrets to get it to work in #1280, though I must admit that this is my first shot at calling the Okta API so I might miss something obvious.

A simple curl to `/api/v1/apps/(appid)` does not reveal a client_secret in credentials/oauthClient, I see only the following keys: "autoKeyRotation",

[2022-09-06 20:24] dkulchinsky commented on #1279
That's a good point @rickardp! perhaps my PR is somewhat naive and `client_secret` is only for setting a "custom" secret when creating an App, however to retrieve it might need to use the method in your PR.

[2022-09-06 20:32] monde commented on #1279
I'll revert #1285 and put some bumpers around it before doing a release.

[2022-09-07 04:00] exitcode0 opened #1290 "okta_group_role - unexpected forceNew when adding to target_group_list"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-07 11:43] pro4tlzz commented on #1286
Updated the main post with more resources that are affected.

I also commented out my rate limit config and I get the same priority errors from the Okta provider.
[code]

Is the provider trying to create everything concurrently?

Because then I would need to add dependencies everywhere

[2022-09-08 05:36] CastleArg commented on #871
We are getting this exact same error, after successfully applying a SAML app (Google Workspace)
and then attempting to change values in the ` app_settings_json` and `user_name_template` properties.
We get 403 errors doing this, even when we attempt to put it back how it was.
This is being applied against a free dev instance, but we will also want to apply it to a paid instance once we get it worki

[2022-09-08 09:04] ghost opened #1291 "Okta saml "unknown error" due to subject_name_id_template"
### Terraform Version
v1.2.7
### Affected Resource(s)
okta terraform provider 3.35

### Terraform Configuration Files

[code]

With this code, following the syntax of the documentation the app creation worked well at first. However, on the 06/09/22 this changed and we received an "unknown error":

[code]

The terraform debug output revealed a 403 response.
We managed to resolve the error by escapi

[2022-09-09 00:16] #1186 closed, assigned to nobody

[2022-09-09 14:53] RomanVlasenko commented on #1042
@monde is there any update or workaround for this? I'm having the same issue with OIDC resource.
At the moment it is unusable. Even if I create resource manually and import to terraform - it becomes deactivated after apply and further activation is not possible, UI would throw the same error as @Cylock has mentioned.

[2022-09-09 15:09] faganihajizada commented on #1241
Hi 👋🏻 Is there any update on this?
cc @monde

[2022-09-09 15:36] venkatakanupuru opened #1293 "Okta Social IDP with Type Github"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-12 08:01] Navya-R-Rao commented on #1258
I tried this solution and it's working fine.
But every time when I do a change and push the code , the primary colour and the secondary colour get's updated to null.
Is there a possibility to avoid that change?

[2022-09-12 13:38] cabtech opened #1294 "Plugin crash when importing okta_policy_signon"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-12 14:52] amosdavis opened #1295 "Documentation doesn't show how to make a SAML app a profile mastering app."
I want to use this resource to map an attribute from Example App -> Okta user. I get the error " Push status is allowed for profile mastering enabled apps only."  This is not an IdP, it is a connected SAML app that needs to push a couple attributes to Okta.  How do I turn this app into a profile mastering enabled app?

@monde edit, formatting:
[code]

[2022-09-12 14:53] amosdavis commented on #1295
Also, source_id and target_id are interchangeable, and the only thing apparently changing the direction of the mapping is the push_status variable.

[2022-09-12 15:51] monde commented on #1278
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-531869

[2022-09-12 15:57] monde commented on #1279
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531872

[2022-09-12 15:58] monde commented on #1279
I'm looking to knock this one down this week.

[2022-09-12 16:01] monde commented on #1283
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531874

[2022-09-12 16:02] monde commented on #1283
@rickardp we'll have to knock this bug down. Your description is very helpful.

[2022-09-12 16:03] monde commented on #1284
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531875

[2022-09-12 16:04] monde commented on #1284
@eduhamel I'll also call this a bug, it needs to be corrected.

[2022-09-12 16:05] monde commented on #1286
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531877

[2022-09-12 16:07] monde commented on #1286
@pro4tlzz I fixed another priority related bug earlier summer. Hopefully that technique will work here as well.

[2022-09-12 16:09] monde commented on #1288
@AndreyZhilinskyCoherent this is definately a bug [idp](https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_idp_oidc.go#L60-L66)

[2022-09-12 16:10] monde commented on #1288
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531880

[2022-09-12 16:12] monde commented on #1290
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531883

[2022-09-12 16:12] monde commented on #1290
Thanks for running down where the code flaw is at @exitcode0 . Hopefully it is an easy fix.

[2022-09-12 16:16] monde commented on #1291
Okta  internal reference https://oktainc.atlassian.net/browse/OKTA-531888

[2022-09-12 16:18] monde commented on #1291
Thanks @jheyder213 for describing the bug and showing a work around. Sounds like we changed some preparation on the request that is posted to the API.

[2022-09-12 16:21] monde commented on #1293
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531895

[2022-09-12 16:21] monde commented on #1293
Thanks @venkatakanupuru . I should be able to address this quickly in the next release.

[2022-09-12 16:26] monde commented on #1294
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-531899

[2022-09-12 16:27] monde commented on #1294
Thanks @cabtech I'll try to deal with this panic in the next release.

[2022-09-12 16:32] monde commented on #1295
@amosdavis can you open a support ticket on this? A support engineer will help you get your config set up http://support.okta.com/ . I'll leave this open if they find it is a bug, but for now it seems like a support question to me.

[2022-09-12 16:32] #1295 closed, assigned to nobody

[2022-09-12 16:40] monde commented on #1258
@Navya-R-Rao are you variants matching the behavior described in the API documentation? https://developer.okta.com/docs/reference/api/brands/#variants-for-the-okta-sign-in-page

[2022-09-12 18:05] #1288 closed, assigned to nobody

[2022-09-12 18:05] #1293 closed, assigned to nobody

[2022-09-12 18:18] #1294 closed, assigned to nobody

[2022-09-12 20:00] monde commented on #1082
@iNoahNothing I put some nil guards on okta_app_oauth data source in PR #1300 . Noted, using the label query can be imprecise if your org has similarly named and labeled apps and the label query is used on this data source.

https://developer.okta.com/docs/reference/api/apps/#list-applications

https://github.com/okta/terraform-provider-okta/blob/1082_panic_okta_app_oauth/okta/data_source_okta_app

[2022-09-12 20:05] #1278 closed, assigned to nobody

[2022-09-12 20:49] #1082 closed, assigned to nobody

[2022-09-13 00:15] exitcode0 opened #1302 "okta_policy_password_default / okta_policy_mfa_default - stale default_included_group_id"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-13 08:01] ozahavi opened #1303 "Unable to set okta_profile_mapping target_id"
When trying to apply the following code I am getting the following error - `The argument "target_id" is required, but no definition was found.` for the `okta_profile_mapping` resource.

Terraform  - v1.0.9
Okta Provider - v3.35.0
[code]

[2022-09-13 15:19] pro4tlzz commented on #1286
Thank you @monde

[2022-09-13 15:58] jimrazmus commented on #768
This is not an issue and closing the ticket is fine.

[2022-09-13 16:14] monde commented on #1241
@faganihajizada I'll looking to have this addressed in the v3.36.0 release I'm currently preparing for later today or tomorrow.

[2022-09-13 19:26] monde commented on #1303
@ozahavi are you following the instructions for establishing an `okta_idp_saml_key` in the https://registry.terraform.io/providers/okta/okta/latest/docs/resources/idp_saml_key

[2022-09-13 19:30] ozahavi commented on #1303
@monde yes, the key and IdP configurations are created and working as expected. My issue is with the profile mapping.

[2022-09-13 20:50] monde commented on #1303
@ozahavi can you run your command with verbose logging `TF_LOG=1 tf apply` I'd be interested in seeing the API call to `/api/v1/mappings` and the body of the error with the message `The argument "target_id" is required, but no definition was found'

https://developer.okta.com/docs/reference/api/mappings/#list-profile-mappings

[2022-09-13 20:52] monde commented on #1303
@ozahavi maybe customer_aad_mapping needs a depends on

[code]

[2022-09-13 21:17] xiaoweiwu12701 opened #1304 "New AWS Account Federation App resource"
I am trying to create an AWS Account Federation app and maintain it via terraform. I use the okta_app_saml with preconfigured_app = amazon_aws. Compared to the manual creating the app, I haven't been able to find the following configurations, and all are under the Sign-on tab.

- "Identity Provider ARN (Required only for SAML SSO)"
- "Application username format" under "Credentials Details" block

[2022-09-13 21:35] monde commented on #1304
@xiaoweiwu12701 we don't have an AWS Federation App yet, and as you point out, the generic `okta_app_saml` resource doesn't expose all of the properties of an AWS Federation App.

[2022-09-13 21:38] monde commented on #1302
I'm not sure when I'll be able to get to this @exitcode0 . Are you interested in working on a PR?

[2022-09-14 05:37] ozahavi commented on #1303
[code]

[code]

[2022-09-14 05:44] ozahavi commented on #1303
Even after adding the `depends_on` still the same error.

[2022-09-14 16:07] mashokaspire123 opened #1306 "okta/okta provider v 3.35.0 "archive has incorrect checksum zh:""
While running terraform Init for the okta/okta provider , receiving following error

Initializing the backend...

Initializing provider plugins...
- Finding okta/okta versions matching "~> 3.35"...
- Finding latest version of hashicorp/local...
- Installing okta/okta v3.35.0...
- Installing hashicorp/local v2.2.3...
- Installed hashicorp/local v2.2.3 (signed by HashiCorp)
╷
│ Error: Failed to inst

[2022-09-14 16:16] #1241 closed, assigned to nobody

[2022-09-14 16:31] monde commented on #1306
@mashokaspire123 I'm not able to reproduce what you are experiencing.

I'm seeing`0106eac3bd692f15e98cef37242b983951b4d3ceff7f3fc941b68204db88c2d5` in my .terraform.lock.hcl

[code]

Do you have something overriding your provider installation in `$HOME/.terraformrc` ? https://www.terraform.io/cli/config/config-file

[code]

[2022-09-14 16:32] jglopez commented on #834
Note: https://github.com/okta/terraform-provider-okta/issues/922 appears to be requesting the same functionality.

[2022-09-14 16:37] monde commented on #1303
@ozahavi I guess `GET /api/v1/mappings?limit=200` is not causing that error. Can you find and show me which Okta API request is receiving the `The argument "target_id" is required, but no definition was found.` error?

[2022-09-14 21:44] #1279 closed, assigned to monde

[2022-09-15 06:10] rickardp commented on #1279
Nice! Will there be a release build out of this, so I can kill off my locally built version?

[2022-09-15 08:50] ozahavi commented on #1303
Found the problem - the user was lacking the 'Application Administrator' role.
Thanks!

[2022-09-15 09:27] ozahavi commented on #1303
Another question before wrapping up this issue.
Is it possible to create custom attributes for a profile that is automatically created as part of a SAML IdP? Couldn't find it in the documentation.

[2022-09-15 12:11] ghost commented on #1291
Great, please let us know when the bug is fixed. I noticed that our mappers do not work correctly anymore, e.g. assigning a username "\$\$\{user.email\}" instead of the Okta username with the workaround.

[2022-09-15 13:18] monde commented on #1279
@rickardp It's been picked up as v3.36.0 in the registry
- https://registry.terraform.io/providers/okta/okta/latest/docs
- https://github.com/okta/terraform-provider-okta/releases/tag/v3.36.0

[2022-09-15 18:17] ianwinsemius commented on #1202
So I ran into this today and found an easy workaround. Add the following line to your `okta_app_saml`, or `okta_app_oauth` resources. As far as I can tell from limited testing, this doesn't affect okta-classic, app defined sign-on policy rules.

[code]

[2022-09-15 20:20] mashokaspire123 commented on #1306
Thanks for your response. I don't recollect overriding the provider installation, i tried reinstalling the terraform binary both as homebrew and binary, still running into issue - will debug further .  Since you have stated that you are able to run successfully , i think this is my local setup issue , will update here once i resolve it

[2022-09-16 07:37] tmatilai commented on #1202
Setting an attribute to `null` is the same as not setting it at all, i.e. using the default value specified in the provider. So I don't think that only explains the success. 🤔

The error doesn't seem to occur consistently, so hard to say. And I don't really understand the issue and haven't investigated it, so I can be wrong of course. 🙂

[2022-09-19 17:52] ianwinsemius commented on #1202
It was occurring intermittently in different environments until I set it to null in the configuration. I agree that this should be the same as not setting it at all, but after explicitly setting it to `null`, I haven't encountered these errors.

Just trying to give people an option to try in a pinch, I do not think this is an actual resolution.

[2022-09-19 21:43] msweaver opened #1311 "okta_app_signon_policy fails with Error: failed to create authentication policy: the API returned an error: The request was not valid: Invalid policy type specified."
Hi. I'm trying to create an okta_app_signon_policy using okta/okta 3.36.0 and I'm facing the following issue: Error: failed to create authentication policy: the API returned an error: The request was not valid: Invalid policy type specified.

You can reproduce this really easily with just a 4 liner:

    resource "okta_app_signon_policy" "my_policy" {
      name        = "my_policy_name"
      des

[2022-09-20 16:59] monde commented on #1311
@msweaver Can you run your terraform command with TF_LOG=1 ? Tell me if your error looks like what is posted below. I'd like to see the debug output of the the API call that is having the error `POST /api/v1/policies` and the error response itself if yours are different. Scrub out any private data.

Something like:
[code]

Also, is your org a classic org or an OIE org? When I run the test for this

[2022-09-20 17:00] monde commented on #1311
Internal Okta reference: https://oktainc.atlassian.net/browse/OKTA-534212

[2022-09-20 18:08] monde commented on #1306
@mashokaspire123 open this back up if it is still an issue and I can work on it more with you. Email mike.mondragon@okta.com and we can do a live pairing over zoom.

[2022-09-20 18:08] #1306 closed, assigned to nobody

[2022-09-20 18:11] monde commented on #1304
Okta internal ref: https://oktainc.atlassian.net/browse/OKTA-534249

[2022-09-20 18:12] monde commented on #1304
Not seeing AWS Account Federation app listed in the public API at the present time https://developer.okta.com/docs/reference/api/apps/

[2022-09-20 18:14] monde commented on #1303
@ozahavi I'm not certain about creating custom attributes on a generated profile. Did you experiment trying to do that?

[2022-09-20 18:15] monde commented on #1302
Okta internal ref https://oktainc.atlassian.net/browse/OKTA-534251

[2022-09-20 23:19] lucascantor commented on #1240
Okta just [published a YouTube video advertising Device Assurance](https://www.youtube.com/watch?v=UERaxr743gk).

It looks like a critical capability to have, but we unfortunately still can't use it until this functionality is added.
Does this video's release mean it's any closer?

[2022-09-21 14:44] msweaver commented on #1311
Thanks for replying! I'll run through these ideas and report back.

[2022-09-22 14:54] msweaver commented on #1311
yo @monde . Thanks again for helping with this. Here's the request/response. It happens basically as you showed:

      ---[ REQUEST ]---------------------------------------
      POST /api/v1/policies HTTP/1.1
      Host: <redacted>.oktapreview.com
      User-Agent: okta-sdk-golang/2.15.0-beta.2 golang/go1.17.13 windows/amd64 okta-terraform/3.36.0
      Content-Length: 87
      Accept: applicatio

[2022-09-22 16:24] monde commented on #1311
Just throwing this out there for others when they search issues for `okta_app_signon_policy`:
Our official docs for `okta_app_signon_policy`
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_signon_policy
have the warning: "This feature is only available as a part of the Identity Engine. [Contact support](mailto:dev-inquiries@okta.com) for further information."

@msweaver

[2022-09-22 16:24] monde commented on #1311
@msweaver I will address this in our next sprint that starts on Monday.

[2022-09-22 16:53] msweaver commented on #1311
@monde All good sir. I appreciate your attention to this!

[2022-09-22 22:04] JordanGardiner-enable opened #1313 "IDP Mappings do not get removed from Okta when they are removed from the Terraform config"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-23 13:39] LeaderXFX opened #1314 "okta_policy_mfa_default: Documented method results in api validation failure"
Using the Okta Documentation to create a okta_policy_mfa_default resource in an OIE tenant results in an `Api validation failed` error.

Resource from documentation:
<img width="624" alt="image" src="https://user-images.githubusercontent.com/46538638/191972366-158f041a-ab86-44ce-ad27-758e33648c76.png">

Resource in my code:
[code]

Results:

Tenant features validated by Okta support:
<img width="7

[2022-09-23 19:06] pljeskavica opened #1315 "okta_group_role does not recognize role_type of "group_admin""
When trying to create a group role so that I can add an administrator role to a group the role "group_admin" is missing from the terraform whitelist.

[code]
Error comes back as:
[code]

Group Admin is an important admin role and is a standard okta role.  Listed here in the okta documentation for admin roles: https://help.okta.com/en-us/Content/Topics/Security/administrators-admin-comparison.htm

[2022-09-23 21:35] monde commented on #1313
Sorry to hear about this @JordanGardiner-enable I'll get on our team's backlog.

[2022-09-23 21:35] monde commented on #1313
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-535544

[2022-09-23 21:38] monde commented on #1314
@LeaderXFX sorry to see this. I'm about to spend a bunch of time on the policy related bugs.

[2022-09-23 21:38] monde commented on #1314
Okta internal reference.

[2022-09-23 21:47] monde commented on #1315
Sorry to see this @pljeskavica . Thanks for the documentation reference. I see our public API docs need to be updated as well https://developer.okta.com/docs/reference/api/roles/#role-types

Note to self, code change will be here:
https://github.com/okta/terraform-provider-okta/blob/master/okta/user.go#L179

[2022-09-23 21:49] monde commented on #1315
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-535560

[2022-09-26 13:08] johnnymongiat commented on #1217
The `-parallelism=1` workaround proposed by @emanor-okta worked.

[2022-09-26 16:27] #1219 closed, assigned to nobody

[2022-09-26 22:47] dli-spoton opened #1319 "okta_policy_password_default fails if another policy exists"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-27 15:34] monde commented on #1319
Thanks @dli-spoton . I'm taking on all of these [#policy](https://github.com/okta/terraform-provider-okta/issues?q=is%3Aissue+is%3Aopen+label%3Apolicy) bugs in my next sprint.

Okta internal reference https://oktainc.atlassian.net/browse/OKTA-536442

[2022-09-28 00:10] monde commented on #1311
@msweaver I'm currently working on this ticket. This resource is kind of mis-named as `okta_app_signon_policy` but it is in fact relating to an OIE Access Policy https://developer.okta.com/docs/reference/api/policy/#policy-object

So I can massage the notion of a "sign on" resource that works for both OIE and Classic orgs can you explain to me what you are trying to accomplish? You can email me mi

[2022-09-28 15:40] monde commented on #1315
@pljeskavica it seems like you should be using `GROUP_MEMBERSHIP_ADMIN`. Given the description in the [security docs](https://help.okta.com/en-us/Content/Topics/Security/administrators-admin-comparison.htm) "Permissions to create, add, and remove users apply only to groups that the group admin manages. Group admins can create new users in groups that they manage, remove users from groups that they

[2022-09-28 17:19] monde commented on #1311
Ok @msweaver I have some more information.

We don't have public API endpoints for managing app policies for Classic orgs, therefore we won't have support for that in the Terraform provider. The only way to manage app policies in your Classic org is manually through the Admin UI. Apologies for this being a time sync to `/dev/null` for you.

I am going to do add a preemptive error message about att

[2022-09-28 19:09] pmatpadi opened #1321 "Upload code programmatically for okta-hosted sign-in-widget"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-28 19:36] msweaver commented on #1311
hi @monde . Appreciate the offer to checkin with you and sync up on what we are doing. FWIW, I was/am open to this, but it sounds like from your last message that we won't be able to manage these configs in code until we migrate to OIE.

I'll bring this back to my teams and we'll figure out what we want to do. Appreciate you and your direction!

[2022-09-28 19:45] monde commented on #1321
@pmatpadi we don't have any datasource/resources for SIW customization. So far, only branding and email using the public APIs.

I would open a [support ticket](https://support.okta.com/) asking for a work around and to also register that you'd like it in the public API. I don't see anything in the public API about modification of the SIW, so it would first have to be exposed as a public API before

[2022-09-28 19:45] #1321 closed, assigned to nobody

[2022-09-29 06:55] rickardp commented on #1283
Any update on the issue?

[2022-09-30 00:00] zubinmadon commented on #1213
Hello. We've run into this issue. Was working up until recently, so I'm guessing the public-facing API changed recently?

[2022-09-30 17:32] monde commented on #1213
@zubinmadon do you know what release of the provider you were using previously? Our latest release [v3.36.0 ](https://github.com/okta/terraform-provider-okta/releases/tag/v3.36.0) was 16 days ago but this issue was originally reported July 20th whose nearest previous release would have been [v3.31.0](https://github.com/okta/terraform-provider-okta/releases/tag/v3.31.0)

[2022-09-30 18:34] zubinmadon commented on #1213
Thanks @monde! We were using v3.20.0. I think I had been trying to get terraform to work, and it happened to work with that version -- however, since that time we needed to upgrade to v3.31.0 for other features, so we cannot downgrade back anything before that.

Initially the bug didn't affect us because our `okta_policy_rule_profile_enrollment` resource had already been created, so terraform didn

[2022-10-03 17:07] shortcut-opsadmin commented on #655
Hi @monde - Question- Setting the features to computed still doesn't prevent this issue.

For example:
- SAML app with SCIM enabled manually
- Run a terraform for a small change in `okta_app_saml` and the resulting app loses the `Provisioning: SCIM` that was once set on it. (Regardless of features being hinted previously or not at all )

If I make the same small change via the UI, it does not wipe

[2022-10-03 17:16] Mrorya commented on #655
We've noticed the same thing - all custom saml apps are still getting their provisioning configurations removed if there's a modification to the app (example: changing the authentication policy)

[2022-10-03 17:38] monde commented on #655
@shortcut-opsadmin are you on a classic org? @Mrorya remind me, I think you are on a classic org?

I'm working on some bug fixes right now will pad in some extra tests on `okta_app_saml` and see if I can address it.

[2022-10-03 17:39] Mrorya commented on #655
We are on OIE

[2022-10-03 17:43] virgofx commented on #655
Shoot, wrong user @monde  .. Tis is me.  Service account was elevated in tab 😢

We're OIE I can do a quick screen demo if you want to see the issue if that helps?

[2022-10-03 18:34] virgofx commented on #655
1. Create the terraform app below via `terraform apply`
2. Update the General tab (not supported via API but would be awesome if Okta supported this 😢 ) to `Provisioning: SCIM`.
3. This enables the Provisioning tab (for the sake of testing, no need to add details here as this does require actual valid creds); however, do note that when the following bug via TF API occurs below, it **does wipe** al

[2022-10-04 23:57] monde commented on #655
This is what I'm working on now. Wanted to get this into v3.37.0 but prepping that release took longer than I planned.

[2022-10-05 09:04] tmatilai opened #1325 ""okta_app_oauth / pkce_required" attribute required if "token_endpoint_auth_method" is "none""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-05 13:43] monde commented on #1325
@tmatilai I'll see if I can do a quick fix and release on this bug since it was just introduced.

[2022-10-05 13:49] bcoquard opened #1326 "Use okta_behavior (data/resource) to modify existing behaviors"
Hello,

This is a question to understand how to correctly use the module okta_behavior.

I am trying to modify the existing behaviors provided by Okta to make some of them INACTIVE.

I can't find a way to reference the data object using the :
data "okta_behavior" "okta_new-geo-location" { ... }

And then find a way to change the status to :
status                    = "INACTIVE"

Can you please pr

[2022-10-05 16:27] monde commented on #1213
Released https://github.com/okta/terraform-provider-okta/releases/tag/v3.37.0

[2022-10-05 16:30] monde commented on #1311
I put an error blocker on the datasources and resources that are OIE specific. The error message refers the TF documentation now, also. Apologies for the time sync you had with this @msweaver . Closing this issue now.

Release https://github.com/okta/terraform-provider-okta/releases/tag/v3.37.0

[2022-10-05 16:30] #1311 closed, assigned to nobody

[2022-10-05 16:31] monde commented on #1219
Released https://github.com/okta/terraform-provider-okta/releases/tag/v3.37.0

[2022-10-05 16:51] monde commented on #1326
Hi @bcoquard
I'm not as familiar with the behavior datasource and resource but hopefully this gives some threads to pull on.
I see behaviors used in conjunction with [`okta_policy_rule_signon`](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_rule_signon)
Also, here are the datasource and resource docs:

- https://registry.terraform.io/providers/okta/okta/latest/docs/

[2022-10-06 15:02] tmatilai commented on #1325
Oh, and even without the error, this probably causes drift in the state, and Terraform trying to always remove the attribute.

[2022-10-06 16:00] bcoquard commented on #1326
Thank you for the answer I get that I need to select the behaviors I want to apply on my signons (`okta_policy_rule_signon`).
I already imported the existing behaviors but I can't modify them.

You made me think of two others questions :
* What if I don't give any behavior to my signons ? Are they all applied by default or none are ? (Doc says it's optionnal, what does that mean ?)
* How do you pr

[2022-10-06 16:55] andrei-korviakov commented on #1216
@monde Do you have any ETA for fixing this issue? The same problem is present with versions newer than v3.28. In our company, we are not allowed to manage admins via terraform. It would be great to make this behavior optional.

[2022-10-07 00:37] monde commented on #1325
Thanks @tmatilai . I have a fix for you in #1327 but I'm not sure if I'll get released Friday 10/07/2022 as I'd like to take a stab at fixing #655 also. This solve was a bit bedeviling for me given the TF SDK behavior around booleans.

[2022-10-07 06:27] tmatilai commented on #1325
Thanks a lot @monde!

A quick test seems to confirm that #1327 works as expected. No rush with the release, we can always pin down the provider version.

[2022-10-07 19:15] #1325 closed, assigned to nobody

[2022-10-07 23:59] monde commented on #655
@virgofx I'm not able to reproduce this bug. But I'm using a new org that is running off the pre-production Okta build, which might mean this behavior no longer exists. I sent you an zoom invite to look at it again.
I do see a public endpoint that the Admin UI is using `/api/v1/apps/{appId}/scim-connector` but that isn't documented in the Public API https://developer.okta.com/docs/reference/api/ap

[2022-10-08 03:18] virgofx commented on #655
Sounds good, Monday works and will look at it again to see if I can pull some more details ahead of time

[2022-10-10 16:25] virgofx commented on #655
**Testing Update**

It appeared that this problem was consistently observed > 3 days ago during API calls/Terraform. However, today, 10/10/22, it now appears to be working when testing on 2 different tenants. Specifically, the SCIM provisioning is not getting dropped. Perhaps that may have be an internal logic fix for the update/PATCH endpoints?

[2022-10-10 16:26] monde commented on #655
Notes from debugging w/ Mark:
App:
`General  > Provisioning > SCIM`
`Provisioning > Integration > SCIM Connection > OAuth2`
I couldn't reproduce with an OAuth2 connector. But the bug was reported while using an HTTP Header bearer token. I need to try and reproduce with a HTTP Header.

[2022-10-10 16:32] monde commented on #655
Okta Internal Reference: https://oktainc.atlassian.net/browse/OKTA-539875

[2022-10-12 12:58] MichaelOtte-lhsystems opened #1328 "Provider produced inconsistent final plan okta_group_memberships"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-12 14:15] mentlak0 opened #1329 "Okta - User > Group Assignment Automation (Attempt)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-12 16:35] monde commented on #1216
@andrei-korviakov @smistephenresmed

Does the error go away if you use `skip_roles` in your `okta_user` data source?

This is where the admin users are set, and only if if `skip_roles` is false

https://github.com/okta/terraform-provider-okta/blob/master/okta/data_source_okta_user.go#L132-L139

https://registry.terraform.io/providers/okta/okta/latest/docs/data-sources/user#arguments-reference

For

[2022-10-12 16:40] monde commented on #1328
Thanks for the bug details @MichaelOtte-lhsystems , this should help direct the correct coding fix.

@MichaelOtte-lhsystems is there anyway you can provide some simple HCL that can be used to reproduce the issue?

[2022-10-12 16:40] monde commented on #1328
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-540889

[2022-10-12 16:49] monde commented on #1329
@mentlak0 is the `if` clause on a for_each what you are looking for?

- https://stackoverflow.com/questions/63620298/terraform-how-to-use-conditional-if-in-for-each-into-map-object
- https://www.terraform.io/language/meta-arguments/for_each
- https://www.terraform.io/language/expressions/conditionals

The TF docs don't seem to show a good example of combining for each and if, but that stackoverflo

[2022-10-13 10:25] mentlak0 commented on #1329
Thank you for you're assistance. It is muchly appreciated. I have tried a few things but doesn't work and getting this error.

│ Error: Reference to "each" in context without for_each
│
│   on main.tf line 146, in resource "okta_app_group_assignments" "everyone1":
│  146:   if okta_user.user[each.key].department == okta_group.groups[each.key].description
│
│ The "each" object can be used only in "

[2022-10-13 11:17] dbshelke commented on #892
Above steps worked for me but If we generate-the-jwk-using-the-admin-console and use the same in PEM format i am getting below error .
https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/main/#generate-the-jwk-using-the-admin-console
PEM File Format :
-----BEGIN PRIVATE KEY-----
XXXXXX
-----END PRIVATE KEY-----

Error: failed to get SAML application: RSA private key is of th

[2022-10-13 11:27] dbshelke opened #1330 "Okta Generated Private Key Not working in Terrform Provider"
Above steps worked for me but If we generate-the-jwk-using-the-admin-console and use the same in PEM format i am getting below error .
https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/main/#generate-the-jwk-using-the-admin-console
PEM File Format :
-----BEGIN PRIVATE KEY-----
XXXXXX
-----END PRIVATE KEY-----

Error: failed to get SAML application: RSA private key is of th

[2022-10-13 11:31] dbshelke commented on #1330
If we update PEM File Format  to below  then following Error gets generated:
-----BEGIN RSA PRIVATE KEY-----
XXXXXX
-----END RSA PRIVATE KEY-----

Error: failed to get user: x509: failed to parse private key (use ParsePKCS8PrivateKey instead for this key format)

[2022-10-13 15:25] angeloedades commented on #1176
Does anyone have any update on this?

Spoke to Okta support to get the flags changed and it seems like a major infrastructure change that needs a business case and a lot of work.

I have been testing this with a few people and on 1 OIE tenant and it seems that the behaviour between setting the is_oie = true or false is very inconsistent and on either settings, some of the apply fails or if it appl

[2022-10-14 10:35] mentlak0 commented on #1329
Ultimately, I have realised I am trying to map different keys to values from different lists. I don't think its possible to state this in my current direction.

If this is possible then it would be good to have some assistance if anyone can aid or has a similar use case. For now, I am settling with applications to assign for everyone.

[2022-10-14 14:42] angeloedades opened #1331 "okta_policy_mfa resource: factor enrolment inconsistent behaviour within okta_policy_mfa (required/optional/not_allowed)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-14 14:43] angeloedades commented on #1331
I would like to add that this resource's behaviour has not been consistent at all. I will try another set of changes between factor enrolment states and post it here.

[2022-10-14 16:57] nickrmc83 commented on #1331
I think this is probably related to [this bug with OIE and the current Terraform provider](https://github.com/okta/terraform-provider-okta/issues/1176#issuecomment-1185953920) and might be fixed by [this PR](https://github.com/okta/terraform-provider-okta/pull/1210)

[2022-10-14 17:02] angeloedades commented on #1331
@nickrmc83 thanks for that PR link - I think it will solve it.

During testing - it seems that the policy behaviour is very unreliable due to this - I know it only talks about okta_verify but I have had issues with other Okta factors too presenting the same behaviour - Okta changes it successfully but the Okta Admin UI says something different - its very inconsistent thus far.

[2022-10-14 19:13] smistephenresmed commented on #1216
It does, but I have two questions:

  1.  Why?
  2.  Will this break anything else?

[signature_2162668279]

Stephen Smith
Engineer, Product Security
ResMed 300-38 Solutions Drive, Halifax, NS B3S 0H1 Canada

E ***@***.******@***.***>     W ResMed.com<http://www.resmed.com>
[Facebook]<https://www.facebook.com/resmed>  [Twitter] <https://twitter.com/resmed>   [LinkedIn] <https://www.linkedin.com/co

[2022-10-16 22:34] andrei-korviakov commented on #1216
Ohh, my bad: in my case, the problem is related to okta_user resource, not data source. It happens when I create users:

### Users

[code]

I saw that the data source has the option not to include roles, but the resource hasn't

[2022-10-17 03:55] matthewsolly commented on #1331
@angeloedades I think the problem here is related to how you are defining the factor types. The [resource documentation](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_mfa) states that `okta_verify`is only applicable to OIE policies, but you have created a policy with `is_oie = false` (a Classic policy). The way you define the Okta Verify factor differs between OIE

[2022-10-17 08:17] MichaelOtte-lhsystems commented on #1328
@monde As we increased the Okta TF provider already for our Okta environments we can't go back. So its hard to create a example to reproduce. But I assume its related to an old Okta TF provider that this "track_all_users": null, was created.

[2022-10-17 12:46] smistephenresmed commented on #1216
Sounds good. Will this be fixed in a future release?

----------------------------------------------------------------------
Warning:  Copyright ResMed.  Where the contents of this email and/or attachment includes materials prepared by ResMed, the use of those materials is subject exclusively to the conditions of engagement between ResMed and the intended recipient.

This communication is confiden

[2022-10-18 09:12] angeloedades commented on #1331
@matthewsolly I will try and walk through this in a bit - the big on is_oie is an issue we are contending with. Ideally we want to represent the truth by making it true and sticking with OIE compatible factor definitions and policies. I will do some testing on this today and report back.

[2022-10-18 17:08] zubinmadon commented on #1213
Hi again @monde - thanks for fixing this.

When settting up an okta_policy_rule_profile_enrollment resource, now we end up needing to run a somewhat complex curl to find the ui_schema_id and set the internal okta resource ID. What makes matters more confusing, is that sometimes there is no ui_schema_id, and then eventually, without changing anything on our side, it's added, and we need to manually

[2022-10-18 17:15] sebman-metro commented on #1213
I support what @zubinmadon is saying. We are now forced to hardcode the ui schema id in terraform files or get it via additional scripts.

[2022-10-18 21:15] heydonovan opened #1333 "..."
...

[2022-10-18 22:11] pljeskavica commented on #1315
@monde  Please see the User Management Section, from that [link](https://help.okta.com/en-us/Content/Topics/Security/administrators-admin-comparison.htm).  The `GROUP_ADMIN` role has the ability to Create Users, Delete Users, Update Profiles and more.  The `GROUP_MEMBERSHIP_ADMIN` really focusses on adding and removing users from groups.

the `GROUP_ADMIN` role is very useful for managing admin ac

[2022-10-19 02:46] #1333 closed, assigned to nobody

[2022-10-20 11:02] #1303 closed, assigned to nobody

[2022-10-20 13:10] oreni commented on #1228
Please keep open and update on development for this.
Thanks.

[2022-10-20 14:32] monde commented on #1315
I'll take a look at this again.

[2022-10-21 00:17] #1190 closed, assigned to nobody

[2022-10-21 00:29] hi-artem commented on #1185
@monde was this fixed?

[2022-10-21 14:22] antonmos commented on #1090
Could you please share an update on fixing the rate limit issues?

[2022-10-21 14:30] monde commented on #1090
@antonmos can you describe what rate limit issues you are having and with which data source or resource? We've made a number of optimizations since May. Knowing your specific use case can reveal if the issue out of the provider's control in which case you'll need to open a support ticket to ask for rate limit exceptions on your org.

[2022-10-21 18:02] antonmos commented on #1090
I am seeing issue similar to https://github.com/okta/terraform-provider-okta/issues/1008
* getting rate limit warning for `/api/v1/apps*` and seeing `/api/v1/apps/<id>/users?limit=200` in `uri` in the Okta log debug data.
* we have 49 okta_app_oauth resources and a handful of others
* we have only 2 users in "people", 1 group. Neither user is assigned to any of the okta_app_oauth or the group.

[2022-10-21 18:16] dkulchinsky commented on #1090
@antonmos have you tried setting `skip_users` and `skip_groups` to `true`? this helped us to some degree.

[2022-10-21 22:25] antonmos commented on #1090
adding `skip_groups` to our 49 `okta_app_oauth` resources seems to have done the trick!  Thank you very much for the suggestion!

[2022-10-22 00:18] #1205 closed, assigned to nobody

[2022-10-22 00:18] #1204 closed, assigned to nobody

[2022-10-24 14:52] antonmos commented on #1090
Unfortunately, it seems that when I tested it (twice!) on Friday, I got lucky (i am guessing the requests got split between two rate limit intervals).   So, the warning is happening again because my terraform plan generates 97 requests to `/api/v1/apps*`

[2022-10-24 15:10] monde commented on #1331
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544023

[2022-10-24 15:18] monde commented on #1330
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-544025

[2022-10-24 16:23] la-palma commented on #1249
This is still an issue that would be great to have addressed!

[2022-10-24 16:52] monde commented on #1249
I'm looking at this now in my current sprint

[2022-10-24 16:56] Mrorya commented on #1221
This is still an issue - should I open a new issue since this was closed out? (I was on PTO during the issue... pruning here)

[2022-10-24 16:56] Mrorya commented on #1242
@monde - This is still an issue, should I open a new github issue with the same description since this was auto-closed?

[2022-10-24 16:57] Mrorya commented on #1245
@monde - This is still an issue, should I open a new github issue with the same description since this was auto-closed?

[2022-10-24 16:58] Mrorya commented on #1247
@monde - This is still an issue, should I open a new github issue with the same description since this was auto-closed?

[2022-10-24 18:02] #1169 closed, assigned to monde

[2022-10-24 18:05] monde commented on #1135
Grouping this with the "policy" related work we'd like to address in a sprint.

[2022-10-24 18:06] monde commented on #1143
Not stale, will be addressing the rest of the priority property bugs soon.

[2022-10-24 18:08] monde commented on #1166
We'll be dedicating a sprint to the "policy" related issues.

[2022-10-24 18:11] monde commented on #1174
Peeling off the stale lable.

[2022-10-24 18:11] monde commented on #1195
not stale

[2022-10-24 18:12] monde commented on #1200
pealing off the stale label

[2022-10-24 18:13] monde commented on #1201
Pealing off the stale label.

[2022-10-24 18:16] monde commented on #1211
@exitcode0 can this issue be closed? I'll put the stale label back on it.

[2022-10-24 18:17] monde commented on #1254
@fatbasstard can this issue be closed?

[2022-10-24 18:26] monde commented on #1255
@Robogeek95 email me at mike.mondragon@okta.com I have some questions about this issue for you.

[2022-10-24 18:27] procule commented on #1135
@monde Wasn't it added here ? https://github.com/okta/terraform-provider-okta/commit/ab97160e85a95c00582edd61a9c757089f7f3c6a

[2022-10-24 18:52] monde commented on #1247
@Mrorya I'll open it back up.

[2022-10-24 18:54] monde commented on #1247
I'll be dedicating a sprint in the near future, for everything that is [#policy](https://github.com/okta/terraform-provider-okta/labels/policy) related

[2022-10-24 18:57] monde commented on #1245
[#policy](https://github.com/okta/terraform-provider-okta/labels/policy) related

[2022-10-24 19:00] monde commented on #1242
[#policy](https://github.com/okta/terraform-provider-okta/labels/policy) related

[2022-10-24 19:01] monde commented on #1221
not stale

[2022-10-24 23:04] monde commented on #1176
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-544288

[2022-10-25 01:36] monde opened #1338 "v4.0.0 release plan"
I just wanted to give everyone a heads up on our next planned major release, v4.0.0. The release will be focused in this manner:

* CI Release Testing
* Deprecated Resources and Data Sources

## Background

Back in June I opened the sticky issue  [Version v4.0.0 wish list #1183](https://github.com/okta/terraform-provider-okta/issues/1183). That is now actually the v5.0.0 wish list.

I'll be workin

[2022-10-25 01:39] monde commented on #1183
renamed v5.0.0 . The v4.0.0 release plan is explained here: [v4.0.0 release plan #1338](https://github.com/okta/terraform-provider-okta/issues/1338)

[2022-10-25 06:49] lucascantor commented on #1079
This bug still exists. Commenting to prevent auto-closure.

[2022-10-25 09:50] joerg commented on #636
Seems like there is an API endpoint available now: https://developer.okta.com/docs/reference/api/apps/#application-provisioning-connection-operations . It would be nice if we could have a resource for this. @bogdanprodan-okta

[2022-10-25 11:41] exitcode0 commented on #1218
@monde
Just wanting to clarify if this was closed by stale-bot or if this is considered a won't fix?

[2022-10-25 11:42] exitcode0 commented on #1208
@monde
Just wanting to clarify if this was closed by stale-bot or if this is considered a won't fix?

[2022-10-25 11:51] #1211 closed, assigned to nobody

[2022-10-25 12:12] robgero commented on #1255
Also having issues using custom settings, mainly preconfigured apps with `otka_app_swa`.

Being able to pass custom (per preconfigured app) settings in an `app_settings_json` would be ideal.

[2022-10-25 14:17] ashleyfrost opened #1339 "`okta_authenticator` adds non-null provider_ attributes to every authenticator type"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-25 15:25] monde commented on #1339
Thanks @ashleyfrost . Thinking out loud, it looks like the provider using the default values out of the schema https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_authenticator.go#L67-L73 , but as you point out, that is incorrect on import. If it is happening here it is likely happening on all the resources, sadly. This needs to be corrected.

[2022-10-25 15:26] monde commented on #1339
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544409

[2022-10-25 15:29] monde commented on #1208
@exitcode0 - reopening. Stalebot, Stalebot'ing.

[2022-10-25 15:29] monde commented on #1218
Keeping open.

[2022-10-25 15:33] monde commented on #636
Reopening to see if we can use the recently published API endpoint to implement this behavior.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544413

[2022-10-25 15:35] monde commented on #1071
not stale

[2022-10-25 15:37] monde commented on #1084
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-544415

[2022-10-25 15:39] monde commented on #1085
Okta internal reference https://oktainc.atlassian.net/browse/OKTA-544417

[2022-10-25 15:41] monde commented on #1098
Looking to knock down all the policy related bugs in a near term sprint.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544418

[2022-10-25 15:44] monde commented on #1106
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544419

[2022-10-25 15:48] ashleyfrost commented on #1339
@monde I am absolutely thrilled that the Okta provider for terraform exists and is so well maintained.  I discovered it after we were nearly done configuring our Preview tenant, but before we started working on configuring Production.  I've been carefully crafting terraform configuration to match what I see in the Admin UI and in Postman queries to the Okta API.  This means I am interacting with m

[2022-10-25 16:19] monde commented on #1135
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544438

[2022-10-25 16:32] monde commented on #1185
We need to fix this. I've seen other places in the provider where the ordering of a list of items doesn't matter, just the uniqueness of items in the list/set needs to be considered for the state diff.

#1171 `Ordering of redirect_uris in resource okta_app_oauth #1171` fixed the inverse case, where ordering matters. #936 is similar also.

Okta internal reference: https://oktainc.atlassian.net/brow

[2022-10-25 16:34] monde commented on #1185
@hi-artem just double checking - the ordering of items in the network_excludes set does not matter, just that all of the items are present state to state? e.g. `[a, b, c] === [b, a, c]`

[2022-10-25 16:36] monde commented on #1190
@stackofone just double checking if this is still an issue of you? If so, I'll reopen.

[2022-10-25 16:38] monde commented on #1238
Need to look at this in the policy focused sprint.

[2022-10-25 16:45] monde commented on #1244
Not stale

[2022-10-25 16:48] monde commented on #1315
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544453

[2022-10-25 16:50] monde commented on #1213
Our Jira on this is still on the backlog internally. Re-opening for a second look given @zubinmadon and @sebman-metro feedback.

[2022-10-25 17:05] monde commented on #834
Looking to do a policy focused sprint in the near term.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544476

[2022-10-25 17:08] monde commented on #1258
Following up on my previous question, is everything OK for you now?

[2022-10-25 17:09] monde commented on #1042
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544480

[2022-10-25 17:11] monde commented on #1277
Hope to look at this in our up coming policy focused sprint.

[2022-10-25 17:13] monde commented on #1268
@pro4tlzz can this issue be closed?

[2022-10-25 17:13] pro4tlzz commented on #1268
@monde yes it can thanks

[2022-10-25 17:14] monde commented on #1100
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544485

[2022-10-25 17:15] monde commented on #906
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544487

[2022-10-25 17:17] monde commented on #891
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544488

[2022-10-25 17:18] monde commented on #1164
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544489

[2022-10-25 17:44] #1268 closed, assigned to nobody

[2022-10-25 17:52] pputman-clabs opened #1340 "Terraform provider Crashing"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-25 17:57] monde commented on #1340
Thanks @pputman-clabs I'll get some panic bumpers on this in the next release.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-544516

[2022-10-25 18:04] pputman-clabs commented on #1340
Thank you!  Is there any ETA I can report back to my team?

[2022-10-26 08:06] AndreyZhilinskyCoherent opened #1341 "Default Application User Profile Mapping is being cleaned up"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-26 14:28] Devi0909 opened #1342 "okta_app_saml resource: API returned an error while creating SAML app from CSV file"
**Terraform Version**

Terraform v1.2.7
on linux_amd64
+ provider registry.terraform.io/okta/okta v3.37.0

**Affected Resource(s)**
okta_app_saml

**Terraform Configuration Files**

[code]

**Error in  while doing Terraform apply command**

"failed to create SAML application: the API returned an error: Api validation failed: instanceType. Causes: errorSummary: instanceType: Not one of the allowed

[2022-10-26 17:23] monde commented on #1251
not stale

[2022-10-26 22:19] CarsonTolleshaug commented on #1147
Any update here? We're also experiencing this issue, seems like it should be an easy fix right?

I would assume the issue is that 0 is also the default for an integer, and so the property is assumed to not be set and thus the default behavior (which is to set password history to 4) is performed. You just need to add someway of distinguishing between setting the property to 0 and not setting it at

[2022-10-26 23:14] cassdeckard commented on #1147
If you modify the `basic_updated.tf` in that test directory to set `password_history_count` to `0` and modify the test expectation accordingly, you get this error:

[code]

[2022-10-27 00:14] #1172 closed, assigned to nobody

[2022-10-27 07:20] petercdl commented on #1288
Hi, the issue_mode in okta_idp_social was not seen updated, it does not support dynamic.

[2022-10-27 16:03] ashleyfrost opened #1343 "Updating recovery attributes in a `okta_policy_password` resource succeeds but returns API read-only error"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-27 16:24] ashleyfrost commented on #1343
It may also be worth mentioning that I am testing on an Identity Engine instance.

[2022-10-27 18:14] ashleyfrost commented on #1339
I fear you are right.  I saw this happen again when I imported a okta_policy_password_default resource type.  The values for minLength, historyCount and autoUnlockMinutes did not match what Postman was returning for the same resource.  Instead the values written into terraform.tfstate on import were the values in https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_policy

[2022-10-28 14:02] Devi0909 opened #1344 "okta_app_swa resource: API returned an error for optional fields"
**Terraform Version**

Terraform v1.2.7
on linux_amd64
provider registry.terraform.io/okta/okta v3.37.0

**Affected Resource(s)**
okta_app_swa

**Terraform Configuration file**
[code]

**Error in while doing Terraform apply command **
As per argument reference,username,password and url fileds are optional for above resource.but getting below error if these fields are non mandatory.

Error: failed

[2022-10-28 20:30] #1340 closed, assigned to nobody

[2022-10-28 21:43] antonmos commented on #1090
Okta support pointed me to https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs#max_api_capacity and it seems to have worked!

[2022-10-28 22:28] monde commented on #1169
fix released in https://github.com/okta/terraform-provider-okta/releases/tag/v3.38.0

[2022-10-28 22:29] monde commented on #1325
fix released as v3.38.0 https://github.com/okta/terraform-provider-okta/releases/tag/v3.38.0

[2022-10-28 22:30] monde commented on #1340
fix released as v3.38.0 https://github.com/okta/terraform-provider-okta/releases/tag/v3.38.0

[2022-10-31 00:16] #975 closed, assigned to nobody

[2022-10-31 00:16] #858 closed, assigned to nobody

[2022-10-31 18:22] pputman-clabs commented on #1340
Tested and confirmed this is working, thank you!

[2022-10-31 21:29] monde commented on #1249
Was just re-reading through the description of this issue @simondemartini . I just wanted to say I take exception with this characterization: `The current recommended manual process ... suggests using a couple of different random sites and tools to do this which isn't ideal imo.`. One can never know what operating system a user is making use of, what tool chain they have access to, or what their l

[2022-11-01 15:15] monde commented on #1341
Thanks @AndreyZhilinskyCoherent , I have this bug triaged into our internal backlog.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-546540

[2022-11-01 15:24] monde commented on #1342
@Devi0909 It looks to me that you are trying to configure one of the Okta Integration Network apps that is SAML based with the generic `okta_app_saml` resource. Is that correct?

[2022-11-01 15:27] dbshelke commented on #1330
Any updates here

[2022-11-01 15:50] monde commented on #1344
Hi @Devi0909 . I know that `url` is not optional, and given the error you've received from the API `password_field` is not optional either. I can see that our TF documentation is incorrect in this regard https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_swa and the Okta API documentation is vague in regard to required attributes for an SWA app https://developer.okta.com/d

[2022-11-01 15:54] monde commented on #1343
Thanks @ashleyfrost . Agreed, an apply shouldn't make changes and still result in an error. We'll be having a sprint dedicated to policies.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-546550

[2022-11-01 16:08] monde commented on #1249
Note to self: see if any of this work can help resolve #1330

[2022-11-01 16:09] Mrorya opened #1347 "Support import for `okta_app_signon_policy` resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-01 16:09] monde commented on #1330
@dbshelke I'm working on an adjacent item in #1249 and I'll see if I can capture this in that work.

[2022-11-01 16:20] monde commented on #1347
@Mrorya my sense is that the original work in our provider didn't give import operations much consideration and we've not been good at supporting it going forward (refs #1244 #1275 ). I'm looking to dedicating a sprint to improving import operations with our provider.

Okta internal reference https://oktainc.atlassian.net/browse/OKTA-546611

[2022-11-02 13:46] MichaelOtte-lhsystems opened #1349 "Create User with Authentication Provider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-02 15:31] johnnymongiat commented on #1254
Before closing this issue, can somebody please correct the necessary documentation (i.e. it is still referencing lifecycle usage, for example, https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_group_assignment and https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_group_assignments). Additionally, it would be helpful to update (reopen) https://git

[2022-11-02 15:58] monde commented on #1147
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-547413
Schedule for work in our next sprint, fyi.

[2022-11-02 16:36] monde commented on #1349
@MichaelOtte-lhsystems this sounds like a great enhancement. I've added it to our internal backlog and see if we can work it in for development. If you'd like to try working on a PR for this feature, regardless of your development experience, I will help you out as well. We can do some in person pairing over zoom. Let me know.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-547

[2022-11-02 20:57] monde commented on #1249
@simondemartini @antonmos @la-palma I wrote a config that makes use of a couple of other providers to illustrate how you could use TF to generate a PEM value, that you would perhaps save in a secrets manager (but not save in a TF state file). Use the PEM to create a JWKS that can be used when creating an Okta OAuth app.

As you all have reminded the community - practice good security, whether a se

[2022-11-02 20:58] #1249 closed, assigned to nobody

[2022-11-02 21:01] monde commented on #1330
@dbshelke here is a better example of using terraform providers for PEM + JWKS + Okta OAuth app:
https://github.com/okta/terraform-provider-okta/issues/1249#issuecomment-1301238359
Don't use internet websites for production secrets and audit all software used to generate secrets.

[2022-11-02 21:05] monde commented on #1035
An example of using Terraform to create a PEM, JWKS, and Okta OAuth app:
https://github.com/okta/terraform-provider-okta/issues/1249#issuecomment-1301238359

[2022-11-02 21:05] monde commented on #892
An example of using Terraform to create a PEM, JWKS, and Okta OAuth app:
https://github.com/okta/terraform-provider-okta/issues/1249#issuecomment-1301238359

[2022-11-07 11:16] dbshelke commented on #1330
This does not resolve the issue raised of Okta Generated Private Key Not working in Terrform Provider. Requirement was to generate a Public/Private Key pair from Okta and then use it in the provider configuration to connect to Okta .

provider "okta" {
  org_name  = "my-org"
  base_url  = "okta.com"
  **private_key** = file("a.pem") // this is the file with the private key
  client_id = "0oazdwjh3

[2022-11-07 16:43] monde commented on #1330
@dbshelke I don't have access to your pem file or know how you generated the pem file. To me the error messages posted above indicate an issue with the pem format, not with the terraform provider. I'm not seeing any bug with the terraform provider here. Please open a support ticket to get additional help https://support.okta.com/help/s/?language=en_US as github issues are for bugs with the provide

[2022-11-07 20:41] pljeskavica commented on #921
@monde  Do you have an okta internal reference ID for this issue?   This seems to be open for almost a year now.

[2022-11-07 20:50] pljeskavica commented on #921
Did some triaging on this, and it looks like this needs a public api update

https://developer.okta.com/docs/reference/api/users/#update-user

`Note: Currently, the User Type of a user can only be changed via a full replacement PUT operation. If the request parameters of a partial update include the type element from the [User object](https://developer.okta.com/docs/reference/api/users/#user-objec

[2022-11-07 21:10] #1217 closed, assigned to nobody

[2022-11-07 21:14] monde commented on #921
Thanks for running down those details @pljeskavica
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-549197

[2022-11-07 23:17] exitcode0 commented on #888
Could we please re-open this one, I think Stale bot has done stalebot things

[2022-11-08 18:13] jakezarobsky-8451 opened #1352 "Bookmark Application Sign-On Policy"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-08 18:36] msweaver opened #1353 "Importing existing configurations into terraform"
Hi y'all. I tried to search around for this but I wasn't able to find any info... hoping someone can point me in the right direction.

As you probably know, importing a resource into terraform state requires two data points: the terraform address (easy), and the id of the object you are trying to import. I am having a time figuring out the okta IDs of all of the configurations that I want to impor

[2022-11-08 20:27] msweaver commented on #1353
Hi. I think I found the answer skimming through the okta API.. but still facing an issue: Error: invalid resource import specifier. Expecting the following format auth_server_id/id

I don't know what that means... I'm trying to import a scope...

[2022-11-08 20:42] msweaver commented on #1353
Nevermind. I figured it out... you literally want the auth_server_id a slash / and then the id. I get it now!

[2022-11-08 20:42] #1353 closed, assigned to nobody

[2022-11-09 04:43] exitcode0 opened #1354 "failed import "catch_all_rule""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-09 08:48] msvechla commented on #636
we are also highly interested in provisioning API support, to configure our org2org setup

[2022-11-09 20:55] monde commented on #1216
@andrei-korviakov is this representative of the config you are having problems with?

[code]

[2022-11-09 21:02] monde commented on #1216
@andrei-korviakov when I run my plan with `TF_LOG=debug` e.g. `TF_LOG=debug tf apply 2>&1 | tee apply.log` (I use tee to save debugging logs, fwiw) the POST to /api/v1/users doesn't have role details. Can you show me the error message you are receiving?

[code]

[2022-11-09 22:27] monde commented on #1216
Never mind @andrei-korviakov , I'm able to repo this, we are discussing a fix.

[2022-11-10 10:08] Devi0909 commented on #1342
yes,I am trying to create preconfigured app which is in OIN.

[2022-11-10 10:20] Devi0909 opened #1357 "okta_app_oauth resource and okta_app_swa resources are not getting imported into target tenant"
Terraform Version

Terraform v1.2.7
on linux_amd64
provider registry.terraform.io/okta/okta v3.37.0

Affected Resource(s)
okta_app_oauth
okta_app_swa

**Error in while doing Terraform plan command **
Error: Reference to undeclared resource
│
│ on app_oauth.tf line 201, in resource "okta_app_oauth" "tfer--oa6e76njijsmljjj5b9-oidc-client":
│ 201: user_name_template = "${source.login}"

│ A managed r

[2022-11-10 10:39] Devi0909 opened #1358 "okta_app_swa resource: Inactive SWA applications are getting imported from source tenant"
Terraform Version

Terraform v1.2.7
on linux_amd64
provider registry.terraform.io/okta/okta v3.37.0

Affected Resource(s)
okta_app_swa

**Issue 1:**

Inactive swa applications are fetching from source tenant and same is creating in generated folder.Please see below code

[code]

**Issue 2:**

If we are trying to create same inactive applications in target tenant getting the below error while runni

[2022-11-10 13:12] Devi0909 opened #1359 "okta_policy_mfa resource: Enrollment factors are not getting updated for mfa policy"
Terraform Version

Terraform v1.2.7
on linux_amd64
provider registry.terraform.io/okta/okta v3.37.0

Affected Resource(s)
okta_policy_mfa

**From:**
[code]

Post applying the terraform apply updated as below

  okta_password = "DISABLED"

  okta_email = "REQUIRED"

  phone_number = "OPTIONAL"

  okta_verify = "OPTIONAL"

  security_question ="DISABLED"

In above case password is getting "DISABLED"

[2022-11-10 16:52] monde commented on #1342
Thanks for the confirmation @Devi0909 . I'm going to leave this one open with the no-api label. There is internal discussion, on going, with the Okta team that is responsible for OIN / Okta Integration Network applications. They are coming up with a generic way to expose this apps in the Okta's public API. Once that occurs we'll be able to deal with them in the Terraform Provider.

Related: #1304

[2022-11-10 20:46] antonmos opened #1361 "Destroying okta_app_signon_policy fails when also deleting okta_app_oauth that are not related"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-11 13:16] msvechla commented on #636
I started an implementation draft here: https://github.com/okta/terraform-provider-okta/pull/1362

This creates an in-line resource block on the `okta_app_saml`, as currently, the only supported app in the okta-sdk is the org2org application:

[code]

What do you think? Does it make sense to implement it like this, or should we move this to a separate resource instead?

[2022-11-11 16:11] NiallJude opened #1363 "Cannot use "skip_groups" attribute without removing existing group assignments on subsequent runs."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-14 10:43] Devi0909 opened #1364 "okta_app_saml resource:Inactive applications are getting imported from source tenant"
Terraform Version

Terraform v1.2.7
on linux_amd64
provider registry.terraform.io/okta/okta v3.37.0

Affected Resource(s)
okta_app_saml

**Issue 1:**

Inactive saml applications are fetching from source tenant and same is creating in generated folder(terraformer). Please see below code.

[code]

**Issue 2:**
Fetching by default applications amazon-aws-redshift/amazon-appstream  and causing the bel

[2022-11-14 20:31] virgofx commented on #1338
Would love to see a 4.0 cut with all the deprecations gone. We're now haunted by having to add lifecycle rules to ignore changes as despite being deprecated they still query out to the endpoints -- and then we get the dreaded Terraform `Warning: Deprecated attribute` notices :(

[2022-11-15 13:12] MichaelOtte-lhsystems commented on #1349
@monde  Thanks for the offer I would go for it if I would be familar with GO but only a JAVA guy :)

[2022-11-15 13:36] Devi0909 opened #1365 "resource "okta_app_bookmark": Bookmark applications are not getting imported to target tenant"
Terraform Version

Terraform v1.2.7
on linux_amd64
provider registry.terraform.io/okta/okta v3.37.0

Affected Resource(s)
okta_app_bookmark

**Resource code:**

[code]

**Below is the error message while running terraform apply command for target environment **

Error: failed to handle groups and users for bookmark application: failed to associate user or groups with application. Errors: the API r

[2022-11-15 15:38] antonmos opened #1367 "okta_authenticator: failure creating google_otp if it was not created via the UI"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-15 15:45] monde commented on #1357
@Devi0909 I'm not seeing a bug here, please open a support ticket [support.okta.com](https://support.okta.com/help/s/?language=en_US) for help with configuration usage and setup.

[2022-11-15 15:45] #1357 closed, assigned to nobody

[2022-11-15 15:47] monde commented on #1358
@Devi0909 I'm not seeing the issue you are describing in #1 . In general I'm not seeing a bug here, please open a support ticket [support.okta.com](https://support.okta.com/help/s/?language=en_US) for help with configuration usage and setup.

[2022-11-15 15:47] #1358 closed, assigned to nobody

[2022-11-15 15:49] monde commented on #1364
@Devi0909 I'm not seeing a bug here, the errors look to indicate you are missing required settings in the Okta API, please open a support ticket [support.okta.com](https://support.okta.com/help/s/?language=en_US) for help with configuration usage and setup.

[2022-11-15 15:49] #1364 closed, assigned to nobody

[2022-11-15 15:50] monde commented on #1365
@Devi0909 I'm not seeing a bug here, please open a support ticket [support.okta.com](https://support.okta.com/help/s/?language=en_US) for help with configuration usage and setup.

[2022-11-15 15:50] #1365 closed, assigned to nobody

[2022-11-15 15:55] monde commented on #1359
I need an Okta support engineer to help shift through the issues here. I'm not 100% if this is a bug or a configuration issue. Please open a support https://support.okta.com/help/s/?language=en_US and I'll get internal feedback about it. I'm not sure if you checked out the documentation, there are some notes in there about requirements.
https://registry.terraform.io/providers/okta/okta/latest/docs

[2022-11-15 16:15] monde opened #1368 "Add header metadata for gathering community telemetry with internal Splunk metrics"
Add a custom HTTP header on HTTP requests to indicate tf operations plan, apply, update, delete, graph, etc. as well as READ, UPDATE, CREATE, DELETE, IMPORTER contexts on resource in the SDK so we can gather usage metrics from the community with our Splunk tooling.

[2022-11-15 16:16] monde commented on #1368
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-550869

[2022-11-15 16:19] monde commented on #1354
Thanks @exitcode0 . We are looking to dedicate a future sprint to import bugs.
https://oktainc.atlassian.net/browse/OKTA-550870

[2022-11-15 16:31] monde commented on #1361
@antonmos I need to take a look at this closer. I wonder if chaining resource deletes with depends_on syntax will help resolve the delete issue. It sounds like there is an internal dependency between resources. Also, `parrallelism=1` might be a remedy.

[2022-11-15 16:39] monde commented on #1361
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-550878

Also, thinking to myself, I'm wondering if this endpoint has concurrency sensitivity much like the schema endpoints do.