[2022-01-11 02:10] virgofx opened #896 "Update `okta_app_oauth_api_scope` with additional recently added scopes"
The `okta_app_oauth_api_scope` `scopes` parameter needs to be updated to allow for recently added scopes. A few that are not included that I noticed in the default list

### Missing
`okta.authenticators.manage`, `okta.authenticators.read`, `okta.brands.manage`, `okta.brands.read`, `okta.captchas.manage`, `okta.captchas.read`, `okta.profileMappings.manage` , `okta.profileMappings.read`, `okta.userT

[2022-01-11 05:00] exitcode0 commented on #874
looks like I ended up working around this by doing the following
This can be marked as resolved, perhaps some doco updates might be helpful for the next person running into this like I did

[code]

[2022-01-11 05:03] exitcode0 commented on #862
I had a similar issue to this and worked around this via the following
@nottooshort does this resolve your problem?

https://github.com/okta/terraform-provider-okta/issues/874#issuecomment-1009600614

[2022-01-11 06:10] xee5ch commented on #885
OK, thanks @bogdanprodan-okta. Let me know if I should send along the logs I collected from running `TF_LOG=debug`. I couldn't figure out if it does not, but there did look to be some credential info flying back and forth so I'd rather not attach it here on a public repo issue. :-)

[2022-01-11 16:50] virgofx opened #898 "Error Building Provider ` no field or method Certificate`"
I'm trying to build and test the provider locally. Following the quickstart guide in the README I'm receiving the following errors:

[code]

Any insight would be great. Thanks in advance.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and ma

[2022-01-11 19:11] nottooshort commented on #862
@exitcode0

A data resource is meant to lookup existing resources in the service. This issue relates to a catch-22 where the okta provider should be able to create any and all resources, however it instead requires a resource be create prior to terraform execution. There shouldn't be a case where an administrator needs to create the resource prior to bringing it into terraform state.

[2022-01-12 15:54] #896 closed, assigned to nobody

[2022-01-12 16:36] bogdanprodan-okta commented on #890
I think I'll add deactivation call when the resource is being removed

[2022-01-12 16:37] bogdanprodan-okta commented on #891
Hi, @fatbasstard! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-12 16:37] bogdanprodan-okta commented on #893
Hi, @thatguysimon! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-12 16:38] bogdanprodan-okta commented on #894
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-12 16:38] bogdanprodan-okta commented on #895
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-12 16:38] bogdanprodan-okta commented on #898
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-12 17:03] #860 closed, assigned to nobody

[2022-01-12 17:03] #898 closed, assigned to nobody

[2022-01-12 17:15] #882 closed, assigned to nobody

[2022-01-12 18:07] bogdanprodan-okta commented on #871
@tmatilai I didn't change anything in the provider itself

[2022-01-12 20:01] nottooshort commented on #871
@bogdanprodan-okta @tmatilai - Perhaps it's not the provider but instead how the API handles the calls had changed?

[2022-01-12 20:12] tmatilai commented on #871
Yes, as I tries to say in the description, the first error come from the API (which of course could have been a client error, too).  And at the time I only tested with a Preview Sandbox tenant. Later it worked there, and with a production version tenant.

So I suspect there was a bug in the Preview version, which was later fixed.

I'll close the issue. Thanks for the attention. 🙂

[2022-01-12 20:12] #871 closed, assigned to nobody

[2022-01-13 03:14] JSBach-BYU opened #902 "Using okta_app_user_schema_property with an IdP profile creates the attribute in the console but does not recognize the attribute from federated claims"
**Terraform Versions**
Terraform - 0.14.6
Okta - 3.20.2

**Issue**
This issue occurs when federating two Okta tenants via OIDC.
The parent tenant has an application created for the child.  To pass a custom attribute, the parent has a default user attribute of "someUUID", and the application within the parent has an attribute of "some_uuid".  The mapping in the parent is "user.someUUID" -> "some_uu

[2022-01-13 22:00] rankol opened #903 "Failed to assign group "Everyone" to user "User": The API returned an error: Unsupported operation."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-14 00:30] monde commented on #847
@Namita1201 unfortunately we won't be able to create this resource. Asynchronous application reports, as seen in the Okta UI, are operated by a private Okta APIs that support the UI. The Okta Terraform Provider only operates against Okta's public facing APIs. Okta public APIs are published with documentation, have customer and developer support, and have interfaces that will not be modified once p

[2022-01-14 00:30] #847 closed, assigned to nobody

[2022-01-14 10:38] frousselet opened #904 "`okta_app_saml`: Deprecated `groups` attribute removes App-Group assignment made by `okta_app_group_assignment`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-14 13:41] cvs-sigrejas commented on #890
I'd be careful with that. Ideally after destroying, it should go back to what it was before anything was applied. So if some authenticators default to ACTIVE while others default to INACTIVE, then destroy should reset it back to original.

[2022-01-14 14:54] frousselet opened #905 "`okta_app_metadata_saml`: SAML metadata file contains the wrong FQDN since the provider cannot authenticate with a custom domain"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-14 15:08] stmyers opened #906 "Improve Group Rule handling for managing large amount of group rules"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-14 15:15] stmyers commented on #905
If this is any help, I've worked around this using an outputs like this:

[code]
It looks like the URL is dynamically placed based on the URL you browse from - so if you hit the endpoint from the default URL, your metadata URL will be default, otherwise it will be custom if you use the custom URL in the metadata URL.

[2022-01-14 18:26] #877 closed, assigned to nobody

[2022-01-14 20:52] jamesathey opened #909 "Importing okta_rate_limiting causes crash"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-14 22:36] virgofx commented on #879
@bogdanprodan-okta Any insight into what's happening with this one?

[2022-01-16 00:50] ymylei commented on #904
@frousselet I'm pretty sure this cannot be really fixed in terraform without a breaking change. You'll need to do a
[code]
on the group resources you use these alternative assignment resources with.

[2022-01-16 04:41] ymylei opened #913 "Potential incorrect bucketing of API rate limit"
https://github.com/okta/terraform-provider-okta/blob/1897d8d932e6af2b6a394c764f725670934227d1/okta/internal/apimutex/apimutex_test.go#L123

This indicates that the users/groups calls to specific apps is rate limited at the `api/v1/apps` bucket instead of the `api/v1/apps/${id}` bucket.

Based on my reading of the RL docs (https://developer.okta.com/docs/reference/rl-global-mgmt/) and my own experi

[2022-01-17 00:07] #758 closed, assigned to nobody

[2022-01-18 15:20] frousselet commented on #905
Hi @stmyers,

Thanks, this is a good workaround, I didn't think about this way to do.

I'm pretty sure this is an issue with Okta, but maybe there is a way for the provider to manage this (for example with an attribute).

[2022-01-18 18:31] virgofx commented on #805
Hi @monde - Any thoughts on prioritizing this or getting it on the roadmap?

[2022-01-18 19:02] virgofx commented on #880
Update: `okta_verify` is specific to Authenticators and not Factors (which is what the current resource supports)

Upon reviewing the source code it appears that the `okta_policy_mfa` is using policies and specifically `Factors` as the core component which is specific to Classic Engine. Thus to migrate and support OIE the `Authenticators` settings need to be incorporated into both `okta_policy_mfa

[2022-01-18 19:15] bogdanprodan-okta commented on #880
Yes, the idea is to keep this backward compatible, so the resource is available for both Classic and OIE orgs.

[2022-01-18 19:17] monde commented on #805
hi @virgofx , coincidentally in my sync with @bogdanprodan-okta today he mentioned a caching tokens feature is on his lists of wants for our Q1 work in the next two/three months. I will let him elaborate. I'm not certain if @virgofx does any golang coding, if so, that would be neat to get you could help out on a PR for the provider so that it behaves in a way given a real world use case driving de

[2022-01-18 19:20] virgofx commented on #880
Do you want me to take a stab at what I suggested above (or this might extend my Go experience and better that you handle it?) Effectively:

- Update `okta_policy_mfa` and `okta_policy_mfa_default`
- Create new `factors` attribute and note this is the way moving forward
- Create new `authenticators` attribute and have those write out appropriate policy authenticator settings
- Mark existing top le

[2022-01-18 19:42] bogdanprodan-okta commented on #880
You can keep the existing structure, but add the missing fields into `type PolicySettings struct`. In addition, add a computed field `is_oie` to the resource, so when you read the resource, you can check if the `factors` or `authenticators` field is present. Based on this flag, you can create a model for both OIE and Classical orgs.

[2022-01-18 23:15] virgofx commented on #805
My golang experience is limited (but growing). I've been attempting to help with some smaller PRs, however due to the advanced nature of this ... I'd probably recommend someone with more experience with this repo and feature set tackle this :)

[2022-01-20 10:43] teads-sylvain opened #917 "`okta_app_oauth` resource don't allow `DYNAMIC` in `issuer_mode`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-20 19:57] pandeyabhishek7 commented on #859
@bogdanprodanj. I can still reproduce this issue. Can you please check again? Please let me know if a quick call can help? Thank you.

[2022-01-20 20:31] pandeyabhishek7 commented on #861
@bogdanprodanj please share if you have any update on this?

[2022-01-20 20:33] bogdanprodan-okta commented on #861
@pandeyabhishek7 currently I'm busy working with some other stuff and going to get back to terraform next month.

[2022-01-23 15:15] BalaGanaparthi opened #920 "`okta_app_oauth` `logo_uri` is not applied to the Application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-23 16:41] eephillip opened #921 "`otka_user / okta_user_type`: Ability to create a new user as the defined user type."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-24 00:46] BalaGanaparthi opened #922 "Support for Recovery authenticators `stepUp` in either `okta_policy_password` or `okta_policy_rule_password`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-25 07:48] kevin-chiu-dragon commented on #533
Hi @bogdanprodan-okta , no I am not able to reproduce this purely via Okta UI.
And I just tested with both `okta_app_user_schema` and `okta_app_user_schema_property` with okta provider version 3.19.0 and issue persist. May this be re-opened?

[2022-01-25 18:25] rc-ssoltau commented on #879
Also experiencing this issue, we are set to go-live with Okta today and this issue has completely broken our workspace, even when commenting out the resources related to the factors/policies.

If there are any workarounds or an ability to get this resolved today, that would be greatly appreciated. Thanks!

[2022-01-27 01:52] mrproper commented on #780
Im hitting the exact same problem, using provider:
[code]

Using terraform code:
[code]

This ends up with every run with:
[code]

[2022-01-27 02:00] mrproper commented on #780
Ahh i've found why you cant replicate it, you need to use a groups_claim block and the code that does that has "ORG_URL" hard coded in it https://github.com/okta/terraform-provider-okta/pull/468/files#diff-4a5904220b736cd8cd158c3c3e4814fda830aff6ccae710cecbd52aedcac897cR400

So the api is hit and sets the issuer_mode to "CUSTOM_URL" then the groups_claim comes in and sets it back to "ORG_URL" and

[2022-01-27 14:18] eephillip commented on #921
Thought this was interesting

    Note: If you modified your default schema, those changes won't propagate into this new User Type.

[ref](https://developer.okta.com/docs/reference/api/user-types/#create-user-type)

[2022-01-27 14:31] thatguysimon opened #926 "Docs: okta_security_notification_emails warning not clear"
Hi,
The docs page for `okta_security_notification_emails` shows the following warning:

This resource is available only when using api token in the provider config.

It's not very clear. Can you explain what it means? How is that different from any other resource?

Thank you!

[2022-01-27 14:40] jantman commented on #917
I'm experiencing this too, trying to import an existing `okta_app_oauth` that I created via the UI.

[2022-01-27 18:37] rankol commented on #926
How are you setting up your Okta provider configuration? There is an `api_token` field in the below link.

https://registry.terraform.io/providers/okta/okta/latest/docs

[2022-01-27 19:27] virgofx opened #927 "Update `okta_profile_mapping` Documentation to refer to allowed Scopes"
The `okta_profile_mapping` [resource documentation](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/profile_mapping) lists:

[code]

This is no longer true. The required scopes for the Mapping API are `okta.profileMappings.manage` or for data `okta.profileMappings.read`

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03

[2022-01-27 19:52] simonweil commented on #892
Maybe my question was missed, if I just use OKTA platform as SSO, is this option for me?

[2022-01-28 00:08] #820 closed, assigned to nobody

[2022-01-28 00:08] #486 closed, assigned to nobody

[2022-01-28 00:59] monde commented on #926
Thanks for responding @rankol ! @thatguysimon does this answer your question?

[2022-01-28 01:01] monde commented on #927
thanks for the PR @virgofx ! I'll get this merged tomorrow.

[2022-01-28 09:51] thatguysimon commented on #926
@rankol @monde So the warning is there to point out that you must authenticate via an `api_token`, rather than as a service app with OAuth2 (`client_id`+`scopes`+`private_key`)?

[2022-01-28 18:28] monde commented on #926
Hi @thatguysimon , yes to make use of `okta_security_notification_emails` you need to have your config include a`api_token`.

Here is the original PR that @bogdanprodan-okta wrote for the `okta_security_notification_emails` resource https://github.com/okta/terraform-provider-okta/pull/728/files . When I look through the code flows and I can see the underlying Okta API calls for the notification em

[2022-01-28 18:29] #927 closed, assigned to nobody

[2022-01-28 19:08] monde commented on #913
Hi @ymylei . I double checked with Okta's core developer who is responsible for rate limiting at Okta's API level. Requests matching this example `/api/v1/apps/TESTID1/users` and `/api/v1/apps/TESTID2/users` are going to be accounted for in the same rate limit bucket for `/api/v1/apps/${id}`. Let me know if you can definitively measure this is not the case for your org.

One thing to note for you

[2022-01-28 19:08] #913 closed, assigned to monde

[2022-01-28 19:22] monde commented on #909
Thanks @jamesathey - I've opened a PR to put a nil bumper there to prevent a panic.

[2022-01-29 01:04] BalaGanaparthi opened #930 "`okta_domain_verification` reports error in-spite of the `validationStatus`: `VERIFIED`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-29 10:28] thatguysimon commented on #926
@monde Got it! Thanks for your help!

[2022-01-29 10:28] #926 closed, assigned to nobody

[2022-01-29 15:40] jyoder-deloitte opened #932 "The okta_groups data source has a hard cap of 200 groups returned"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-30 20:03] ymylei commented on #913
@monde Thanks for the response and confirmation on the rate limiting behavior! This lines up with the documentation.

This issue isn't resolved since my primary point is the RL API Mutex does not account for the behavior this way. The referenced test is checking that it's accounted under the `app` bucket (`api/v1/apps` root) instead of the `app-id` bucket (`api/v1/apps/{id}`). This lines up with b

[2022-01-31 00:48] Praki404 opened #934 "Set Email OTP token lifetime using Terraform"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-31 04:19] ahmei0 opened #935 "actions.signon.access: You cannot set access challenge for sign-on policy when the feature: PASSWORDLESS_AUTHN_SIGNON_POLICY is not enabled"
Having following error

actions.signon.access: You cannot set access challenge for sign-on policy when the feature: PASSWORDLESS_AUTHN_SIGNON_POLICY is not enabled

code:
#multifactor sms policy
resource "okta_policy_signon" "multifactor" {
  name            = "${local.signon_perfix}"
  status          = "ACTIVE"
  description     = "multifactor policy"
  groups_included = [okta_group.MyAccountCus

[2022-01-31 10:02] #935 closed, assigned to nobody

[2022-02-01 02:49] virgofx commented on #930
That's weird and almost impossible from the code. If the domain status is `VERIFIED` or `COMPLETED` it should return true.

https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_domain_verification.go#L39
https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_domain_verification.go#L62-L69

Unless ... Golang switch statements don't fall through by d

[2022-02-01 02:54] virgofx commented on #930
Added a fix to ensure `VERIFIED` works properly.

[2022-02-01 15:30] reecewilliams7 commented on #277
Hi @monde @bogdanprodan-okta as per @MichaelOtte-lhsystems I don't quite understand the last comment on this ticket. There appears to be no way currently via Terraform to set the identityProvider as part of a signon policy rule.

I know it's an EA feature that has to be specifically requested to be enabled for your org, and I've struggled to find any documentation about it. But certainly the offic

[2022-02-01 22:24] #881 closed, assigned to nobody

[2022-02-01 22:27] #930 closed, assigned to nobody

[2022-02-02 16:50] MichaelOtte-lhsystems commented on #277
especially as there is already a commit which fix that https://github.com/okta/terraform-provider-okta/commit/a31322b06c490e010a4ff6e2e666ddda148d3cfb

[2022-02-02 17:10] #878 closed, assigned to nobody

[2022-02-02 17:10] #879 closed, assigned to nobody

[2022-02-02 17:10] #880 closed, assigned to nobody

[2022-02-02 17:11] #932 closed, assigned to nobody

[2022-02-02 17:59] monde commented on #277
I'm asking @bogdanprodan-okta to color in some additional information on the current state of idp and sign on rules.

[2022-02-02 17:59] monde commented on #277
fyi @MichaelOtte-lhsystems @ReeceWilliams7

[2022-02-02 18:01] monde commented on #913
Will be in `v3.20.4` release. Fixed in #933

[2022-02-02 18:04] reecewilliams7 commented on #277
Amazing, thank you! 😊

[2022-02-02 18:42] vianel opened #939 "Missing company_name and job_title fields on okta_user resource"
Trying to create a new okta_app user from the provider I'm getting the company_name and jobTitle fields are now required field, I don't see those fields available in the current version of the resource, please refer more details below

Terraform and okta provider version
[code]

Resource
[code]

Error
[code]

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.git

[2022-02-02 19:00] bogdanprodanj commented on #939
You can try setup missing fields via `custom_profile_attributes` field.

[2022-02-02 19:03] BalaGanaparthi commented on #833
Checked the APIs for [Add OAuth 2.0 client application](https://developer.okta.com/docs/reference/api/apps/#add-oauth-2-0-client-application)  and the grant type for `interaction_code`  was not listed in the documentation, however can create an OAuth app with `interaction_code`  grant type (as shown in the below example)

[code]

Can we enable the same using the TF provider resource`okta_auth_serv

[2022-02-02 19:06] monde commented on #939
Right, I was going to say it sounds like `jobTitle` and `companyName` are custom user attributes @vianel  https://help.okta.com/en/prod/Content/Topics/users-groups-profiles/usgp-add-custom-user-attributes.htm

I'm going to close this issue @vianel . Let me know if @bogdanprodanj suggestion of making use of `custom_profile_attributes` doesn't work for you.

[2022-02-02 19:06] #939 closed, assigned to nobody

[2022-02-02 20:18] vianel commented on #939
yeah that workaround works, thanks

[2022-02-02 21:32] monde commented on #839
@ahmei0 I'm going to close this issue. As @bogdanprodan-okta mentioned, the Okta Terraform provider will only make publicly documented API calls found in the developer documentation. https://developer.okta.com/docs/reference/core-okta-api/ . Some functionality in the Okta UI is based on private API calls and shouldn't be considered stable or maintained.

[2022-02-02 21:32] #839 closed, assigned to nobody

[2022-02-02 21:34] monde commented on #838
Closing on upstream behavior.

[2022-02-02 21:34] #838 closed, assigned to nobody

[2022-02-02 21:36] monde commented on #834
@BalaGanaparthi we are working on OIE updates, we'll come back around to your feedback soon.

[2022-02-02 21:39] monde commented on #831
@virgofx this sounds like a cool feature. Do you think you would like to submit a PR on this and then we can collaborate?

[2022-02-02 21:40] virgofx commented on #831
Sure, I'll take a stab at this one.

[2022-02-02 21:47] monde commented on #713
[OKTA-441274](https://oktainc.atlassian.net/browse/OKTA-441274) is still on the backlog of the responsible internal team.

[2022-02-03 17:05] #277 closed, assigned to nobody

[2022-02-03 18:37] jyoder-deloitte opened #944 "The okta_groups data source has a hard cap of 300 groups returned"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-03 18:57] monde commented on #944
Thanks @jyoder-deloitte. I can see what is causing this. The provider is [making a query](https://github.com/okta/terraform-provider-okta/blob/master/okta/data_source_okta_groups.go#L69) to the find groups API endpoint via the okta-sdk-golang package and API's default max results returned is [300 on the find query](https://developer.okta.com/docs/reference/api/groups/#find-groups). We can fix this

[2022-02-03 19:08] gregwhorley opened #945 "Documentation does not list new identity_provider option in okta_policy_rule_signon resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-03 19:10] monde commented on #945
Thanks @gregwhorley I will look into this.

[2022-02-03 19:10] gregwhorley commented on #945
I must have missed this, but the option is listed at the bottom of https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_rule_signon

However, it claims that it is optional and requires a feature flag be set...

[2022-02-03 19:11] monde commented on #945
@gregwhorley was this working for you previously and `v3.20.6` is a breaking change for you?

[2022-02-03 19:12] gregwhorley commented on #945
@monde Yes, last recorded version we used was 3.20.2 and the same terraform code I pasted did not result in apply failure.

[2022-02-03 19:30] gregwhorley commented on #945
I think there's a bug here. I added the identity_provider option to the resource and still received the error during terraform apply. Re-running the apply with no code changes resulted in a successful apply.

[2022-02-03 19:38] monde commented on #945
Thanks for the details @gregwhorley . If I get a PR done today it won't be released until tomorrow/Friday. I'll keep you posted.

[2022-02-03 23:39] tantran-falconx commented on #780
+1, same issue. custom_url with groups_claim

[2022-02-04 09:01] fatbasstard opened #947 "Add support for AWS Integration accounts"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-04 17:13] monde commented on #947
thanks @fatbasstard, I'm looking forward to seeing some more background on this enhancement idea.

[2022-02-04 17:26] #944 closed, assigned to monde

[2022-02-04 21:02] dkulchinsky opened #949 "okta_profile_mapping fails to set userName override in oauth app"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-04 22:22] dkulchinsky commented on #949
I'm reading this Okta KB note: https://support.okta.com/help/s/article/Application-Usernames-are-not-being-updated-automatically?language=en_US

and I believe my attempt to set the `user_name_template` meets one of these requirements:
[code]

I'm indeed using a `CUSTOM` format, and the expression is not a deprecated one.

I think what is missing is the `apply` part?

when making this change from t

[2022-02-04 23:05] monde commented on #949
hi @dkulchinsky we'll be looking in to this next week. Thanks for all the details, that is really helpful.

[2022-02-04 23:38] dkulchinsky commented on #949
Hey @monde!

Thanks for replying 🙂

Let me know if you need any additional information, and sorry if I'm confusing topics and resources, I assumed at first this is done with okta_profile_mapping but then saw it's actually attributes in the okta_app_oauth but doesn't seem to work like it does in the UI.

[2022-02-05 00:34] dkulchinsky commented on #949
I've managed to pull down the mapping (after creating it via the UI) for the application from the API:

[code]

based on above, my attempt with the `okta_profile_mapping` resource should be correct:

[code]

the `source_id` comes from `data.okta_user_profile_mapping_source.user.id`, which has the following attributes (pulled from the state) that match the above API response:
[code]

the `target_id

[2022-02-07 14:50] bogdanprodan-okta commented on #861
Hi, @pandeyabhishek7! Sorry for taking so long with the response! I've found [this page](https://help.okta.com/oie/en-us/Content/Topics/Security/custom-admin-role/administrator-email-settings.htm) regarding the role subscriptions. This table show the limitation regarding the notifications for each specific role. I will add additional validation to the provider and updated the documentation.

[2022-02-07 15:39] #861 closed, assigned to nobody

[2022-02-07 17:12] #833 closed, assigned to nobody

[2022-02-07 18:14] jyoder-deloitte commented on #944
@monde @MikeMondragon-okta @bogdanprodan-okta  Thanks for promptly fixing this, but it looks like it just missed the v3.20.6 release.  Can you create a v3.20.7?

[2022-02-07 18:20] monde commented on #944
@jyoder-deloitte I'll cut a v3.20.7 release in the next hour and report back here.

[2022-02-07 19:03] monde commented on #909
Fixed and release in https://github.com/okta/terraform-provider-okta/pull/929

[2022-02-07 19:03] #909 closed, assigned to monde

[2022-02-07 19:29] monde commented on #944
@jyoder-deloitte I'm double checking some additional items in the provider before my original estimate of a quick release. However, this release will be going out at some time today.

[2022-02-08 01:24] monde commented on #944
@jyoder-deloitte v3.20.7 is released https://github.com/okta/terraform-provider-okta/releases/tag/v3.20.7

[2022-02-08 17:59] monde commented on #949
@dkulchinsky can you try using the `always_apply` argument (this implies the Apply button seen your screen shot) and see if it works for you. See https://github.com/okta/terraform-provider-okta/blob/master/website/docs/r/profile_mapping.html.markdown#argument-reference

I will investigate further if this doesn't work for you. Let me know.

[2022-02-08 18:01] monde commented on #947
@fatbasstard do you have any more background on this for me? Thanks!

[2022-02-08 18:09] monde commented on #945
@gregwhorley , in our stand up @bogdanprodan-okta did a copy and paste from the example and it works for him. Is this still an issue for you? If so reopen the issue with more details for us to debug with. Thanks!

https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_policy_rule_signon/other_identity_provider.tf

[2022-02-08 18:09] #945 closed, assigned to nobody

[2022-02-08 18:26] monde commented on #934
@Praki404 updating the email authentication is available in the public admin api for authenticators see:

- https://developer.okta.com/docs/reference/api/authenticators-admin/#update-authenticator-settings
- https://developer.okta.com/docs/reference/api/authenticators-admin/#authenticator-properties

`settings.tokenLifetimeInMinutes` / number / "Specifies the lifetime of an email token and only ap

[2022-02-08 18:39] dkulchinsky commented on #949
Hey @monde! thanks for taking a look.

I do have `always_apply = true` in my configuration, as per my original comment, this is my config:
[code]

but this fails with:
[code]

since the above is failing, I tried to use the following attributes in the `okta_app_oauth` resource instead of using `okta_profile_mapping`:
[code]

but this seem to have no effect and I was getting still `<name>@<domain>`

[2022-02-08 20:13] monde commented on #934
@Praki404 one caveat, is your org an Okta Classic or an Okta Identity Engine org? If it is classic then it won't have access to the authenticator admin API, that is an OIE only feature. I don't believe there are any plans to make a public API for the authenticators in the classic orgs.

[2022-02-08 21:00] monde commented on #934
@bogdanprodan-okta has some ideas about this, fyi.

[2022-02-08 21:50] rohit-janu opened #953 "okta_policy_rule_signon Invalid condition type specified: identity Provider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-08 23:25] dkulchinsky commented on #949
@monde I guess my main confusion is what method should I use to set this up?

1. if I should use the `okta_profile_mapping` resource - then it fails with the error I mentioned
2. if I should set this with `user_name_template*` attributes in the `okta_app_oauth` resources - then that doesn't seem to take effect once applied

[2022-02-09 03:45] ahmei0 opened #954 "Renaming profile property fails"
We are renaming a custom profile attribute but failing with following error .

I think it is happening because it tries to delete it and found it mapped. Is there a way that this resource handles unmapping before deleting a property?

This error disappears if I manually remove mapping and re run pipeline.

Error: failed to delete application user schema property: the API returned an error: Api val

[2022-02-09 14:57] rohit-janu commented on #953
I was able to reproduce the issue through Postman.  The request through terraform has the following

"identityProvider": {
"provider": "ANY"
}

If I remove the identityProvider object, then the request through Postman succeeds.

Terraform adds the above even if it is not specified in the resource

[2022-02-09 15:58] #953 closed, assigned to nobody

[2022-02-09 16:14] bogdanprodan-okta commented on #840
Hi @karlsequeira! I couldn’t reproduce the bug. Could you please provide TF scripts to reproduce the scenario and also version of the terraform CLI you are using.

[2022-02-09 16:16] bogdanprodan-okta commented on #859
Hi, @pandeyabhishek7! Could you please reach to the Okta support folks, since there is no possibility to add this on UI using terraform.

[2022-02-09 16:32] karlsequeira commented on #840
@bogdanprodan-okta  I got the latest provider and tried . it worked fine. Thanks a lot for the help.

[2022-02-09 16:34] bogdanprodan-okta commented on #864
Hi, @farzadmahjobi! The bug was caused by invalid subscription, since the roles have different sets of notification types, e.g.  `/api/v1/roles/REPORT_ADMIN/subscriptions/AGENT_AUTO_UPDATE_NOTIFICATION` request will return an empty response. I'll added additional validation for this resource as well as nil check. It will be available in the next version.

[2022-02-09 17:30] #840 closed, assigned to nobody

[2022-02-09 17:33] #831 closed, assigned to nobody

[2022-02-09 17:37] #865 closed, assigned to nobody

[2022-02-09 17:40] bogdanprodanj commented on #904
In addition, please use `skip_groups = true`. In this case, it won't do any API calls regarding `groups`.

[2022-02-09 17:41] #904 closed, assigned to nobody

[2022-02-10 07:28] #864 closed, assigned to nobody

[2022-02-10 08:01] bogdanprodan-okta commented on #870
@exitcode0 yes, the reason is `okta_policy_signon_default` is immutable to any updates. It is however possible to get it using data source. Closing this issue for now.
[code]

[2022-02-10 08:01] #870 closed, assigned to nobody

[2022-02-10 08:43] bogdanprodan-okta commented on #876
hi @Shrirang97! Unfortunately, bases on the [specs](https://developer.okta.com/docs/reference/api/policy/#policy-priorities) the priority can only be positive integer. This applies to all the priorities in all the resources. You can make a suggestion to Okta Support if you want this feature to be implemented in the future. Closing this issue for now.

[2022-02-10 08:43] #876 closed, assigned to nobody

[2022-02-10 09:21] fatbasstard commented on #947
Hi @monde ,

Create a ticket at Okta 2 years ago to implement the automation of the "integrations" account list since we're creating AWS accounts here and there.

Last week got an email with "It's implemented!" but I also cannot find anything related to this (yet) 😂

Sent them an email again and will keep looking 🕵️

[2022-02-10 11:45] bogdanprodan-okta commented on #920
Hi, @BalaGanaparthi! I couldn't reproduce the issue and `logo_uri` works fine.
<img width="738" alt="Screenshot 2022-02-10 at 13 43 29" src="https://user-images.githubusercontent.com/71279414/153402380-818f6222-e8e8-408d-b486-1cb75595cec4.png">

[2022-02-10 16:14] #866 closed, assigned to nobody

[2022-02-10 16:15] #867 closed, assigned to nobody

[2022-02-10 16:15] #868 closed, assigned to nobody

[2022-02-10 16:15] #893 closed, assigned to nobody

[2022-02-10 16:16] #872 closed, assigned to nobody

[2022-02-10 16:16] #862 closed, assigned to nobody

[2022-02-10 16:16] #874 closed, assigned to nobody

[2022-02-10 16:17] #875 closed, assigned to nobody

[2022-02-10 16:17] #917 closed, assigned to nobody

[2022-02-10 17:15] BalaGanaparthi commented on #920
Hi @bogdanprodan-okta ,
I have assumed the `logo_uri` as the logo for the app that is shown in the admin console instead of the user consent dialog box.
If the `logo_uri` is specifically for `user consent` functionality, then its working as expected

Is there any resource that sets the logo for the app that's displayed when viewing the app from the admin console?

[2022-02-10 17:30] bogdanprodanj commented on #920
@BalaGanaparthi you should use `logo` field for that, however, it's a file path, so you need to have that logo stored locally

[2022-02-10 18:02] BalaGanaparthi commented on #920
@bogdanprodan-okta , Thank You. I was able to set the logo to the app with `logo` attribute

[2022-02-10 18:15] bogdanprodan-okta commented on #920
Awesome!

[2022-02-10 18:15] #920 closed, assigned to nobody

[2022-02-10 19:45] bogdanprodanj commented on #949
@dkulchinsky I think your problem is trivial. This part of the script is treated by the terraform as plain strings:
[code]
You should drop the quotes:
[code]

Another thing you should do in the `okta_app_oauth` resource is to ignore the changes for username templates:
[code]

[2022-02-10 20:34] dkulchinsky commented on #949
@bogdanprodanj @monde folks, I feel quite silly now 🤦🏼‍♂️

what a simple oversight... darn it.... I'm sorry for wasting your time on this.

I think I carried over this when using the example in the doc here: https://registry.terraform.io/providers/okta/okta/latest/docs/resources/profile_mapping, it uses the pre TF 0.12 interpolation syntax and had quotes, I used that as a source and just kept the

[2022-02-10 20:34] #949 closed, assigned to nobody

[2022-02-10 20:58] monde commented on #949
Hey no problem @dkulchinsky, please keep posting questions whenever you bump into something.

[2022-02-11 00:09] lucascantor opened #968 "`okta_group_role` `target_group_list` removes target groups on every other terraform apply"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-11 00:13] lucascantor commented on #968
Wondering if this is somehow related to https://github.com/okta/terraform-provider-okta/issues/597

[2022-02-11 06:33] exitcode0 opened #969 "okta_app_signon_policy_rule - unexpected forces replacement"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-11 14:30] bogdanprodan-okta commented on #969
Hi @exitcode0! thanks for submitting this issue! I'll take a look asap.

[2022-02-11 14:30] #859 closed, assigned to nobody

[2022-02-11 14:36] bogdanprodan-okta commented on #892
I think yes, as long as you can create service app and add JWK key into it. I will also double-check with the team responsible for this functionality.

[2022-02-11 16:27] noinarisak commented on #892
Hi @simonweil, feedback well heard regarding documentation! I totally agree and documentation improvements are on the roadmap from our Product Management team.

RE: Your question. Yes, if you planning to just set up/manage SSO, you can go down `client_id`, `scope`, and `private_key` route. You probably have to identify the right scopes, ie At minimal `okta.apps.manage` and etc, that aligns with th

[2022-02-13 20:13] simonweil commented on #892
Thank you for the answers @noinarisak and @bogdanprodan-okta!
This answers all the questions I had :)

[2022-02-13 20:13] #892 closed, assigned to nobody

[2022-02-14 11:22] exitcode0 opened #970 "okta_auth_server_claim_default - unexpected forces replacement"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-14 11:52] exitcode0 opened #971 "okta_auth_server_claim & okta_auth_server_default - unclear interaction"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-14 13:14] bogdanprodan-okta commented on #885
@xee5ch the fields that you got in the error are required for this app. Here is the example of the config:
[code]

[2022-02-14 14:47] bogdanprodan-okta commented on #970
Hi @exitcode0! I've copy-pasted your code and run `terraform apply`. Worked just fine.

[2022-02-14 16:07] max4t opened #972 "`okta_profile_mapping` fails when using oauth and `always_apply` is set"
[code]

I get the following error:
[code]
(no error when removing `always_apply`)

[2022-02-14 16:09] max4t commented on #972
I'm guessing it's because `https://...-admin.okta.com/api/internal/v1/mappings/reapply?source=...&target=...` is internal

[2022-02-14 18:17] bogdanprodan-okta commented on #972
@max4t yes, unfortunately Okta doesn't have public API endpoint for that, so I had to use internal. It works only with API token.

[2022-02-14 18:22] max4t commented on #972
Thanks! It would be good to mention it in the documentation. Hopefully, it'll become part of the public API soon 🤞

[2022-02-15 16:55] #826 closed, assigned to nobody

[2022-02-15 16:55] #972 closed, assigned to nobody

[2022-02-15 17:05] kensykora opened #974 "okta_email_sender_verification doesn't support being recreated"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-15 17:07] bogdanprodan-okta commented on #974
Hi, @kensykora! Thanks for submitting this issue! I'll take a look on this asap.

[2022-02-15 17:19] kensykora opened #975 "okta_email_verification does not produce deterministic dns records, makes creating them in the same terraform module a challenge"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-15 17:29] kensykora commented on #974
So after some more testing, I did find that something managed to get it to require verification again, possibly what happened is that I _only_ destroyed the `okta_email_sender_verification` (steps to reproduce no. 2). I'll update the description

[2022-02-15 22:18] kensykora commented on #839
@monde is there a channel where we can make a feature request to the Okta API team? My org would like to manage this through infrastructure as code as well.

[2022-02-16 09:38] sboulkour opened #976 "Add support for Features API"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-16 20:25] hazbazwaz9 opened #978 "Missing option for DYNAMIC issuer - only options are ORG_URL or CUSTOM_URL"
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/auth_server

There is no option to support a DYNAMIC issuer.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave

[2022-02-16 22:26] monde commented on #839
hi @kensykora. Apologies for the slow reply. Please let your Customer Success Manager at Okta know that you'd like to see this enhancement to the API.

[2022-02-17 07:46] #978 closed, assigned to nobody

[2022-02-17 08:12] bogdanprodan-okta commented on #934
@Praki404 I don't think we are going to implement this functionality, since all orgs will migrate from Classical to OIE very soon.

[2022-02-17 08:12] #934 closed, assigned to bogdanprodan-okta

[2022-02-17 18:21] pmaterer commented on #921
Was about to submit a bug ticket, but found this.

Definitely confusing. My first impression was that I could pass an `okta_user_type` to the `user_type` field on an `okta_user`. Something like this:

[code]

But that just updates the `profile.userType` attribute on the user w/ the `okta_user_type`'s id string.

Would be great to be able to configure user type for an `okta_user`.

[2022-02-22 19:11] monde opened #979 "Sync okta-sdk-golang v2.9, v2.10, and v2.11 into the provider"
We need to sync up the endpoints and resources that are newly available in `okta-sdk-golang` with the Okta Terraform Provider. These are versions `v2.10.0`, `v2.10.1`, and the upcoming `v2.11.0`. Also, add anything missing from the v2.9 releases. I'm not certain how much of those endpoints and resources already exist the provider's vendor style [sdk](https://github.com/okta/terraform-provider-okta

[2022-02-22 19:53] monde commented on #976
Thanks @sboulkour . Features in Okta API is supported in a recent release of okta-sdk-golang v2.10.0. It is on our roadmap to upgrade the Okta Terraform Provider to include the newest released endpoints and resources from v2.10 + v2.11 okta-sdk-golang:
https://github.com/okta/terraform-provider-okta/issues/979

[2022-02-23 09:55] RyanSiu1995 opened #980 "Support passwordless user creation"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-23 15:26] mcrobbj-abrdn opened #981 "No way to manage automations"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-23 16:59] monde commented on #980
I'll look into it, thanks @RyanSiu1995

[2022-02-23 18:19] JPLachance opened #983 "(update: provider args conflicts need better description) Error: failed to create SAML application / group: invalid private key"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-24 00:28] monde commented on #980
@RyanSiu1995 check it out, I'm able to create a user without setting a password. Double check me:

My main.tf
[code]

In a shell
[code]

What I see in the admin UI Directory > People:
![image](https://user-images.githubusercontent.com/201/155433803-896f238b-18c7-4cf8-996d-992addb3cf3c.png)

[2022-02-24 00:38] monde commented on #981
Hi @mcrobbj-abrdn . Okta hasn't exposed automation in the Okta API https://developer.okta.com/docs/reference/core-okta-api/ . The Okta Terraform Provider manages Okta resources via the public endpoints documented in the public API. Sadly, and I know this can be confusing and frustrating, everything that is available in the Okta admin UI is not available via the public APIs. If your organization ha

[2022-02-24 00:45] monde commented on #983
I will look into this @JPLachance

[2022-02-24 01:02] monde commented on #980
Also, my main.tf in the previous example can be seen as too complicated. This will also work using the env vars the Okta provider looks for by default

[code]

[code]

[2022-02-24 01:11] RyanSiu1995 commented on #980
Hi @monde, in my case, the user immediately becomes active instead of pending user action state.
All the codes are the same as yours.
Let me double check if there is any missing on my end first.

[2022-02-24 07:39] mcrobbj-abrdn commented on #981
Hi [monde](https://github.com/monde) as this is the official OKTA provider ( and OKTA contribute) one of the contributions could be to publically expose the API which the portal uses? Then wrap it in Terraform. This is a feature request.

[2022-02-24 07:39] mcrobbj-abrdn commented on #981
@bogdanprodanj as an OKTA contributer how about it?

[2022-02-24 10:22] Cylock opened #984 "Error: failed to get SAML identity profile mapping"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-24 16:03] monde commented on #984
@Cylock I'll try to get you some feedback today or tomorrow.

[2022-02-24 16:09] monde commented on #981
@mcrobbj-abrdn , @bogdanprodan-okta and I are on the Developer Experience team at Okta. Our team manages the Terraform Provider, samples, and language SDKs. We don't maintain the Okta monolith or the API layer where the base features originate from. We are the wrong channel to ask for the Automations you see in the Okta UI to be exposed as public APIs. Please route this request through your Okta c

[2022-02-24 17:01] monde commented on #984
@Cylock the error messages are a red herring. ` okta/resource_okta_idp_oidc.go` and `okta/resource_okta_idp_saml.go` were worked on at the same time (see #957, #865) so that `failed to get SAML identity provider profile mapping` in the oidc resource is a copy and paste error. I have a PR to fix that #985 . I'm still looking into the bigger picture error. I'll give feedback when I have an answer fo

[2022-02-24 17:39] monde commented on #984
ok @Cylock, I used your sample `resource okta_idp_oidc bindid` on my test org and it works for me:

[code]

[code]

[2022-02-24 17:42] monde commented on #984
@Cylock so, your org might be having the same issue as the one reported in https://support.okta.com/help/s/question/0D54z000072AklcCAC/you-do-not-have-permission-to-access-the-feature-you-are-requesting-profile-mapping?language=en_US . Please open a support ticket and ask for the `MAPPINGS_API` feature flag to be applied to your organization. That feature is GA so it should have already been enabl

[2022-02-24 19:37] tgoodsell-tempus opened #986 "Missing `logo` docs in SAML app"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-24 19:38] tgoodsell-tempus commented on #986
Closing since I realized I linked the wrong resource, this is not an issue.

[2022-02-24 19:38] #986 closed, assigned to nobody

[2022-02-24 20:00] monde commented on #986
ok @tgoodsell-tempus

[2022-02-24 21:48] monde commented on #983
@JPLachance I think your tf settings are messing this up for you. This is what I get:

my main.tf:

[code]

[code]

[2022-02-24 21:51] monde commented on #983
@JPLachance I think filling out the `provider "okta" {}` block values tripped up the provider set up. There may be a bug there (e.g. the provider should be smarter about config it seems), but if you do the simplest thing for config using ENV vars then you can get this to work. I wanted to show you that in case you were stuck.

I'm going to keep this open for config bug value.

[2022-02-25 00:07] monde commented on #983
ok @JPLachance , setting client_id on the provider at the same time as setting the api token is a conflict https://github.com/okta/terraform-provider-okta/blob/master/okta/provider.go#L146-L152

The error message generated by the terraform runtime isn't terribly helpful:

[code]

I'm going to update the documentation in a PR so it is clearly stated in the documentation https://registry.terraform.i

[2022-02-25 00:11] karlsequeira commented on #729
@bogdanprodan-okta  this has been closed for inactivity. Can we please reopen.

[2022-02-25 00:33] monde commented on #975
I'll be looking into this @kensykora

[2022-02-25 09:54] frousselet opened #988 "Add resource `okta_branding` for brand customization deployment"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-02-25 10:23] max4t opened #989 "App user custom schema property forced replacement"
https://github.com/okta/terraform-provider-okta/blob/ddc7065f9f319393b125a10f92ed39c2a39e781a/okta/user_schema_property.go#L95

Changes to `external_name` force the destruction of the property (and its re-creation) but when it's referenced in the mapping it fails.
Is there a reason for the `ForceNew` ? If not, can we remove it to improve the usage with the mappings?

[2022-02-25 13:17] JPLachance commented on #983
Hello @monde,

In my example, I was **not** using the `OKTA_API_TOKEN` environment variable, AKA, I was not setting an API Token and I was only using the Client ID, private key and scopes combo, like described in the provider documentation.

What I did:

- I created an application

<img width="1051" alt="Screen Shot 2022-02-25 at 8 10 22 AM" src="https://user-images.githubusercontent.com/3448802/1

[2022-02-25 16:20] monde commented on #983
@JPLachance you're creating an application with the `okta_app_saml` resource. To do so, you use your organization's token `api_token`, that the is highest level token. As far as `client_id`, `private_key`, those are values that are for an existing application, therefore the they are mutually exclusive to `api_token`. `scopes` are used in the context of an application, creating and updating setting

[2022-02-25 16:25] monde commented on #988
@frousselet we are planning to update the provider with all the management API features that have been exposed in okta/okta-sdk-golang . See #979. That work will cover this.

[2022-02-25 16:27] monde commented on #989
I'll look into this @max4t

[2022-02-25 20:17] monde commented on #729
@karlsequeira I'll be looking in to this.

[2022-02-25 21:37] JPLachance commented on #983
Hello,

Ok. So then I tried to follow [this blog post](https://matthewdavis111.com/terraform/okta-terraform/) and then I faced a new issue: https://help.okta.com/en/prod/Content/Topics/Security/administrators-admin-comparison.htm

An "App Admin" is not allowed to create an API Token 😅

It feels like creating a SAML application using the Okta Terraform provider can only be done by a "Super Admin".

[2022-02-25 22:01] monde commented on #983
@JPLachance yes, when I was demo'ing my tf scripts my account is a super user on my test org, so my api token is that of the super user. When I look at the "Application management" section of https://help.okta.com/en/prod/Content/Topics/Security/administrators-admin-comparison.htm it seems to me a user can be granted app management permissions. So an api token created for that user should be able

[2022-02-25 22:20] karlsequeira commented on #253
@noinarisak is this still not available.

[2022-02-28 06:30] Cylock commented on #984
Hello, requested okta support to enable the flag and it works now. Can create an oicd provider without any errors. Thank you @monde for the prompt responses.

Clossing this issue.

[2022-02-28 06:30] #984 closed, assigned to monde

[2022-02-28 14:07] JPLachance commented on #983
Hello,

With API tokens creation, permissions apply to self only. Therefore, a super user cannot create an API token for an application admin user.

I'm a super admin. My goal is to delegate application creation to the application owner. For example, our Infra team owns an OpenSearch cluster. Therefore, I want to give them the ability, through Terraform, to create their own apps in Okta for their

[2022-02-28 16:22] monde commented on #983
I'm looking for some additional experience internally at Okta with your requirements @JPLachance , I will report back what I find. Thanks

[2022-03-01 14:11] farzadmahjobi opened #991 "Changing the name of an existing application does not reflect the referenced application signon policy (access policy)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-01 17:27] mcrobbj-abrdn opened #992 "Failed to update default password policy"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-01 18:22] monde commented on #991
I will look into this @farzadmahjobi

[2022-03-01 18:45] monde commented on #992
@mcrobbj-abrdn can you give me some more background on this? I wasn't able to repo with your terraform config. The error implies you changed the priority on your resource but I'm not seeing that in the config your copy and pasted `Cannot modify the priority attribute because it is read-only.`

I initially didn't have the `ACCOUNT_LOCKOUT_USER_EMAIL` feature flag and could only do this.

[code]

Af

[2022-03-02 18:32] monde commented on #991
Adding my notes:

[code]

[code]

app has default policy object ...
[code]

[2022-03-02 18:42] monde commented on #991
@farzadmahjobi I'm getting some feedback internally at Okta if this should be considered a bug or expected behavior.

[2022-03-02 19:22] Mrorya opened #993 "Support for Importing Built in Okta Apps?"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-02 20:26] monde commented on #993
@Mrorya if you are just trying to add rules to the dashboard (or admin), doesn't this get you where you want to be? Use app data source (Dashboard in the example) to get the sign in data source for that app. Then make a new sign on rule with the `okta_app_signon_policy_rule`

main.tf
[code]

Shell `terraform apply`:

[code]

[2022-03-02 20:28] Mrorya commented on #993
This is helpful, thanks! Will go ahead and configure it this way rather than attempting to import/re-create it.

[2022-03-02 20:28] #993 closed, assigned to nobody

[2022-03-02 20:40] monde commented on #991
hi @farzadmahjobi the internal discussion is that this is expected behavior. Not every new application will always create a default policy. Once the policy is created it is a unique object so if it's name should be changed you'd have to explicitly change it instead of having side effects. I'm going to close this ticket for now.

[2022-03-02 20:40] #991 closed, assigned to monde

[2022-03-02 21:06] monde commented on #993
awesome, glad to hear it @Mrorya

[2022-03-02 21:29] monde commented on #989
@max4t I'm still looking for some internal feedback about this. I'm not sure why the original developer set the terroform schema ForceNew attribute on the okta app user schema. Reading our API documentation and looking at the commit history on the provider is not revealing an answer.

@max4t can you give me a terraform config example so I can see the error as you see it? The "when it's referenced"

[2022-03-02 21:49] farzadmahjobi commented on #991
Hi Mike,

Thank you for investigating and letting us know. Much appreciated.

Farzad

From: Mike Mondragon ***@***.***>
Date: Wednesday, March 2, 2022 at 3:40 PM
To: okta/terraform-provider-okta ***@***.***>
Cc: Mahjobi, Farzad ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [okta/terraform-provider-okta] Changing the name of an existing application does not reflect the referenced appli

[2022-03-02 22:13] monde commented on #975
following up @kensykora, after doing some additional research to get myself more familiar with this topic.

Are you suggesting that on the `okta_email_sender` resource we should have four attributes, say, `dns_record_0`, `dns_record_1`, `dns_record_2`, and `dns_record_3` that are populated with the elements from the `dns_records` slice?

Adding my notes for background:
Original feature: https://gi

[2022-03-02 22:15] monde commented on #974
@kensykora if we are able to work on this, would #975 go hand in hand with this issue?

[2022-03-02 22:22] kensykora commented on #974
They are different issues but they are related to the same resource type. We worked around the issue, I'm just reporting it for awareness.

[2022-03-02 22:29] kensykora commented on #975
@monde that might work, or maybe giving them more descriptive names (verification root, verification subdomain, etc.) -- You'd probably need to talk to the API design team to understand the design intent, if they could change in number in the future or not you might want to leave it arbitrary, or if they truly are well known and you can put names to them.

Honestly this is kind of a design issue w

[2022-03-02 23:09] monde commented on #971
@exitcode0 in following up on this I was trying out your terraform configuration.

I originally received this error:

[code]

After I fixed the scope, and once the `okta_auth_server_scope` has been created subsequent apply commands give `No changes`

[code]

Am I missing something in trying to repo this? Also, when `terraform.tfstate` file I can see `okta_auth_server_scope` has a reference to `aut

[2022-03-02 23:11] monde commented on #970
@exitcode0 this seems like a duplicate of #971

[2022-03-03 01:29] monde commented on #969
@exitcode0 I'm looking into this, just saving my notes to reproduce for now.

main.tf
[code]

import
[code]

plan
[code]

apply
[code]

[2022-03-03 16:10] mcrobbj-abrdn commented on #992
Yep thats whats confusing me the terraform code doesnt mention priority.

[2022-03-03 16:34] monde commented on #969
@exitcode0 I did a little bit more research on this and I think what is happening is related to our defining default values for some of the attributes. I built a version of the Okta provider in my local env and commented out the ForceNew on `policy_id`. I then imported a `okta_app_signon_policy_rule` and then ran a plan. As you can see below, with this code change `network_connection` is now being

[2022-03-03 16:43] monde commented on #890
Authenticators can only be activated / deactivated by the Okta API management endpoints for authenticators. Authenticators can not be deleted by the API.

https://developer.okta.com/docs/reference/api/authenticators-admin/#authenticators-administration-operations

[2022-03-03 16:43] #890 closed, assigned to nobody

[2022-03-03 17:02] monde commented on #992
@mcrobbj-abrdn are you still receiving the error? The terraform config you originally copy and pasted in the issue `resource "okta_policy_password_default" "default" {` the actual config you are using? If I could see the entire output of the terraform command would be helpful.

[2022-03-03 17:26] mcrobbj-abrdn commented on #992
Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
  [33m~[0m update in-place
[0m
Terraform will perform the following actions:

[1m  # okta_policy_password_default.default[0m will be updated in-place[0m[0m
[0m  [33m~[0m[0m resource "okta_policy_password_default" "default" {
        [1m[0mid[0m[0m

[2022-03-03 18:24] virgofx opened #994 "Various App Type Docs are Missing key fields"
As result of the various `okta_app_*` updates over the past year and how the actual fields are generated via `build**`, the documentation for app arguments failed to match the actual provider schema 100%.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the

[2022-03-03 18:35] monde commented on #994
Thanks @virgofx

[2022-03-03 20:07] #994 closed, assigned to monde

[2022-03-03 22:25] JPLachance commented on #983
Hello!

I'm sorry, but I do not really understand how #987 fixed my issues 😅

Any updates on you internal discussions?

[2022-03-03 23:38] virgofx opened #999 "Create new Major release that Removes Deprecated Features"
There's a fair amount of deprecations in the current code base. It would be nice to remove things like `admin_roles`  from `okta_users` and `users`/`groups` from all `okta_app-*` and just cleanup all the deprecated items with a new major release.

[2022-03-03 23:46] monde commented on #999
👍 @virgofx . All of the okta SDKs are on v2 and generated from this openapi spec https://github.com/okta/okta-management-openapi-spec . We are in the process of releasing a v3 spec with new tooling in the next two to three months. When that occurs okta-sdk-golang will release as v3.0.0. We should take that opportunity to do a major version release of the terraform provider then, as well as clean h

[2022-03-03 23:47] monde commented on #999
Going to party like it's ~1999~ 999

[2022-03-04 00:18] virgofx commented on #999
Awesome - Yeah there was no deadline here ... that sounds like a perfect plan. 🥂

[2022-03-04 03:38] exitcode0 opened #1000 "okta_group_memberships doesn't check for dupe"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-04 04:55] virgofx commented on #1000
I'm not sure but I don't believe that's possible. In fact it's kind of an anti pattern to handle this behavior at the provider level.

The provider is responsible to manage resources in a box (for the most part) and it's up to the user to define and handle the logic appropriately.

Similarly, that's like s defining 2 AWS S3 bucket resources with the same name - the first one will succeed and the s

[2022-03-04 17:03] monde commented on #1000
thanks for the report @exitcode0 and thanks for the feedback @virgofx . I'll try out the sample and talk with some other people in DevEx and give feedback.

[2022-03-04 17:17] noinarisak commented on #983
hey @JPLachance !

Before we start digging to your end goal. Were you able to get the `private_key` option working?

[2022-03-04 17:36] monde commented on #983
Glad to have @noinarisak sharing some additional experience. Just want to be frank and point out github issues are for bugs in our open source code as well as asks for new features in these SDK related code paths. And that it seems to me the problem that is trying to find a resolution here is related to the capabilities of the Okta management API and user/role permissions models therein.

We did d

[2022-03-04 17:42] JPLachance commented on #983
Hello,

An Application with a Private Key and Client ID fails to "create" a new application. When I tried, I got the "invalid private key" error.

That being said, when we look at the tooltip in the UI, it suggests it can work.
<img width="1061" alt="Screen Shot 2022-03-04 at 12 36 31 PM" src="https://user-images.githubusercontent.com/3448802/156813586-097bd4b9-5f8c-4807-b722-a94fb5ae96c3.png">

T

[2022-03-04 18:19] monde commented on #1000
@exitcode0 under the hood there aren't any excess API calls to [Add User to Group](https://developer.okta.com/docs/reference/api/groups/#add-user-to-group) which are PUTs. This is how I capture a log of the API calls `TF_LOG=1 terraform apply 2>&1 | tee apply-1.log`

[code]

@exitcode0 are you saying that being able to have two `okta_group_memberships` in your TF configuration looks wonky from a s

[2022-03-04 18:23] monde commented on #983
@JPLachance if you run terraform with `TF_LOG=1` you can see an actual representation of the HTTP request and response on the command e.g. `TF_LOG=1 terraform apply`. This is helpful for diagnosing support questions.

[2022-03-05 00:54] exitcode0 commented on #1000
More about the stylistic Point of view
Wasn't sure if these resources concatenated their contents before an apply and if that was expected or if having multiple of these resources pointing to the same group is not the expected design

This caused confusion for me as I had one submodule that had a Okta group membership resource that was defining a user that was deactivated
Took some time for me to

[2022-03-07 13:57] nick-jones opened #1002 "okta_domain_certificate supplies invalid values to the API against unmodified fields"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-07 16:04] kensykora opened #1004 "Changing auth_server_id on okta_auth_server_policy throws 400 bad request"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-07 17:17] monde commented on #1004
hi @kensykora , I'll look into this for you, thanks for the suggested correction

[2022-03-07 17:28] monde commented on #1002
hi @nick-jones thank you for the detailed debugging details and explanation to reproduce. Would you be interested in submitting a PR as well?

[2022-03-07 17:30] monde commented on #1004
@kensykora would you be interested in submitting a PR, re: "resource should instead be marked for replacement"?

[2022-03-07 17:31] monde commented on #1000
@exitcode0 I'm going to close this issue for now.

[2022-03-07 17:31] #1000 closed, assigned to monde

[2022-03-07 17:35] monde commented on #992
@mcrobbj-abrdn re: `main.tf line 145, in resource "okta_policy_password_default" "default"`. Is there an litteral priority attribute listed in your resource code?
[code]
Just double checking, let me know. If not, I'm not able to recreate this as I showed in my notes previously.

[2022-03-07 17:36] monde commented on #989
@max4t is this still an active issue for you?

[2022-03-07 17:58] kensykora commented on #1004
I'll try to take a look at some point -- I still haven't learned go yet. This might be a good place to start.

[2022-03-07 18:34] monde commented on #1004
@kensykora I'll mark it as a bug now. Thanks

[2022-03-07 18:40] monde commented on #980
hi @RyanSiu1995 did you find anything yet? Close this issue if you are good to go, thanks!

[2022-03-07 18:44] monde commented on #971
@exitcode0 let me know where you are at with this. If you are good to go please close the issue. Thanks!

[2022-03-07 18:45] monde commented on #970
Hi @exitcode0 let me know where you are at on this. Please close the issue if you are good to go now. Thanks!

[2022-03-07 18:47] monde commented on #969
Not closing this issue but am leaving the wontfix label on it for now given how default attributes seem to be handled on the Okta API side.

[2022-03-07 19:04] monde commented on #968
@lucascantor , apologies for the delay, I'm to catch up on our backlog. Is this still occurring for you? I did do a cursory look and that seems weird that it seems like there is some sort of casing error going on, see: https://gist.github.com/lucascantor/bd0bee0f3f957978528b8dc24d7f73cb#file-okta_group_role-target_group_list-unexpected_target_group_removal-txt-L5-L6 :
[code]
Let me know where this

[2022-03-07 19:08] monde opened #1005 "Allow user lookup by group membership"
Tracking issue for [BrentSouza](https://github.com/BrentSouza)'s PR #998

[2022-03-07 19:12] monde commented on #954
Apologies for the delay. I'm trying to catch up on our backlog @ahmei0 are you still having this issue? Can you provide me with some sample/example Terraform config so I can attempt to reproduce what you are seeing to help me find a resolution? Thanks!

[2022-03-07 19:18] monde commented on #947
Hi @fatbasstard , apologies for the delay. Can you forward or email the information Okta has sent you so I can follow up on it internally? My Okta email is mike.mondragon@okta.com . Give me names of people in Okta you've been in communication with. fwiw, I'm on the Developer Experience team and am responsible for our golang sdks and it seems like other parts of the machine have been communicating

[2022-03-07 19:25] monde commented on #906
hi @stmyers apologies for the slow reply. Can you try turning on rating limiting in your provider config [`max_api_capacity`](https://registry.terraform.io/providers/okta/okta/latest/docs#max_api_capacity) . Start out with it trying 75% `max_api_capacity=75`. Let me know if this gets you past the rate limiting issue you have experienced.

[2022-03-08 11:27] nick-jones commented on #1002
I'm happy to raise a PR, however I think this might require a bit of discussion over what an appropriate solution looks like.

Assuming it is reading state to populate the unmodified values, the most obvious thing would be to stop storing hashed values in state and just work with the way terraform wants to work. The compromise is that the private key will end up being stored in state - obviously t

[2022-03-08 12:19] max4t commented on #989
Hello @monde
yeah still an issue. I'll try to provide you an example today or tomorrow

[2022-03-08 16:58] lucascantor commented on #968
@monde thank you so much for replying! Yes, this is unfortunately still occurring on every single terraform plan and terraform apply.

[2022-03-09 07:59] RyanSiu1995 commented on #980
Hi @monde, I have tried to remove the password and it works on my end.
Originally, I have set the password as null and it has that issue, the user was activated immediately.

[2022-03-09 11:52] martinhelfert opened #1006 "Missing email type "email.sunone.selfServiceUnlock""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-09 13:57] stmyers commented on #906
That's actually exactly what I ended up doing to solve this for now - it has removed the rate limit violations.

To speed up plan/apply activity, I've also restructured the repo where possible so that fewer rules are managed in the same state file.

[2022-03-09 17:06] monde commented on #1006
thanks @martinhelfert I will see about getting this in next release

[2022-03-09 17:15] martinhelfert commented on #1006
thanks! @monde

[2022-03-09 17:36] monde commented on #906
@stmyers I'm also looking into another ask from a customer to add a skip flag on to resources to prevent additional information fetches. I'll keep this in mind along with that work on keep you posted.

[2022-03-09 17:37] monde commented on #980
Thanks for following up @RyanSiu1995 , I'm going to close this issue.

[2022-03-09 17:37] #980 closed, assigned to monde

[2022-03-09 23:19] monde opened #1007 "add skip_groups and skip_roles to okta_user"
Customer ask:
Add boolean a `skip_groups` and `skip_roles` to resource `okta_user` so that unnecessary API calls to `GET /api/v1/users/{userId}/roles` and `GET /api/v1/users/{userId}/groups` are not made.

An example

[code]

[2022-03-09 23:21] monde commented on #1007
@virgofx does this interest you? I'm working on it.

[2022-03-09 23:23] monde commented on #1007
Going to do this work in https://github.com/okta/terraform-provider-okta/tree/skips_in_okta_user

[2022-03-09 23:37] virgofx commented on #1007
Nice -- yes all about performance. Go ahead and start as I've been swamped moving our org over into Okta past couple of weeks so not quite able to switch gears yet but I'll definitely review.

[2022-03-10 02:00] kostacasa opened #1008 "okta_app_saml and okta_app_oauth cause rate limit/timeout errors during plan phase"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-10 03:13] exitcode0 opened #1009 "Expose custom group attributes in data_source_okta_groups"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-10 15:11] cbrgm opened #1010 "[okta_users datasource] Allow logical operators for filter expressions"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-10 16:47] monde commented on #1008
@kostacasa thanks for all the details. I will see if we can address this in the next release.

[2022-03-10 16:49] monde commented on #1009
thanks @exitcode0 , this looks like a good idea to me.

[2022-03-10 17:28] monde commented on #1010
@cbrgm the data source example for okta_user shows a multiple search criteria example https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_user/datasource.tf#L31-L41
[code]
Already, when multiple search blocks are present they are `and` together https://github.com/okta/terraform-provider-okta/blob/master/okta/data_source_okta_user.go#L99 . Given a cut down version of your samp

[2022-03-10 17:56] #1007 closed, assigned to monde

[2022-03-10 19:07] #1006 closed, assigned to monde

[2022-03-10 19:45] cbrgm commented on #1010
Thanks @monde for your kind reply!

 I think your idea of having a free form expression string is way better than introducing an `operator` attribute as suggested by me 👍 ! This is much more flexible and would allow all possible types of search expressions!

 I'd be happy to provide a PR for this feature when I find some time in the next days!

[2022-03-10 20:58] cbrgm commented on #1010
I was more motivated than I thought and have already prepared a PR. I would be happy about a review and change requests

[2022-03-11 09:39] MichaelOtte-lhsystems commented on #148
@bogdanprodan-okta  is it not possible to set the PW without the old_password like https://developer.okta.com/docs/reference/api/users/#request-example-19 ?

curl -v -X POST \
-H "Accept: application/json" \
-H "Content-Type: application/json" \
-H "Authorization: SSWS ${api_token}" \
-d '{
  "credentials": {
    "password" : { "value": "uTVM,TPw55" }
  }
}' "https://${yourOktaDomain}/api/v1/users

[2022-03-11 10:21] MichaelOtte-lhsystems commented on #757
Hi @bogdanprodan-okta  why the password cant be set without old_password like  https://developer.okta.com/docs/reference/api/users/#request-example-19

curl -v -X POST \
-H "Accept: application/json" \
-H "Content-Type: application/json" \
-H "Authorization: SSWS ${api_token}" \
-d '{
  "credentials": {
    "password" : { "value": "uTVM,TPw55" }
  }
}' "https://${yourOktaDomain}/api/v1/users/00ub0

[2022-03-11 10:30] jessicastenning commented on #780
+1, also seeing this issue - any plans to fix this?

[2022-03-11 13:02] exitcode0 opened #1014 "data_source_okta_users omits admin_roles"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-11 15:27] aman-w-kumar opened #1015 "Okta backend configuration is missing in documentation"
Team,

I cannot find any backend defination in OKTA terraform document.

Initializing the backend...

Initializing provider plugins...
- Finding okta/okta versions matching "3.22.0"...
- Finding latest version of hashicorp/okta...
- Installing okta/okta v3.22.0...
- Installed okta/okta v3.22.0 (signed by a HashiCorp partner, key ID 6438EEBF187672EE)

Partner and community providers are signed by t

[2022-03-11 16:46] sklarsa opened #1016 "Inconsistent plan error with `okta_profile_mapping`"
### Terraform Version
[code]

### Affected Resource(s)

- okta_profile_mapping

### Terraform Configuration Files

[code]

### Expected Behavior

There should be no error.

### Actual Behavior
The first time we ran `terraform apply`, we got this error
[code]

In a second run though, the apply worked

[2022-03-11 17:06] monde commented on #780
We'll investigate this further.

[2022-03-11 17:10] monde commented on #757
@MichaelOtte-lhsystems can you provide with an example Terraform config so I can see what you are trying to accomplish. Also, if you run terraform with TF_LOG=1 to enable logging you can see what the actual data in the HTTP requests and responses. It might be good to see those, scrub out private information before posting anything.

[2022-03-11 17:13] monde commented on #757
Actually, @MichaelOtte-lhsystems can you please open a new issue with the debugging information I've asked for? I see you've commented on a other closed issues. Thanks.

[2022-03-11 17:13] #757 closed, assigned to monde

[2022-03-11 17:14] monde commented on #148
@MichaelOtte-lhsystems can you please open a new issue provide an example Terraform config so I can see what you are trying to accomplish. Also, if you run terraform with TF_LOG=1 to enable logging you can see what the actual data in the HTTP requests and responses. It might be good to see those, scrub out private information before posting anything.

[2022-03-11 17:21] monde commented on #1014
Thanks @exitcode0 I'll look into this, thanks!

[2022-03-11 17:29] monde commented on #1015
thanks @aman-w-kumar I will look into this further

[2022-03-11 18:25] monde commented on #1016
Thanks @sklarsa I will look into this.

[2022-03-11 19:23] monde commented on #1015
Hi @aman-w-kumar this is seems like a general TF question, and I don't know how to help you. When I try to repo this, but with the aws provider, the same output happens for me. Check it out, here is my simple main.tf using the base example aws's documentation https://registry.terraform.io/providers/hashicorp/aws/latest/docs:

[code]

here is my TF init command and output

[code]

Here are the TF b

[2022-03-11 19:23] #1015 closed, assigned to monde

[2022-03-11 21:18] monde commented on #1006
@martinhelfert v3.22.1 is released and includes this fix https://github.com/okta/terraform-provider-okta/releases/tag/v3.22.1 , thanks!

[2022-03-12 01:38] xee5ch commented on #885
Sorry for the delayed response. I will be sure to check with this updated configuration and report back.

[2022-03-13 19:51] dlethin opened #1018 "configured users_excluded attribute in okta_group_rule resource is not getting saved to state"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-14 08:06] tkjwa commented on #887
Please don't close this issue, in the current state it is not possible to manage scopes created by okta with terraform

[2022-03-14 13:55] tmatilai opened #1019 "Semantic versioning"
Thanks for all the efforts with the provider! I have a small annoyance so I felt like sharing it. 🙂

Looking at [the changelog](https://github.com/okta/terraform-provider-okta/blob/master/CHANGELOG.md), many patch releases include new features, for example new attributes for resources and data sources.
To use those in a root module, the version requirement has to be specified with e.g. `>= 3.20.8,

[2022-03-14 14:18] fatbasstard commented on #947
@monde Email is forwarded.

[2022-03-14 17:05] monde commented on #885
Thanks @xee5ch , let me know what you find.

[2022-03-14 17:06] monde commented on #1018
Thanks @dlethin I will look into this.

[2022-03-14 17:08] monde commented on #887
Thanks @tkjwa I'll be picking this up and will look into it.

[2022-03-14 17:14] monde commented on #947
Hi @fatbasstard I didn't receive the forward (checked spam folders also) - mike.mondragon@okta.com, thanks!

[2022-03-14 17:22] monde commented on #1019
Thanks for the feedback @tmatilai . fwiw, our practice of [semantic versioning](https://semver.org/) has been to reserve minor releases to those times when _**new**_ resources are introduced and leave addition of properties/attributes and other refinements of existing resources to patch releases. That said, I will take this feedback into consideration on the next release.

[2022-03-14 19:02] Mrorya opened #1022 "New Custom SAML App Missing Provisioning Options from UI"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-14 19:47] monde commented on #1019
Shouldn't have closed this issue, we'll reference it on the next release. Thanks again @tmatilai

[2022-03-14 19:49] monde commented on #1022
Thanks for all the details to debug the gaps needed to be closed to implement the improvement @Mrorya !

[2022-03-15 08:48] fatbasstard commented on #947
Hi @monde,

It's sent. After sending it again (I thought) I saw the previous was still in draft 🤦

[2022-03-15 08:56] tmatilai commented on #1019
Thanks for the quick response, @monde!

Your project, so of course you can decide the rules. But thanks for considering, and explaining the current logic.

[2022-03-15 11:32] aman-w-kumar commented on #1015
This case is related OKTA backend (not AWS) :) . could you please let me know which backend defination i need to use when i deploy configuration.

[2022-03-15 11:34] aman-w-kumar commented on #1015
could you please provide OKTA "remote" backend TF configuration?

https://registry.terraform.io/providers/okta/okta/latest/docs#authentication

[2022-03-15 11:34] aman-w-kumar commented on #1015
@monde - Please share your thoughts. thanks

[2022-03-15 12:30] JPLachance commented on #983
Hello,

I found the problem when I read https://github.com/okta/terraform-provider-okta/issues/892#issuecomment-1009133141.

Basically, I was using a client secret in the private_key field, hence why the "invalid private key" message.

Like @noinarisak wrote in https://github.com/okta/terraform-provider-okta/issues/892#issuecomment-1036387631, better documentation is required.

Anyways, case close

[2022-03-15 12:30] #983 closed, assigned to monde

[2022-03-15 13:59] aman-w-kumar commented on #1015
i tried to put azure backend which didn't recognize by OKTA provider

[2022-03-15 14:43] max4t commented on #989
Sorry for the late response. Here is an example of my usercase:

[code]

The property is used in the profile but as it's replaced when `external_name` changes, it fails with an error like "it's still in use in the mapping...".

[2022-03-15 18:47] Mrorya commented on #1022
Thanks @monde - As a heads up, when importing the manually created custom SAML app, the provisioning option was reset from SCIM to None. I assume this is a bug

[2022-03-16 08:16] aman-w-kumar commented on #1015
@monde - could you please provide OKTA backend configuration?

[2022-03-16 08:17] aman-w-kumar commented on #1015
it is fixed...

[2022-03-16 10:46] michaelmisshore opened #1024 "Error: failed to create group: the API returned an error: The client_assertion JWT kid is invalid."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-16 14:11] monde commented on #1024
Thank you @michaelmisshore I will look into this.

[2022-03-17 00:09] #889 closed, assigned to nobody

[2022-03-17 00:09] #888 closed, assigned to nobody

[2022-03-17 00:09] #883 closed, assigned to monde

[2022-03-17 00:09] #475 closed, assigned to nobody

[2022-03-17 00:27] #992 closed, assigned to monde

[2022-03-17 00:29] monde commented on #992
@mcrobbj-abrdn open this issue back up if it is still current for you.

[2022-03-17 00:29] monde commented on #971
@exitcode0 open this issue back up if it is still current for you.

[2022-03-17 00:29] #971 closed, assigned to monde

[2022-03-17 00:29] monde commented on #970
@exitcode0 open this issue back up if it is still current for you.

[2022-03-17 00:29] #970 closed, assigned to monde

[2022-03-17 00:30] monde commented on #954
@ahmei0 open this issue back up if it is still current for you.

[2022-03-17 00:30] #954 closed, assigned to monde

[2022-03-17 00:31] monde commented on #947
@fatbasstard I still need to follow up internally on this for you @fatbasstard . Just ack'ing current state.

[2022-03-17 02:19] ianwinsemius opened #1025 "Adding app_signon_policy resource, and adding a corresponding variable to app resources to assign it."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-17 16:01] monde commented on #1025
@ianwinsemius thanks for detailing the use case and gathering all the background that will help with the implementation. This feature is necessary for more common use of OIE as you point out.

Re: "I'd be happy to create an issue with your API team" - please do this by contacting your Okta Custom Success Manager for your Organization. Reference this Github issue when you do.

[2022-03-17 16:10] ianwinsemius commented on #1025
@monde - I will do that this morning, thank you.

[2022-03-17 16:15] monde commented on #1025
@ianwinsemius actually, I think all of the APIs are there, I just need do the research on your details. Hold off on pinging your Okta CSM.

[2022-03-17 16:21] ianwinsemius commented on #1025
Sorry, I had already contact them before you sent that message.

It did get me wondering if I could create them with the API - which it turns out is possible, but not in the public documentation. That would suggest that these resources and attributes could be added to the TF provider in the future.

I am still unable to find an endpoint (documented or otherwise) that allows me to attach an access_

[2022-03-17 19:02] monde commented on #1025
Notes:

API endpoint to do this is:
[Update application policy](https://developer.okta.com/docs/reference/api/apps/#update-application-policy)
`PUT  /api/v1/apps/${applicationId}/policies/${policyId}`

That endpoint is not in the openapi spec used to generated Okta's SDK [oas v2 - okta/okta-management-openapi-spec](https://github.com/okta/okta-management-openapi-spec). And it isn't present in the

[2022-03-17 19:51] monde commented on #947
@fatbasstard I'm waiting for confirmation from my colleague, but I'm thinking that the Okta Ideas email you sent me was closed in relation to a generally available feature, perhaps when [Amazon Web Services Account Federation](https://help.okta.com/en/prod/Content/Topics/DeploymentGuides/AWS/aws-deployment.htm) was released. This integration can be set up in the Okta Admin console via `Application

[2022-03-17 19:51] #947 closed, assigned to monde

[2022-03-17 20:05] monde commented on #947
@fatbasstard one other thing that came to mind ... I bet those integration apps are just SAML apps. So, what you could do is make an AWS app via the Okta Admin console. Then access it with the data source `okta_app_saml`. Something like:

[code]

If no saml, experiment with the other `okta_app_*` application types. Let me know if this helps you out, at least a little bit, I hope.

https://registry

[2022-03-17 20:19] monde commented on #947
I'm seeing this in my `/api/v1/apps` output after creating one of those apps, note the sign on mode.

[code]

[2022-03-20 00:09] #903 closed, assigned to nobody

[2022-03-20 00:09] #902 closed, assigned to nobody

[2022-03-20 00:09] #894 closed, assigned to nobody

[2022-03-20 00:09] #895 closed, assigned to nobody

[2022-03-20 06:18] kasirajans opened #1028 "resource okta_policy_signon priority error"
I'm trying to create a sign-on policy in the below order but it errors with the message `failed to create sign-on policy: provided priority was not valid, got: 3, API responded with: 1. See schema for attribute`. variable type for the below data is a list of objects

Anything wrong?
[code]

[code]

**Terraform and Provider version**
[code]

[2022-03-20 09:26] erelado opened #1029 "app_user_schema_property: cannot use country code & language code data types"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-21 13:31] fatbasstard commented on #891
@bogdanprodan-okta Saw the issue got closed (missed the stale bit) and I cannot reopen it.

Any update on this issue?

[2022-03-21 13:45] monde commented on #891
Thanks @fatbasstard I've reopened the issue.

[2022-03-21 13:49] monde commented on #1028
Hi @kasirajans . Can you provide me a terraform config example so I can attempt to reproduce your issue? Thanks. Also, if you run your command with TF_LOG=1 you'll be able to see the API calls at issue and if you can identify those that will also help focus my investigation.

[2022-03-21 14:29] monde commented on #1029
Hi @E-RELevant . I'm not following your use case. Resource okta_app_user_schema_property is done with the Okta API endpoint `POST /api/v1/meta/schemas/apps/${instanceId}/default` https://developer.okta.com/docs/reference/api/schemas/#add-property-to-app-user-profile-schema .

[2022-03-22 04:48] kasirajans commented on #1028
Thanks @monde for you comments  I have added you as collaborator to my private project. Will that helps?

Regarding Trace part I do see all the sign on policies created successfully with 2XX response per Trace but resource are marked as tainted.  Hopefully you can able to reproduce the issue with my project clone.

[code]

[2022-03-22 10:01] erelado commented on #1029
Thank you, @monde, for your response. I might get confused since I am new to Terraform in general and the Okta documentation is lacking, but what I am trying to achieve is adding custom-defined profile attributes for a specific OIDC application. There might be another resource for this, but I was unable to find a way to add an attribute from the `country code` or `language code` types.

![image](h

[2022-03-22 20:18] monde commented on #1029
Thanks for the explanation @E-RELevant . Take a look at this example https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_app_user_schema_property/basic.tf . It is making size attributes, let me know if you can bend it to your purpose. I'll follow up upon hearing back, thanks!

[2022-03-22 20:59] Mrorya opened #1030 "Support for `preconfigured_app` attribute in `okta_app_oauth` resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-22 22:07] tgoodsell-tempus opened #1031 "Impending API Deprecation: Email Templates"
Saw in the Okta support panel that the API we're using for the email template resource will be removed in favor of the branding APIs. Creating this issue as a notification and tracker since we'll probably want to update the resources, or if the API changes are significant enough, create new ones to replace these.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blo

[2022-03-22 22:38] monde commented on #1030
@Mrorya this is sounds like a great feature. Can I interest you in helping out with a PR?

[2022-03-22 22:42] monde commented on #1031
@tgoodsell-tempus thanks for posting this up! There was discussion today in the Okta DevEx private Slack channel about how we are going to deal with this for our openapi spec and all of our language SDKs.

[2022-03-23 07:07] erelado commented on #1029
I looked at the example you attached @monde, yet my issue is with the **data type** (`type` in terraform), rather than whether or not the attribute is an `enum`. The type in your example is `string`, which does not answer my question: how can I make it a `country code` or `language code`.

[2022-03-23 16:30] lucascantor commented on #968
I'm not sure if something like https://github.com/okta/terraform-provider-okta/pull/1032 is preferred over possibly fixing the capitalization of the actual group IDs returned from the Okta API itself.

[2022-03-23 16:43] monde commented on #1029
@E-RELevant per the docs for `okta_app_user_schema_property` "This resource allows you to create and configure a custom user schema property and associate it with an application. Make sure that the app instance is active before creating the schema property, because in some cases API might return 404 error."
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_user_schema_pro

[2022-03-24 09:16] Cylock commented on #1008
+1
A lot of requests done on these endpoints:
"current request "GET /api/v1/apps/<app_id>/users"

My use-case is only using a datasource for okta_app_oauth or okta_app_saml to retrieve the app_id without any interaction with its user base

[2022-03-24 10:40] erelado commented on #1029
I honestly don't know how else to explain it. I want to achieve something like this (which I don't know the right value for):
[code]

All along, I have been talking about the `type`. There is even a screenshot of the Okta Admin Console UI showing both of those types (so-called `data type`s).

[2022-03-24 16:53] monde commented on #1029
@E-RELevant I will ask around internally and see if I can get an exact answer for you.

[2022-03-24 18:32] ianwinsemius commented on #1025
I'm not having any success using that endpoint on either our sandbox without OIE (which isn't surprising), or our OIE preview, which is where I would expect it to work. I get a return like the one below (with unique error IDs):
[code]

Its certainly possible that I'm doing something wrong, but I'm using the same credentials and methodology that I am able to make other API calls to Okta.

If these

[2022-03-24 20:20] monde opened #1034 "okta_user_schema_property with array_type "number" has Okta API validation error"
Given the example https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_user_schema_property/array_number.tf

[code]

When the `array_type` is `number` the terraform provider needs to submit the enum values as numbers, not strings, to the Okta API.

[code]

HTTP as is
[code]

Enum should b
[code]

If we are to fix this, then the serializer in okta-sdk-golang's `okta.UserSchemaA

[2022-03-24 20:44] monde commented on #1029
@E-RELevant I have some better information from my colleague @noinarisak. Thanks for being patient with me while trying to run this down. What you are trying to do is create a custom property of type `string`, with format `country-code` or `language-code` (per your examples). Side note: all of the Okta formats are `uri`, `date-time`, `email`, `ref-id`, `encrypted`, `hashed`, `country-code`, `langu

[2022-03-25 13:54] lucascantor commented on #968
@monde I've closed my associated PR, and I think this issue should be closed as well, as it appears the root cause seems to be my own accidental downcasing in some of the the variables representing the target group IDs:

[code]

[2022-03-25 13:59] #968 closed, assigned to monde

[2022-03-25 16:19] jsimoni opened #1035 "Error: The client does not have a JWKSet configured, but the client_assertion requires one"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-25 17:40] monde commented on #1035
@jsimoni I'm looking into this for you.

[2022-03-25 19:14] monde commented on #1035
I also followed the instructions in https://github.com/okta/terraform-provider-okta/issues/892

On https://mkjwk.org/ I had theses params
Key Size: 2048
Key Use: Signature
Algorithm: RS512
Key ID: myorg
Show X.509: No

Then I did JWK-to-PEM at https://8gwifi.org/jwkconvertfunctions.jsp to get my public/private key pair.

I followed the OAuth2 documentation in okta-sdk-golang to remind myself how t

[2022-03-25 19:15] monde commented on #892
Additional details to try out if anyone is trying to get private key working for themselves https://github.com/okta/terraform-provider-okta/issues/1035#issuecomment-1079356101

[2022-03-25 19:28] jsimoni commented on #1035
@monde I don't seem to have the option to

This is what my General tab looks like if I create an API Services app.
![image](https://user-images.githubusercontent.com/5125008/160188302-1a84b579-9cda-42a0-aca8-237937225911.png)

[2022-03-25 20:43] monde commented on #1035
@jsimoni apologies, it seems that adding public/private keys in the Okta Admin UI is an early access feature.

You can access the Okta API with curl commands to create a service app and then grant it `okta.apps.read` scope so my example will work for you ([Apps API docs](https://developer.okta.com/docs/reference/api/apps/)):

[code]

Add okta.apps.read grant to app, see https://developer.okta.com/

[2022-03-26 00:09] #905 closed, assigned to nobody

[2022-03-27 10:51] exitcode0 commented on #1014
it seems that `data_source_okta_users` calls [/api/v1/users](https://github.com/okta/terraform-provider-okta/blob/master/okta/data_source_okta_users.go#L61)
which does not return admin roles for the users

the documentation for the datasource [Here](https://registry.terraform.io/providers/okta/okta/latest/docs/data-sources/users#admin_roles) would suggest that this is possible

So I guess either t

[2022-03-28 01:02] jsimoni commented on #1035
@monde It's still not working for me.  I'm able to successfully call /api/v1/apps to create a new app and then grant the scopes to the app, but when I try to use the new client_id & private_key:

[code]

I consistently get the following error message
[code]

[2022-03-28 01:42] monde commented on #1035
@jsimoni re: "Either the client or the client credentials are invalid." - Just double checking, you are setting the `client_id` to the value that is returned when you create the app from the `/api/v1/apps` endpoint? The `mynewclientid` in my example above.

If you run terraform with TF_LOG=1 you can see the actual http calls and responses. You could compare what you are seeing there and attempt to

[2022-03-28 10:45] jsimoni commented on #1035
@monde I get the same result using postman.  I must be generating the private_key incorrectly.  Can you provide step by step instructions now using the API to create the Okta app.  Thanks.

[2022-03-28 15:08] erelado commented on #1029
Thank you, @monde, I appreciate the detailed answer. It is unfortunate that this is the case since it is possible to select a field of this type through the UI itself. I would love to hear as long as there are updates to adding an official API, and in the meantime - I would definitely consider adding a cURL provider.

[2022-03-28 16:28] monde commented on #1035
@jsimoni I'm not sure what the ask is for step by step instructions is for `POST /api/v1/apps`, the example is the step. The API documentation for creating apps is here: https://developer.okta.com/docs/reference/api/apps/#add-application

It sounds like your public/private keys aren't lined up correctly. I would suggest you go back through and double check the set up of your JWKS and private keys.

[2022-03-28 16:28] #1035 closed, assigned to monde

[2022-03-28 16:43] monde commented on #1029
Closing this issue as we've identified a gap in the public API and documented an alternative solution in the short term.

[2022-03-28 16:58] JasonBuckner commented on #655
I can confirm that this issue is still occurring on version 3.22.

[2022-03-29 11:14] bobtfish opened #1036 "logo shows diffs if files renamed, even if unchanged."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-29 15:41] monde commented on #1036
Thanks for the PR #1037 @bobtfish , I'll take a look.

[2022-03-29 16:17] jsimoni commented on #1035
I believe the issue is with the documentation.  It's not clear to me how to generate the private_key value to enter in Terraform configs that will successfully authenticate.

I've tried following the comments of other threads and the general information from Okta, but have not been able to get Terraform to successfully authenticate with a private_key value.

[2022-03-29 16:30] monde commented on #1035
@jsimoni I could double check your steps and values. Email mike.mondragon@okta.com and give me your exact steps and exact values of the throw away example public / private keys and jwks values you generate at https://mkjwk.org/ and https://8gwifi.org/jwkconvertfunctions.jsp . _Scrub out_ your **org name** and **api token**, I don't want those. Or you can put all of that in a private gist and I'll

[2022-03-29 18:00] phi1ipp opened #1038 "scoped okta_user_admin_roles"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-03-29 18:26] monde commented on #1038
Thanks @phi1ipp I'll have to look into this, I don't have an answer top of mind without looking at some code.

[2022-03-29 18:31] phi1ipp commented on #1038
Sure @monde , I'm trying to see if it can be similar to `okta_group_role`

[2022-03-29 18:50] monde commented on #1038
The ask is for `app_id`, and `group_id` to be added to `okta_user_admin_roles`. In the abstract it seems we could add it in.

Currently, when a okta_user_admin_roles is created it associates roles to a user here:
https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_user_admin_roles.go#L50-L60
which calls to here:
`_, _, err := client.User.AssignRoleToUser(ctx, userID, okt

[2022-03-29 18:57] phi1ipp commented on #1038
@monde, I think it's here https://developer.okta.com/docs/reference/api/roles/#group-administrator-role-group-targets

Check `PUT` a bit below `GET` operations (https://developer.okta.com/docs/reference/api/roles/#add-a-group-target-to-a-group-administrator-role-given-to-a-user)

[2022-03-29 19:02] monde commented on #1038
Thanks, okta-sdk-golang has that in `func (m *UserResource) AddGroupTargetToRole(ctx context.Context, userId string, roleId string, groupId string) (*Response, error)`

https://github.com/okta/okta-sdk-golang/blob/master/okta/user.go#L1097-L1113

[2022-03-29 19:28] jsimoni commented on #1035
Thanks @monde.  I finally figured out it must have been an incorrect value when calling
[code]
I wasn't getting errors returned before, but I must have been setting up the Okta App incorrectly. I re-copied your command and filled in my values again and this time was able to successfully authenticate via terraform with the client_id & private_key values generated.

[2022-03-29 19:35] phi1ipp commented on #1038
I think you also have this one `func (m *UserResource) AddApplicationTargetToAdminRoleForUser(ctx context.Context, userId string, roleId string, appName string) (*Response, error)`
https://github.com/okta/okta-sdk-golang/blob/d80a944fe45625469479a6aaf9d026b7c344836b/okta/user.go#L1000

and `func (m *UserResource) AddApplicationTargetToAppAdminRoleForUser(ctx context.Context, userId string, roleId

[2022-03-30 00:04] monde commented on #1036
Addressed in #1039

[2022-03-30 00:04] #1036 closed, assigned to monde

[2022-03-30 07:02] bobtfish commented on #1036
Thanks for the super quick response @monde - much appreciated.

If we can get a point release in a timely fashion too that would be amazing!

[2022-03-31 09:02] erelado commented on #1029
@monde A short-term solution has indeed been found, but that does not mean a solution to the problem. Also, I have not yet tested the possibility of using cURL to get the result. I think that this addition is essential and that an appropriate solution must be found, even in the long run.

[2022-03-31 16:15] monde commented on #1029
Hi @E-RELevant you can contact your Okta support representative and point to this Github issue. Note in your message that the `format` property is public, but not documented in the public API https://developer.okta.com/docs/reference/api/schemas/#app-user-profile-schema-property-object . This will escalate the issue more precisely.

[2022-03-31 18:20] techjutsu-mikeb commented on #1016
This also occurs with other resources; however, additional "apply" runs do not resolve the issue.
This may be a result of how Terraform processes dependencies for "depends_on" data resources since my example should be using IdP values retrieved from the Okta Org prior to executing

│ Error: Provider produced inconsistent final plan
│
│ When expanding the plan for module.qa_idp_discovery.okta_polic

[2022-03-31 18:34] monde commented on #1016
Glad to have that additional info @techjutsu-mikeb , thanks

[2022-03-31 20:42] #1009 closed, assigned to monde

[2022-03-31 21:54] tantran-falconx commented on #1008
+1 on this as well.

When looking at the TRACE logs, I'm seeing some of these:

`2022-03-31T13:46:27.391-0700 [DEBUG] provider.terraform-provider-okta_v3.22.1: 2022/03/31 01:46:27 [INFO]  Throttling API requests; sleeping for 0 seconds until rate limit reset (path class "app-id": 96 remaining of 500 total); current request "GET /api/v1/apps/0oaxxxx/users/00xxxxxxx"`

But looking at the rate limit

[2022-03-31 23:09] monde commented on #1008
Thanks for the details @tantran-falconx this is very helpful for my investigation.

[2022-03-31 23:52] techjutsu-mikeb commented on #989
@max4t - What version of the Okta Terraform Provider are you using ("title" is required on my version for "okta_app_user_schema_property" resources)?

[2022-04-01 10:15] Cylock opened #1042 "Failed to change OIDC identity provider's status when destroying/re-applying multiple times an IDP"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-01 15:08] monde commented on #1042
Hi @Cylock , I appreciate all of the debugging details, I will look into this.

[2022-04-01 19:19] virgofx commented on #805
Hey @monde Any chance we could re-open this? We're going to be approaching limits here as result of this pretty soon. In the following use case were hitting 600 reqs/min (on a production rollout 10% complete) on what could theoretically be 1-2 reqs/min if these were cached. It would also drastically improve performance for all terraform runs that use OIDC/OAuth

![image](https://user-images.github

[2022-04-01 23:49] monde commented on #805
I'll reopen this @virgofx , no problem

[2022-04-03 06:27] erelado commented on #1029
Thank you, @monde, I created Case 01358753 @ https://support.okta.com. I will try to update as I receive new information regarding the issue.

[2022-04-04 07:44] peijiinsg opened #1043 "activate/deactivate default auth server failed due to id not found"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-04 08:12] erelado commented on #1029
A quick update from Okta:

I'm Dawoud, with the Developer Support team at Okta, and I'll be assisting you with this.
Thank you for passing this information across, I will try to have the docs updated to elaborate on how 'format' would be utilized.
Thank You,
Dawoud Tabboush
Senior Developer Support Engineer (APAC)
Okta Global Customer Care

[2022-04-04 20:31] JasonBuckner commented on #1022
Sounds like #655

[2022-04-06 03:54] dawoudt-okta commented on #1029
I have created an internal ticket to address this issue (OKTA-486203)

[2022-04-06 16:48] monde commented on #1043
I'll be looking into this and your PR, thanks @peijiinsg

[2022-04-06 16:51] monde commented on #1043
Fixed in #1045 1045

[2022-04-06 16:51] #1043 closed, assigned to monde

[2022-04-06 18:48] monde commented on #816
@Marek26 I will be releasing a new resource for the updated email templates endpoint by the end of this month.

[2022-04-06 18:51] monde commented on #834
@BalaGanaparthi my plan is to address this in the near term.

[2022-04-06 18:52] monde commented on #713
Still on the backlog of the Okta feature team responsible for this bug.

[2022-04-06 19:00] monde commented on #1022
Marked this as bug per @Mrorya updated observation.

[2022-04-06 19:29] eephillip opened #1047 "crash/panic - okta_user_schema_property"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-06 19:50] monde commented on #1047
Thanks @eephillip look into this, thanks for the stack trace, that is helpful.

[2022-04-07 02:19] eephillip commented on #1047
Interestingly enough after a couple hours, the okta instance resolved whatever state it found itself in and was able to re-insert the custom attribute, without panicking.

[2022-04-07 08:28] teads-sylvain opened #1051 "`okta_admin_role_custom` resource does not allow `"okta.profilesources.import.run"` in `permissions`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-07 15:31] monde commented on #1051
Thanks @stteads I will look into this.

[2022-04-07 15:32] monde commented on #1047
I can still put some bumpers on the panic, what do you think @eephillip ? https://github.com/okta/terraform-provider-okta/pull/1048/files

[2022-04-07 15:49] eephillip commented on #1047
@monde yeah I like it, and if it trips, would it be able to output some details about the bad endpoint return?
Would be nice be able to attach something to the okta support case showing them the failed api call. Perhaps that is already available with the debug option.

[2022-04-07 16:55] monde commented on #1047
@eephillip in fiddling around in this [goplayground example](https://go.dev/play/p/__q4b1QKvcZ) the only thing I can see on the function `func buildEnum(ae []interface{}, elemType string) ([]interface{}, error)` is the slice could possibly have an empty value that is actually nil. The casting check I added to `buildEnum` will protect against that. I feel like this is a good input protection. We ha

[2022-04-07 16:59] monde commented on #1047
Actually, I'm looking at this a second time. My point about nil is invalid.

[2022-04-07 17:29] monde commented on #1047
Second pass with unit tests to illustrate intent is better (imo) https://github.com/okta/terraform-provider-okta/pull/1048/files

[2022-04-07 19:59] phi1ipp opened #1052 "`okta_user_admin_roles` assignment gets removed by not having admin_roles defined for the user"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-07 21:20] monde commented on #1052
Thanks for the details @phi1ipp , I'll look into it.

[2022-04-07 21:38] #1047 closed, assigned to monde

[2022-04-08 04:12] eephillip commented on #1052
Duplicate of https://github.com/okta/terraform-provider-okta/issues/618 I think.
Needs the lifecycle statement as a work around

[2022-04-08 14:36] phi1ipp commented on #1052
Thx @eephillip , it's indeed the same thing.

[2022-04-08 14:36] #1052 closed, assigned to monde

[2022-04-08 22:00] #1019 closed, assigned to monde

[2022-04-08 22:35] monde commented on #1034
fixed in v3.23.0

[2022-04-08 22:35] #1034 closed, assigned to monde

[2022-04-09 07:06] BalaGanaparthi opened #1054 "`okta_group_role` : Unable to add application to APP_ADMIN role group"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-11 00:34] BalaGanaparthi opened #1055 "`okta_policy_profile_enrollment_apps` ::: Api validation failed: Policy mappings are no longer supported on this endpoint"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-11 14:28] okta-mikeb commented on #1042
@monde - I am seeing the same behavior for both the SAML and OIDC IdP resources. Sometimes the plan/apply works, sometimes I get the same error with "**App instance operation not allowed**".

In addition to that, I have also tried to manually activate the IdP in the UI after being created with Terraform and receive the same error as above in the Network tab of Developer tools.

[2022-04-11 16:51] monde commented on #1054
Thanks for all the details @BalaGanaparthi that will help greatly when I look into this.

[2022-04-11 16:58] monde commented on #1055
Thanks @BalaGanaparthi . Given the error did you experiment with other ways of performing the operation? I think you have other issues with a classic org, do you have a feel if this is an classic org vs identity engine operation?

[2022-04-11 16:59] monde commented on #1042
@okta-mikeb thanks for the additional details.

[2022-04-11 18:05] monde commented on #436
keeping this active

[2022-04-11 19:52] BalaGanaparthi commented on #1055
@monde, I am using OIE org.
I am not aware if there is any other approach to assign app to the profile enrollment policy via Okta's terraform resource. I could use the provisioner (local-exec) route.. but din't want to use that approach.

[2022-04-11 19:58] monde commented on #1055
@BalaGanaparthi , noted, I'll be looking into this.

[2022-04-12 08:12] BalaGanaparthi opened #1059 "`okta_policy_rule_mfa` : Creating multiple resources with priority causing errors"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-12 12:16] bogdanprodanj commented on #1059
@BalaGanaparthi, that's a known issue, and I think there was even a ticket created for that error.

[2022-04-12 14:59] BalaGanaparthi commented on #1059
@bogdanprodanj , There are two issues.
1. When priority is not attached, resources results with overlapping priorities. For this issue there was an issue/jira created but the issue did not resolved (jira was closed) so I had to decompose the resource creation by creating the resources individually insread of using for_each. We may have to reopen the case.
2.  When the priorities are attached, the

[2022-04-12 15:13] monde commented on #1059
Great to see @bogdanprodanj ! @BalaGanaparthi thanks for the details. We have an upgrade to the okta-sdk-golang that has enhancements to policies and it is my hope that when the upgrade is complete (in the next week) I'll be able to knock down all of the policy issues that are open.

[2022-04-12 15:21] MichaelOtte-lhsystems opened #1060 "Change password set for okta_user"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-12 15:22] MichaelOtte-lhsystems commented on #757
Hope that explains its well https://github.com/okta/terraform-provider-okta/issues/1060

[2022-04-12 15:26] monde commented on #1060
Excellent details @MichaelOtte-lhsystems , pointing out the API documentation is very helpful. Do you have a hand at golang coding, would you like to work on PR?

[2022-04-13 04:30] lucascantor commented on #1060
For what it's worth, this proposed enhancement would also obviate the issue of the Okta Terraform provider not being able to change passwords for users' whose Okta password policy prohibits self-service password change.

This is an issue I just ran into today when trying to import hundreds of "service account" users into our Terraform state:
[code]

I'm not familiar with golang, but I'd guess [`Pa

[2022-04-13 15:19] monde commented on #1060
@BalaGanaparthi has PR #1061 for this

[2022-04-13 16:20] kasirajans commented on #1059
@BalaGanaparthi  thanks for the explanation. @monde  this happens for alll the resource which have option with priority. Also I’m planning to order the file with priority = [resource 1, resource 2, resource 3] instead hard coding the value so i wont do any typo as most of the tf code we do copy paste and chances of duplicating the priority are high. Currently we do see lots of duplication happens

[2022-04-13 17:07] pc-mrousseau opened #1062 "Okta API Optimization for /api/v1/apps*"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-13 18:18] monde commented on #1060
Updated the implementation in PR #1061

[2022-04-13 18:18] #1060 closed, assigned to monde

[2022-04-13 18:20] monde commented on #1062
@pc-mrousseau thank you for all of the detailed background. I'm in the middle of some upgrade work to the provider, hopefully I can see this addressed in that work as well.

[2022-04-13 18:31] pc-mrousseau commented on #1062
Amazing, thanks! Might be a great quality of life improvement for everyone.

[2022-04-13 21:02] dathdev opened #1063 "groups_action doesn't work with okta_idp_oidc due to Okta not supporting it, despite it being available in the provider documentation and the provider itself."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-13 21:10] monde commented on #1063
Thanks @dathdev , I'll be looking into this.

[2022-04-13 21:31] lucascantor commented on #1060
Amazing - @BalaGanaparthi and @monde thank you both so much.

Any chance a new release could be made to make this functionality available soon? 🙏🏼

[2022-04-14 00:11] #778 closed, assigned to nobody

[2022-04-14 02:55] naveen-vijay opened #1064 "Plugin error during okta_template_email creation"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-14 16:35] monde commented on #1064
Thanks @naveen-vijay . I'll be looking into this.

[2022-04-14 23:20] LeeTann opened #1065 "okta_auth_server_policy priority argument not working as expected"
### Expected Behavior

When setting the priority argument for okta_auth_server_policy from 1 to 10, I expect okta to sort the application from 1 to 10.

### Actual Behavior

I'm not sure what okta does behind the scene, but it does not always sort the app priorities in the correct order. Each time terraform apply happens, okta tries to sort it the app but misses the order of a few apps and put in

[2022-04-15 21:45] relsqui opened #1067 "Please enforce or at least document the group rule name length limit"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-15 22:02] monde commented on #1067
Hi @relsqui I can see updating the docs to say ["name of the Group rule (min character 1; max characters 50)" ](https://developer.okta.com/docs/reference/api/groups/#request-parameters-9) for the [group rule name property](https://github.com/okta/terraform-provider-okta/blame/master/website/docs/r/group_rule.html.markdown#L32). But I wouldn't want to get into the habit of putting granular input va

[2022-04-15 22:39] #1067 closed, assigned to monde

[2022-04-18 16:39] monde commented on #1065
Thanks @LeeTann , I'll be looking into this.

[2022-04-18 16:45] monde commented on #858
I'll be addressing this.

[2022-04-18 19:24] LeeTann commented on #1065
Thanks monde! Looking forward to see what you find and if there's a fix to this issue. Thanks again for looking into it

[2022-04-18 23:35] naveen-vijay opened #1071 "okta_idp_social attributes keeps reapplying the same changes everytime"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-19 00:37] monde commented on #1071
Thanks @naveen-vijay I will look into this.

[2022-04-19 00:54] monde commented on #1055
@BalaGanaparthi I looked at the monolith's source code and this error is coming from orgs having the `SHARED_APP_SIGN_ON_POLICIES` feature flag. I'm not sure why orgs have that FF. I'm updating the documentation for that resource.

[2022-04-19 00:54] #1055 closed, assigned to monde

[2022-04-19 16:38] relsqui commented on #1067
I don't quite follow the logic -- if the API changes, the documentation will also need to be updated, no? -- but I appreciate the quick response and the change. :)

[2022-04-19 16:56] monde commented on #1067
The Okta Terraform Provider has a layer of behavior it models on the public Okta API. The Okta core reflected through the public Okta API does input validation. The Okta Terraform Provider working as a small application that makes use of the Okta API should be doing the least amount of input validation as possible for a number of reasons. Okta API does input validation and coupling an open source

[2022-04-20 05:22] exitcode0 opened #1072 "Define Empty okta_group"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-20 13:29] fredifice opened #1073 "okta_app_oauth resource doesn't permit login_scopes to contain "groups""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-20 16:14] monde commented on #1072
Thanks @exitcode0 , it also seem buggy, I'll look into this.

[2022-04-20 17:15] monde commented on #1073
Thanks for the details @fredifice that will help me work this out.

[2022-04-21 05:29] exitcode0 commented on #1014
My workaround for this for now in case someone else comes across this issue

[code]

[2022-04-21 17:24] virgofx commented on #883
Hey @monde. Any insight on getting `features` supported via the actual API for an app. The read-only component of `features` isn't terrible; however, I have a few custom SAML apps where I configure `SCIM_PROVISIONING` in the API and every time the app is updated via the API (even when including the optional `features: ["SCIM_PROVISIONING"]`, it clears it out (Again, testing the API directly - not

[2022-04-21 17:45] monde opened #1074 "resource `okta_user_schema_property` having any `array_type` other than "string" and `array_enum` values"
There is a known issue with the Okta API underpinning the resource `okta_user_schema_property`. If the resource has a `array_type` other than "string" and an `array_enum` of values, then the Okta API will incur 500 errors. For example the [array_number.tf](https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_user_schema_property/array_number.tf):
[code]
Will cause this kind of

[2022-04-21 17:49] monde commented on #883
@virgofx I was not aware of this issue. I've pulled off the stale tag. I will hopefully be able to address it.

[2022-04-21 17:51] virgofx commented on #883
Thanks. Basically the original issue reference was to pull out features. That may or may not be useful as an enhancement. While investigating features, I did run into the separate issue noted above about features getting reset.

As noted in the provider docs - Features is READ_ONLY. This tends to work fine for any preconfigured SAML app. However, the new issue above is that for 100% custom SAML ap

[2022-04-21 17:53] monde commented on #883
I think @BalaGanaparthi is interested in helping out here also.

[2022-04-21 18:50] virgofx commented on #883
Bug Update: While I thought the UI might be error free ... I found an edge case where the Okta UI breaks. Since most of the other tabs have unique sectional endpoints ... they don't break; however, if you change the logo it removes the features/SCIM provisioning (and all SCIM configured settings as well).

Attached a screenshare of the bug:

![Animation](https://user-images.githubusercontent.com/7

[2022-04-22 00:12] #94 closed, assigned to bogdanprodan-okta

[2022-04-25 02:21] phaseOne commented on #979
Looks like #1001 unblocks further development to add new resources, right?

[2022-04-25 02:36] phaseOne commented on #1031
Is [the refactor_email_templates branch](https://github.com/okta/terraform-provider-okta/tree/refactor_email_templates) the intended destination for the work that will address the deprecation of this API with the addition of the email template endpoints in the Brands API (`EmailTemplate`* resources in golang SDK)?

[2022-04-25 13:15] monde commented on #979
@phaseOne that is correct. If you have a suggestion for a new resource / feature request please open an issue. Thanks!

[2022-04-26 00:33] dli-spoton opened #1077 "compound_search_operator argument missing from data.okta_users"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-26 06:00] karlsequeira opened #1078 "SAML Custom"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-26 15:40] monde commented on #1077
@dli-spoton we just did a release yesterday, I'll try and do a quick bug fix today.

[2022-04-26 15:40] mnovitsk commented on #1028
I'm also experiencing similar issues when creating a sign on policy. Whatever policy that is created via Terraform gets sent immediately to priority 1 regardless of what priority you try to assign to it. It seems like the backend API just defaults each new policy to priority 1 and then errors out when trying to assign it to whatever priority value was passed in the Terraform configuration.

[2022-04-26 16:23] mnovitsk opened #1079 "okta_policy_rule_signon identity_provider variable causing API error Invalid condition type specified: identityProvider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-26 16:35] monde commented on #1079
@mnovitsk I will look into this, seems like a regression off the just released v3.25.0. Can you pin your provider version to v3.24.0 and let me if you are seeing the correct behavior with that version?

[2022-04-26 17:59] mnovitsk commented on #1079
@monde Pinning the Okta Provider version to v3.24.0 removed the identity_provider variable API error, thanks. I tested assigning the priority of the okta_signon_policy to be lower than the default policy and I got an error:
[code]
I realize that this is not necessarily tied to this bug and is more appropriate to #1028 , but can I assume that Okta always sets the Tenant's default policy to be the l

[2022-04-26 18:13] monde commented on #1079
@mnovitsk I'm trying to get a bug fix out today and will address both the original bug and try to see if there is a fix and/or flexibility dealing with the error in v3.24.0 you are seeing.

[2022-04-26 18:46] pjebastingit opened #1080 "Unable to grant OKTA API scope using OAUTH 2.0 access token"
Hello,

Unable to grant okta API scopes (okta.users.read and okta.users.manage) using OAUTH 2.0 access token to service application. Terraform apply returns the below error, ERROR: failed to create application scope consent grant: failed to grant application api scope: the API returned an error: Invalid session, with okta_app_oauth_api_scope.<name> etc.. Getting the same error via postman test too

[2022-04-26 18:47] karlsequeira commented on #1078
I got it to work. Guess the documentation did not have it but the terraform plan did

      + user_name_template         = "user.getInternalProperty(\"id\")"
      + user_name_template_type    = "CUSTOM"

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_saml#subject_name_id_template

[2022-04-26 18:47] #1078 closed, assigned to monde

[2022-04-26 19:06] monde commented on #1078
Glad to hear this @karlsequeira , thanks for showing the details should someone search the issues for reference.

[2022-04-26 19:14] monde commented on #1080
Hi @pjebastingit we have the issue template format so you can provide more context to debug errors with the terraform provider. However, it sounds like you are asking for technical help, not reporting a bug. I'm not recognizing the error you are referencing. You might find some information in the API documentation https://developer.okta.com/docs/reference/api/apps/ . Also, you can open a support t

[2022-04-26 19:14] #1080 closed, assigned to nobody

[2022-04-26 21:17] monde commented on #1079
@mnovitsk I can't think of a way to deal with the priority issue with out hacking in retries. I've had a similar experience where I thought the API should correctly infer that if I add rules(s) mixed with existing rules, it should be able know the new position of existing rules. Like if there is a default rule which is 1. Then if I add two new rules, one priority 1, and the other priority 3; think

[2022-04-26 21:19] monde commented on #1077
I have a fix queued up in PR #1081 and am waiting for a colleague to review it before releasing.

[2022-04-26 21:19] monde commented on #1079
I have a fix queued up in PR #1081 and am waiting for a colleague to review it before releasing.

[2022-04-26 21:40] #1077 closed, assigned to monde

[2022-04-27 01:47] karlsequeira commented on #1062
Please do let me know if this can be looked at sooner. Getting this on a prod deployment [/api/v1/apps*]  and I cant deploy anything to prod as the plan wont complete. I am getting this on okta_app_user_schema_property but that references okta_app_group_assignment

[2022-04-27 02:56] monde commented on #1062
@karlsequeira can you post up some example terraform config representative of how you are seeing this? Give me an idea about numbers of objects we are talking about (users, groups, apps, etc.). It may not be related but if I can get an estimate of objects and objects types I might be able suss out subtle performance optimizations given the config example. You can also email me your config mike.mon

[2022-04-27 02:59] monde commented on #1062
@pc-mrousseau @karlsequeira , I had a typo on my previous comment about samples. Consider my request as being for each you. Thanks!

[2022-04-27 03:00] karlsequeira commented on #1062
Yes. I will send you an email . Do let me know if I can schedule a support call.  I have deployed these before and not had an issue. I can see if I can go to an older version of the provider. Really appreciate your help.

[2022-04-27 03:04] monde commented on #729
@karlsequeira can you give me a pseudo code example of what this config would look like if it existed? Also, seems like you read through the API documentation about the behavior, give me a link to what you referenced if you have that handy also.

[2022-04-27 16:14] iNoahNothing opened #1082 "Provider crashes when doing a data source lookup of an app with different type than the label it is using for the lookup."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-27 16:26] monde commented on #1082
Thanks for the specific details @iNoahNothing , that should make this easy to fix.

[2022-04-27 16:34] monde commented on #1082
Note to self:
in `dataSourceAppOauthRead` https://github.com/okta/terraform-provider-okta/blob/master/okta/data_source_okta_app_oauth.go#L155
Fetches list of apps based on label/name, assigns the first app assuming it is the intended app, doesn't inspect app type
https://github.com/okta/terraform-provider-okta/blob/master/okta/data_source_okta_app_oauth.go#L168-L186

[2022-04-27 17:04] monde commented on #1077
v3.25.1 is available in the terraform registry

[2022-04-27 17:04] monde commented on #1079
v3.25.1 is available in the terraform registry

[2022-04-27 19:54] pc-mrousseau commented on #1062
For the okta_app_group_assignment I believe it's in the 500-600 ballpark. The terraform is a bit tricky basically using a from json and for_each loop. Short answer is, it's many objects :)

[2022-04-27 20:18] karlsequeira commented on #1062
does it loop through all the users in the group as the group is just 1?

[2022-04-27 21:58] pjebastingit opened #1083 "resource "okta_app_oauth_api_scope" failed to grant application api scope: the API returned an error: Invalid session"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-04-28 14:08] exitcode0 commented on #1072
the issue seems to only crop up when creating a `group_memberships` resource with an empty `users` attr when the group has no users
I believe this is due to [these lines](https://github.com/okta/terraform-provider-okta/blob/51633d5d2fac4ce9fb1be22567739e7061f5b6b7/okta/resource_okta_group_memberships.go#L126-L128)

I've added some commits to my open PR for work in this file at #924

[2022-04-28 16:03] monde commented on #1083
@pjebastingit it looks like you aren't getting your config variables set up correctly for the client. This an error with accessing the API, not the API call or the implementation in the provider.

- https://developer.okta.com/docs/reference/error-codes/
- https://registry.terraform.io/providers/okta/okta/latest/docs#environment-variables
- https://stackoverflow.com/questions/27627631/okta-api-auth

[2022-04-28 16:03] #1083 closed, assigned to nobody

[2022-04-29 10:59] DenisBalan commented on #858
@monde if you will address it, then maybe also think about renaming into `risK_level`? instead of `risc_level`?

and also update documentation related to this.

[2022-04-29 15:19] monde commented on #858
@DenisBalan the risc/risk naming caught me up the other day as well.

[2022-05-03 01:01] alldoami opened #1084 "Associate `okta_inline_hook` with `okta_auth_server`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-03 07:22] exitcode0 opened #1085 "Failure to destroy okta_app_user_schema_property"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-03 15:16] monde commented on #1084
@alldoami I'll have to look into this. Thanks for linking to the documentation and explaining the context. That is very helpful.

[2022-05-03 15:19] monde commented on #1085
Thanks @exitcode0 . I think I have experienced this with other resources when running acceptance tests but don't recall the details. I will look into it.

[2022-05-03 18:55] flyweight opened #1086 "Assign Okta App to Sign On > User authentication > Authentication Policy"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-03 19:23] monde commented on #1086
Thanks for the explanation and API links @flyweight . I will have to look into this.

[2022-05-03 19:27] flyweight commented on #1086
Thanks @monde. Currently when an application is created, it is assigned to the "Default Policy". The `okta_app_signon_policy_rule` can be used to create another rule inside the "Default Policy" which is first-match, priority-based. Let me know if I missed something, or if you need more info.

[2022-05-03 21:58] virgofx opened #1087 "[3.25] `okta_app_user_schema_property` JSON errors"
Starting with version 3.25 the `okta_app_user_schema_property` now errors out for plan/applies/imports. Downgrading back to version 3.24 there are no issues.

[code]

### Terraform Version
Terraform v1.1.7

### Affected Resource(s)

- okta_app_user_schema_property

### Terraform Configuration Files
[code]

### Steps to Reproduce

I'm testing a default Google Workspace preconfigured App with `email

[2022-05-03 22:17] monde commented on #1087
Seems like the okta-sdk-golang upgrade had some type capabilities shift on it. Regressions make me so blue. Thanks for the details @exitcode0

[2022-05-03 23:21] alldoami commented on #1084
@monde Thanks for taking a look! Do you know when you'd have a response by?

[2022-05-05 04:41] exitcode0 opened #1088 "Unplanned changes - `okta_app_group_assignments`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-05 15:22] monde commented on #1088
Thanks @exitcode0 . I'm trying to wrap up new resources for the public branded email customization endpoints. I'll start knocking down bugs after that.

[2022-05-05 22:05] phaseOne commented on #1031
Yep looks like this will be resolved in #1089! Thanks @monde!

[2022-05-05 23:36] monde opened #1090 ":shipit:🚀 Okta Terraform Provider Roadmap 🚀:shipit:"
Last updated: 2022-05-25

We will be keeping the community up to date with our development roadmap for the Okta Terraform Provider in this sticky issue.

Our priorities can be broken down into three categories

- New features
- Performance Improvements
- Bug fixes

### New features

The Terraform team at Okta is actively adding more API coverage to the Okta Terraform Provider. We will continue to

[2022-05-06 02:12] bellis-ai commented on #580
so... Is this just left broken or something? Literally impossible to create an SPA App integration with this if I can't select "none" when setting an auth code flow.

The official documentation **explicitly** says to set this to none.
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_oauth#token_endpoint_auth_method

[2022-05-06 02:19] bellis-ai commented on #580
Nvm, looks like you just need to make sure the type is "browser" if you're going to make an SPA. It would help if the values of the "type" variable were made a bit more distinct in the documentation ("browser" vs "web"... really???)

[2022-05-06 05:55] monde commented on #580
I’ll update the docs, no problem!

[2022-05-06 16:54] monde commented on #713
[OKTA-441274](https://oktainc.atlassian.net/browse/OKTA-441274) is still on the backlog of the responsible internal team.

[2022-05-06 17:30] monde commented on #580
https://developer.okta.com/docs/reference/api/apps/#add-oauth-2-0-client-application

Parameter | Description | DataType
-- | -- | --
application_type | The type of client application | web, native, browser, or service

Application Type | Valid Grant Type | Requirements
-- | -- | --
browser | authorization_code, implicit |  
native | authorization_code, implicit, password, refresh_token | Must hav

[2022-05-06 17:42] #580 closed, assigned to monde

[2022-05-06 20:42] blazindrop opened #1093 "Cannot disable okta_policy_password.password_max_lockout_attempts; 0 value is ignored"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-06 21:01] monde commented on #1093
Thanks for digging down into the commits and giving context @blazindrop . That will help me grind down this regression.

[2022-05-07 01:57] monde commented on #1062
@karlsequeira @pc-mrousseau I did some digging on a scenario that @karlsequeira gave me. I have 38K users associated with a saml app. In my config I'm making use of data source `okta_app_saml` (but this would be true for `okta_app_oauth`, and `okta_app` as well). During plan the data source will fetch all of the users associated with the app. Here is the call stack.

- https://github.com/okta/terr

[2022-05-07 01:57] #1062 closed, assigned to monde

[2022-05-09 12:15] parente opened #1094 "okta_group_memberships undoes okta_group_rule users in >=3.26.0"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-09 16:33] monde commented on #1094
Thanks @parente , marking this as regression, I'm trying give these priority.

[2022-05-09 16:42] monde commented on #988
@frousselet the latest release of the provider includes these data sources and resources for brands and branded email customization. I'm working on the theme operations of the brands API this sprint.

  * Data Sources
    * `okta_brands`
    * `okta_brand`
    * `okta_email_customizations`
    * `okta_email_customization`
    * `okta_email_templates`
    * `okta_email_template`
  * Resources
    *

[2022-05-09 16:46] monde commented on #976
`/api/v1/features` support is in okta-sdk-golang now.

[2022-05-10 00:51] monde commented on #1010
Weird this didn't auto-closed.

[2022-05-10 00:51] #1010 closed, assigned to monde

[2022-05-10 09:09] exitcode0 opened #1097 "okta_resource_set - pagination causing cyclic updates"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-10 16:15] monde commented on #1097
Thanks @exitcode0 . I'm trying to get regressions and serious bugs knocked down this week.

[2022-05-10 21:36] ianwinsemius commented on #1025
So I have managed to successfully set a policy through the API with the endpoint
{{url}}/api/v1/apps/{{appID}}/policies/{{policyID}} on our OIE sandbox.

I'm curious, if the API endpoint exists, and is functional, does that imply that the terraform provider will include it at some point down the road?

[2022-05-10 22:12] monde commented on #1025
I see okta-sdk-golang has an `UpdateApplicationPolicy` on the application resource now:
https://github.com/okta/okta-sdk-golang/blob/66ce9052167bc3da973e2685c378a46937ae1dd5/okta/application.go#L852-L868
That was brought since this ticket was opened. So we can support updating a policy now. @ianwinsemius can you do a PR? I'm not sure when I might get to the coding on this otherwise.

[2022-05-11 08:57] boekkooi-lengoo commented on #1063
Hi all,

Today I started getting the same issue. It seems like this could be related to [Production Release 2022.05.0](https://help.okta.com/en-us/Content/Topics/ReleaseNotes/production.htm) since the exact same Terraform worked before our instance got updated.

Below is a sanitized request and response that I got from the logs.
To me this seems like another BC break in the Okta API.

Please let m

[2022-05-11 13:49] mrMoe opened #1098 "Cannot assign signon_policy_rule to OAuth app"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-11 17:43] lucascantor opened #1099 "okta_rate_limiting resource broken in latest Okta Preview release"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-11 17:52] monde commented on #1099
@lucascantor I'll have to discuss this one with the team if it will be fixed. It is built upon a private/internal API. I'm not sure looking at the issues leading up to the release the justification to do so. As a rule, we try to only interact with Okta through the public APIs that are documented. As it seems you have discovered an internal API changing without notice.

- https://github.com/okta/te

[2022-05-11 17:54] lucascantor commented on #1099
Thanks @monde

I suppose in the meantime, our only option is to remove `okta_rate_limiting` resources from Terraform state?

[2022-05-11 18:03] monde commented on #1099
@lucascantor do you think you could do a PR to fix it? Typically each resource has an acceptance test but okta_rate_limit does not. I see a `okta/resource_okta_rate_limiting.go` it should also have a `okta/resource_okta_rate_limiting_test.go` file.

[2022-05-11 18:47] lucascantor commented on #1099
Would a test fix this for `okta_rate_limiting` resources already in Terraform state though?

I wasn't even able to remove ours, and instead decided to run `terraform state rm okta_rate_limiting.rate_limiting` manually.

Regardless, I'm so sorry, but I'm unfortunately completely unfamiliar with go, and wouldn't have the knowledge or time to work on a PR to for a test for this right now.

[2022-05-11 23:10] virgofx commented on #883
Hey @monde - were you ever able to reproduce the issue above?

[2022-05-12 04:35] exitcode0 opened #1100 "okta_user_base_schema_property - master_override_priority"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-12 10:30] frousselet commented on #988
Hi @monde,

Thanks for the update!

What are the differences between data sources with an `s` and those without?

[2022-05-12 15:02] hueydn opened #1101 "Failed to sync groups and users for OAuth application... context deadline exceeded"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-12 16:08] rohithudupa opened #1102 "Issue with Adding DUO factor using okta_authenticator"
arguments required for duo factor host , integrationKey, secretKey are not available in terraform to configure DUO.

But the documents mention, terraform supports DUO configuration.

okta_authenticator functions are missing parity between the UI console and the API and probably identify all the Authenticators.

[2022-05-12 16:40] gabelazo commented on #1063
We're also having same issue starting this week.

[2022-05-12 16:46] monde commented on #1098
@mrMoe are you able to do this in the Okta UI? As the error indicates, your org might not have the right features for this. Would like to get confirmation before looking further.
Also, if you inspect your API calls with postman/curl/etc you can look at the links meta data in the response to `GET /api/v1/apps/{appId}` if you don't see `accessPolicy` in the links then your org can't do this.
https:/

[2022-05-12 16:47] monde commented on #1100
Thanks @exitcode0, hopefully time opens up to address this.

[2022-05-12 16:55] monde commented on #1101
@huy-keydata are you sure you setting up your resource correctly? That error occurs when `implicit_assignment` is not present.

Here are the docs:
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_oauth#argument-reference

This the code
https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_app_oauth.go#L513-L519

[2022-05-12 16:56] monde commented on #1102
@rohithudupa per internal discussion, I will remove reference to Duo in the docs until the feature is complete in the provider.

[2022-05-12 16:59] monde commented on #1099
@lucascantor I'll see if this feature still exists in the UI and if I can tweak the resource to have the previous behavior. If the endpoint is gone or its behavior has changed substantially the resource may have become obsolete. I'll post status when I get it.

[2022-05-12 17:06] hueydn commented on #1101
I'm not setting implicit_assignment since it was optional and I never used it in the past. What is the default value for it? I see its an early adopter feature and like I said i run this same config in 5 other environments but it fails in our highest env which is production and has over 275k users

[2022-05-12 18:24] mrMoe commented on #1098
@monde it seems you are right.
I do not get any `accessPolicy` in the get request.
But I had no problem adding the MFA signon rule through the UI.
That was when I expected the api to be able to create it as well and ignored the error.
Does it matter if the Okta environment is Okta-Preview?

[2022-05-12 18:47] monde commented on #1098
@mrMoe great, thanks for the confirmation/explanation of the behavior you are seeing. Marking this a bug. Seems like the logic in the provider is incorrect.

[2022-05-12 20:58] ghost opened #1105 "Terraform module for Citrix NetScalar SAML application"
I'm able to create a Citrix NetScalar SAML application using Okta APIs using the below payload to` /api/v1/apps` endpoint. How can I do this through terraform?

`{
    "name": "citrixnetscalergateway_saml",
    "label": "Citrix API 2",
    "signOnMode": "SAML_2_0",
    "settings": {
        "app": {
            "baseUrl": "cxvxvx",
            "acsURL": null,
            "url": "https://example.co

[2022-05-12 21:42] monde commented on #1105
Hello @wellskyvasudev . The TF documentation for okta_app_saml and okta_app_saml settings are here:
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_saml
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_saml_app_settings
After doing your own investigation, if you can't make progress I'd suggest opening a support ticket https://support.okta.com/

[2022-05-12 21:42] #1105 closed, assigned to nobody

[2022-05-12 22:06] monde commented on #1105
@wellskyvasudev forgot to mention, if you run terraform with env var `TF_LOG=1` you can see all the HTTP request, headers, and body of you plan/apply, etc printed to stdout. As you already experimented with direct API calls you can triangulate your terraform config by cross referencing your curl/postman log with the tf log.

[2022-05-13 01:51] gabelazo opened #1106 "okta_idp_oidc has stop working due to api validation"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-13 13:21] hueydn commented on #1101
I noticed this "implicit_assignment" is an early access feature so it seems the issue is that my app is assigned the "everyone" group so that when terraform runs it goes through all the user and groups assignments and times out. In my tenant I'm not sure which early access feature i should enable because i don't see the options to turn this on in the Early Access Features because I don't see the s

[2022-05-13 17:09] monde commented on #1106
I'll be looking into this @gabelazo

[2022-05-13 21:49] #1093 closed, assigned to monde

[2022-05-13 22:46] alldoami commented on #1084
@monde any luck?

[2022-05-14 00:01] mvitt commented on #884
This still seems to be happening. Can this be reopened please?

[2022-05-16 02:27] dbalmain commented on #1106
We ran into this issue and managed to get it working by adding:

[code]

These parameters aren't documented anywhere for `okta_idp_oidc` but they do work. Also, I'm not sure what the default value was before setting this but this seems to work fine.

[2022-05-16 06:50] tkjwa commented on #887
:+1:

[2022-05-16 15:07] thomasliasn opened #1110 "Admin role is removed/added on alternating "apply"s"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-16 16:50] monde commented on #1106
Thank you @dbalmain . When I get to this ticket I'll verify the defaults and include example `request_signature_algorithm` and `request_signature_scope` that you've noted.

[2022-05-16 16:52] monde commented on #884
@mvitt we can reopen this issue. Can you give me a sample of your Terraform config and a description of your context (number of users, number of app, number of groups, etc.). What version of the provider are you using.

[2022-05-16 17:45] monde commented on #887
@tkjwa just double checking, you want to have `system` exposed as an attribute, correct? In the Okta API that property is read-only. It would be listed as an attribute here https://registry.terraform.io/providers/okta/okta/latest/docs/resources/auth_server_scope#attributes-reference

Investigating with postman making API calls against the Okta API against the org we use for the provider's testing:

[2022-05-16 17:49] monde commented on #1110
Thanks @thomasliasn I'll have to look into this.

[2022-05-16 18:35] PurrBiscuit opened #1111 "No application found error from `okta_app` data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-16 19:13] tkjwa commented on #887
Hi @monde 

That's correct !

Regarding the 400 error, it is impossible to change the "system" attribute, so there could be some kind of validation after the scope is in the state

What I want to achieve is:

*   import a sytem scope (created by okta with the auth server) which has a system=true attribute
*   then i want to update this scope using TF (not update the system attribute itself which i

[2022-05-16 21:35] damianharden commented on #1110
@thomasliasn, I think if you change this:

[code]

to this:

[code]

then you will no longer experience this issue.

This is as per the documentation for the okta_user_admin_roles resource (https://registry.terraform.io/providers/okta/okta/latest/docs/resources/user_admin_roles):

[code]

[2022-05-17 15:11] thomasliasn commented on #1110
Thank you, I can confirm that this solves the issue!

[2022-05-17 15:11] #1110 closed, assigned to monde

[2022-05-17 16:08] monde commented on #988
Released v3.27.0, it includes:
  * Data Sources
    * `okta_themes`
    * `okta_theme`
  * Resources
    * `okta_theme`

Please check the documentation. All of the data sources and resources now exists to produce this behavior, but in a more flexible manner. @frousselet the example resource in this initial request `resource "okta_branding"` is describing what is available in the [Themes API](https

[2022-05-17 16:08] #988 closed, assigned to monde

[2022-05-17 18:45] #887 closed, assigned to nobody

[2022-05-17 20:35] schirayu-athenahealth opened #1114 "Error: failed to create user custom schema"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-17 21:28] monde commented on #1114
@schirayu-athenahealth you are using v3.10.1? I'm not sure I'm going to be able to help here given the amount of issues on the backlog. We are on v3.27.0 released this Friday.  v3.10.1 was released more than a year ago Feb 26, 2021. Please open a support ticket if this needs to be escalated more quickly https://support.okta.com/

[2022-05-17 23:19] dawoudt-okta commented on #1029
@monde @E-RELevant  check out the updated documentation at https://developer.okta.com/docs/reference/api/schemas/#description-details

[2022-05-18 00:47] monde commented on #1029
I'll have to add this in to `okta_app_user_schema_property` now, re-opening

[2022-05-18 00:48] monde commented on #1029
need to get okta-sdk-golang updated for this also. Okta API -> okta-sdk-golang -> terraform-provider-okta

[2022-05-18 00:49] #1111 closed, assigned to monde

[2022-05-18 08:00] faurel commented on #1051
Hi @monde, @stteads seems that this feature is partially implemented in latest provider version (tested with v3.27.0). However there is a typo in the permission name please check out #1116

[2022-05-18 08:55] erelado opened #1118 "okta_app_oauth `issuer_mode` inconsistency"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-18 10:22] erelado commented on #1029
@monde, @dawoudt-okta I appreciate your help. Do you have a timeframe for implementing the Terraform solution?

[2022-05-18 10:24] tkjwa commented on #887
Thank you @monde !

[2022-05-18 15:03] monde commented on #887
This will be in Friday's release v3.28.0, thanks

[2022-05-18 16:31] boekkooi-lengoo commented on #475
Shouldn't this issue be reopened?

[2022-05-18 17:27] monde commented on #475
Hi @boekkooi-lengoo there isn't a Radius application type in Okta's Public API https://developer.okta.com/docs/reference/api/apps/ . As a rule, the terraform provider interacts with Okta's public API through okta-sdk-golang. Please open a support ticket asking for Radius application support in the public API so that your request is noted within our internal tracking.

[2022-05-18 20:42] monde commented on #1118
I'll be looking into this @E-RELevant

[2022-05-18 21:11] monde commented on #1051
I have this PR open to get the API docs updated https://github.com/okta/okta-developer-docs/pull/3353 , I'll take @faurel's PR #1116

[2022-05-18 21:31] monde commented on #1051
#1116 closes this and will be released on Friday

[2022-05-18 21:31] #1051 closed, assigned to monde

[2022-05-19 18:06] dli-spoton opened #1119 "Perma-drift in okta_group_memberships resource with more than 200 members for >=3.26"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-19 18:20] monde commented on #1119
Thanks @dli-spoton , this might be related to another group state I'm working on.

[2022-05-19 22:53] monde commented on #1094
@parente I have this PR #1120 that fully documents the `okta_group_memberships`. @exitcode0's #924 actually fixed the resource which in turn exposed questionable behavior your config assumed was true. In your example I'd suggest adding a lifecycle to ignore the `users` argument on `okta_group_memberships`. If anything adds users to Group A outside of the control of `okta_group_memberships.group_a_

[2022-05-19 23:59] monde commented on #1099
@lucascantor even though the endpoint is private, and could switch out without notice, it still works for me. Added an acceptance test in this PR #1121 . Ran it against a production org and a preview org.
[code]
I also went and looked at Okta's source that manages this part the API. There are some guards on the code to ensure the API key has permission to manage rate limits on POST and read rate l

[2022-05-20 00:04] monde commented on #1099
[code]

[2022-05-20 00:16] monde commented on #1119
@dli-spoton this is a duplicate of #1121 . The old behavior was a bug. You can get around the plan change noise with an ignore on users.
[code]
The documentation is getting updated in the next release https://raw.githubusercontent.com/okta/terraform-provider-okta/d9c0d3b13f0d83862f9bb4c19774ac09c013752f/website/docs/r/group_memberships.html.markdown

**Important**: When the group memberships resou

[2022-05-20 01:05] parente commented on #1094
@monde Thanks for getting back to me and with a lengthy test case. I agree that `ignore_changes` on `users` will prevent the `okta_group_memberships` resource from removing any users added by the rule. Please correct me if I’m misunderstanding, but won’t that also ignore any future manual changes to the `okta_group_memberships` users list as well? ? If so, would that inhibit our use case of managi

[2022-05-20 01:14] monde commented on #1094
@parente imo, okta_group_memberships has to be utilized in one of three ways. First, it is the source of truth, only it adds/removes users, it's state is absolute truth. Second, if users can be added/removed from groups outside of that resource you either need to ignore drift as that is meaningless. Third, import its state periodically (fetching new user ids) before looking at a new plan.

Seems l

[2022-05-20 01:25] parente commented on #1094
I definitely want to have it both ways as you say 😁 , but I’m not sure the third way you mention will work. I’d need to leave `users` unignored so that I can continue to add and remove members using `okta_group_memberships`. If an `okta_rule` adds users externally, I can do a `terraform import` to get them in the state. But then the `okta_group_memberships` will immediately remove them on next app

[2022-05-20 01:36] lucascantor commented on #1099
@monde thank you. Our API key's permissions are definitely unchanged, but maybe this due to our org being in OIE or in a certain cell?

Either way, if you can't reproduce the issue, then I'm happy to close it and revisiting this later, as the `okta_rate_limiting` resource certainly isn't the most critical for us to manage via Terraform.

[2022-05-20 11:06] tmatilai commented on #1094
We also want to have a way to add individual users to a group with the `okta_group_memberships` resource, while most users are added with `okta_group_rule` based on their other group memberships.

If there is no easy/good fix for this, maybe using a collection of `okta_group_membership` (singular) resources would work in this use case? Downside is the required migration of state.

[2022-05-20 11:37] tmatilai commented on #1094
Oh, the `okta_group_membership` resource has been deprecated. 🙄

EDIT: which is not stated [in the docs](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/group_membership) btw

[2022-05-20 15:07] noinarisak commented on #475
Hey @boekkooi-lengoo and @dsalaza4, can one of you also submit this to https://ideas.okta.com/ and the other vote on it? The increase visibility to other customers help increase possibility/priority on to the APIs roadmap. 😉

[2022-05-20 16:16] monde commented on #1094
@noinarisak @exitcode0 do you all have have the experience if re-importing the user ids for the `okta_group_memberships` if users have been added to the group it represents, but outside its operation of adding said users?

[2022-05-20 16:22] monde commented on #1094
@tmatilai right, when you see a gap in the docs please feel free to do a quick edit and PR. I did so with this one #1122

[2022-05-20 16:41] ReeceBlack123 opened #1124 "Allow for fetching new client_secret from exsiting okta_app_oauth"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-20 16:44] monde commented on #1124
@ReeceBlack123 I could see how this could be viewed as a bug, adding that label also. Are you interested in working with me on coding up a PR?

[2022-05-20 16:49] ReeceBlack123 commented on #1124
@monde I am happy to pair with you to code up a PR 😄

[2022-05-20 16:53] monde commented on #1124
Right, the backlog of issues is deep and I'm also creating new resources to support the greater features in OIE, so if I could get you to code a fix that would be very helpful. I'll help out for sure.

[2022-05-20 17:13] monde commented on #1099
@lucascantor the only thing that changed is your org was updated to OIE? If you run apply with TF_LOG=1 on can you show me the POST and response bodies again? I wonder if the response body is empty or at least missing `granularModeSettings`

[2022-05-20 17:46] dli-spoton commented on #1119
@monde sorry, maybe I'm misunderstanding, but not sure how the lifecycle block to ignore changes to `users` would help here. I'm using this resource to manage group membership, and ignoring changes to `users` would mean it can't be used to do that.

To clarify, this is an issue that exists in isolation. If I use `okta_group_memberships` to add 250 users to a group, when I run it again, it'll show

[2022-05-20 17:54] monde commented on #1119
@dli-spoton excellent clarification. I'll reopen this issue and see if I can reproduce it on a group with 201+ users.

[2022-05-20 18:26] virgofx commented on #1087
Any chance this could get prioritized for next release @monde , thanks :)

[2022-05-20 21:01] lucascantor commented on #1099
@monde our org was updated to OIE, but to be clear, that happened a long time ago, well before we even started using the Okta Terraform provider at all.

Regardless, I already ran `terraform state rm okta_rate_limiting.rate_limiting` to remove this resource from Terraform state manually the other day.

Planning to re-create the resource succeeds, FWIW, but I unfortunately already deleted the origi

[2022-05-20 21:27] monde commented on #1119
@dli-spoton next release I have your fix! A very subtle pagination bug was introduced but I have it fixed https://github.com/okta/terraform-provider-okta/pull/1125/files#diff-cf53d90b17764eaa2d64989fd8ca24c0a728427b36036cdfd425b73d97e8f1f2R20

[2022-05-20 22:37] kellycampbe opened #1126 "okta_policy_rule_signon SPECIFIC_IDP Quit Working With Provider Version 3.25.1"
Starting with provider version 3.25.1 when creating _okta_policy_rule_signon_ with _identity_provider  = "SPECIFIC_IDP"_ it is no longer selecting the IdP.

Below is example Terraform.

[code]

On provider version 3.25.0 when running the Terraform it creates this rule:
![image](https://user-images.githubusercontent.com/24887992/169620702-f5e116a4-b65c-4129-b07b-9ba99061d974.png)

On version 3.25.1

[2022-05-20 23:13] monde commented on #1126
Thanks @kellycampbe I'll look into this.

[2022-05-20 23:23] monde commented on #1087
@virgofx the acceptance test isn't kicking off the issue you are having. It uses this TF https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_app_user_schema_property/basic.tf . How does your config look different? Email me directly if you don't to show it in the public.

[2022-05-21 09:32] mcrobbj-SilverBullet opened #1128 "'com.okta.telephony.provider' not supported for inline hooks"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-22 06:01] pmatpadi opened #1129 "okta_theme resource fails to apply"
**Terraform plan clearly shows the brand_id, yet apply step fails with error "brand_id required to create theme"**

Plan output
---------------------

Terraform will perform the following actions:

  # okta_theme.bl-theme will be created
  + resource "okta_theme" "bl-theme" {
      + background_image_url                   = (known after apply)
      + brand_id                               = "bnd3

[2022-05-22 06:19] pmatpadi opened #1130 "resource okta_brand fails to apply"
Okta brand fails to update. brand_id is a valid value

GET 'https://bl-poc-hub1.oktapreview.com/api/v1/brands'

[{"id":"bnd3p0az1vLQRownC1d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://<oktaorg>/api/v1/brands/bnd3p0az1vLQRownC1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://<oktaorg>/api/v1/brands/bnd3p0az1vLQRownC1d7","hints":{"allo

[2022-05-23 04:54] exitcode0 commented on #1094
Not sure i follow what's being asked here. If the resource is `terraform rm`'d and then re-imported the resource in state should have the user IDs for all users currently in the okta group? is this what you were asking @monde?

<hr>

It could be possible to support some additional use-cases here by adding some additional attribute(s) to the `okta_group_memberships` resource similar to `skip_groups

[2022-05-23 07:33] boekkooi-lengoo commented on #475
@noinarisak I'm not sure this is still valid because they are launching? some new ideas program (at least) that what I see with most items in ideas.okta.com.

[2022-05-23 10:46] reecewilliams7 commented on #1130
If it's any help - I had the same issue and was able to work around it by first importing the existing brand into state.

[2022-05-23 10:47] reecewilliams7 commented on #1129
As per your similar brand issue - I had the same issue and was able to work around it by first importing the existing theme into state.

[2022-05-23 15:04] natefredette commented on #1106
Have also started seeing this very same issue as of today in our terraform provider:
```Error: failed to create OIDC identity provider: The API returned an error: Api validation failed: IdpTrust. Causes: errorSummary: The protocol.algorithms.request object cannot be left blank.```

This is significantly affecting our ability to push changes to our auth server. Any idea of an ETA for a possible fix

[2022-05-23 17:11] monde commented on #1128
Thanks @mcrobbj-SilverBullet , I did a quick fix #1132 , it will go out today when I do a v3.28.0 release.

[2022-05-23 17:16] monde commented on #1129
Hi @pmatpadi . See the docs https://registry.terraform.io/providers/okta/okta/latest/docs/resources/theme , you have to import your theme first before you can modify it. `Themes can only be updated through the Okta API. Therefore this resource only gets and updates a theme.` There is also a note about it in the example usage.

[2022-05-23 17:16] #1129 closed, assigned to nobody

[2022-05-23 17:16] monde commented on #1130
Hi @pmatpadi . See the docs https://registry.terraform.io/providers/okta/okta/latest/docs/resources/brand , you have to import your brand first before you can modify it. `Brands are can only be updated through the Okta API. Therefore this resource only gets and updates a brand.` There is also a note about it in the example usage.

[2022-05-23 17:16] #1130 closed, assigned to monde

[2022-05-23 18:26] monde commented on #1126
The regression seems to be in 0ebeae7c5e062a084809397ca93b194cdef17a94 that fixed https://github.com/okta/terraform-provider-okta/issues/1079

[2022-05-23 19:29] virgofx commented on #1087
So after more investigation, the issue occurs when attempting to import/apply when crossing over between 3.24 to separate version. There must be some sort of JSON/data incompatibility.

When I removed the resource, then upgraded to 3.27 and then re-applied, everything works.

So I'll close this issue for now as there is a workaround. If anyone experiences this, simply remove the resources via old

[2022-05-23 19:49] virgofx commented on #1087
Ack. I was testing with 3.24 actually. Ignore previous comment. Investigating further.

[2022-05-23 21:58] #1094 closed, assigned to monde

[2022-05-23 21:58] #1099 closed, assigned to monde

[2022-05-23 21:59] #1119 closed, assigned to monde

[2022-05-23 21:59] mcrobbj-SilverBullet opened #1135 "Support for Identity Engine (authenitcation policies and rules)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-05-23 21:59] #1128 closed, assigned to monde

[2022-05-23 22:01] #1126 closed, assigned to monde

[2022-05-23 22:46] monde commented on #1064
@naveen-vijay `okta_template_email` deprecated now. Please switch over to the `okta_email_customization` resource.  https://registry.terraform.io/providers/okta/okta/latest/docs/resources/email_customization

[2022-05-23 22:46] #1064 closed, assigned to monde

[2022-05-23 22:47] monde commented on #1031
@tgoodsell-tempus @phaseOne `okta_template_email` is deprecated now. Please switch over to the `okta_email_customization` resource.  https://registry.terraform.io/providers/okta/okta/latest/docs/resources/email_customization

[2022-05-23 22:47] #1031 closed, assigned to monde

[2022-05-23 22:48] monde commented on #816
@Marek26 `okta_template_email` is deprecated now. Please switch over to the `okta_email_customization` resource.  https://registry.terraform.io/providers/okta/okta/latest/docs/resources/email_customization

[2022-05-23 22:48] #816 closed, assigned to monde

[2022-05-23 22:52] monde commented on #1087
@virgofx send me a snippet of your config. I was going to do a release today but will be tomorrow. Perhaps this will make it in.

[2022-05-23 22:56] exitcode0 commented on #1135
#1025 exists for updating the app signon policies to support assiciation with apps
[policy_profile_enrollment](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_profile_enrollment) and [policy_profile_enrollment_apps](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_profile_enrollment_apps) might be what you're after for your related links

[2022-05-23 22:58] monde commented on #1135
We have `policy_profile_enrollment` "This resource allows you to create and configure a Profile Enrollment Policy."  https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_profile_enrollment and `policy_profile_enrollment_apps` "This resource allows you to manage the apps in the Profile Enrollment Policy. " https://registry.terraform.io/providers/okta/okta/latest/docs/resou

[2022-05-23 23:18] monde commented on #1118
@E-RELevant, double checking you have a custom domain set up correctly for this? I just did a quick fiddle with this in our acceptance testing harness `Error: failed to create OAuth application: the API returned an error: Api validation failed: issuerMode. Causes: errorSummary: issuerMode: 'issuerMode' can not be set to CUSTOM_URL without a custom domain configured.`. Clearly, we don't have a cust

[2022-05-23 23:24] monde commented on #1101
@huy-keydata I'm not sure about all of the settings you are needing here. Can you open a support ticket for that kind of help? https://support.okta.com/ .

[2022-05-23 23:29] monde commented on #1102
Documentation updated in #1103 and released in v3.27.0 . Duo is not supported by the public API for now, I'm closing this issue for now.

[2022-05-23 23:29] #1102 closed, assigned to monde

[2022-05-24 00:27] virgofx commented on #1087
Here ya go @monde

I was a little swamped today so wasn't able to debug. If you're able to check it out before me, great ;P
[code]
[code]

[2022-05-24 06:50] tmatilai commented on #1094
@monde was this issue closed by accident? I don't think the added test offers any resolution to the issue. 😅

[2022-05-24 07:30] mcrobbj-SilverBullet commented on #1135
I think what you suggested covers the policy but not the rule, here are
some of the details in the rule that I dont see covered:

rulename
usertype ( with conditional list is selected ["user"]
groupMemberships (inclusion and exclusion groups)
Users ( list of users)
devicePlatform   ( with conditional list is selected ["ios","android",
"windows", "macos"]
UsersIP
Risk
CustomExpression
Access is ((

[2022-05-24 08:40] exitcode0 commented on #1097
changing the following code at
https://github.com/okta/terraform-provider-okta/blob/master/okta/resource_okta_resource_set.go#L145
[code]
then TF apply sample HCL with `export TF_LOG=INFO`
shows that the `resp.Self` and `resp.nextPage` are not being populated
meaning pagination code isn't running
suspect something to do with [request executor](https://github.com/okta/terraform-provider-okta/blob/m

[2022-05-24 17:06] #1072 closed, assigned to monde

[2022-05-24 17:36] monde commented on #1087
@virgofx granted my ACC test is with an oauth app in #1140 , even so, I'm not getting your serialization error.
I'd like to see the TF_LOG=1 output of your plan/apply/test. The serialization error seems to be coming from okta-sdk-golang and not the TF provider itself. Perhaps there aren't flexible enough guards on serialization of an object of nested objects (e.g. `UserSchemaAttributeItems.definit

[2022-05-24 18:39] monde commented on #1087
Paired with @virgofx . Looks like the return from the API is not matching the schema in https://github.com/okta/okta-management-openapi-spec which in turn is causing a serialization error in okta-sdk-golang. He'll open a bug on okta-sdk-golang.