[2020-12-15 18:24] venkatakanupuru opened #240 "Terraform resource for custom sign in widget."
Hi Team,

Can you please suggest how I can automate/ implement custom sign in widget using terraform ?(UI steps are listed below)
Are there any terraform resources available for direct implementation or should I use third party / external tools ?

Okta-hosted Sign-In Widget
Edit the sign-in page
Change the Okta Sign-In Widget version
1.To make changes to the major and minor versions, select Edit i

[2020-12-15 18:33] lohman commented on #236
@bogdanprodan-okta awesome...  That would be a good one for the docs.  Thanks very much.

[2020-12-15 18:33] #236 closed, assigned to nobody

[2020-12-15 18:55] bryantbiggs commented on #223
closed with #220

[2020-12-15 18:55] #223 closed, assigned to nobody

[2020-12-15 18:59] bogdanprodan-okta commented on #237
Hi @mcrobbj! Thanks for creating this issue! I'll check it shortly and will get back to you asap.

[2020-12-15 19:01] bogdanprodan-okta commented on #232
Hi @nickerzb ! I've merged your PR and it's now available in v.3.7.0 of the provider. Thanks again for fixing this issue!

[2020-12-15 19:02] bogdanprodan-okta commented on #227
Hi @pranjalranjan! I've merged PR that should've fixed this and it's now available in v.3.7.0 of the provider. Thanks again for creating this issue!

[2020-12-15 19:11] bogdanprodan-okta commented on #214
Hi everyone! This is still a rate-limiting issue for big terraform plans, but there is #187 PR which should fix this issue to avoid long periods of sleep during the `apply` process. There is also a plan to add logs to all the resources so it's clearer what is going on. In v3.7.0 a `log_level` option was introduced (`error` is the default one), so now it's possible to adjust the log level. Some of

[2020-12-15 19:15] bogdanprodan-okta commented on #205
Hi @dusan-dragon! Sorry for such a late reply. There is an intention to review and update all the documents in Okta terraform provider, so supposedly all the fixes will be published in v3.7.2.

[2020-12-15 22:53] tgoodsell-tempus commented on #240
There does not appear to be a management API for the Okta UI modifications, therefore this would not be something that this terraform provider could do for you.

Reference: https://developer.okta.com/docs/reference/

[2020-12-15 22:53] tgoodsell-tempus commented on #237
Probably requires a new resource associated with the OAUTH apps?

Reference: https://developer.okta.com/docs/reference/api/apps/#application-oauth-2-0-scope-consent-grant-operations

[2020-12-15 22:58] tgoodsell-tempus commented on #235
There does not appear to be API support for managing the self-service registration options. Therefore this terraform provider would not be able to support managing it either.

Reference: https://developer.okta.com/docs/reference/

[2020-12-15 23:31] khitrenovich opened #241 "Fresh v3.7 crashes on refresh of user attributes resources"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-16 08:50] bogdanprodan-okta commented on #241
Hi @khitrenovich ! Thanks for submitting this issue! This error occurs if `user_type` is empty, so instead of returning not found error, Okta API returns a list of user types, which courses mentioned error.
I've managed to reproduce it with the following example.
[code]
Probably today I will fix this issue and release v3.7.1

[2020-12-16 09:38] mcrobbj commented on #237
I think so, you also probably need the do the get for existing okta scopes such as okta.users.manage as the api's work off id's rather than names.

[2020-12-16 09:50] bogdanprodan-okta commented on #241
As it turns out, terraform sets `"user_type": ""` in the state file. You can fix this issue by setting `"user_type": "default"` manually.

[2020-12-16 12:40] bogdanprodan-okta commented on #241
I've created PR that fixes this issue #242. Fix probably will be released today.

[2020-12-16 12:41] khitrenovich commented on #241
@bogdanprodan-okta I'm somehow hesitant to patch our production state files manually. Hope to see v3.7.1 out soon!

[2020-12-16 13:44] bogdanprodan-okta commented on #241
@khitrenovich new version v.3.7.1 has been released! Please try to refresh the state again to check if the issue still exists.

[2020-12-16 14:19] bogdanprodan-okta commented on #212
Hi @brandongblack! There is a new 3.7.1 version of the provider with `key_name` in the documentation. Could you please try using that to create new certificate?

[2020-12-16 14:36] brandongblack commented on #212
Excellent thank you for the update! - will give it a try

On Wed, Dec 16, 2020 at 8:19 AM bogdanprodan-okta <notifications@github.com>
wrote:

[2020-12-16 16:18] nickerzb commented on #232
https://github.com/oktadeveloper/terraform-provider-okta/pull/244

Found another issue.  I can't reference that default idp discovery policy due to the default name being different on this policy type (for some reason).  That should probably be consistent by default in the tenant, but I can't control that.

[2020-12-16 17:52] khitrenovich commented on #241
@bogdanprodan-okta I'll know for sure in a couple of hours, but for now I've tested the fix in one of our lower environments and it looks fine. Thank you for the quick turnaround!

[2020-12-16 19:25] noinarisak commented on #235
Hi @venkatakanupuru! @tgoodsell-tempus is correct. Sorry! 😞

[2020-12-16 19:28] khitrenovich commented on #241
I can confirm that the fix worked, we can close the issue. Thank you!

[2020-12-16 19:28] #241 closed, assigned to bogdanprodan-okta

[2020-12-16 19:56] venkatakanupuru commented on #235
Hi @tgoodsell-tempus @noinarisak, Is there any work around for this ?
How can we automate it ? Any suggestions please.
I am looking for both okta self service registration and customizing sign in widget.

Thank you

[2020-12-16 20:51] noinarisak commented on #235
@venkatakanupuru Unfortunately, only option which is not ideal since it is fragile approach, is a web crawler/browser simulation using something like Selenium, but I don't recommend it.

Please submit a Okta idea at https://support.okta.com/help/s/article/Okta-Ideas-Overview-FAQ?language=en_US so the request is visible outside of this repo. Thanks and sorry again!

[2020-12-16 21:15] #227 closed, assigned to nobody

[2020-12-16 21:18] pranjalranjan commented on #227
Thanks @bogdanprodan-okta for merging the PR with 3.7.0. This is good to go! :)

[2020-12-17 08:49] bogdanprodan-okta commented on #234
Hi @recintoit ! Thanks for the investigation and detailed output. I will get back to you with the solution to this problem.

[2020-12-17 09:59] bogdanprodan-okta commented on #201
Hi @btsteve! This issue will be fixed in the new 3.7.2 version so after the import `key_name` and `key_years_valid` will be set to `null`

[2020-12-17 10:29] bogdanprodan-okta commented on #204
Hi @duy-ng-12354! I don't think RPC errors have something to do with the provider itself, it's likely related to the connectivity issues.

[2020-12-17 11:09] bogdanprodan-okta commented on #202
Hi @SBerda ! Thanks for creating this issue! I've made an investigation and two things came up:
1) when providing `grant_type_whitelist = ["implicit"]` at least `user_whitelist` or `group_whitelist` should be present, otherwise, Okta API will return this error:
[code]
2) there is a bug in the code that leads to this panic. I'll fix that in the new v3.7.2 version.

[2020-12-17 16:19] khitrenovich opened #246 "Retry Okta API requests on connection errors"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-17 17:36] khitrenovich commented on #246
Another related error I just spotted -
[code]

[2020-12-17 21:22] karlsequeira opened #247 "Enable voice call"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-18 06:59] bogdanprodan-okta commented on #201
Hi @btsteve! The issue should be fixed in the latest 3.7.2 version. In case it still exists, please reopen this issue.

[2020-12-18 06:59] #201 closed, assigned to bogdanprodan-okta

[2020-12-18 06:59] bogdanprodan-okta commented on #205
Hi @dusan-dragon! The issue should be fixed in the latest 3.7.2 version. In case it still exists, please reopen this issue.

[2020-12-18 06:59] #205 closed, assigned to nobody

[2020-12-18 07:01] bogdanprodan-okta commented on #202
Hi @SBerda! The issue should be fixed in the latest 3.7.2 version. In case it still exists, please reopen this issue.

[2020-12-18 07:01] #202 closed, assigned to nobody

[2020-12-18 07:02] bogdanprodan-okta commented on #21
Hi @RichiCoder1 @bpottier @rajnadimpalli! The issue should be fixed in the latest 3.7.2 version. In case it still exists, please reopen this issue.

[2020-12-18 07:02] #21 closed, assigned to nobody

[2020-12-18 07:06] bogdanprodan-okta commented on #188
Hi @mtttcgcg! The issue should be fixed in the latest 3.7.2 version. In case it still exists, please reopen this issue.

[2020-12-18 07:06] #188 closed, assigned to nobody

[2020-12-18 10:20] bogdanprodan-okta commented on #247
Hi @karlsequeira! Thanks for submitting this issue! I'll take a look at it more closely and get back to you.

[2020-12-18 11:44] #204 closed, assigned to nobody

[2020-12-18 11:49] bogdanprodan-okta commented on #247
Hi @karlsequeira! I've created PR that adds the ability to set up a voice call on the password policy. It will be available in v3.7.3 soon!

[2020-12-18 12:10] bogdanprodan-okta commented on #246
Hi @khitrenovich! Thanks for submitting this issue. We might add retry logic for HTTP client for such errors. I'll do some investigation on AWS and see what can we reference from it.

[2020-12-18 14:15] #247 closed, assigned to bogdanprodan-okta

[2020-12-18 16:53] karlsequeira opened #249 "SCIM v2 app"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-19 20:29] ymylei commented on #157
Just an FYI, my PR mentioned above is designed to add handling for this case.

[2020-12-21 22:33] roulettedares commented on #87
@bogdanprodan-okta please reopen this issue. sharing an admin-level api token between all of our terraform users is insecure and cumbersome to renew every 29 days.

[2020-12-22 16:08] bogdanprodan-okta commented on #149
Hi @mihzaidi! There is PR #159 that will add the `pattern` property for the `login` resource.

[2020-12-22 16:34] joshowen commented on #39
This would be incredibly useful for creating Okta apps at scale.

[2020-12-22 18:05] bogdanprodan-okta commented on #53
Hi @Freaky-namuH! I've created PR #159 that should allow you to set `pattern` to the default value.

[2020-12-22 18:27] karlsequeira opened #253 "Hide Sensitive Attributes"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-22 19:48] #53 closed, assigned to nobody

[2020-12-22 19:48] #149 closed, assigned to nobody

[2020-12-23 20:13] #246 closed, assigned to nobody

[2020-12-24 10:54] bogdanprodan-okta commented on #234
Hi @recintoit! The problem is not in the provider itself, it's in sometimes OKTA is not keeping up with custom attributes creation. During the provider's flow `create` ->  `read` -> `check state`, `read` step sometimes doesn't return created custom property, although it's there (I've checked like dozen times). Running `terraform apply` the second time solves the problem. From my side, I can add a

[2020-12-24 20:37] bogdanprodan-okta commented on #232
Hi @nickerzb! This issue should be fixed in v3.7.3. If the error still exists, please reopen this issue. Thanks!

[2020-12-24 20:37] #232 closed, assigned to nobody

[2020-12-24 20:39] #235 closed, assigned to noinarisak

[2020-12-24 20:39] #219 closed, assigned to nobody

[2020-12-24 20:40] #210 closed, assigned to bogdanprodan-okta

[2020-12-24 20:41] #240 closed, assigned to nobody

[2020-12-24 22:40] eatplaysleep commented on #234
Have also been experiencing this issue for quite some time but usually just run apply over and over and over again until it finally finishes. Very annoying when you have hundreds of fields.... would love to see a fix!

[2020-12-26 16:11] karlsequeira opened #261 "Okta Password policy and mfa policy causing crash"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-26 20:32] bogdanprodan-okta commented on #261
Hi @karlsequeira! Thanks for submitting this issue! I think the problem is in the `password_dictionary_lookup` field, which is in `beta`, so I assume it's not yet present in all organisations. I will add a `nil` check to avoid panic in the provider and will release bugfix in v3.7.4 shortly!

[2020-12-28 13:10] bogdanprodan-okta commented on #234
That is not specific when you creating a resource, it also happens when you update one.

[2020-12-28 13:34] #234 closed, assigned to bogdanprodan-okta

[2020-12-28 13:34] #261 closed, assigned to bogdanprodan-okta

[2020-12-28 13:38] bogdanprodan-okta commented on #194
Hi @Venkatsai, @IrmantasM! I will look into this issue shortly. It's likely to be fixed in v3.7.4

[2020-12-28 14:04] #194 closed, assigned to nobody

[2020-12-28 16:34] pedromctech opened #266 "Add okta_app_oauth data resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-28 19:47] kyransequeira opened #267 "okta_policy_mfa policy does not support email"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-28 19:52] bogdanprodan-okta commented on #267
Hi @kyransequeira! Thanks for submitting this issue. I was planning to add the `okta_email` factor for `okta_policy_mfa` in the next v3.7.5 of the provider.

[2020-12-29 10:45] moein opened #268 "Auth secret in inline hooks are showed in plan output"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-29 15:09] bogdanprodan-okta commented on #268
Hi @moein! Thanks for creating this issue! I've made some investigation and based on terraform documentation it's not possible to hide a single value from `auth`, so it can only look like this:
[code]

Another option is to use the 0.14 version of Terraform which [provides functionality](https://www.hashicorp.com/blog/terraform-0-14-adds-the-ability-to-redact-sensitive-values-in-console-output)  to

[2020-12-29 15:33] #267 closed, assigned to nobody

[2020-12-29 15:43] bogdanprodan-okta commented on #253
Hi @karlsequeira! Thanks for submitting this issue! You can use the 0.14 version of Terraform which [provides functionality](https://www.hashicorp.com/blog/terraform-0-14-adds-the-ability-to-redact-sensitive-values-in-console-output) to hide sensitive data.

[2020-12-29 15:45] bogdanprodan-okta commented on #266
Hi @pedrodotmc! Thanks for submitting this issue! After the holidays, there will be an internal discussion around which new resources should be added to v3.8.0, so I'll add another comment after.

[2020-12-29 15:45] bogdanprodan-okta commented on #249
Hi @karlsequeira! Thanks for submitting this issue! After the holidays, there will be an internal discussion around which new resources should be added to v3.8.0, so I'll add another comment after.

[2020-12-29 15:46] bogdanprodan-okta commented on #225
Hi @eatplaysleep! Thanks for submitting this issue! After the holidays, there will be an internal discussion around which new resources should be added to v3.8.0, so I'll add another comment after.

[2020-12-29 15:46] bogdanprodan-okta commented on #222
Hi @eatplaysleep! Thanks for submitting this issue! After the holidays, there will be an internal discussion around which new resources should be added to v3.8.0, so I'll add another comment after.

[2020-12-29 15:49] moein commented on #268
Hi Bogdan,

Thanks for the tip on 0.14! I will have a look.

About the current behaviour to be honest I think it's better to be safe than sorry. I doubt anyone would prefer to show the secret only because they want to see the header name in the plan :D

Cheers

[2020-12-29 16:45] karlsequeira commented on #253
Hi, This request is not to hide the data on the output. This is to hide the data on the Okta console.

As per the Okta docs,
In the Admin Console, go to Directory > Profile Editor.
Select Okta in the FILTERS list.
Click Profile for Okta User (default).
In the attribute list, click information  for the attribute you want to make sensitive.
Select the Sensitive data check box.
Click Save Attribute.

[2020-12-29 16:55] karlsequeira opened #270 "Add email to okta_policy_mfa"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-29 16:56] karlsequeira commented on #270
Sorry. I think this is a duplicate issue.

[2020-12-29 16:56] #270 closed, assigned to nobody

[2020-12-29 17:17] noinarisak commented on #253
@bogdanprodan-okta and @karlsequeira. This feature request requires Early Access feature flag that is not self services and requires Okta support staff to activate. I was not able to find [docs](https://developer.okta.com/docs/reference/api/schemas/) around this attribute. I would labeled `no-api` and `wont fix` until both Self-Service activation is enabled and public documentation are publish. Th

[2020-12-30 11:02] moein commented on #268
@bogdanprodan-okta I'm trying to update to tf 0.14 but I'm facing a very strange issue (this does not happen with 0.13.5)

[code]

Here is the resource
[code]

As you can see non of the fields I'm setting is a computed value :/

Do you have any idea this might be happening?

Cheers

[2020-12-30 11:17] moein commented on #268
Sorry finally the issue was with lifecyle.
We had 2 users assigned in the state and for some reason by updating to 0.14 it was causing this error.

[2021-01-03 00:43] karlsequeira opened #272 "Provisioning option on SWA App."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-04 20:40] karlsequeira opened #273 "okta_app_saml description"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-04 22:00] aguynamedjoetoo opened #274 "Allow for fetching client_secret from imported okta_app_oauth"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-07 00:36] pmjensen opened #275 "Terraform Crashes When Importing Okta Resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-07 05:52] karlsequeira opened #276 "okta_user_roles"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-07 15:43] conor-mullen opened #277 "Allow okta_policy_rule_signon to specify IdP"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-08 12:43] conor-mullen commented on #277
I have started working on implementing this

[2021-01-08 14:41] onelapahead commented on #89
Yeah this is a pretty crappy experience when I have to go manually edit the app I just synced via terraform just bc Okta doesn't expose this as an API.

[2021-01-08 14:46] conor-mullen commented on #277
I've just discovered this is a new feature that hasn't been rolled out everywhere yet.

[2021-01-09 02:33] #275 closed, assigned to nobody

[2021-01-09 02:34] pmjensen commented on #275
I setup the org_name and base_url wrong.

[2021-01-11 15:00] bogdanprodan-okta commented on #273
Hi @karlsequeira! Thanks for submitting this issue! I've investigated this error and turns out, that app-related resources don't have `description` field at all. However, app data resources have one, but they shouldn't. According to the official [documentation](https://developer.okta.com/docs/reference/api/apps/#application-properties), apps don't have this field, so it will be removed from Okta t

[2021-01-11 15:24] bogdanprodan-okta commented on #272
Hi @karlsequeira! Thanks for submitting this issue! I'll get back to you after the investigation of this error.

[2021-01-11 15:26] bogdanprodan-okta commented on #274
Hi @Joeskyyy! Thanks for the issue! I'll do some investigation whether it's possible to customize import in the way to get this field and will get back to you with the news asap.

[2021-01-11 15:29] bogdanprodan-okta commented on #276
Hi @karlsequeira! Thanks for submitting this issue! We will have an internal meeting this week regarding new resources, so this might go in the next release if approved.

[2021-01-11 20:07] #273 closed, assigned to nobody

[2021-01-12 07:06] eatplaysleep opened #279 "data.okta_user `group_memberships` not populating"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-12 17:07] RichiCoder1 opened #280 "okta_group_roles resource is missing features to specify "all {apps|groups}" or "specific {apps|groups}""
(copied from #189 as it was marked stale erroneously)

### Community Note
* Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do not help prioritize the request
* If y

[2021-01-12 18:15] noinarisak opened #281 "okta_factor resources error on `okta_email` factor email enrollment provider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-12 19:10] noinarisak commented on #281
We should also update the associated [doc](https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/factor), since `okta_email` is missing in the `provider_id` list.

[2021-01-13 12:20] stmyers commented on #280
Looks like these upcoming pull requests address this #255 #256

[2021-01-13 14:36] stilljake opened #282 "Values for the "features" argument in okta_app_saml resources not being applied"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-13 15:36] bogdanprodan-okta commented on #281
This bug will be fixed in the upcoming 3.8.0 version

[2021-01-13 15:38] bogdanprodan-okta commented on #282
Hi, @stilljake! Thanks for submitting this issue! I'll investigate this but and try to add the fix in the upcoming release.

[2021-01-13 17:25] bogdanprodan-okta commented on #279
Hi, @eatplaysleep! Thanks for submitting this issue! I'll try to fix this ASAP so it can go to the upcoming 3.8.0 relese.

[2021-01-13 18:54] noinarisak commented on #268
Looks like was resolved, closing the issue.

[2021-01-13 18:54] #268 closed, assigned to nobody

[2021-01-14 01:08] adw1n commented on #186
This issue should still be open.

[2021-01-14 01:11] adw1n commented on #87
@bogdanprodan-okta @noinarisak @bretterer @ymylei please can we have this issue reopened?

[2021-01-14 08:39] bogdanprodan-okta commented on #212
Hi @brandongblack! I'm closing this issue because it seems that using `key_name` fixed the problem. If it did not, please reopen this issue. Thanks!

[2021-01-14 08:39] #212 closed, assigned to bogdanprodan-okta

[2021-01-14 08:45] bogdanprodan-okta commented on #274
Hi @Joeskyyy! Sorry for making you wait so long for the response. We had an internal discussion with @noinarisak and decided that we won't be able to implement this feature. The only way you can see the client secret is by importing the resource and then updating it with the new `client_secret`. @noinarisak, please correct me if I'm wrong.

[2021-01-14 08:51] #279 closed, assigned to nobody

[2021-01-14 09:14] bogdanprodan-okta commented on #282
Hi, @stilljake! Based on the [official docs](https://developer.okta.com/docs/reference/api/apps/#features):
[code]
Thus this feature isn't working currently. I'll try to find out whether Okta is planning to enable changes via API, but right now this issue will remain.

[2021-01-14 09:18] bogdanprodan-okta commented on #277
Hi @conor-mullen! Thanks for submitting this issue. As soon as this feature will be officially released, I'll get back to this and add the functionality to support IdP specifying.

[2021-01-14 09:55] stilljake commented on #282
Thanks for the explanation. Would it make sense to remove this from the supported arguments? Since It is not a supported argument right now.

[2021-01-14 11:38] conor-mullen commented on #277
Hi @bogdanprodan-okta , I got this working locally so I'll leave a link to my code in case it helps you in the future when this feature gets released.

https://github.com/oktadeveloper/terraform-provider-okta/compare/master...conor-mullen:idp_policy_rule

[2021-01-14 18:50] aguynamedjoetoo commented on #274
@bogdanprodan-okta I'm assuming this is just because the `client_secret` is not available in the API? Is there a reason we can't have this implemented functionally? As an operator, I can already retrieve the `client_secret` from the Okta UI, and being able to do so programatically would be a huge benefit for automation.

[2021-01-15 09:05] bogdanprodan-okta commented on #274
Based on the [official documentation](https://developer.okta.com/docs/reference/api/apps/#oauth-credential-object):
[code]
Because `import` is basically a `read` operation, `client_secret` is not returned via API, but only when you make `update` or `create` operations.
@noinarisak ^^

[2021-01-15 14:13] bogdanprodan-okta commented on #272
Hi @karlsequeira! The problem is, that the `checkbox` field in the app settings is missing both from [official docs](https://developer.okta.com/docs/reference/api/apps/#add-plugin-swa-application) and Okta Golang SDK. However, it's clearly present on the UI and in the API response:
[code]
I'll try to figure out when will it be available via API.

[2021-01-15 17:18] aguynamedjoetoo commented on #274
@bogdanprodan-okta Yeah I figured it was all purely a limitation in the API just given what is returned when hitting the REST endpoints. That being said, a ticket to Okta support was triaged to create a request here.

We've actually tried to import an app and then make a change to a field, thereby pushing an update to the app, and still no client_secret appears to be returned so I believe the API

[2021-01-15 19:19] bogdanprodan-okta commented on #87
I'll start to work on this next week, so hopefully, this will be released in 3.8.0. Thanks for the patience!

[2021-01-15 19:19] #222 closed, assigned to bogdanprodan-okta

[2021-01-15 19:25] bogdanprodan-okta commented on #282
I think that makes sense since only have encountered this bug, so it won't affect a lot of people. I can also suppress the diff for now as you can still import and get a list of features.

[2021-01-15 19:50] bogdanprodan-okta commented on #184
To configure these fields via terraform you can use `okta_user_base_schema` and `okta_user_schema`

[2021-01-15 19:59] bogdanprodan-okta commented on #180
Hi @moein and @zamerman! So you still encounter this issue?

[2021-01-15 20:02] bogdanprodan-okta commented on #171
Hi @ThomasWatling! This issue will be fixed in v3.8.0.

[2021-01-15 20:35] bogdanprodan-okta commented on #148
Hi @peijiinsg! Basically, you are right. Before a user is added to the custom group with different `password` requirements, the password should meet the requirements of the default group. Users can not be added to the group before creation, thus this how it currently works.
Probably, creating the user can be split into several parts: 1- create user, 2-add it to the group, 3-set password. But there

[2021-01-15 20:43] Ashley-Gunn commented on #146
Thank you for reopening this @bogdanprodan-okta 👍

[2021-01-15 20:44] bogdanprodan-okta commented on #146
I will try to add this field into the official Okta Golang SDK ASAP, so I can add the corresponding code here.

[2021-01-15 20:47] bogdanprodan-okta commented on #140
Should be available in the newest version.

[2021-01-15 21:02] bogdanprodan-okta commented on #133
Hi @lasektom! The problem is that `"sub"` is a build-in claim, that's why you get an error. System claims are immutable, so you can not update them either.

[2021-01-16 11:01] bogdanprodan-okta commented on #130
Hi @eatplaysleep! Fields `acs_binding` and `acs_type` will be removed from OIDC IdP as they are supported only by SAML IdP.
https://developer.okta.com/docs/reference/api/idps/#saml-2-0-endpoints-object
Response for `Add Generic OpenID Connect Identity Provider`

[2021-01-16 11:07] bogdanprodan-okta commented on #125
Hi @pratikmallya! Thanks for submitting this issue. The problem is not in the provider but in the underlying Okta Golang SDK.
Because this field is marked with `omitempty`, it never can be set to `0`.
[code]
I'll try to push the fix into the SDK ASAP, so the problem will be solved.

[2021-01-16 11:37] bogdanprodan-okta commented on #115
Support for this field will available in the upcoming v.3.8.0 release.

[2021-01-16 11:46] bogdanprodan-okta commented on #112
Hi @rachrdfds! This issue should be fixed in the latest terraform provider.

[2021-01-16 11:48] bogdanprodan-okta commented on #131
Hi @bahatelos! This will be fixed in the upcoming v.3.8.0 version.

[2021-01-16 17:24] bahatelos commented on #131
Smashing, thank you!

[2021-01-18 08:30] #193 closed, assigned to bogdanprodan-okta

[2021-01-18 08:31] #115 closed, assigned to nobody

[2021-01-18 08:31] #131 closed, assigned to bogdanprodan-okta

[2021-01-18 08:31] #167 closed, assigned to bogdanprodan-okta

[2021-01-18 08:31] #181 closed, assigned to bogdanprodan-okta

[2021-01-18 08:33] #281 closed, assigned to bogdanprodan-okta

[2021-01-18 09:08] moein commented on #180
@bogdanprodan-okta Unless you have made type field in channel mandatory it should be still an issue.
Clearly both me and @zamerman already have put the type in channel but it's for future developers that might not put the type and get the generic error from api.
I could do a PR to make type mandatory for channel.

[2021-01-18 09:35] #125 closed, assigned to nobody

[2021-01-18 12:43] bogdanprodan-okta commented on #146
I'm waiting for the changes to the specs to be merged, so this will definitely will go into v3.8.0

[2021-01-19 17:53] bogdanprodan-okta commented on #180
@moein I've added [this code](https://github.com/oktadeveloper/terraform-provider-okta/blob/master/okta/resource_okta_inline_hooks.go#L246), so by default, `method` is always `POST`.

[2021-01-19 18:02] #214 closed, assigned to bogdanprodan-okta

[2021-01-19 18:05] bogdanprodan-okta commented on #277
Thanks, @conor-mullen!

[2021-01-19 18:34] #87 closed, assigned to bogdanprodan-okta

[2021-01-20 08:24] moein commented on #180
@bogdanprodan-okta The piece of code you referred to effictively fixes this issue. Sorry for the confusion

[2021-01-20 18:14] bogdanprodan-okta commented on #142
Hi @m-wynn! I've created PR and `union` attr will be available in the upcoming v3.8.0.

[2021-01-20 19:39] #142 closed, assigned to bogdanprodan-okta

[2021-01-21 02:07] BrentSouza opened #292 "User Assignment to Service App Causes Panic"
An admin assigned themselves to an OAuth application of type service in the user screen of the Okta admin site. After this happened, terraform plans started crashing on the `okta_app_oauth` resource. Removing the user assignment resolved the issue.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-

[2021-01-21 02:10] BrentSouza commented on #292
But maybe the fix is just not to call `syncGroupsAndUsers` for service apps

[2021-01-21 14:27] bogdanprodan-okta commented on #292
Hi @BrentSouza! Thanks for creating this issue! We should still keep groups and user assignments, but I will add `nil` check for that part of the code.

[2021-01-21 15:51] M1st-gunna opened #294 "v3.7.4 okta_user_base_schema appears to be forcing master = "PROFILE_MASTER""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-21 16:37] M1st-gunna opened #295 "okta_app_saml nulling key_years_valid in v 3.7.4 when not explicitly set"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-21 16:57] bogdanprodan-okta commented on #294
Hi, @M1st-gunna! Thanks for submitting this issue! Yes, I'm afraid, `master` is "PROFILE_MASTER" by default, and even if you don't set it, Okta API will set it as the default one. I had to make it "PROFILE_MASTER" by default as well, otherwise `terraform plan` command will always be non-empty for `master = ""` or when it hasn't been set at all.

Request body for `POST /api/v1/meta/schemas/apps/0oa

[2021-01-21 20:02] bogdanprodan-okta commented on #295
Hi @M1st-gunna! Thanks for submitting this issue! There were two problems with that value in the previous versions: first, according to the [official documentation](https://developer.okta.com/docs/reference/api/apps/#request-parameters-20), the valid range is 2-10, so setting it to 1 would've caused an error. Secondly, this value is only used along with `key_name` to generate a new application key

[2021-01-22 07:15] #266 closed, assigned to bogdanprodan-okta

[2021-01-22 07:15] #292 closed, assigned to nobody

[2021-01-22 07:52] bogdanprodan-okta commented on #180
Hi @moein! Thanks for the response! In this case, I'm closing this issue.

[2021-01-22 07:52] #180 closed, assigned to nobody

[2021-01-22 08:34] #282 closed, assigned to bogdanprodan-okta

[2021-01-22 14:20] M1st-gunna commented on #294
@bogdanprodan-okta thanks for the quick reply and clarification! We'll try things out in Staging, based on  your info. If we run into any issues, we'll reach back out.

[2021-01-22 14:20] #294 closed, assigned to nobody

[2021-01-22 14:21] M1st-gunna commented on #295
@bogdanprodan-okta thanks for the quick reply and clarification! We'll try things out in our Staging environment, based on the info you provided. If we run into any issues, we'll reach back out.

[2021-01-22 14:21] #295 closed, assigned to nobody

[2021-01-23 14:54] bogdanprodan-okta commented on #93
This will be fixed in the upcoming v3.8.0.

[2021-01-23 15:03] bogdanprodan-okta commented on #84
Fixed in the latest version.

[2021-01-23 15:03] bogdanprodan-okta commented on #83
This feature will be available in the upcoming v3.8.0.

[2021-01-23 15:12] bogdanprodan-okta commented on #79
Hi, @asiyani! Is this still an issue?

[2021-01-23 19:06] bogdanprodan-okta commented on #27
This issue will be fixed in the upcoming v3.8.0

[2021-01-23 19:15] bogdanprodan-okta commented on #36
Hi everyone! I'm currently waiting for this feature to be added to the official Okta SDK. See #146

[2021-01-23 19:25] bogdanprodan-okta commented on #38
Hi @jeremie0! I think there is a possibility to add validators for the resource type `schema.TypeSet`. However, the error message is not very clear, which value is invalid, but at least it won't pass the `terraform validate`.
[code]
Error output:
[code]

[2021-01-23 19:29] bogdanprodan-okta commented on #39
Hi everyone! There appears to be Okta [has added this](https://developer.okta.com/docs/reference/api/apps/#update-logo-for-application) as an "Early Acces" feature, I think I can try to work on this issue next month. Stay tuned

[2021-01-23 19:46] bogdanprodan-okta commented on #52
As of today, the official Okta SDK is still lacking some of the API endpoints, fields in the structs, etc. However, `github.com/articulate/oktasdk-go/okta` is no longer used by the provider, and the internal `github.com/oktadeveloper/terraform-provider-okta/sdk` contains only endpoints/structs that are missing from the official one. We are constantly working on adding more endpoints to the officia

[2021-01-23 20:18] bogdanprodan-okta commented on #64
Hi @jimmy-dg! Seems like this is still an issue. I think the problem is, that `OAUTH_AUTHORIZATION_POLICY` can only be applied to auth server, thus it returns an error. Official documentation clearly doesn't mention that, but I will try to get some insights and post the answer here. Stay tuned!

[2021-01-24 11:30] bogdanprodan-okta commented on #64
In the meantime, I'll create an additional data source `okta_auth_server_policy` to cover this case. It will be available in the upcoming v3.8.0.

[2021-01-24 11:37] #64 closed, assigned to nobody

[2021-01-24 11:51] bogdanprodan-okta commented on #111
Hi @mfulgo! The problem is that official documentation, nor the official SDK contains information about the activation/deactivation of the auth server policy. I've figured out that there should be two additional endpoints:
[code]
and
[code]
For now, I'll add these into the internal SDK, and try to push these changes into the official Okta Golang SDK.

[2021-01-24 12:22] bogdanprodan-okta commented on #54
Hi @quantumew! The problem is, that official documentation doesn’t contain validation rules for all the values, so the only way to figure out them manually. This may take a long time to do. However, I'll create PR that will cover emails and URL validations, so at least there some internal validation present.

[2021-01-24 12:23] #111 closed, assigned to nobody

[2021-01-24 12:42] #54 closed, assigned to nobody

[2021-01-24 12:58] #101 closed, assigned to nobody

[2021-01-24 12:58] bogdanprodan-okta commented on #38
Fixed in #300

[2021-01-24 12:58] #38 closed, assigned to bogdanprodan-okta

[2021-01-24 13:07] bogdanprodan-okta commented on #107
Hi @mfulgo, @Jorge-Rodriguez, @mithewt! I've tried to reproduce it, but no luck. Is this still an issue?

[2021-01-24 13:42] bogdanprodan-okta commented on #99
Hi @jllamasi! I run the steps you've described, and couldn't reproduce this issue using the latest terraform provider. If the problem still exists, please comment here so I can reopen this issue.

[2021-01-24 13:42] #99 closed, assigned to nobody

[2021-01-24 14:31] bogdanprodan-okta commented on #109
Hi @nathankodilla! According to the [official documentation](https://developer.okta.com/docs/reference/api/apps/#oauth-credential-object), `client_secret` is only available on app creation, so when terraform provider calls "get app" endpoint, it is always empty.
However, seems like `client_secret` is changed when changing `token_endpoint_auth_method`:
Original:
[code]
Updated:
[code]
In the first

[2021-01-24 14:31] #109 closed, assigned to nobody

[2021-01-24 17:44] bogdanprodan-okta commented on #41
Duplicate of #185

[2021-01-24 17:49] bogdanprodan-okta commented on #185
This feature should be available in the latest provider's version (`"acs_endpoints"` attribute)

[2021-01-24 17:49] #185 closed, assigned to nobody

[2021-01-24 18:09] kschlz commented on #185
Sorry for the late response. Indeed I was able to use the `acs_endpoints` attribute.

Thanks a lot @bogdanprodan-okta.

[2021-01-24 21:13] bogdanprodan-okta commented on #274
Hi @Joeskyyy! As for `pushing an update to the app, and still no client_secret appears to be returned`, that [will be fixed](https://github.com/oktadeveloper/terraform-provider-okta/blob/master/okta/resource_okta_app_oauth.go#L429) in the upcoming v3.8.0

[2021-01-25 10:35] ghost opened #305 ""Long" email templates are not updated as expected"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-25 11:24] zestful-thud opened #306 "Add parameter for "Login initiated by" to the okta_app_oauth resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-25 13:21] bogdanprodan-okta commented on #306
Hi @natefear! Thanks for submitting this issue! I'll investigate whether the official SDK supports that and will add that field to the `okta_app_oauth` resource.

[2021-01-25 13:23] bogdanprodan-okta commented on #305
Hi @IrmantasM! Thanks for submitting this issue! There is another one #48 issue opened, so I'll try to investigate them both and hopefully fix the problem.

[2021-01-26 14:16] bogdanprodan-okta commented on #305
Hi @IrmantasM! I think the root cause of this is in the `type` value. Because it acts like `id`, it's only being set during the creation, but completely neglected during read/update. Basically, if you change the type, `id` will still be the old value.
I'll add `forceNew==true` to the `type`, so every time you change it, terraform will recreate the resource.
[code]
Other than that, I've tried to ru

[2021-01-26 14:18] bogdanprodan-okta commented on #48
Hi @msmrnv1! I've run several tests and seems like Okta has fixed this issue, so the template is not being reformatted. I'm closing this issue for now, but if the problem still exists, please comment here with more details and I'll reopen this issue. Thanks!

[2021-01-26 14:18] #48 closed, assigned to nobody

[2021-01-26 14:38] ghost commented on #305
@bogdanprodan-okta  thanks a lot for a quick response! I will test it by adding force recreate and let you know the results soon!

[2021-01-26 14:43] bogdanprodan-okta commented on #26
Hi @bodgit! Currently, Okta API doesn't support this feature, so I don't think this will be implemented anytime soon. I'm closing this issue for now, but once this field will be available, I'll create a corresponding PR. Thanks!

[2021-01-27 09:08] bogdanprodan-okta commented on #146
Hi @Ashley-Gunn! I've created PR for this issue but still waiting for the missing field to be added to the official specs.

[2021-01-27 10:27] bogdanprodan-okta commented on #306
Hi @natefear! Still waiting for the [PR](https://github.com/okta/okta-management-openapi-spec/pull/5/files), so I can add this field to the official SDK.

[2021-01-27 11:17] Nordle opened #308 "user_name_template not applying correctly to state"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-27 14:39] zestful-thud commented on #306
brilliant thanks for your swift work! @bogdanprodan-okta

[2021-01-27 16:57] bogdanprodan-okta commented on #308
Hi @Nordle! Thanks for submitting this issue! I'll try to reproduce it and fix it.

[2021-01-27 20:49] #308 closed, assigned to bogdanprodan-okta

[2021-01-28 20:17] #146 closed, assigned to bogdanprodan-okta

[2021-01-28 23:08] karlsequeira commented on #267
Please do let me know when will 3.7.5 be available. Need this feature before we go to prod.

[2021-01-29 00:24] 007 opened #310 "Unable to create okta_group from okta_user datasource input"
tl;dr: Please surface Okta's internal `id` as an attribute of `okta_user` lookups (call it `index` to match the `okta_user` resource), or allow `okta_group` to be populated via email.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and mainta

[2021-01-29 15:13] bogdanprodan-okta commented on #310
Hi, @007! Thanks for creating this issue! I've already added the `id` attribute into the `okta_users` data source and it will be available in the upcoming v3.8.0. Check the code [here](https://github.com/oktadeveloper/terraform-provider-okta/blob/master/okta/data_source_okta_users.go#L48).
P.S. New version will probably be released on Monday.

[2021-01-29 17:07] #306 closed, assigned to nobody

[2021-01-29 19:35] bogdanprodan-okta commented on #8
Hi @icebal @quantumew! I think the problem is that `attribute_statements.type` can be `EXPRESSION` or `GROUP`, but with different sets of other fields.
It's clearly not good, that Okta API returns not a very obvious error message. I'll create a PR to fix this issue.

PS: you can fix TF by making `attribute_statements` like this:
[code]

[2021-01-29 20:17] lukiffer opened #312 "Add Support for Group Push Configuration"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-29 20:33] bogdanprodan-okta commented on #8
The following errors will appear if the `attribut_statement` is not well-formed:
[code]
and
[code]

[2021-01-29 20:52] bogdanprodan-okta commented on #124
Currently, there is a `"metadata"` attribute available, which contains raw data from the metadata URL.

[2021-01-29 21:17] bogdanprodan-okta commented on #312
Hi @lukiffer! Thanks for submitting this issue! I'll do some investigation next week around this new resource and when it'll be possible to implement it.

[2021-01-30 07:55] #75 closed, assigned to nobody

[2021-01-30 07:55] #8 closed, assigned to bogdanprodan-okta

[2021-01-30 20:37] #107 closed, assigned to nobody

[2021-01-30 21:13] #124 closed, assigned to nobody

[2021-01-31 07:44] Jorge-Rodriguez commented on #107
We moved away from Okta in our project as the cost of licenses to support our use case far exceeded our budget, so I'm no longer in a position where I can verify this, sorry.

[2021-01-31 18:22] bogdanprodan-okta commented on #189
Duplicate of https://github.com/oktadeveloper/terraform-provider-okta/issues/280

[2021-01-31 18:22] #189 closed, assigned to nobody

[2021-02-01 06:39] eatplaysleep opened #317 "`scope` attribute of okta_app_user_schema does not update"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-01 09:35] bogdanprodan-okta commented on #317
Hi @eatplaysleep! Thanks for submitting this issue! I'll investigate the problem and fix it ASAP.

[2021-02-02 08:41] ghost commented on #305
@bogdanprodan-okta  hello, I have tested with lifecycle rule to create_before_destroy but it didn't help. I think I misunderstood your suggestion.

I am not changing the type, only HTML content (template).

How should I force a new resource?

[2021-02-03 11:33] bogdanprodan-okta commented on #305
@IrmantasM! Could you try using these parameters? https://gist.github.com/bogdanprodan-okta/3c4938e1985d577dcda7eaae426be7e4

I've tested it several times and still cannot reproduce this issue.

[2021-02-03 23:22] karlsequeira opened #319 "SAML subject_match_attribute for CUSTOM_ATTRIBUTE fails"
Create a customname on the OKTA user profile. When I try to use that in the subject match, it fails with the following error

Error: failed to update SAML identity provider: The API returned an error: Api validation failed: IdpTrust. Causes: errorSummary: The policy.subject.matchAttribute is invalid.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/

[2021-02-04 10:52] bogdanprodan-okta commented on #319
Hi, @karlsequeira! Thanks for submitting this issue! There is a [reference in the API docs](https://developer.okta.com/docs/reference/api/idps/#subject-policy-object) about `subject_match_attribute` field.
[code]
Could you please double-check that `customname` is present in the Okta User profile? However, if you create that field via terraform as well, you need to be sure that it's been created be

[2021-02-04 15:51] karlsequeira commented on #319
I did create this in the Okta profile. I also tried it using the rest api and that worked.

[2021-02-04 15:54] bogdanprodan-okta commented on #319
Thanks for the reply! I'll try to reproduce it and get back to you ASAP.

[2021-02-04 17:26] karlsequeira commented on #319
I tried by creating everything with terraform but that still fails.
resource "okta_user_schema" "inbound" {
  index       = "myattribute"
  title       = "myattribute"
  type        = "string"
  description = "myattribute used for SSO"
  master      = "OKTA"
}

resource "okta_group" "inbound" {
  name        = "My SSO Group"
  description = var.label
}

resource "okta_idp_saml" "inbound" {
  name

[2021-02-04 18:43] bogdanprodan-okta commented on #319
It's definitely a bug. This is a`subject` that UI is sending to the backend:
[code]
vs terraform:
[code]
It doesn't send `matchAttribute` at all. I'll fix that and create a corresponding PR.
Thanks again for submitting this issue!

[2021-02-04 20:06] #319 closed, assigned to nobody

[2021-02-05 07:24] ghost commented on #305
@bogdanprodan-okta  sorry, but I don't understand how your parameters are different from mine, to me they look identical :(

[code]

What does this mean, how did you add forceNew? Did you release a new version of the provider?

Edit 1: I can see that in your example you are using a different version of the provider. I'll try upgrading to 3.8.0.

[2021-02-05 07:48] ghost commented on #305
Tried after upgrading to 3.8.0, same result:

[code]

Are there any additional details I could provide you with to help resolve this issue?

[2021-02-05 09:14] bogdanprodan-okta commented on #305
Hi @IrmantasM! It's still very strange why are you still receiving these errors. Could you try manually create these templates, import them into terraform, redact resources based on `terraform.tfstate` file and run `terraform plan` again.

PS: I'm still not able to reproduce your scenario. Here is my terraform:
[code]

And my templates [1.html](https://gist.github.com/bogdanprodan-okta/58e2ffb72e8

[2021-02-05 13:19] tohcnam commented on #276
Are there some news around this?

[2021-02-05 13:42] bogdanprodan-okta commented on #276
Hi @tux-manchot! Yes, I'm currently working to add this functionality to the next version.

[2021-02-09 11:24] #310 closed, assigned to bogdanprodan-okta

[2021-02-09 12:12] bogdanprodan-okta commented on #276
Hi, @tux-manchot! Just a quick update. I think creating `"okta_user_roles"` would be a little bit extra because you can get all the roles from `admin_roles` field in `okta_user` resource.

Example of usage:
[code]

However, if there is a need in managing just the roles, not the entire user, I think I can add `"okta_user_roles"` as well.

[2021-02-09 12:14] #66 closed, assigned to nobody

[2021-02-10 15:30] tgoodsell-tempus commented on #312
Is there an API available for this?

[2021-02-10 15:53] bogdanprodan-okta commented on #312
For the features - no. As stated in the [official docs](https://developer.okta.com/docs/reference/api/apps/#features):
[code]

[2021-02-11 16:21] CodyDunlap opened #324 "Plan shows profile mappings will be destroyed even when 'delete_when_absent = false'"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-11 16:25] bogdanprodan-okta commented on #324
Hi @CodyDunlap! Thanks for submitting this issue! I'll investigate the problem ASAP and create a PR to fix it.

[2021-02-12 10:30] #276 closed, assigned to nobody

[2021-02-12 10:43] Nordle opened #327 "Creating SWA app using predefined app Sentry is defaulting to SAML sign on mode"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-12 10:44] bogdanprodan-okta commented on #40
Hi @mattz! It should be fixed in the upcoming v3.9.0 (PR #323)

[2021-02-12 10:45] bogdanprodan-okta commented on #327
Hi @Nordle! Thanks for submitting this issue! I'll investigate the problem ASAP and create a PR to fix it.

[2021-02-12 10:47] bogdanprodan-okta commented on #280
Hi @RichiCoder1! This should be available in the upcoming v3.9.0 (check `okta_group_role` resource, new field`"target_group_list"`)

[2021-02-12 10:59] #280 closed, assigned to nobody

[2021-02-12 10:59] #40 closed, assigned to nobody

[2021-02-15 12:55] #327 closed, assigned to nobody

[2021-02-15 13:41] Nordle commented on #327
👏🏻

[2021-02-15 16:09] bogdanprodan-okta commented on #327
Hi @Nordle! Just FYI, you can achieve the same result if you use `okta_app_auto_login` resource:
[code]

[2021-02-16 13:58] #317 closed, assigned to nobody

[2021-02-16 14:15] #324 closed, assigned to nobody

[2021-02-17 14:07] hendstephen opened #334 "okta_idp_social as data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-17 14:11] bogdanprodan-okta commented on #334
Hi @hendstephen! Thanks for submitting this issue! I'll try to add the `okta_idp_oidc` as a data source into our next release, which will be available by the end of this month.

[2021-02-17 14:21] hendstephen commented on #334
@bogdanprodan-okta Just want to confirm, do you mean `okta_idp_social`? The `okta_idp_oidc` resource already exists as a data source, but I can't import social providers using it.

[2021-02-17 15:46] bogdanprodan-okta commented on #334
yes, that's what I meant :)

[2021-02-17 16:11] hendstephen commented on #334
@bogdanprodan-okta Awesome, thanks for the quick reply! I'll keep an eye out for it.

[2021-02-18 00:26] #216 closed, assigned to nobody

[2021-02-18 12:39] #225 closed, assigned to nobody

[2021-02-18 15:29] #334 closed, assigned to nobody

[2021-02-18 15:49] fatbasstard opened #339 "Validation error when using login_mode (okta_app_oauth) due to validation done in CustomizeDiff"
The validation of the `login_uri` is done in the `CustomizeDiff` which breaks when a computed value is used.

Computed value (from a module):

[code]

Output:

[code]

Usage:

[code]

Results in the following error:

[code]

Computed values are not supported in `CustomizeDiff`: https://www.terraform.io/docs/extend/resources/customizing-differences.html

This has also been reverted/removed in this

[2021-02-18 15:59] bogdanprodan-okta commented on #339
Hi, @fatbasstard! Thanks for submitting this issue! I'll move this validation out of `CustomizeDiff` function, so the error won't appear. Fix will be available in the next release (probably tomorrow or on Monday).

[2021-02-18 17:11] #339 closed, assigned to nobody

[2021-02-18 20:32] fatbasstard commented on #339
Superfast response. Thanks!

[2021-02-19 13:53] bogdanprodan-okta commented on #74
Hi, everyone! This issue is already resolved and you can use `okta_admin_role_targets` and `okta_group_role` resources.

[2021-02-19 19:13] pmaterer opened #345 "Group role unable to target application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-19 19:37] bogdanprodan-okta commented on #345
Hi, @pmaterer! Thanks for submitting this issue! Sounds like a good idea to add this field. I'll create the corresponding PR and include this field in the next release.

[2021-02-21 18:10] jessicastenning commented on #77
Also seeing this issue with the latest version of the provider. Any pointers @noinarisak 🙏🏼 ? Need this data source to create a profile mapping.

[2021-02-22 09:37] bogdanprodan-okta commented on #77
Hi, @jessicastenning! Could you please try simply making an API call to `https://my-company.com/api/v1/mappings` and see whether there are these fields in the response?
[code]

The reason I'm asking is that I can not reproduce this issue with provider v3.10.0. Here is the result from my state file after I run `terraform apply`
[code]

[2021-02-23 16:43] narbit-EDR commented on #272
@bogdanprodan-okta is there any update on this?

[2021-02-23 17:53] CodyDunlap commented on #237
Is this a duplicate of #69?

[2021-02-24 03:14] chrusty opened #347 "Error: at least "user_whitelist" or "group_whitelist" should be provided when using 'implicit' in "grant_type_whitelist""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-24 11:47] bogdanprodan-okta commented on #347
Hi @chrusty! Thanks for submitting this issue! The problem is in the resource validation. I'll create a corresponding PR to fix this issue.

[2021-02-24 12:16] #347 closed, assigned to bogdanprodan-okta

[2021-02-24 15:56] #345 closed, assigned to bogdanprodan-okta

[2021-02-25 00:45] venkatakanupuru opened #350 "Okta factor for TOTP"
Hi Team,

Can you please suggest how I can automate/ implement TOTP using terraform ?(UI steps are listed below)
Are there any terraform resources ?

okta factors supported are :
"duo", "fido_u2f", "fido_webauthn", "google_otp", "okta_call", "okta_otp", "okta_push", "okta_question", "okta_sms", "rsa_token", "symantec_vip" or "yubikey_token".

1. From the admin console, navigate to Security > Multi

[2021-02-25 10:49] bogdanprodan-okta commented on #350
Hi, @venkatakanupuru! Thanks for submitting this issue! I put some info together and get back to you ASAP.

[2021-02-25 14:30] #129 closed, assigned to bogdanprodan-okta

[2021-02-25 19:50] CodyDunlap opened #353 "Retrieve user type id from custom OIDC IdP"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-25 21:40] CodyDunlap commented on #353
I was able to figure this one out and answered my own question. It wasn't super clear but user schema for a custom IdP needs to use the `okta_app_user_schema` rather than `okta_user_schema` resource.

[2021-02-25 21:40] #353 closed, assigned to nobody

[2021-03-01 09:34] mcrobbj commented on #237
Sorry yes it does seem to be a duplicate

On Tue, 23 Feb 2021 at 17:53, Cody Dunlap <notifications@github.com> wrote:

[2021-03-01 10:08] mcrobbj commented on #237
#356 <https://github.com/oktadeveloper/terraform-provider-okta/pull/356> states
that its fix and it looks like it would be but its not been released.

On Tue, 23 Feb 2021 at 17:53, Cody Dunlap <notifications@github.com> wrote:

[2021-03-01 10:17] mcrobbj commented on #77
Plus one I am having this issue as well

[2021-03-01 12:24] patrickmarshallcb commented on #237
Looking to add scope to the application also, just wondering how long does it usually take for a new feature to be pushed to release. Thanks for this.

[2021-03-01 12:30] bogdanprodan-okta commented on #237
Hi! You can check the releases for the past several months to get an idea about the frequency of new features' appearance. Usually, it takes 2-3 weeks for the feature to be released, sometimes even less than that. It all depends on the complexity, how well it is documented in the official Okta specs, etc. Currently, I'm trying to make new releases every week.

[2021-03-01 13:45] patrickmarshallcb commented on #237
Thanks for the feedback, really appreciate it.

[2021-03-02 08:56] mcrobbj opened #359 "No way to change the App server default claim sub ( can do through the web console)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-02 14:30] bogdanprodan-okta commented on #359
Hi, @mcrobbj! Thanks for submitting this issue! I'll check what can be done when the claim already exists and get back to you asap.

[2021-03-02 19:19] mikemuth opened #361 "okta_policy_mfa okta_email retrieves from okta_sms"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-03 12:22] bogdanprodan-okta commented on #361
Hi, @mikemuth! Thanks for submitting this issue! I'll investigate the problem and will get back to you asap.

[2021-03-03 12:23] #69 closed, assigned to bogdanprodan-okta

[2021-03-03 12:24] #237 closed, assigned to nobody

[2021-03-03 14:06] #55 closed, assigned to bogdanprodan-okta

[2021-03-03 14:10] bogdanprodan-okta commented on #350
Hi, @venkatakanupuru! Sorry for the long response! As it turns out, terraform provider doesn't have a user factor resource. Thus to make the flow you've provided feasible, a new resource should be created. I think I'll have to investigate the official docs and make a corresponding PR.

[2021-03-03 14:40] #361 closed, assigned to nobody

[2021-03-03 15:32] bogdanprodan-okta commented on #191
Hi there! The default policies have certain limitations compared to the non-default ones. I think I can build a logic that will support that behavior using the existing resources or create new resources for each default policy. In the first case, there will certain limitations for field setup because `name`, `description`, `status`, and `priority` are immutable in default policies. In the second c

[2021-03-03 15:44] khitrenovich commented on #191
Thank you for looking into that!
I'm fine with either approach as long as it works, but I'm in no means a TF expert here...

[2021-03-03 17:05] gilShin opened #364 "Okta provider crashes after replacing okta certificate"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-03 18:24] dkulchinsky opened #365 "okta_oauth_app with Okta-mastered groups claim filter"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-04 12:00] bogdanprodan-okta commented on #365
Hi, @dkulchinsky! Thanks for submitting this issue! I'll try to investigate the problem and get back to you asap.

[2021-03-04 12:01] bogdanprodan-okta commented on #364
Hi, @gilShin! Thanks for submitting this issue! I've created PR that should fix the problem. It will be present in the next release

[2021-03-04 13:49] dkulchinsky commented on #365
Thanks @bogdanprodan-okta!

As a temporary workaround, I've used a `null_resource` with a `local-exec` provisioner to curl the internal API endpoint (was able to figure out from watching the network events in the browser when applying the same configuration from the UI), below are snippets of the code in case anyone stumbles on the same issue.

This workaround is sub-optimal of course, but does th

[2021-03-05 00:40] venkatakanupuru opened #367 "Terraform resource "okta_app_saml" single_logout_issuer"
Hi Team,

For the terraform resource "okta_app_saml" the attribute single_logout_issuer needs to be changed to string instead of validating it is url. Can you please verify and fix this. (ValidateDiagFunc: stringIsURL)

"single_logout_issuer": {
				Type:             schema.TypeString,
				Optional:         true,
				Description:      "The issuer of the Service Provider that generates the Single L

[2021-03-05 06:53] bogdanprodan-okta commented on #367
Hi, @venkatakanupuru! Thanks for submitting this issue. It will be fixed in the next release.

[2021-03-05 12:40] jackivanov opened #368 "data okta_app_saml to return links"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-05 13:21] bogdanprodan-okta commented on #368
Hi, @jackivanov! Thanks for submitting this issue! I think we can add computed field `links` to the data sources. It might be just a raw JSON string, or maybe some static structure, it all depends on the implementation complexity.

[2021-03-05 13:47] jackivanov commented on #368
@bogdanprodan-okta I suppose this key might be dynamic, so raw json output sounds good.

[2021-03-05 14:53] #364 closed, assigned to nobody

[2021-03-05 14:53] #367 closed, assigned to nobody

[2021-03-05 17:04] z0rc opened #369 "`okta_app_saml` output metadata url for dynamic configuration"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-05 17:27] bogdanprodan-okta commented on #369
Hi, @z0rc! Thanks for submitting this issue! There is field `entity_key` (computed value) in `okta_app_saml` resource. You can try to use it to build a metadata URL.

[2021-03-05 19:20] z0rc commented on #369
Thanks, that should work.

Seems this metadata url isn't provided by okta api, so I'm a bit uncertain whether this info should be returned via terraform provider. Feel free to close this request, as my case is resolved.

[2021-03-05 19:46] bogdanprodan-okta commented on #369
Always glad to help!

[2021-03-05 19:46] #369 closed, assigned to nobody

[2021-03-05 23:12] venkatakanupuru opened #370 "Terraform resource "okta_app_oauth" login_uri"
Hi Team,

For the terraform resource "okta_app_oauth" the attribute login_uri is expecting to have a url, needs to be changed to string instead of validating it to url. Can you please verify and fix this.

Error: invalid URL: expected login_uri to have a url with schema of: "http,https",

Thank you
Venkata

[2021-03-07 11:29] bogdanprodan-okta commented on #370
Hi, @venkatakanupuru! Thanks for submitting this issue! Based on the [official docs](https://developer.okta.com/docs/reference/api/apps/#settings-10), `login_uri` is
[code]

[2021-03-08 12:10] mikemuth commented on #370
we also use this as a string not a full URL

[2021-03-08 12:36] bogdanprodan-okta commented on #370
Yes, I understand that, but when providing an invalid URL for `login_uri`, Okta API will error out:
[code]

[2021-03-08 18:21] venkatakanupuru commented on #370
Hi @bogdanprodan-okta how to handle this situation for a mobile URL with no http or https

I am receiving an Error: invalid URL: expected login_uri to have a url with schema of: "http,https",

[2021-03-08 20:54] noinarisak commented on #370
@venkatakanupuru  Here is a snippet of my iOS application configuration. Hope that helps resolve your question.

[code]

[2021-03-09 00:36] venkatakanupuru commented on #370
Hi @noinarisak thank you for the response, I have similar configuration but I am not able to add the login_uri.
Actually the app is configured manually and now I am importing the app to terraform script, importing is done
$ terraform import okta_app_oauth.myapp <app id>

Because of this login_uri, I am getting the error.

Error: invalid URL: expected login_uri to have a url with schema of: "http,h

[2021-03-09 15:35] #370 closed, assigned to nobody

[2021-03-09 19:58] chrusty opened #373 "Ability to inactivate the default auth server"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-09 20:24] bogdanprodan-okta commented on #373
Hi, @chrusty! Thanks for submitting this issue! I'll do some investigation on whether it's possible to disable the default auth server. If it is, I'll create a new resource and add it to the upcoming release. Cheers!

[2021-03-09 20:30] chrusty commented on #373
Hello @bogdanprodan-okta, wow that is a quick response!

I suspect that it would take 2 API calls:

- GET /api/v1/authorizationServers?q=default to discover its ID
- PUT /api/v1/authorizationServers/id_of_default_auth_server with the new config

I'm just not sure about how a partial update would work with that PUT call.

[2021-03-10 17:52] #368 closed, assigned to nobody

[2021-03-10 19:42] #373 closed, assigned to nobody

[2021-03-12 22:43] dkulchinsky opened #377 "okta_app_group_assignment priority attribute is constantly changing and causing diffs"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-13 11:08] bogdanprodan-okta commented on #377
Hi, @dkulchinsky! Thanks for submitting this issue! I'll investigate the root cause and create a corresponding PR.

[2021-03-15 13:39] bogdanprodan-okta commented on #61
This functionality is available via `password_lockout_notification_channels`

[2021-03-15 14:22] shanepikeCN opened #379 "okta_app_oauth Add Support for Login Initated by and Login flow to resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-15 14:53] bogdanprodan-okta commented on #379
Hi, @shanepikeCN! Thanks for submitting this issue! Currently, Okta API doesn't contain these fields, so we can not include them in the provider. I'll make an internal request to check if there plans of adding them.

[2021-03-15 15:05] #50 closed, assigned to bogdanprodan-okta

[2021-03-15 15:05] #191 closed, assigned to bogdanprodan-okta

[2021-03-17 14:36] laiandrewe opened #382 "Adding/removing Okta user to a OIN Okta assignment or push group, unintended add/removes take place"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-17 14:48] tgoodsell-tempus opened #383 "okta_group_role inconsistent apply"
An inconsistent apply was detected for the resource `okta_group_role` which occurred during a period of heavy API load.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or othe

[2021-03-17 14:54] tgoodsell-tempus commented on #383
Follow up applies reveal this error:

[code]

[2021-03-17 15:58] bogdanprodan-okta commented on #383
Hi, @tgoodsell-tempus! Thanks for submitting this issue! I'll investigate the root cause and get back to you asap.

[2021-03-17 15:59] bogdanprodan-okta commented on #382
Hi, @laiandrewe! Thanks for submitting this issue! I'll try to reproduce the flow to see what can be fixed and get back to you asap.

[2021-03-17 16:02] tgoodsell-tempus commented on #383
Cheers! My plan was to modify the line here https://github.com/okta/terraform-provider-okta/blob/65c8da66202e2b0dc69720a582f18c3a64d8e1dc/okta/resource_okta_group_role.go#L121

and change it to `return nil` since it seems like it's an API lag issue.

[2021-03-17 16:24] khitrenovich commented on #191
@bogdanprodan-okta -
Do you have a usage example? Will the config snippet I posted above work as is now, or some changes are needed?

[2021-03-17 16:48] bogdanprodan-okta commented on #383
If there is a lag, I'll add a retry logic similar to this:
https://github.com/okta/terraform-provider-okta/blob/65c8da66202e2b0dc69720a582f18c3a64d8e1dc/okta/resource_okta_group_membership.go#L54

[2021-03-17 16:57] #377 closed, assigned to nobody

[2021-03-18 20:27] edulop91 opened #384 "Orphaned users when group_rule is deleted"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-19 09:29] bogdanprodan-okta commented on #384
Hi, @edulop91! Thanks for submitting this issue! I think a good solution here will be to add an extra property like `retain_assigned_users` (`true` by default) or something so I don't change the current behavior of the resource. I'll create a corresponding PR and tag this issue.

[2021-03-19 19:33] kbajno opened #385 "okta_auth_server_policy_rule does not update status"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-20 13:49] bogdanprodan-okta commented on #385
Hi, @kbajno! Thanks for submitting this issue! I've created a corresponding PR to solve this issue and it will be available in the upcoming release.

[2021-03-22 16:23] kbajno commented on #385
@bogdanprodan-okta Great, thank you!

[2021-03-22 17:18] kbajno opened #391 "Wildcard redirect support for OAuth 2 Apps"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-22 17:30] edulop91 commented on #384
Thank you so much!

[2021-03-22 17:31] kbajno commented on #385
@bogdanprodan-okta When is the next release planned?

[2021-03-22 17:47] bogdanprodan-okta commented on #391
Hi, @kbajno! Thanks for submitting this issue! I'll check the new parameter and create a PR if this field is available via public API.

[2021-03-22 18:21] kbajno commented on #391
@bogdanprodan-okta Great, thank you! The Okta Apps API documentation for `POST /api/v1/apps` has this parameter listed under [how to add an OAuth 2.0 application](https://developer.okta.com/docs/reference/api/apps/#add-oauth-2-0-client-application)

[2021-03-23 08:34] bogdanprodan-okta commented on #385
Hi, @kbajno! The next release will probably this week. The only problem is that provider has migrated from `oktadeveloper` to `okta` and I don't know if I will be able to release it with the current gpg key.
There is always a possibility to use [in-house provider ](https://www.terraform.io/docs/cloud/run/install-software.html#in-house-providers) built from source. Basically, you run `go install`,

[2021-03-23 10:36] bogdanprodan-okta commented on #359
Hi, @mcrobbj! I've created a [separate resource](https://github.com/okta/terraform-provider-okta/pull/392) for default claims, so it will be easier to manage them.

[2021-03-23 12:20] fatbasstard commented on #39
Hi @bogdanprodan-okta ,

Do you know if this feature can/will added any time soon?

[2021-03-23 17:42] mcrobbj opened #393 "There is no way to make general settings"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-23 19:48] khitrenovich commented on #191
@bogdanprodan-okta Do you have any update on the above, please?

[2021-03-23 21:50] drc-hpaddock opened #394 "Error creating okta_policy_rule_idp_discovery"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-24 10:04] bogdanprodan-okta commented on #191
Hi @khitrenovich! Here is example of how to use default MFA policy
[code]
Basically, all the fields are computed except the factors.

The next release will probably this week. The only problem is that provider has migrated from `oktadeveloper` to `okta` and I don't know if I will be able to release it with the current `gpg` key.
There is always a possibility to use [in-house provider ](https://www

[2021-03-24 10:06] bogdanprodan-okta commented on #393
Hi, @mcrobbj! Thanks for submitting this issue! I'll investigate the possibility to change the General Security settings via API and get back to you asap.

[2021-03-24 10:07] bogdanprodan-okta commented on #394
Hi, @drc-hpaddock! Thanks for submitting this issue! I'll investigate the root cause of this error and will try to fix it.

[2021-03-24 10:08] #359 closed, assigned to bogdanprodan-okta

[2021-03-24 10:09] #385 closed, assigned to bogdanprodan-okta

[2021-03-24 10:09] #384 closed, assigned to bogdanprodan-okta

[2021-03-24 10:09] #383 closed, assigned to bogdanprodan-okta

[2021-03-24 10:13] jackivanov commented on #368
Thanks for adding it @bogdanprodan-okta! Would it be possible to expose the content of those links as well?

Basically, here's my use case - The Okta app ID is the only input I got, and I want to pull all groups assigned to this particular app. The links include the groups in the response, so a data sources can pull the links and return the results.

[code]

[2021-03-24 10:19] bogdanprodan-okta commented on #368
Well, I can add the extra fields like `groups`, `users`, etc. to all the app data sources.

[2021-03-24 10:51] jackivanov commented on #368
Sounds good, many thanks!

[2021-03-24 11:47] khitrenovich commented on #191
Oh, I just realized the change is not out yet... That explains why it's not covered in the docs :)

[2021-03-24 19:10] edulop91 opened #396 "okta_app_group_assignments: leverage assignment bulk endpoints to avoid rate limiting"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-24 19:50] dgallub commented on #359
Hey @bogdanprodan-okta - thank you for making this change! Do you know when the next release is going to be?

[2021-03-25 04:49] shantanugadgil commented on #34
/unstale

[2021-03-25 08:43] bogdanprodan-okta commented on #396
Hi, @edulop91! Thanks for submitting this issue! It seems like a very useful resource to decrease the number of API calls. If you want to contribute, feel free to create a PR!

[2021-03-25 08:48] bogdanprodan-okta commented on #359
Hi, @dgallub!
The next release will probably this week. The only problem is that provider has migrated from `oktadeveloper` to `okta` and I don't know if I will be able to release it with the current `gpg` key.
There is always a possibility to use [in-house provider ](https://www.terraform.io/docs/cloud/run/install-software.html#in-house-providers) built from source. Basically, you run `go install

[2021-03-25 09:19] bogdanprodan-okta commented on #394
Hi, @drc-hpaddock! The problem is in the `app_include` field. Try to make it like this:
[code]
This should fix the 500 error.

[2021-03-25 16:10] drc-hpaddock commented on #394
Thank you, this resolved my issue.

[2021-03-25 16:10] #394 closed, assigned to nobody

[2021-03-25 17:41] paulverrone opened #398 "Add Refresh Token Rotation support for OIDC Apps"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-26 08:10] bogdanprodan-okta commented on #398
Hi, @paulverrone! Thanks for submitting this issue! Currently, Okta Golang SDK doesn't have this field, so first, we need to add it to the App model. Only after that, I'll create a PR to support the "Refresh Token Rotation" property.

[2021-03-29 15:14] tomaspinho opened #404 "Importing Okta Workflows OIDC application segfaults"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-29 17:37] sklarsa commented on #77
@bogdanprodan-okta

[code]

I'm using a superuser token, so this doesn't make sense.

For context, just trying to use an okta_user_profile_mapping_source like this:
[code]

Edit: I see that `E0000015` corresponds to [Feature Not Enabled](https://developer.okta.com/docs/reference/error-codes/#E0000015).  I'm following up with my rep now and will post again if I experience additional errors after pe

[2021-03-29 17:52] bogdanprodan-okta commented on #404
Hi, @tomaspinho! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-03-29 23:03] ambrosy-eric opened #405 "Unable to find provider 3.11.0"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-30 09:13] bogdanprodan-okta commented on #405
Hi, @ambrosy-eric! Thanks for submitting this issue!

The problem is that official Okta provider has migrated from `oktadeveloper` to `okta` namespace and thus we can not publish it to the registry without a new `gpg` key.

The official answer from Hashicorp states:
[code]

There is always a possibility to use [in-house provider ](https://www.terraform.io/docs/cloud/run/install-software.html#in-ho

[2021-03-30 10:17] bogdanprodan-okta commented on #39
Hi @fatbasstard! Sorry for the long reply! As it turns out, Okta [supports logo managing via API](https://developer.okta.com/docs/reference/api/apps/#application-logo-operations), however, it's an `early access` feature right now. I will try to include this into the provider via custom API calls since the official Golang SDK doesn't include it right now.

[2021-03-30 16:26] ambrosy-eric opened #406 "Additional Outputs for okta_group"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-30 16:28] edulop91 opened #407 "okta_app_*: users and groups field deprecation/removal"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-30 17:29] dangoslen commented on #398
@bogdanprodan-okta

Glad this is being worked on! Do you know when the SDK will support this feature? We are attempting to use it in our Okta environments but we manage our OAuth applications using terrafrom. This means that any applications using the Refresh Token grant that is allowed when this new feature is enabled get blown away every time we run our terrafrom.

I'm happy to help make contrib

[2021-03-30 20:01] bogdanprodan-okta commented on #407
Hi, @edulop91! Thanks for submitting this issue! You are right, `users` and `groups` probably will be removed in the 4.x.x version of the provider, since it's more efficient to manage them outside from app_* related resourced. I will be reviewing and removing/deprecating some of the resources for the cases where you can manage the same thing from multiple places.

[2021-03-30 21:26] #396 closed, assigned to nobody

[2021-03-31 03:47] thekbb opened #408 "question_recovery cannot be set to INACTIVE in okta_policy_password"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-31 08:40] bogdanprodan-okta commented on #406
Hi, @ambrosy-eric! Thanks for submitting this issue! You can always do that without creating an extra data source to get group name and ID. Here is a simple example:
[code]
Basically, if you are referencing fields from a resource that is not yet created, terraform will first create these resources and only after that the ones that have references.

[2021-03-31 09:16] bogdanprodan-okta commented on #408
Hi, @thekbb! Thanks for submitting this issue! I'll try to figure out the nature of the problem and get back to you asap!
PS I've tried to manually disable SQ vie API, and got the same error. This might be an issue on the Okta side, and not on the provider's.

[2021-03-31 09:23] bogdanprodan-okta commented on #77
Hi, @sklarsa! Thanks for the reply! I think other users experiencing the same error because this feature is not enabled in their orgs.

[2021-03-31 15:06] tgoodsell-tempus opened #409 "Unnecessary force new on Okta User Resource"
The Okta API should allow for the update operation on the `login` field, without requiring a full replacement of the user. This should allow us to remove the linked line and remove a unnecessary destructive operation.

https://github.com/okta/terraform-provider-okta/blob/4eefddd6b5a77479a1c45447eb2b0e8ac1496a45/okta/resource_okta_user.go#L165

I will do some testing and confirm this behavior holds

[2021-04-01 00:11] #274 closed, assigned to nobody

[2021-04-01 00:11] #23 closed, assigned to nobody

[2021-04-02 17:37] weald opened #410 "Support for domain APIs"
We are standing up a new SaaS product using Okta as our IdP. We are standing up the infrastructure sing Terraform and Terraform Cloud.  We'd like support for the [domain APIs](https://developer.okta.com/docs/reference/api/domains/) in the Okta Terraform provider.

As a DevOps engineer I would like to configure a custom domain in Okta via Terraform so that no manual configuration is needed, which i

[2021-04-02 19:22] bogdanprodan-okta commented on #410
Hi, @weald! Thanks for submitting this issue! Despite `Domain APIs` are still in early access, I can try to create a new resource to support them. I'll create a PR and link this issue to keep you updated.

[2021-04-02 19:24] bogdanprodan-okta commented on #409
Hi, @tgoodsell-tempus! Thanks for submitting this issue! Seems like you are right about this, so I'll try to create a PR next week to fix this.

[2021-04-02 21:26] weald opened #411 "List of email template types"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-02 23:52] weald commented on #411
I managed to find the list by performing a GET on {{url}}/api/v1/templates/emails
Here here is the list:
"type": "email.welcome",
        "type": "email.forgotPassword",
        "type": "email.emailLinkRecoveryResetFactor",
        "type": "email.emailLinkRecoveryResetPwdFactor",
        "type": "email.emailLinkRecoveryAdResetFactor",
        "type": "email.emailLinkRecoveryAdResetPwdFactor",

[2021-04-03 17:53] bogdanprodan-okta commented on #411
Hi, @weald! Thanks for submitting this issue and for the list of template types! I will add this list to the email type validation, so can be printed.

[2021-04-06 01:33] mfergus1 opened #412 "Extend okta_group for group filtering"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-06 07:04] fatbasstard commented on #412
Hi @mfergus1,

I think the feature you're looking for is released with the latest version (`3.11`):

- https://github.com/okta/terraform-provider-okta/blob/master/CHANGELOG.md#3110-march-26-2021
- https://github.com/okta/terraform-provider-okta/pull/103

[2021-04-06 13:32] laiandrewe commented on #382
Hello, @bogdanprodan-okta. Wanted to follow up to see if you were able to reproduce this issue?  Thanks!

[2021-04-06 18:23] ambrosy-eric opened #413 "Output what resource is deprecated"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-06 18:27] ambrosy-eric commented on #406
Thanks @bogdanprodan-okta do you want me to close this, or leave for a PR to update the [docs](https://github.com/okta/terraform-provider-okta/blob/master/website/docs/r/group.html.markdown#attributes-reference) as there are few other resources (users, app_oauth, etc.) where outputs exist but are not documented.

[2021-04-06 19:46] bogdanprodan-okta commented on #406
I think I'm gonna close this one as I was planning to review all the docs this month anyway.

[2021-04-06 19:46] #406 closed, assigned to nobody

[2021-04-06 19:55] bogdanprodan-okta commented on #413
Hi, @ambrosy-eric! Thanks for submitting this issue! Yes, I think you have a point to put a proper message for the users.
Just a heads up, there might be a v4 release of the provider and all the deprecated resources won't be supported anymore.

[2021-04-07 13:08] dkulchinsky opened #414 "Provider version 3.11.0 is missing in Terraform Registry"
Hey @bogdanprodan-okta 👋🏼

It looks like the latest version of the provider (v3.11.0) is missing from the Terraform Registry and it still shows v3.10.1 as latest.

https://registry.terraform.io/providers/oktadeveloper/okta/latest

Thanks!

[2021-04-07 13:55] bogdanprodan-okta commented on #414
Hi, @dkulchinsky! Thanks for submitting this issue! Please refer to [this comment ](https://github.com/okta/terraform-provider-okta/issues/405#issuecomment-810056944) that describes the nature of the problem.

[2021-04-07 13:55] #414 closed, assigned to nobody

[2021-04-07 14:01] dkulchinsky commented on #414
ohhh... thanks for pointing me to that comment!

Perhaps add a note of this in the README to avoid folks stumbling on the same issue? and maybe have an open issue to track it until this is resolved?

Was really looking forward to try 3.11 😄

[2021-04-07 15:40] dkulchinsky opened #415 "attribute_statements always triggers a change in okta_app_saml when using preconfigured_app"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-07 16:59] bogdanprodan-okta commented on #415
Hi, @dkulchinsky! Thanks for submitting this issue! I'll investigate the problem and will create a PR to fix it.

[2021-04-07 17:11] kbajno commented on #391
@bogdanprodan-okta Any updates on this one?

[2021-04-07 17:14] bogdanprodan-okta commented on #391
@kbajno no yet. I'm currently working on some other staff inside Okta, will be back on the provider next week. Sorry for the delay!

[2021-04-07 21:19] kbajno commented on #391
@bogdanprodan-okta Thank you for the update!

[2021-04-09 15:15] cru-Luis-Rodriguez opened #418 "Okta saml app attribute_statements ignored or not applying"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-09 15:42] bogdanprodan-okta commented on #418
Hi, @cru-Luis-Rodriguez! Thanks for submitting this issue! I think this is related to #415. I'll do the investigation and create a PR asap to fix this.

[2021-04-12 00:12] #305 closed, assigned to nobody

[2021-04-12 13:08] natefredette opened #420 "Extend `okta_policy_rule_signon` to support enhanced MFA"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-12 13:48] natefredette opened #421 "Add support for Behavior Detection"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-12 13:57] bogdanprodan-okta commented on #420
Hi, @natefredette! Thanks for submitting this issue! I'll investigate how to handle this and create a PR asap.

[2021-04-12 14:01] bogdanprodan-okta commented on #421
Hi, @natefredette! Thanks for submitting this issue! I'll investigate how to handle this and create a PR asap.

[2021-04-12 16:23] lukiffer commented on #312
Understand that the lack of an API makes this impossible to implement from a Terraform perspective, but is there an forum or contact for making product requests such as the requisite API?

[2021-04-12 17:32] noinarisak commented on #312
Hi @lukiffer, please submit your request to https://ideas.okta.com, to increase the visibility beyond this repo.

[2021-04-12 23:06] CalebAlbers commented on #56
@bogdanprodan-okta our organization manages well over 1,000 individual Okta apps across our client base and we have made a custom solution for managing app sign-on policies. I understand that there's no public API for this, but if we were to refactor our current solution, making it idiomatic with how the current Okta provider works, would you take a PR for it?

It would be hitting internal endpoin

[2021-04-13 08:30] mcrobbj opened #422 "Add Terratest to the project"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-13 10:31] bogdanprodan-okta commented on #56
Hi, @CalebAlbers! I'm not sure about that, but I'll talk to the manager to see what we can do.

[2021-04-13 10:33] bogdanprodan-okta commented on #422
Hi, @mcrobbj! Thanks for submitting this issue! I'll talk about adding this with my lead and get back to you asap.

[2021-04-13 13:25] bogdanprodan-okta commented on #77
Hi everyone! I'm closing this issue due to the probable reason for this error is that profile mapping isn't enabled. Feel free to create a new one if this is still an issue. Thanks!

[2021-04-13 13:25] #77 closed, assigned to bogdanprodan-okta

[2021-04-13 13:58] bogdanprodan-okta commented on #418
Hi, @cru-Luis-Rodriguez! Seems like the preconfigured app `Bomgar` doesn't support `attribute_statements` by default.
If you take a look at **General** tab in your `Bomgar` app, you won't find `SAML Settings` section. Because attribute statements reside in that section, you won't be able to config them via terraform. I'll ask around whether it's possible to enable that functionality and get back t

[2021-04-13 14:37] cru-Luis-Rodriguez commented on #418
@bogdanprodan-okta
Thank you.

[2021-04-13 15:17] jlj77 opened #424 "`okta_policy_rule_signon` update in-place of `priority` value works, but errors"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-13 20:12] #39 closed, assigned to bogdanprodan-okta

[2021-04-13 20:16] bogdanprodan-okta commented on #424
Hi, @jlj77! Thanks for submitting this issue! I'll try to reproduce the steps you've provided and get back to you asap.

[2021-04-14 09:00] bogdanprodan-okta commented on #415
Hi, @dkulchinsky! Seems like you have the same case as in #418. Jenkins doesn't support `attribute_statements` by default.
I'm not sure yet how to enable that, but I'm working on it.

[2021-04-14 12:22] ashwini-desai opened #425 "okta_app_user_schema inconsistent apply"
An inconsistent apply is detected for the resource okta_app_user_schema when applied inside `count`.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do

[2021-04-14 13:19] dkulchinsky commented on #415
thank you! @bogdanprodan-okta

So this is interesting, when we create the App with Terraform it does set the correct SAML properties:

**EDIT**: as described in a comment below, a team mate indeed configured this bit manually after creating the app with terraform.

![image](https://user-images.githubusercontent.com/61992380/114716823-6ed6d300-9d02-11eb-92c3-3a9035b5a0c8.png)

as opposed to creatin

[2021-04-14 14:27] laiandrewe commented on #382
@bogdanprodan-okta Have you been able to reproduce this issue?  I'm surprised other orgs haven't run into this if they're using both Terraform and the Okta OIN applications

[2021-04-14 15:34] bogdanprodan-okta commented on #425
Hi @ashwini-desai! Thanks for the issue and the PR! I'll review and merge it if everything is OK.

[2021-04-14 15:46] dkulchinsky commented on #415
@bogdanprodan-okta I just did a quick test, I manually changed the `group` matcher to `None` and applied our TF code, indeed it didn't change it back to `Regex/.*`.

I checked with my team mates and looks like this was defined manually after creating the application with Terraform.

[2021-04-14 16:48] #425 closed, assigned to nobody

[2021-04-14 17:26] bogdanprodan-okta commented on #382
Hi, @laiandrewe! Sorry for the late response! I was distracted from terraform provider for a while. I will start to work on this issue tomorrow and see what I can do.

[2021-04-16 20:45] ht128 opened #429 "unable to manage the display name""

[2021-04-16 20:55] ht128 opened #430 "Unable to manage the "display name" when configuring "okta_auth_server_scope""
I've been working with configuring my Okta instance using terraform and the Okta provider. As part of this, I'm adding new scopes to our authorization server.

Using `okta_auth_server_scope`, I'm able to define it as needed except for the **display name** property.

I've been using the documentation here: https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/auth_server_

[2021-04-16 20:57] bogdanprodan-okta commented on #430
Hi, @ht128! Thanks for submitting this issue! I'll try to reproduce the problem you have with this field and get back to you asap. If this is a bug, I'll create a PR and link this issue. Have a nice weekend!

[2021-04-18 00:11] #312 closed, assigned to nobody

[2021-04-20 08:39] amine250 opened #431 "Help: where can I get the source id"
Hello,
I'd like to write terraform code that would manage profile mappings for me, so I followed the example in https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/profile_mapping.

However, I'm struggling with the `source_id` field as I don't what I should put in there.
[code]

I put something like `oidc_client_xxxx349`  but I got an error like:
[code]

[2021-04-20 08:48] bogdanprodan-okta commented on #431
Hi, @amine250! Thanks for submitting this issue! Terraform repo has a lot of [examples](https://github.com/okta/terraform-provider-okta/tree/master/examples) of how to use the resources. Here is an example for `okta_profile_mapping` resource:
[code]

[2021-04-20 10:11] #429 closed, assigned to nobody

[2021-04-20 10:26] bogdanprodan-okta commented on #382
Hi, @laiandrewe! Could you test adding/removing user to/from the group by using this resource?

[code]
I just want to make sure that the behavior is the same

[2021-04-20 11:44] bogdanprodan-okta commented on #382
I think I found the root cause of this issue. Here is the code sample responsible for that:
[code]
That's why you see all these unnecessary assigns/unassigns.

I would suggest managing group assignments via `okta_user_group_memberships` resource because it has different behavior than the `group_memberships` field in the `okta_user` resource.

If you have any other questions, please feel free to po

[2021-04-20 13:48] laiandrewe commented on #382
Hi @bogdanprodan-okta thanks for the update.  I'm attempting to test this but I receive `Error: Invalid resource type` for `resource "okta_user_group_memberships" "test"`

[2021-04-20 14:17] bogdanprodan-okta commented on #424
Hi, @jlj77! The thing about the priority of the rules is that it should be 1,2,3,4... Even if you make rules with priority like 1,2,10,22,123 it will still convert it to 1,2,3,4,5. Basically, in your scenario, you set priority=2 to the new rule, and priority=3 to the existing one. In case terraform updates the existing rule first, and then creates another one, the priority will stay 2 even if you

[2021-04-20 14:22] bogdanprodan-okta commented on #382
Could you use the `v3.11.0` provider from GitHub? The problem is that the latest published version is `v3.10.1` and we can not yet push the newest to the registry. See the explanation [here](https://github.com/okta/terraform-provider-okta#important-note).

[2021-04-20 15:38] #430 closed, assigned to bogdanprodan-okta

[2021-04-20 15:38] #382 closed, assigned to bogdanprodan-okta

[2021-04-20 15:43] bogdanprodan-okta commented on #405
Added note [here](https://github.com/okta/terraform-provider-okta#important-note)

[2021-04-20 15:43] #405 closed, assigned to nobody

[2021-04-20 15:46] bogdanprodan-okta commented on #431
If there are no more questions, feel free to close this issue. Thanks!

[2021-04-20 18:58] cru-Luis-Rodriguez opened #434 "Office365 App and manual WS-Federation"
Do you have a resource to set up an Office365 App with manual WS-Federation?

[2021-04-20 19:41] cru-Luis-Rodriguez commented on #434
is it possible to use the okta_app_saml like so?

[code]

[2021-04-21 04:33] ymylei commented on #409
I've created #435 for this

[2021-04-21 04:38] ymylei opened #436 "Update provider environment variable handling"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-21 08:25] amine250 commented on #431
Hi @bogdanprodan-okta and thanks for your help.

I've succeeded to create a mapping.

Compared to doing it on the console, I can't know if the Terraform action will or will not apply the mappings to all users with the current profile?

![image](https://user-images.githubusercontent.com/7514608/115521400-698e0100-a28b-11eb-8408-f8d08b8430cd.png)

Is this step relevant when working with mappings in

[2021-04-21 08:26] jlj77 commented on #424
Makes sense -- thanks for getting back to me on this!

[2021-04-21 12:02] bogdanprodan-okta commented on #434
Hi, @cru-Luis-Rodriguez! Thanks for submitting this issue! I'm not sure whether to not it's possible because I've never done this before, but I'll do some investigation and get back to you asap.

[2021-04-21 12:07] bogdanprodan-okta commented on #436
Hi, @ymylei! Thanks for submitting this issue! Yes, this is a breaking change for the provider. I think we can change it in the 4.x version.

[2021-04-21 12:10] bogdanprodan-okta commented on #431
Hi! Yes, basically you are right. This is the [official docs ](https://developer.okta.com/docs/reference/api/mappings/#property-mapping-object) explaining this.

[2021-04-21 12:12] bogdanprodan-okta commented on #424
No problem! Sometimes the sequence of the resource creation is essential. That's why terraform came up with `depends_on` field.
If you don't have any more questions, please close this issue or post them here. Thanks!

[2021-04-21 12:54] cru-Luis-Rodriguez commented on #434
Hello, @bogdanprodan-okta Thanks for investigating. A co-worker of mine found the following [post](https://onlinehelp.opswat.com/metaaccess/Okta_IdP_with_O365_using_SAML_2.0.html) that configures office365 as a SAML app in Okta with federation. Granted I'm unsure if this is the same as `WS-Federation` or a workaround, but it at least shows that it might be possible to use the `okta_app_saml` to co

[2021-04-21 15:56] #431 closed, assigned to nobody

[2021-04-21 17:39] #424 closed, assigned to bogdanprodan-okta

[2021-04-21 19:37] bulebuk opened #437 "v3.11.0 is not available in Terraform Registry"
[code]

Please push the latest version to the Terraform registry so that it may be used.

[2021-04-21 19:39] bogdanprodan-okta commented on #437
Please read the note in the [README](https://github.com/okta/terraform-provider-okta#important-note)

[2021-04-21 19:39] #437 closed, assigned to nobody

[2021-04-21 22:22] Yohan460 opened #438 "okta_group fails to load users when the terraform state is started from nothing"
### Description
[This code block](https://github.com/okta/terraform-provider-okta/blob/5229dd7a3fc0083514831cd9204e9d3abc23de41/okta/resource_okta_group.go#L108-L110) is causing the terraform state file to not populate okta users into the state when a `terraform refresh` is executed when the `"users"` key in the terraform state file is either `null` or not defined.
https://github.com/okta/terrafor

[2021-04-22 00:42] Freaky-namuH commented on #56
@CalebAlbers Do you have a change set available publicly? Even if @bogdanprodan-okta isn't able to accept a PR?
We are running into similar issues.

[2021-04-22 04:27] CalebAlbers commented on #56
@Freaky-namuH we have code in Typescript that I can provide publicly which can manage the internal auth and sign-on policies, but we haven't rewritten in Go for terraform yet. Happy to collaborate on doing that though if interested.

[2021-04-22 07:39] bogdanprodan-okta commented on #438
Hi, @Yohan460! Thanks for submitting this issue! I have a question though: why do ever need to change `terraform.tfstate` file manually? It's intended to be used by the terraform cli itself, not the user.

[2021-04-22 13:29] Yohan460 commented on #438
Hey @bogdanprodan-okta,

At Coinbase we use a tool called [GeoEngineer](https://github.com/coinbase/geoengineer) (Geo) as a wrapper for terraform to standardize generating terraform code from YAML GPS files. As apart of this process it [generates a skeleton terraform state](https://github.com/coinbase/geoengineer/blob/master/lib/geoengineer/cli/terraform_commands.rb#L6-L17) file with the remote ID

[2021-04-22 19:49] travisty- commented on #412
@bogdanprodan-okta It looks like the latest version of the provider published to the Terraform registry is `3.10.1`. Any chance we could get version `3.11.0` published in the near future? The new `okta_groups` resource would be helpful in managing our Terraform configuration. Thanks!

[2021-04-23 11:41] bogdanprodan-okta commented on #412
Hi, @travisty-! Please read this [important note](https://github.com/okta/terraform-provider-okta#important-note). As for the ETA, that depends totally on Hashicorp.

[2021-04-23 12:28] bogdanprodan-okta commented on #415
Hi, @dkulchinsky! Please read the [top comment](https://github.com/okta/terraform-provider-okta/pull/439#issue-622030948) in the linked PR. Thanks!

[2021-04-23 12:28] bogdanprodan-okta commented on #418
Hi, @cru-Luis-Rodriguez! Please read the [top comment](https://github.com/okta/terraform-provider-okta/pull/439#issue-622030948) in the linked PR. Thanks!

[2021-04-23 13:00] klaushauschild1984 opened #440 "okta_template_email - Api validation failed: customTemplate. Causes: errorSummary: Property ''{0}'' not found"
I am currently adopting Terraform to maintain my Okta tenants.
When it comes to email templates I am facing a problem I am stuck because I do not understand what API is trying to tell me.

`email.tf`
[code]
The referenced file containing the template content is filled with the template content Okta provides as default. So nothing fancy in place.
When it comes to applying my changes I get this erro

[2021-04-23 13:23] bogdanprodan-okta commented on #440
Hi, @klaushauschild1984! Thanks for submitting this issue! I think the problem is in your template itself. Okta doesn't know what to do with `{{0}}` property. For example, you can use values such as`${baseURL}`, `${org.name}`, `${activationLink}`, etc. Okta will substitute them with real values. So basically, because your template contains an invalid value, it can not be parsed.

[2021-04-23 13:29] #415 closed, assigned to bogdanprodan-okta

[2021-04-23 13:29] #418 closed, assigned to bogdanprodan-okta

[2021-04-23 14:02] klaushauschild1984 commented on #440
Sure. That would be totally understandable. But if you look into the source file, there is no `{{0}}`. As I said, this is the default template, Okta provides which should be accepted by API validation.

[code]

[2021-04-23 14:15] bogdanprodan-okta commented on #440
Let me try to test this template

[2021-04-23 14:45] bogdanprodan-okta commented on #440
The problem you have is in `type` value. Please read [this comment ](https://github.com/okta/terraform-provider-okta/issues/411#issuecomment-812758052)

[2021-04-23 14:59] #411 closed, assigned to bogdanprodan-okta

[2021-04-23 14:59] #440 closed, assigned to bogdanprodan-okta

[2021-04-23 15:11] cru-Luis-Rodriguez commented on #434
@bogdanprodan-okta So I ran a test to try to setup the office365 as a saml app as described in the post and was not success full. I'm going to close this inquiry and maybe open a request for a new feature TF resource that support the office365 integration.

[2021-04-23 15:11] #434 closed, assigned to nobody

[2021-04-23 15:29] bogdanprodan-okta commented on #434
Hi, @cru-Luis-Rodriguez! Currently, the provider doesn't support `SignOnMode=WS_FEDERATION`. I can start to work on adding a new `okta_app_ws_federation` resource next week.

[2021-04-23 15:31] #438 closed, assigned to nobody

[2021-04-23 20:18] cru-Luis-Rodriguez commented on #434
@bogdanprodan-okta Can you incorporate allowing manual federation? I'm not 100% sure, but I think `signOnMode=WS_FEDERATION` is only for an automatic federation where okta takes care of federating the domains for the customer. Still, there is also manual federation where the customer has to run a PowerShell Script to federate the domain. I believe that uses `signOnMode": "SAML_1_1` at least that i

[2021-04-23 20:22] bogdanprodan-okta commented on #434
We need two resources then: `SAML_1_1` (Federated Authentication with SAML 1.1 WebSSO) and `WS_FEDERATION` (Federated Authentication with WS-Federation Passive Requestor Profile)

[2021-04-23 21:25] dkulchinsky commented on #415
Thanks @bogdanprodan-okta! When you say 'org' do you mean in Okta somewhere? Also, any updates about publishing new version in terraform registry?

[2021-04-23 22:07] dsalaza4 opened #443 "Missing credentials_sheme in okta_app_swa"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-24 19:12] travisty- commented on #412
@bogdanprodan-okta I must have missed the README update, thanks for the clarification!

[2021-04-25 10:15] bogdanprodan-okta commented on #415
@dkulchinsky, yes, I think it can be done either by superadmin or Okta support.

[2021-04-26 08:19] bogdanprodan-okta commented on #443
Hi, @dsalaza4! Thanks for submitting this issue! If these fields are present in the official SDK, I'll add them shortly.

I think this requires creating a new resource for https://developer.okta.com/docs/reference/api/apps/#set-swa-shared-credentials in the provider.

[2021-04-26 16:45] dsalaza4 commented on #443
That would work too. Though, to be honest, it's kinda weird that other resources support it directly and this one does not. Thank you very much for your time!

[2021-04-26 17:07] bogdanprodan-okta commented on #443
No problem!

[2021-04-26 17:22] dsalaza4 opened #447 "Allow null username for okta_app_user"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-26 17:28] dsalaza4 commented on #447
Something important to note is that although the resource creation fails when manually assigning the `shared_username` from the app, that's the actual value it ends up getting when assigning the empty string (`""`).

Another solution could be making the `Credentials should not be set on this resource based on the scheme` error go away by validating `username == app.shared_username`

[2021-04-27 10:06] bogdanprodan-okta commented on #447
Hi, @dsalaza4! Thanks for submitting this issue! I'll try to reproduce your steps and get back to you asap.

[2021-04-27 13:14] dkulchinsky commented on #415
Thanks for confirming @bogdanprodan-okta! any news on when the new releases will find their way into the Terraform registry? 🙏🏼

[2021-04-27 14:06] bogdanprodan-okta commented on #415
@dkulchinsky no updates from Hashicorp so-far

[2021-04-27 23:25] mfergus1 opened #448 "okta_group_role fails with API and breaks terraform state"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-28 07:46] bogdanprodan-okta commented on #448
Hi, @mfergus1! Thanks for submitting this issue! I'll try to reproduce your steps and get back to you ASAP.

[2021-04-28 15:15] #443 closed, assigned to bogdanprodan-okta

[2021-04-28 16:16] edulop91 commented on #407
Perfect, thank you so much! Do you know if there's a rough timeline for a 4.X release?

[2021-04-28 16:47] bogdanprodan-okta commented on #407
No, not really. We totally depend on the new `gpg` key that Hashicorp should provide and I have no updates on this matter.

[2021-04-28 16:52] mfergus1 commented on #448
Thanks @bogdanprodan-okta :)
1) App name and OIDC
I will caveat / note that I am aware by default all OIDC apps have the "name" OIDC_Client which I'm curious about overriding as that is a value passed to the group role assignment target list. :shrug:
So... `app_name` doesn't really apply for them (I was hoping that client_id might be something I override that becomes the OIDC app_name).

2) In the

[2021-04-28 17:24] dsalaza4 opened #449 "Conflict between okta_group_rule and okta_group users"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-28 17:36] bogdanprodan-okta commented on #449
Hi, @dsalaza4! Thanks for submitting this issue! I don't think this is possible, because of how the terraform works. It can not control what Okta does under the hood when you creating a rule. The only thing you can do is create `okta_group_rule` with `status = "INACTIVE"`, so it won't add users on resource creation (and activate it later). Another option is to not add the users into `okta_group` a

[2021-04-28 17:48] dsalaza4 commented on #449
@bogdanprodan-okta I think that by using `okta_group_membership` instead of declaring `users` within the  group itself would allow to comlpetely disable the `users` attribute by using the lifecycle policy you mentioned. Maybe this approach would allow to manage both rules and users for the same group. I will give it a try and let you know. Thank you so much!

[2021-04-28 18:36] dsalaza4 commented on #449
@bogdanprodan-okta I can confirm that using `okta_group_membership` instead of declaring `users` within the `okta_group` worked. Closing this issue.

[2021-04-28 18:36] #449 closed, assigned to nobody

[2021-04-28 22:13] dmpratt opened #450 "okta_app_oauth login_uri does not support generic URIs"
When configuring an okta_app_oauth with type = "native" for a mobile native app, the login, logout and redirect URIs use a special format "application.code:/callback" This is a valid uri, but throws an error: invalid URL: expected 'login_uri' to have a host. Okta allows the update so I would expect terraform to treat it as a URI, not a URL. Thanks!

### Community Note

- Please vote on this issue

[2021-04-29 08:29] kristian-lesko opened #451 "Unnecessary ForceNew on okta_user_schema one_of/enum"
When adding a new item to the `enum`/`one_of`/`array_enum`/`array_one_of` parameters of the `okta_user_schema` attribute, replacement of the whole resource is forced:
[code]

This seams unnecessary, since in the Okta UI, it is possible to add/remove items from the enumeration of string/array attributes even without their recreation.

In other words, it seems like a few `ForceNew` items might not b

[2021-04-29 08:55] bogdanprodan-okta commented on #450
Hi, @dmpratt! Thanks for submitting this issue! There was similar issue #370 and I've already closed it. The problem is that this fix is not yet released into terraform registry. Please read this [note.](https://github.com/okta/terraform-provider-okta#important-note).

[2021-04-29 08:57] bogdanprodan-okta commented on #451
Hi, @kristian-lesko! Thanks for submitting this issue! I'll test this resource without `ForceNew` and create a PR if it works.

[2021-04-29 10:00] asiyani opened #452 "okta_group_rule overrides excluded users and groups on apply"
Since `okta_group_rule` doesn't support exclude user/group condition when we make changes to group rule it overrides excluded list done via GUI.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please

[2021-04-29 10:05] bogdanprodan-okta commented on #452
Hi, @asiyani! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-04-29 12:23] gstotts opened #453 "okta_app_saml preconfigured accepts custom attributes"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-29 12:31] bogdanprodan-okta commented on #453
Hi, @gstotts! Thanks for submitting this issue! I think the field `app_settings_json` is the one you are looking for. Here is an example of pre-configured SAML app:
[code]

[2021-04-29 14:47] gstotts commented on #453
Ahh did not see that field in docs.  Thank you.

[2021-04-29 14:47] #453 closed, assigned to nobody

[2021-04-29 23:44] juangelos-sdc commented on #398
Hi there! Its there any advance of plan for this issue? It would be very useful to have it available.

There is any  possibility to not invalidate adding refresh_token grant type on "browser" types, and accept defaults  refresh_token ("rotation_type": "ROTATE", "leeway": "60"). (I mean just follow Okata web app behaviour on creating browser app)

Thanks!

[2021-05-03 18:09] dsalaza4 commented on #396
@bogdanprodan-okta Are there any plans to release this anytime soon? I am already hitting the api rate limits :crying_cat_face:

[2021-05-03 19:57] bogdanprodan-okta commented on #396
Hi, @dsalaza4! It all depends on Hashicorp. Please read the [note](https://github.com/okta/terraform-provider-okta#important-note).

[2021-05-03 21:30] gstotts opened #456 "okta_app_saml Add Sign On Policy Rule Attributes"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-03 21:38] mfergus1 commented on #448
@bogdanprodan-okta any progress here? we are working on fulfilling some security requirements and are limited in enabling our team for distributed management of enterprise apps

[2021-05-04 02:22] dkulchinsky commented on #365
still quite relevant 😄

[2021-05-04 16:12] mfergus1 commented on #412
hi @fatbasstard  thanks for that info - will the docs be updated with that release shortly? i scraped through the docs but i'm a little unclear on a few things and getting the checksum for the provider

[2021-05-04 18:02] CodyDunlap commented on #448
I'm not sure if it's related but I'm getting some errors from `okta_group_role` that are causing state to become corrupted as well.

I have a group of users that I'm assigning multiple admin roles to, using `okta_group_role`. Seems to be that the multiple `okta_group_role` resources are conflicting with each other. One run, I'll get an error like the one below indicating it couldn't assign role A

[2021-05-06 00:32] #249 closed, assigned to nobody

[2021-05-06 17:21] dsalaza4 opened #458 "Missing credentials_sheme in okta_app_three_field"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-06 18:33] dsalaza4 opened #459 "okta_app_three_field does not assign groups correctly"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-06 18:34] bulebuk commented on #437
Can 3.11.0, and newer, be published under the old name namespace until Hashicorp can rename?

The README workaround doesn't provide much recourse for Terraform Cloud users or enterprises with strict software sourcing.

[2021-05-06 18:41] dsalaza4 commented on #459
For now, I managed to assign groups to `okta_app_three_field` apps by using `okta_app_group_assignment`, although it kinda leaves me in a lose-lose situation, because having a `okta_app_group_assignment` for every group assignment burns my api calls very fast and I end up hitting the rate limits. That's why I had to go back to the `groups` attribute in the first place, even though I know it is dep

[2021-05-06 19:31] gstotts opened #460 "SAML_1_1"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-06 19:39] gstotts opened #461 "Allow app_links set via okta_app_saml."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-06 20:29] dsalaza4 opened #462 "app_settings_json for okta_app_auto_login apps"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-07 14:57] gstotts opened #463 "RPS Setting for Provider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-07 15:13] gstotts commented on #463
Related to #186

[2021-05-07 15:15] gstotts commented on #186
Cloudflare accomplishes this on their provider  with the following.  Not sure if that helps but would love to see something like this on this provider:
- [Cloudflare Example in Docs](https://registry.terraform.io/providers/cloudflare/cloudflare/latest/docs)
- [Cloudflare Provider RPS](https://github.com/cloudflare/terraform-provider-cloudflare/blob/5d39f78721c55f06c628b77e1bc7025d1a66108b/cloudfla

[2021-05-07 17:39] ymylei commented on #456
Hi @gstotts,

I'm pretty sure currently this is not possible since Okta offers no API support for the App Signon Policies currently. That'll have to get created before the provider can do anything.

[2021-05-10 10:34] ruZZil opened #465 "resource_okta_app_oauth does not allow setting "refresh_token" as grant type for browser app when Refresh token rotation is enabled."
resource_okta_app_oauth does not allow setting "refresh_token"  as grant type for browser app.

This feature is indeed not available, unless enabling the setting for Refresh token rotation.

Once Refresh token rotation has been activated, I should be able to add "refresh_token" to grant type.

Limitation is seen in okta/resource_okta_app_oauth.go

	"browser": {
		ValidGrantTypes: []string{
			impl

[2021-05-10 12:19] bogdanprodan-okta commented on #458
Hi, @dsalaza4! Thanks for submitting this issue! I'll try to add these fields to the resource and create a corresponding PR.

[2021-05-10 12:22] bogdanprodan-okta commented on #459
Hi, @dsalaza4! Thanks for submitting this issue! Try using different resource for group assignments (it's not yet released though):
[code]

[2021-05-10 12:23] bogdanprodan-okta commented on #460
Hi, @gstotts! Thanks for submitting this issue! I'll investigate what I can do and get back to you asap.

[2021-05-10 12:26] bogdanprodan-okta commented on #461
Hi, @gstotts! Thanks for submitting this issue! I'll do some investigation whether this is possible to add using the current SDK and get back to you asap.

[2021-05-10 12:29] bogdanprodan-okta commented on #462
Hi, @dsalaza4! Thanks for submitting this issue! I'll add this field to the resource and create a corresponding PR.

[2021-05-10 12:31] bogdanprodan-okta commented on #463
Hi, @gstotts! Thanks for submitting this issue! We are aware of this issue and currently, another team is working on some functionality that will help us implement rate-limiting functionality.

[2021-05-10 12:32] bogdanprodan-okta commented on #465
Hi, @ruZZil! Thanks for submitting this issue! I'll try to reproduce your scenario and create a corresponding PR.

[2021-05-10 12:43] bogdanprodan-okta commented on #448
Hi, @CodyDunlap! It's probably because of how the provider works. It makes creates the resource and then reads it and sometimes Okta lags and creates resources with some delay. This causes a `404` error and terraform will throw `Root resource was present, but now absent.` I'll add a retry for this resource, so it will wait for the resource to be created.

[2021-05-10 13:05] bogdanprodan-okta commented on #448
Hi, @mfergus1! The reason you are receiving `400 Bad Request` is that your `var.app_name` parameter is probably invalid.
Here is the example that I tested on:
[code]

[2021-05-10 16:07] gstotts commented on #365
Don't suppose there is any indication of a time frame around when this might be worked on?

[2021-05-10 16:22] dkulchinsky commented on #365
Might be way off here, but I believe the gap here is that this specific configuration is not possible through Okta's public API, hopefully folks here can help push for them to close this gap 🙏🏼

and for what it's worth, we've been using the above "hack" for few months now and it works fairly well.

[2021-05-10 16:44] jeffg-archive commented on #465
@bogdanprodan-okta I was working on a PR for this, by coincidence. There is also the `settings.oauthClient.refresh_token` that needs `{"rotation_type": "ROTATE", "leeway": 30}` config managed. It is already in the go SDK.

[2021-05-10 17:17] dsalaza4 commented on #462
@bogdanprodan-okta Thank you!

[2021-05-10 18:04] #465 closed, assigned to nobody

[2021-05-11 09:32] bogdanprodan-okta commented on #365
Hi, @gstotts! As @dkulchinsky stated there is currently no public API endpoint for this. I'll ask about whether it's possible to temporarily add custom call to `internal` API (works fine with `SSWS` auth).

[2021-05-11 14:41] klaushauschild1984 opened #469 "Email & SMS Sender"
Is there actually a resource present to configure email and SMS sender via Terraform?
If not please add it.

![image](https://user-images.githubusercontent.com/3625449/117834799-c02da000-b277-11eb-99b2-4d5f9d287e7c.png)

[2021-05-11 15:08] summersonne opened #470 "Possibility to set "Requestable SSO URLs" via okta_app_saml"
Is it possible to set "Requestable SSO URLs" via okta_app_saml?

Can someone provide any examples?

[2021-05-12 08:17] ruZZil commented on #465
Thanks for the fast turnaround. Compiled from source, solves the issue.

There may be a problem if someone tries to add refresh_token if the feature is disabled in settings,  though that may just result in an api call failure.

Working for our use case though. Thanks! 👍

[2021-05-12 09:46] jkgeyti commented on #379
Hi @bogdanprodan-okta . Did you get a response to the internal request?

[2021-05-12 10:54] summersonne commented on #470
acs_endpoints = ["https://example.com", "https://okta.com"]

An argument named "acs_endpoints" is not expected here.

Trying to do like in example.
Is the anyone on this planet has a working documentation for okta_app_saml?

[2021-05-12 12:18] bogdanprodan-okta commented on #469
Hi, @klaushauschild1984! Thanks for submitting this issue! If there is a public API for that, then yes, I'll add it shortly.

[2021-05-12 12:19] bogdanprodan-okta commented on #465
Yes, it will return either 400 or 500 error.

[2021-05-12 12:21] bogdanprodan-okta commented on #379
Hi, @jkgeyti! Currently, I don't have any news regarding these fields. I'll ping the other team again. Thanks for the reminder!

[2021-05-12 12:25] bogdanprodan-okta commented on #470
Hi, @summersonne! Thanks for submitting this issue! Could you please provide example of the resource you are trying to create?

[2021-05-12 14:51] jeffg-archive opened #471 "resource default okta_auth_server_policy"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-12 14:52] jeffg-archive commented on #471
I'll put something up for this, time permitting.

[2021-05-12 15:02] bogdanprodan-okta commented on #471
Hi, @jeffg-hpe! Thanks for submitting this issue! This resource should definitely be added to the terraform.

[2021-05-12 15:35] klaushauschild1984 commented on #469
I fear there isn't I figured out after my research. May reach out to Okta support.

[2021-05-12 18:03] summersonne commented on #470
I am just trying to use code from here https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_app_saml/updated.tf

And terraform return error An argument named "acs_endpoints" is not expected here.
What minimal version of terraform do I need to use?

[2021-05-13 09:55] bogdanprodan-okta commented on #470
I've tested it with the lates published v3.10.1 and it works fine.

[2021-05-13 16:57] dsalaza4 opened #475 "Support for Radius applications"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-14 00:14] liath commented on #415
pssst @swampdragons is this something you could help us out on? :D

[2021-05-14 16:45] tgoodsell-tempus commented on #414
@bogdanprodan-okta @noinarisak Any updates from Hashicorp on fixing your GPG key + release? They've blown their "few weeks" estimate out of the water a bit

[2021-05-14 22:50] SwampDragons commented on #415
@Liath The Terraform registry isn't my area at all... have y'all reached out to terraform-registry@hahshicorp.com to ask for help there? I thought registry updates were handled via webhooks, so maybe something's broken.

[2021-05-15 20:01] bogdanprodan-okta commented on #415
The thing is, that provider has migrated from `oktadeveloper` to `okta` namespace, and the registry is still using `oktadeveloper`.

[2021-05-17 08:52] bogdanprodan-okta commented on #475
Hi, @dsalaza4! Thanks for submitting this issue! I'll investigate whether this is supported via public API and add the corresponding resource.

[2021-05-17 09:54] summersonne commented on #470
I am using:
provider "okta"
  version = "3.6.1"

[2021-05-17 10:16] bogdanprodan-okta commented on #470
You can easily update to the latest version (as it is backward compatible) and try again.

[2021-05-17 15:45] gstotts commented on #463
@bogdanprodan-okta Would you prefer I close this issue out then since it looks like the other Issue is tracking as well?

[2021-05-17 15:58] summersonne commented on #470
Not completely. There was a lot of issues after we updated it

[2021-05-18 07:09] bogdanprodan-okta commented on #463
@gstotts! Sure you can close it

[2021-05-18 17:17] lilley2412 opened #476 "Support all dynamic zones options for okta_network_zone"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-19 10:13] bogdanprodan-okta commented on #476
Hi, @lilley2412! Thanks for submitting this issue! I'll investigate the possibility to add these and create a corresponding PR.

[2021-05-19 10:49] #409 closed, assigned to nobody

[2021-05-19 12:54] bogdanprodan-okta commented on #447
Hi @dsalaza4! I've created a PR so it should fix this issue. Basically, it will ignore `username` field when app has ` credentials_scheme = "SHARED_USERNAME_AND_PASSWORD"` scheme. The only issue is when you changing the `credentials_scheme`, you can only set `username` in `okta_app_user` only after running `terraform apply` (so the changes to the app will be applied), because in the terraform you

[2021-05-19 15:15] jasonwilczak opened #479 "Update documentation for okta_idp_saml_key"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-19 15:23] bogdanprodan-okta commented on #479
Hi @jasonwilczak! Thanks for submitting this issue! I'll check the docs and update them accordingly.

[2021-05-19 19:52] adamcrews opened #480 "Missing binaries for the 3.11.0 release"
Are there any update on getting 3.11.0 published to the terraform registry?  It has been a bit and all the tickets that reference this work have been closed.

Also, I am pretty sure that a only few days ago, the 3.11.0 release published on github had binaries built available, but those seem to have disappeared, and there is only the source zip and tgz on the releases page.    Is it possible to get

[2021-05-20 08:49] bogdanprodan-okta commented on #480
Hi @adamcrews! Yes, I will republish these binaries shortly. In addition, Hashicorp has finally solved their issue with gpg key, so there will be probably a v4.0.0 release next month into the new `okta` namespace. The reason for that is there are a lot of deprecated resources in the current version and also there will be some changes in the config files to support multiple organizations.

[2021-05-20 14:44] #463 closed, assigned to nobody

[2021-05-20 14:47] gstotts commented on #460
@bogdanprodan-okta  Any updates?  This is one of the last things left in our migration to using TF for the apps so just looking for a rough estimate on timing for our project manager.

[2021-05-20 15:52] tgoodsell-tempus commented on #480
@bogdanprodan-okta would y'all also publish these the pre-4.0 releases in the new namespace as well? That way we can do a bit of a gentler upgrade, between the breaking change and having to update the provider location.

[2021-05-20 19:02] dsalaza4 commented on #447
Thank you very much!

[2021-05-21 03:50] karthikns16 opened #481 "OKTA unable to handle parallelism of Terraform"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-21 09:22] bogdanprodan-okta commented on #480
@tgoodsell-tempus yes, it's going to be published into the new namespace.

[2021-05-21 21:08] tgoodsell-tempus commented on #480
@bogdanprodan-okta  Just a FYI, since I saw some of the releases run.

Looks like `oktadeveloper/okta` got `3.11` published to it, but I think it wasn't fully taken in since I got this error from an init using the provider:

[code]

[2021-05-21 23:46] daegalus commented on #480
I am having the same error currently. Issues with missing linux_amd64 packages.

[2021-05-23 17:59] ymylei opened #483 "Deprecate & Remove User/Group Handling From App Resources"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-24 07:36] ChristophShyper commented on #480
@bogdanprodan-okta please let us know when it's fixed.
All Okta integrations broke over the weekend with this new release.
At least `3.10.1` still works.

[2021-05-24 09:58] andponlin opened #486 "Create New Users Not Honouring Password Policy"
## Expected Behaviour

When users are configured then the groups that they are configured with using the `group_memberships` property should determine the "password policy" enforced when the `password` is also supplied.

## Actual Behaviour

When users are configured, any `group_memberships` that are supplied with the user don't seem to determine the "password policy" enforced when the user is cre

[2021-05-24 11:16] mcrobbj commented on #393
Still no update

[2021-05-24 11:31] bogdanprodan-okta commented on #393
Hi, @mcrobbj! Currently, there are no public endpoints for org settings, thus I can not include them in Terraform provider.

[2021-05-24 15:38] dsalaza4 commented on #480
We're getting the `Error: Failed to install provider
Error while installing oktadeveloper/okta v3.11.0: provider
registry.terraform.io/oktadeveloper/okta 3.11.0 is not available for
linux_amd64` as well.

[2021-05-24 15:55] bogdanprodan-okta commented on #480
Hi everyone! Currently, I'm waiting for a response from Hashicorp.

[2021-05-24 17:42] joe-a-t commented on #480
@bogdanprodan-okta Is it possible to remove the `3.11.0` release entirely so that unpinned providers will go back to using `3.10.1`? If people can't initialize `3.11.0`, it seems like having it exist in the world is just causing issues. Then whenever the relevant stuff with Hashicorp is fixed, it can be re-published.

[2021-05-25 11:02] bogdanprodan-okta commented on #480
Hello everyone! Finally, Okta provider is published [under the new namespace](https://registry.terraform.io/providers/okta/okta/latest)!!! Here an example of how to use it:
[code]
Note here, that no new versions gonna be published into the `oktadeveloper` namespace.

[2021-05-25 11:33] ChristophShyper commented on #480
@bogdanprodan-okta Sorry, but the error still remains:
[code]

[2021-05-25 12:03] synepolskyi commented on #480
Agree with Christoph, I have the same error. In my case, it's related to the current state:
[code]

So provider update from `oktadeveloper/okta:<any-version>` to `okta/okta:3.11.0` is not possible without manipulations with state.

[2021-05-25 12:20] stack72 opened #487 "Release churn"
Hi

I have been receiving multiple RSS feed updates from this repository regarding that fact that v3.11.0 of the package was released. I received updates as follows:

* 26th March
* 13th May
* 20th May
* 21st May
* 25th May

This leads me to believe that the published packages are not stable for use - I can see only 1 GitHub 3.11.0 release - did you remove the other packages? If so, for what reaso

[2021-05-25 13:25] cvs-sigrejas commented on #480
I don't think this is working yet.
[code]

[2021-05-25 13:28] cvs-sigrejas commented on #480
The good news is that you can use `3.10.0` with the new namespace and it'll work.
[code]

Init
[code]

[2021-05-25 14:04] bogdanprodan-okta commented on #487
Hi, @stack72 ! Yes, these we basically unsuccessful attempts to publish the provider into a new namespace. Currently, version 3.11.1 is the latest one and should be working
[code]
I've asked Hashicorp to add an old `gpg` key as well, so all the previous versions should be valid as well.

[2021-05-25 14:06] cvs-sigrejas commented on #480
`3.11.0` does not work, but `3.11.1` does work!

[2021-05-25 14:07] bogdanprodan-okta commented on #480
Hi everyone! Sorry for the mess! I've released new v3.11.1, which is similar to v3.11.0 (the only difference is I've used the 1.16 version of the Gloang instead of 1.14 to build the binaries). Could you try to init terraform with this version?

I've also asked Hashicorp to add old `gpg` key to the registry, so all the oldest versions are valid.

[2021-05-25 14:11] stack72 commented on #487
But 3.11.1 was already published yesterday... I think you may need to abandon any 3.11.x releases and just create a new 3.12.0 release as this has not had any other published artifacts for it. Re-releasing the same artifact version is something that should be avoided - not everyone uses this tool from the Terraform registry

I am looking forward to this being resolved so I can take advantage of th

[2021-05-25 14:11] #487 closed, assigned to nobody

[2021-05-25 14:18] ChristophShyper commented on #480
I still have an error:
[code]

I'm using dockerized Alpine 3.13 as a base system and MacOS Catalina as host.

[2021-05-25 14:26] thatguysimon opened #488 "Rename okta_user_schema to okta_user_schema_property"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-25 14:28] bogdanprodan-okta commented on #480
If you having a problem similar to this, go to your state file and replace all the occurrences of `oktadeveloper` to `okta`. This should help.

[2021-05-25 14:41] bogdanprodan-okta commented on #483
Hi @ymylei! Thanks for submitting this issue! I'll be removing these fields from the provider so they won't be present in the v4. There will be some additional breaking changes in v4 and I can't give the exact date, but I'm planning to do the release in late June, early July.

[2021-05-25 14:52] ChristophShyper commented on #480
OK, that helped, thanks.
Strange that when Cloudflare provider changed namespace this wasn't necessary.
Terraform is so inconsistent... Why have separate config for providers when all is hardcoded in state file either way...

[2021-05-25 20:52] tgoodsell-tempus commented on #480
For anyone seeing this, you probably will need to use https://www.terraform.io/docs/cli/commands/state/replace-provider.html to fix the state manually.

You are supposed to be able to switch provider sources OK, however if you don't have a local plugin cache with a working version installed, then it'll try to DL the `3.11.x` (latest) version of `oktadeveloper/okta` which does not work.

[2021-05-25 21:14] sarainsley opened #489 "Getting an error downloading latest version saying it doesn't exist yet I see the .zip file present"
registry.terraform.io/oktadeveloper/okta v3.11.1 does not have a
package available for your current platform, linux_amd64

my provider file is set to grab the latest version.

[2021-05-26 18:13] noinarisak commented on #489
hmm. Do see the download binary in https://github.com/okta/terraform-provider-okta/releases/tag/v3.11.1 as you mention. I wonder if the push to registry.terraform.io for `linux_amd64` was corrupted.

Wondering if the following thread could solve your issue with the state file. https://github.com/okta/terraform-provider-okta/issues/480#issuecomment-848256097.

[2021-05-26 18:30] joshowen commented on #489
see https://github.com/okta/terraform-provider-okta/issues/480#issuecomment-847937483

[2021-05-26 20:29] joe-a-t commented on #480
If people are looking for an easy way to switch all references from `oktadeveloper/okta` to `okta/okta`, you can use [this script](https://github.com/joeaawad/random-scripts/blob/master/update-repos.py) to change all references in a specified repo (`--repo-regex`) or all repos with a given topic (`--repo-topic`). Add `--pr` to the below command to generate pull requests with the changes.

[code]

[2021-05-27 00:34] dkulchinsky commented on #415
Hey @bogdanprodan-okta I just bumped the provider to 3.11.1 and tested this fix, unfortunately getting the same issue 😢

I verified that the Org features mentioned in the linked PR are enabled:
![image](https://user-images.githubusercontent.com/61992380/119747885-a8524080-be61-11eb-8a7d-259538695fc6.png)

but still getting the diff about the `attribute_statements` on every plan after applying.

[c

[2021-05-27 08:26] bogdanprodan-okta commented on #415
Hi @dkulchinsky! Unfortunately, this fix is not present in v3.11.1. This version was released long ago but wasn't present in the registry. Currently, I'm working on v4.0.0-beta which will have some breaking changes (like no `users` and `groups` in the apps, all the deprecated fields/resources will be removed, etc.)

[2021-05-27 11:11] jluk-box commented on #480
@bogdanprodan-okta Hi, could you add some information about the move to `okta` namespace in the `oktadeveloper` org description (https://registry.terraform.io/namespaces/oktadeveloper)? It can help find the cause and solution faster for people with broken deployments.

[2021-05-27 13:27] dkulchinsky commented on #415
Thanks for the update @bogdanprodan-okta! I guess I'm a bit confused, the fix (#439) was merged to `master` on Apr 23 and 3.11.1 was released 2 days ago, so I assumed it would be part of it but now I see that v3.11.1 tag points to a point prior to this commit.

Any reason this fix can't be included in a minor v3.11.x release? is it tightly coupled with the changes introduced in v4?

[2021-05-27 16:12] YoniMataraso opened #491 "Missing packages for darwin_amd64."
I'm trying to upgrade my Okta terraform provider to the latest version 3.11.1 and when running terraform init --upgrade I'm getting the following error:

Error: Incompatible provider version

Provider registry.terraform.io/oktadeveloper/okta v3.11.1 does not have a
package available for your current platform, darwin_amd64.

Provider releases are separate from Terraform CLI releases, so not all
pro

[2021-05-27 18:19] karlsequeira opened #492 "okta_app_user_schema deleting the resource on change"
When we update the values, its causing the resource to be deleted and removes the attribute from all the users assigned to the app. It should update in place
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this reque

[2021-05-28 05:06] ksumitathenahealth opened #493 "Saml hook configuration via okta terraform saml app"
I would like to have a configuration parameter for saml hook too in saml app properties. Currently Okta terraform doesn't have any way to link saml hook to saml app. I need to do that manually via login to Okta.

https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/app_saml

Can we have a parameter for the same so it would be easy to manage saml app completely via terra

[2021-05-28 11:28] mikemuth commented on #489
Here is what I did to get around the problem, after the first apply the tfstate file was updated correctly.
cd .terraform//plugins/registry.terraform.io
cp -r okta/ oktadeveloper

[2021-05-28 14:37] drewmullen opened #494 "Permission denied to Super Admin for app_saml creation"
### Error

`Error: failed to create SAML application: The API returned an error: You do not have permission to perform the requested action`

### Terraform Version

[code]

I've tried back as far as version 3.6 (`oktadeveloper` namespace)

### Affected Resource(s)

- okta_app_saml

### Terraform Configuration Files

[code]

This is a super admin credential:

![image](https://user-images.githubuser

[2021-05-28 15:43] drewmullen commented on #494
update: I created a working saml app in the GUI, i was able to read using the `data` source and validate all my config values (`terraform show` then eyeball the values)

also i was able to `import` the resource and make changes to the pre-existing using the same API token

[2021-05-30 00:18] #253 closed, assigned to nobody

[2021-05-30 00:18] #42 closed, assigned to nobody

[2021-05-30 22:51] ymylei commented on #483
Added a PR which is the removal of the associated users and groups handling from the app code, will also add a couple tasks to create replacement data sources for said data.

[2021-05-31 00:20] #34 closed, assigned to nobody

[2021-05-31 03:34] ymylei commented on #483
Added PR for group assignments data source

[2021-06-01 12:52] xanonid commented on #414
The most recent provider version seems to be available again via terraform registry: https://registry.terraform.io/providers/okta/okta/latest

It could make sense to update the README.md ...

[2021-06-01 20:13] ajoline commented on #494
I would be curious to know if there are restrictions in the Okta Dev environment that prevents this resource from working?

[2021-06-02 13:36] #365 closed, assigned to bogdanprodan-okta

[2021-06-02 13:37] #447 closed, assigned to nobody

[2021-06-03 09:27] fatbasstard opened #502 "App logo support in master but not in release"
Hi,

I was going to try out the application logo support (https://github.com/okta/terraform-provider-okta/pull/423), but I noticed although the code is in master, it is not in the `3.11.1` release.

Is this done on purpose or did something go wrong?

Also noticed the release tag is created on a "special" commit:
![image](https://user-images.githubusercontent.com/35613489/120623264-e05c1380-c45f-11

[2021-06-03 15:20] vavra5 opened #503 "Create User with Imported Hashed Password - okta_user"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-03 15:51] noinarisak commented on #494
@drewmullen I wonder if the API Token is not associated with the correct Super Admin user (eg `username`). On the UI Dashboard; can you remove the user dups (of course, not username/email you are logged in as), recreate the API Token again and then give it a try.

[2021-06-03 17:25] drewmullen commented on #494
@noinarisak same result D: we've tried having several Super Admins create keys for me to test as well. all with the same error. I also tried with the API and got the same error:

[code]

you can piece together app.json using the debug output

[2021-06-04 19:08] thiagocaiubi commented on #480
I was facing the same issue after changing from oktadeveloper/okta to okta/okta in terraform configuration files. Replace provider in the state file fixed it:

[code]

[2021-06-07 00:12] #179 closed, assigned to nobody

[2021-06-07 06:57] ashwini-desai commented on #425
@bogdanprodan-okta - This issue doesn't seem to be completely solved. The inconsistency issue remains even after setting the timeout for resource creation to as high as 100s. We tried to make these changes locally and use it as a local provider.
Please let me know if I should raise a new issue.

[2021-06-07 10:07] kenchrcum commented on #491
Same is happening for me on MacOS and on Linux machine where I get
"Provider registry.terraform.io/oktadeveloper/okta v3.11.1 does not have a package available for your current platform, linux_amd64."

[2021-06-07 10:19] bogdanprodan-okta commented on #491
Hi! Please refer to this comment https://github.com/okta/terraform-provider-okta/issues/480#issuecomment-854943860

[2021-06-07 10:19] #491 closed, assigned to nobody

[2021-06-08 12:53] drewmullen commented on #494
this wound up being a licensing issue

[2021-06-08 12:53] #494 closed, assigned to nobody

[2021-06-08 13:39] klaushauschild1984 opened #504 "Maintain base profile properties like custom ones"
Whit resource `okta_user_schema` I am able to extend the user profile with custom properties.

Is there a way to customize already existing properties like `firstName` or `lastName` to make them optional for instance?

[2021-06-08 18:22] klaushauschild1984 commented on #504
This is already supported by Okta API. See documentation https://developer.okta.com/docs/reference/api/schemas/#update-user-profile-schema-property

[2021-06-08 19:18] #489 closed, assigned to nobody

[2021-06-10 00:45] joshowen opened #506 "Unable to set App Logo for SAML apps"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-10 18:50] fatbasstard commented on #502
Error I get:

[code]

[2021-06-10 18:55] fatbasstard commented on #502
It's in the documentation: https://github.com/okta/terraform-provider-okta/blob/master/website/docs/r/app_oauth.html.markdown
But not on the documentation site: https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/app_oauth

[2021-06-12 00:05] #413 closed, assigned to nobody

[2021-06-14 14:13] YoniMataraso opened #507 "Behavioral properties support"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-15 23:02] dethstrobe opened #508 "Error: failed to create SMS template"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-16 16:14] teaguecole opened #509 "Output app ID for okta_app_swa to be used okta_app_group_assignment"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-17 19:05] plynch-magnolia commented on #418
These options mentioned in #439 are not available in the Admin Features section....and attribute statements are also not working

[2021-06-19 00:05] #422 closed, assigned to nobody

[2021-06-22 09:03] #391 closed, assigned to nobody

[2021-06-22 16:55] drewmullen opened #510 "Factor Sequence - MFA type per group"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-23 00:48] gavinbunney commented on #506
@joshowen I was tracking down the same issue, and found out you need to enable the Early Access flag for app management in your Okta admin console:

![image](https://user-images.githubusercontent.com/409207/123017708-fb94b180-d381-11eb-91c9-81994f8151bc.png)

Looks like it's still an early feature. Enabling that allows app logos to upload successfully.

[2021-06-23 05:07] xpcros commented on #77
I were a bit confused by the information in these comments so wanted to clear it up (hopefully).

To quote directly from a support case I have just made with Okta "[the] Mappings feature flag enabled on your tenant in order to perform the API calls. Unfortunately you can not enable such features from the UI since they are available to only certain account entitlements."

If you wish to use this pr

[2021-06-23 12:35] joshowen commented on #506
@gavinbunney thanks for sharing that!  Unfortunately we already have it enabled.

This was a new SAML application which was entirely configured via terraform, with no point/clicking in the admin console, and it didn't appear to create the "login link".  I couldn't find good documentation how to create a "login link", and we tried a few things in a fork of the provider but we couldn't come up with

[2021-06-23 16:46] gavinbunney opened #512 "App logo change doesn't force new logo to be uploaded"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-23 21:31] fatbasstard commented on #502
Ah, it's in 3.11.0, gone in 3.11.1 (Latest):

https://registry.terraform.io/providers/oktadeveloper/okta/3.11.0/docs/resources/app_oauth

[2021-06-24 14:47] mcrobbj commented on #186
I get rate limiting too, which I dont really undertand when there is only a small change required, Is that not the point of the state file? Alos seems to wrongly think thank I am modifying resources when I am not - resource "okta_app_oauth"

[2021-06-24 17:19] gavinbunney commented on #506
@joshowen I'm hitting this as well now :) Same error.. looks to only happen with SAML apps:

[code]

FWIW I had a look at the saml application object, and the app links are there ([mentions in the api docs](https://developer.okta.com/docs/reference/api/apps/#application-logo-operations) they are required):

[code]

[2021-06-25 22:55] gavinbunney commented on #506
This also happens for OIDC apps as well :( Only bookmark apps I've managed to successfully create from scratch and set a logo.

[code]

[code]

[2021-06-28 11:04] #512 closed, assigned to nobody

[2021-06-28 11:06] bogdanprodan-okta commented on #480
Since this is no longer an issue, I'm closing this. Big thanks to everyone for the valuable comments!!

[2021-06-28 11:06] #480 closed, assigned to nobody

[2021-06-28 14:18] bogdanprodan-okta commented on #469
@klaushauschild1984 another thing is to manage Email Sender Configuration. This will require the creation of two resources, like `okta_mail_sender` and `okta_mail_sender_dns_config`

[2021-06-28 23:17] gavinbunney commented on #506
Finding this for applications even created via the web ui, the API for uploading logos fails. Posted question on Okta developer forums: https://devforum.okta.com/t/unable-to-upload-application-logo-for-oidc-and-saml-apps/14933

[2021-06-29 07:56] kristian-lesko commented on #451
Hello @bogdanprodan-okta, any news about this, please?

[2021-06-29 11:55] bogdanprodan-okta commented on #350
Hi, @venkatakanupuru! I'm currently working on this issue and will add the corresponding resource to the provider. It will be released in `3.12.0` version next month. Cheers!

[2021-06-30 12:16] bogdanprodan-okta commented on #412
@mfergus1 `3.12.0` will be released next month and will include the `okta_groups` data resource.

[2021-06-30 12:25] bogdanprodan-okta commented on #420
Hi @natefredette! Sorry for the silence from my side! I've started to work on this issue and I will add it to the upcoming 3.12.0 next month's release. Cheers!

[2021-07-02 11:04] #350 closed, assigned to bogdanprodan-okta

[2021-07-02 12:26] #407 closed, assigned to nobody

[2021-07-02 18:36] drewmullen commented on #510
i think the authtype update would be [here](https://github.com/okta/terraform-provider-okta/blob/24870791bb606f2e17b0be31a45f00b6e37d2e24/okta/resource_okta_policy_rule_sign_on.go#L25) and then factor sequence might be an entirely new resource

[2021-07-02 19:04] bogdanprodan-okta commented on #510
I think this is duplicate of #420

[2021-07-02 19:05] bogdanprodan-okta commented on #510
I'm working on it!

[2021-07-02 19:13] #510 closed, assigned to nobody

[2021-07-04 00:04] #452 closed, assigned to nobody

[2021-07-04 00:04] #450 closed, assigned to nobody

[2021-07-06 16:00] bogdanprodan-okta commented on #507
It's going to added in #526

[2021-07-06 16:06] bogdanprodan-okta commented on #509
Hi, @teaguecole! Thanks for submitting this issue! Yes, the documentation is a bit messy, but you can actually do this for all the resources. For example:
[code]

[2021-07-06 16:07] bogdanprodan-okta commented on #508
Hi, @dethstrobe! Thanks for submitting this issue! I was a bit distracted away from the terraform provider for a while, but I'll try to fix this asap. Cheers!

[2021-07-07 00:07] rob-orr commented on #456
Bump.  Wondering if the provider developers have any insight into when this capability might be added?

[2021-07-07 10:02] bogdanprodan-okta commented on #456
@rob-orr if I can manage to find a public endpoint for that, then yes, I will add it.

[2021-07-07 10:55] #420 closed, assigned to bogdanprodan-okta

[2021-07-07 10:55] #507 closed, assigned to bogdanprodan-okta

[2021-07-07 11:15] bogdanprodan-okta commented on #506
Hi, @joshowen @gavinbunney The error you are getting in the response is from the Okta API itself, not the terraform itself. I'm not sure what is the root cause of this bug, but I'll ask the team responsible for this functionality.

[2021-07-07 14:29] bogdanprodan-okta commented on #408
Hi @thekbb! Sorry for the late response, got a bit distracted from the provider. The problem is in the feature flag in your organization. You need an additional feature flag `DISABLE_SECURITY_QUESTION_FOR_RECOVERY` to be enabled. This will allow you to disable the security question.
CC: @n8gard

[2021-07-07 14:30] monde commented on #506
@joshowen @gavinbunney there is a known bug where the application icon is able to be updated in the Okta UI but not via the API. It is on the backlog of the responsible team. I will monitor the issue on our end and provide updates here.

Internal reference: [OKTA-373430](https://oktainc.atlassian.net/browse/OKTA-373430)

[2021-07-07 14:33] #408 closed, assigned to nobody

[2021-07-07 17:37] jackson-theisen opened #527 "okta_policy_mfa resource does not properly store its factors in tfstate"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-07 20:23] bogdanprodan-okta commented on #527
Hi @jackson-theisen! Thanks for submitting this issue! I'll try to reproduce this and get back to you asap. Cheers!

[2021-07-09 08:47] iva-bashmat opened #528 "Cannot use okta provider with token and alias"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-09 15:40] monde commented on #528
Hi @iva-bashmat , thanks for the report. The error is coming from the configuration validator in the okta/okta-sdk-golang package https://github.com/okta/okta-sdk-golang/blob/master/okta/validator.go#L69-L84

I short term work around might be to provide meaningless values for the package. I will look into this situation. Also, @bogdanprodan-okta might have a suggestion as well.

[2021-07-13 06:16] lucascantor commented on #476
It looks like this is at least partially resolved in https://github.com/okta/terraform-provider-okta/pull/522

[2021-07-13 11:42] iva-bashmat commented on #528
@monde thanks for response!

Could you please provider more details on workaround? @bogdanprodan-okta any help is very appreciated.

Thanks.

[2021-07-13 12:50] bogdanprodan-okta commented on #508
Hi, @dethstrobe! Are you still seeing this error? I've tested your code using the 3.11.1 provider version and everything works fine.
<img width="791" alt="Screenshot 2021-07-13 at 15 49 03" src="https://user-images.githubusercontent.com/71279414/125454452-1c0b845c-6830-4987-bb38-5461badb4c70.png">

[2021-07-13 12:55] bogdanprodan-okta commented on #451
Hi, @kristian-lesko! Sorry for the late reply, I'll start to work on this tomorrow!

[2021-07-13 12:56] bogdanprodan-okta commented on #528
Hi @iva-bashmat! I'll try to debug how the provider reading the config and see what can be fixed.

[2021-07-14 12:08] #410 closed, assigned to bogdanprodan-okta

[2021-07-14 12:08] #451 closed, assigned to nobody

[2021-07-14 12:22] bogdanprodan-okta commented on #488
Hi, @thatguysimon! Thanks for submitting this issue! I'll deprecate the old resource name and use the new one to express the nature of the resource. Cheers!

[2021-07-15 03:31] kevin-chiu-dragon opened #533 "Application User Schema union flag updated setting shown in GUI but it is not effective"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-15 11:10] bogdanprodan-okta commented on #533
Hi @kevin-chiu-dragon! Thanks for submitting the issue! I'll investigate the root cause and will get back to you asap. Cheers!

[2021-07-15 17:54] pengyuwang-okta opened #534 "Add new `okta_user_factor_question` MFA"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-19 17:39] jasonwilczak commented on #479
Just verified that the docs still need to be updated: https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/idp_saml_signing_key

[2021-07-20 09:50] bogdanprodan-okta commented on #492
Hi @karlsequeira! Thanks for submitting this issue! This issue was fixed in [this PR](https://github.com/okta/terraform-provider-okta/pull/531/files#diff-7c9c4d4f1759fd38cb9cb4e2bad5c7e137de9ec546f25b26cdb97f6d5619ddf8) and will be released by the end of a month. Cheers!

[2021-07-20 09:50] #492 closed, assigned to nobody

[2021-07-20 10:47] #479 closed, assigned to nobody

[2021-07-20 10:47] #488 closed, assigned to bogdanprodan-okta

[2021-07-20 20:17] tgoodsell-tempus opened #539 "Unexpected Breaking Change: `okta_group` Resource Unexpected User Removals"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-20 20:47] tgoodsell-tempus commented on #539
While I understand that the long term (and probably better practice from terraform) is to use:
[code]

Since this is now required for the "old" behavior, that still counts as a breaking change in my book

[2021-07-20 21:03] tgoodsell-tempus commented on #539
Based on https://github.com/okta/terraform-provider-okta/blob/63b82d9ba7648574ec9866b3a66ff48f3ac65c4e/okta/resource_okta_group.go#L115, I don't expect any changes to actually be performed, however the `plan` log will like to indicate it will clear out the group membership.

[2021-07-20 21:12] tgoodsell-tempus commented on #539
Ya, I've validated that no changes are actually getting applied, however without the lifecycle ignore the plan will show continual removal of users.

This probably can get classified as a standard bug, however since the output shown in the plan/apply process does indicate user change attempts, this is a bit of non trivial noise.

[2021-07-21 10:28] bogdanprodan-okta commented on #479
Hi, @jasonwilczak! Fixes are already in the registry. Cheers!

[2021-07-21 15:31] iva-bashmat commented on #528
It looks like that you have to have one default provider (see example below).

[code]

If I uncomment alias in first provider it throws error:
[code]

I would prefer not to have default provider as it is easy to make a mistake: if provider will not be specified in any of resources it will get applied to default provider.

[2021-07-21 16:43] mbelang opened #540 "Resource argument doesn't save [v3.12]"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-21 19:50] bogdanprodan-okta commented on #540
Hi @mbelang! Thanks for submitting this issue!
1. As for `permissions = "READ_WRITE"`, seems like Okta API doesn't return this field for base properties anymore. I'll double-check again to be 100% sure.
2. I'll fix the `wildcard_redirect` and release a new version asap.

Cheers!

[2021-07-22 02:45] roulettedares commented on #377
i'm getting constant priority changes from
[code]

[2021-07-22 10:41] bogdanprodan-okta commented on #377
Hi @joshuasimon-taulia! Could you please create this as a separate issue since the error is in the `okta_app_group_assignments` resource. Thanks!

[2021-07-22 17:58] sklarsa opened #541 "Provider v3.12.0 crashes with SegFault/nil pointer dereference"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-22 18:31] sklarsa commented on #541
After some very preliminary investigation (and pardon my unfamiliarity with the library), could this be the issue?

Stack Trace:
[code]

https://github.com/okta/terraform-provider-okta/blob/63b82d9ba7648574ec9866b3a66ff48f3ac65c4e/okta/resource_okta_policy_rule_sign_on.go#L163

`rule` is instantiated by `getPolicyRule`: https://github.com/okta/terraform-provider-okta/blob/63b82d9ba7648574ec9866b3a

[2021-07-22 19:47] bogdanprodan-okta commented on #541
Hi @sklarsa! Thanks for submitting this issue! I guess you are right about nil pointer. I'll try to reproduce this and create the PR. This fix will be in 3.12.1 next week. Cheers!

[2021-07-23 10:05] bogdanprodan-okta commented on #541
Hi @sklarsa! This is the JSON response for the sign-on policy rule:
[code]
Sign-on policy rule:
<img width="552" alt="Screenshot 2021-07-23 at 13 03 42" src="https://user-images.githubusercontent.com/71279414/126767276-55a7c062-1147-4471-b5e3-8fc7f642df1c.png">

[2021-07-23 10:33] bogdanprodan-okta commented on #539
Hi @tgoodsell-tempus! Thanks for submitting this issue! Yes, the bug was that `okta_group` didn't track the `users` if the field wasn't set, so the resource didn't work properly (and still doesn't for that matter, because it should remove the users from the group if `users` is empty). I will revert this change just to not break stuff. Currently, this field is deprecated and will be removed in the

[2021-07-23 10:57] rubenmromero commented on #540
Additionally to what has been reported, I am trying to set the the `wildcard_redirect` argument to `SUBDOMAIN"`, but after applying the modification the actual value stored in the TF state is this:

[code]

So it seems that the `wildcard_redirect` argument is never set to a proper value (`"DISABLED"` or `"SUBDOMAIN"`) , and this is the reason why I guess it always tries to modify it.

[2021-07-23 11:00] bogdanprodan-okta commented on #540
@rubenmromero `wildcard_redirect` is an [Early Access](https://developer.okta.com/docs/reference/api/apps/#settings-10) feature, that's probably why you can not set it.

[2021-07-23 13:37] sklarsa commented on #541
My policy rule modal looks different :-(

<img width="773" alt="Screen Shot 2021-07-23 at 9 37 23 AM" src="https://user-images.githubusercontent.com/1929541/126789933-555f383b-7b14-4fea-bf51-c8fa5978a750.png">

[2021-07-23 14:37] #539 closed, assigned to nobody

[2021-07-23 14:37] #540 closed, assigned to nobody

[2021-07-23 14:37] #541 closed, assigned to nobody

[2021-07-24 15:57] rubenmromero commented on #540
I see your point, @bogdanprodan-okta. The case is that I have tried to enable it in our Okta account going to Settings -> Features, but I wasn't able to find this feature in the list of early access features (neither in Okta preview). Any clue about how to enable this feature in Okta? Or maybe is there something that has to be done in Terraform? 🤔

[2021-07-24 18:04] bogdanprodan-okta commented on #540
@rubenmromero I think you should request this feature vie Okta Helpdesk.

[2021-07-24 18:10] bogdanprodan-okta commented on #421
Hi, @natefredette! I've added `okta_behavior` data source and is should be available in the newest version. The resource will be added shortly. Cheers!

[2021-07-24 18:12] bogdanprodan-okta commented on #448
Hi @mfergus1! Does this issue still occur or should I close it?

[2021-07-24 18:16] bogdanprodan-okta commented on #460
Hi @gstotts! Sorry for the late reply! I'll look into this and try to figure out how to include this in the next release. Cheers!

[2021-07-24 23:33] teaguecole commented on #509
Oh, thanks @bogdanprodan-okta,.  Will close the issue then.

[2021-07-24 23:33] #509 closed, assigned to nobody

[2021-07-26 08:24] fatbasstard commented on #506
FYI: Hitting the same issue when trying to add a logo to an existing OAuth app:

[code]

Too bad the error coming from TF does not show the actual API error (so needed to run in debug mode):

[code]

[2021-07-26 09:51] fatbasstard commented on #502
Can confirm the code works in the latest release, so will code the ticket.

[2021-07-26 09:51] #502 closed, assigned to nobody

[2021-07-26 10:01] fatbasstard commented on #506
Hi @monde,

Got any update on the issue by any chance?

[2021-07-26 10:34] bogdanprodan-okta commented on #412
Hi @mfergus1! May I close this one or this is still an issue for you?

[2021-07-26 14:27] mbelang commented on #26
I think this is supported via settings api: https://developer.okta.com/docs/reference/api/apps/#notes-object

[2021-07-26 18:15] bogdanprodan-okta commented on #26
@mbelang thanks for the comment! We need to update our SDK to make notes available in the terraform provider. We are working on that. Cheers!

[2021-07-27 00:04] #481 closed, assigned to nobody

[2021-07-27 06:50] ChristophShyper opened #546 "How to import `okta_group_memberships`?"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-27 08:08] bogdanprodan-okta commented on #546
Hi @ChristophShyper! I think you may try setting `ignore_changes` on users:
[code]

[2021-07-27 12:03] ChristophShyper commented on #546
@bogdanprodan-okta What kind of API calls will `okta_group_memberships` do?
Will it not cause errors when trying to add a user who is already member of the group?

[2021-07-27 12:43] bogdanprodan-okta commented on #546
I've just tested it and it didn't raise any errors:
1. Before
[code]
2. After
[code]

[2021-07-27 18:21] ChristophShyper commented on #546
Confirming it works without triggering any errors.
But still it isn't elegant solution to leave `ignore_changes` everywhere and possibility to migrate between both solutions would be nice to have.

[2021-07-27 19:31] bogdanprodan-okta commented on #546
@ChristophShyper yes, it's not the best solution, but removing the fields is considered to be a breaking change. All the deprecated fields will be removed in the 4.0.0 version, so `ignore_changes` won't be necessary anymore.

[2021-07-27 21:56] monde commented on #506
@fatbasstard the bug is still on the responsible team's backlog but has not been triaged yet. I'll reference this discussion to illustrate importance.

[2021-07-28 07:05] ChristophShyper commented on #546
One remark, when `priority` is not defined for each `group` block in `okta_app_group_assignments` it creates update loops.

I have 3 groups defined, but only the first one doesn't trigger the changes:
[code]

Setting `priority` for each block fixes the issue.

[2021-07-28 11:22] bogdanprodan-okta commented on #546
Hi @ChristophShyper! Yeah, I will look into it. I'll either fix the `priority` field issue or make it required.

[2021-07-28 11:27] reecewilliams7 commented on #506
I also raised this yesterday via my company's Okta support channel, referencing the above internal ticket, and was told it's still under investigation with no ETA. But hopefully the more questions they receive regarding it, the higher priority it will get.

[2021-07-28 12:58] vavra5 opened #548 "Grant third-party admin status to a User/Group"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-28 13:30] bogdanprodan-okta commented on #548
Hi @vavra5! Thanks for submitting this issue! I'll include this functionality in the next versions.

[2021-07-28 15:16] asheynkmantyler opened #549 "Issue with okta_users data source"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-28 20:26] asheynkmantyler commented on #549
I did some more testing of this behavior, and I found that "errored" behavior is only produced when resources in depends_on section need to be created. So the following code:
[code]
will error out first time it is being run, but will be good all subsequent times.

[2021-07-29 13:19] #534 closed, assigned to bogdanprodan-okta

[2021-07-29 16:35] Mrorya opened #553 "Okta Signon Policy Rule Fails on 3.12.1"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-29 19:42] bogdanprodan-okta commented on #553
Hi @Mrorya! Thanks for submitting this issue! I tested the code you've provided and it works fine in my test org. Here is the screenshot of the rule:
<img width="568" alt="Screenshot 2021-07-29 at 22 40 37" src="https://user-images.githubusercontent.com/71279414/127555672-021be373-8594-4c37-8197-895b0669b66a.png">

[2021-07-29 19:48] Mrorya commented on #553
So, would this possibly be due to us not having a risk score/device trust implemented? Is this a feature flag gap on our Okta instance/part of OIE?
![image](https://user-images.githubusercontent.com/3143796/127556667-e34bf272-cb6b-4392-9482-95e94cf6a3ed.png)

fwiw - we got the same error when _not_ including the risc_score attribute - though clearly I see we can leave that out now :)

[2021-07-29 19:51] bogdanprodan-okta commented on #553
@noinarisak ^^
P.S. API documentation [risk-score-condition-object](https://developer.okta.com/docs/reference/api/policy/#risk-score-condition-object)

[2021-07-29 20:05] bogdanprodan-okta commented on #553
@Mrorya please read the [Note](https://developer.okta.com/docs/reference/api/policy/#device-condition-object)

[2021-07-29 20:07] Mrorya commented on #553
Foiled by Okta Identity Engine again :(

Would this mean that this version of the TF provider is only compatible with OIE?

[2021-07-29 20:10] bogdanprodan-okta commented on #553
From my side, I will make a possibility to set `risc_level` to an empty string, so it won't be present in the request. It will be available in 3.13.0 today.

[2021-07-29 20:12] bogdanprodan-okta commented on #553
@Mrorya You also can enable the `RISK_SCORING` feature flag to make this feature work:
<img width="733" alt="Screenshot 2021-07-29 at 23 11 41" src="https://user-images.githubusercontent.com/71279414/127559405-bfdc3128-4d71-4836-82b4-138bafdce046.png">

[2021-07-29 20:13] Mrorya commented on #553
Awesome! Thank you for the quick update here - will save me from having to figure out how to get downgrading versions working ;)

We'll reach out to support to request this as well. Thanks so much for the help today!