[2021-07-29 20:14] bogdanprodan-okta commented on #553
@Mrorya my pleasure!

[2021-07-29 20:21] bogdanprodan-okta commented on #549
Hi @asheynkmantyler! Thanks for submitting this issue! I'll try to reproduce the problem and get back to you asap. Cheers!

[2021-07-29 20:34] #553 closed, assigned to nobody

[2021-07-29 22:54] Mrorya commented on #553
@bogdanprodan-okta is it worth reopening this, or should I create a new issue? despite the version upgrade + getting the risk_scoring flag turned on, we're still getting the same API response (although it does appear that the rules are being created?)

[code]

![image](https://user-images.githubusercontent.com/3143796/127575640-b36d72fa-af1e-41f4-a943-64be52a2c2f7.png)

Super confusing here, since

[2021-07-29 23:32] Mrorya commented on #553
scratch that - the rules actually did get removed with the apply - i'll create a new issue since this one's closed out - appreciate the help here

[2021-07-29 23:41] Mrorya opened #555 "Okta Sign On Policy Rule Fails on 3.13.0"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-30 08:35] bogdanprodan-okta commented on #555
@Mrorya I've added a note [here](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_rule_signon#risc_level)

[2021-07-30 08:37] bogdanprodan-okta commented on #555
As a workaround, `risc_level` can be set to an empty string, thus not won't be causing any errors.

[2021-07-30 15:39] Mrorya commented on #555
got it - this makes sense now - we had originally left it empty, but I realize in your docs that the correct method would be to define it as empty rather than just not declaring the attribute. thanks for the help here

[2021-07-30 15:39] #555 closed, assigned to nobody

[2021-07-31 21:58] dethstrobe commented on #508
I think this might be a configuration issue with our QA OKTA environment. Because I'm not seeing this in our development environment or our production environment. I'll see if I can't find out what the difference is.

[2021-08-03 14:24] Yohan460 opened #557 "Terraform 0.12.X pinned to Okta provider v3.11.0 after okta -> oktadeveloper swapover"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-03 15:38] jmahowald-slalom opened #558 "Error handling for improperly formatted api tokens should hard fail rather than repeat."
If you have a misconfigured API token, at least for say having a new line in the token, the provider will not fail hard, but instead will fail and retry for each api request.  In our particular instance, we had a newline in the api token and due to errors on how we handle log redaction in long running jobs, we couldn't figure out why we were timing out.  The check happened on each API request, and

[2021-08-04 01:52] aguapanelo-glb opened #560 "okta_group_role: [] is the same as null, ghost target lists, API "breaks" state"
### Community Note
- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do not

[2021-08-04 08:05] bogdanprodan-okta commented on #557
Hi @Yohan460!  Thanks for submitting this issue! Currently, we don't support the provider placed in `oktadeveloper/okta`. We just kept it in case someone still uses it, but it will be removed in the furure.

[2021-08-04 08:07] bogdanprodan-okta commented on #558
Hi @jmahowald-slalom! Thanks for submitting this issue! Yes, this definitely needs to be fixed, so I'll create appropriate PR asap.

[2021-08-04 08:11] bogdanprodan-okta commented on #560
Hi @aguapanelo-glb! Thanks for submitting this issue! I'll investigate the root cause of the problem and get back to you asap.

[2021-08-05 00:06] #483 closed, assigned to nobody

[2021-08-05 11:59] ilyinon opened #562 "Error while installing oktadeveloper/okta v3.13.0: provider registry.terraform.io/oktadeveloper/okta 3.13.0 is not available for linux_amd64"
I use Terraform 0.13.5 and try to update oktadeveloper/okta for any newer than 3.10.1
If I set 3.11 or newer I get the following error:

My version.tf is

Please advise what is the proper way to install oktadeveloper/okta newer than 3.10.1 ? Thanks!

[2021-08-05 12:01] bogdanprodan-okta commented on #562
Hi @ilyinon! Please change `source = "oktadeveloper/okta"` to `source = "okta/okta"` and run `terraform state replace-provider oktadeveloper/okta okta/okta`

[2021-08-05 12:36] ilyinon commented on #562
Thanks, @bogdanprodan-okta!
I will try it.

[2021-08-05 13:36] mcrobbj opened #563 "Could not retrieve the list of available versions for provider okta/okta: no available releases match the given constraints ~> 3.11.1, ~> 3.13.0"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-05 15:03] ilyinon commented on #562
@bogdanprodan-okta
It works for me.
Thank you very much!

[2021-08-05 15:03] #562 closed, assigned to nobody

[2021-08-05 17:46] #186 closed, assigned to nobody

[2021-08-05 17:47] bogdanprodan-okta commented on #563
Hi @mcrobbj! Thanks for submitting this issue! I've tried to roll back to 3.11.1 and that update to 3.13.0, and it worked just fine. Same when removing providers from the cache

[2021-08-05 20:26] jdorothy opened #564 "okta_app_oauth causing changes not shown in plan/apply"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-06 07:14] bogdanprodan-okta commented on #564
Hi @jdorothy! Thanks for submitting this issue! Yeah, That's definitely a bug. The problem is in the code and I'll try to fix it asap.

[2021-08-06 15:57] #564 closed, assigned to bogdanprodan-okta

[2021-08-06 16:01] bogdanprodan-okta commented on #503
Hi @vavra5! Thanks for submitting this issue! I'll investigate it later next week. Cheers!

[2021-08-06 16:06] jdorothy commented on #564
@bogdanprodan-okta looks great - thank you!

[2021-08-06 16:38] jdorothy commented on #564
I just tested out the new release and I can confirm that this is fixed.

[2021-08-06 18:19] vavra5 commented on #503
Hi @bogdanprodan-okta. Perfect, thank you so much.

[2021-08-06 19:52] bogdanprodan-okta commented on #564
I'm glad I could help!

[2021-08-09 08:43] mcrobbj commented on #563
[image: image.png]
The doc isnt consisitient, plus:

terraform init -upgrade
[0m[1mUpgrading modules...[0m
- events in ..\..\..\..\modules\events
- groups in ..\..\..\..\modules\groups
- signon in ..\..\..\..\modules\signon
- social in ..\..\..\..\modules\social
- testAutomation in ..\..\..\..\modules\users\testAutomation[0m[1mInitializing
the backend...[0m[0m[1mInitializing provider plugins...[0m

[2021-08-09 08:51] bogdanprodan-okta commented on #563
1. Execute `terraform init` with this config:
[code]
2. Execute `terraform init -upgrade` with this config:
[code]
You can also try to manually remove 3.11.1 provider from the local dir`terra/.terraform/plugins/registry.terraform.io/okta/okta`

[2021-08-09 12:34] jrummlerS24 commented on #77
We faced the same issue with a brand new Okta tenant. The error was the same - but there was no error when requesting data from
``` curl -H "Authorization: SSWS [TOKEN]" https://OKTATENANT/api/v1/mappings```
In our case, we received an empty array as response.

To solve this issue for us, at least one app has to be created via the Okta admin console, after this was created, the profile data was pr

[2021-08-10 14:56] bogdanprodan-okta commented on #504
Hi @klaushauschild1984! Based on this [docs](https://developer.okta.com/docs/reference/api/schemas/#user-profile-base-subschema), you can.
[code]
You can use this as an example

[code]

P. S. Currently provider requires to set `title` and `type`, but because they are immutable, `okta_user_base_schema_property` will be fixed in the future

[2021-08-10 16:42] noinarisak commented on #528
Hi @iva-bashmat, not sure if your use case is trying to manage different environments (ie, DEV, STG, PRD). If it is, you could use `terraform workspace` and place the okta environment variable within their separate `.tfvars` file and only have one `provider` reference in your HCL. Here is an example:

[code]

[2021-08-10 18:35] kennyko opened #568 "Invalid Session for okta_app_oauth groups claim"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-10 18:38] bogdanprodan-okta commented on #568
Hi @kennyko! Thanks for submitting this issue! I'll try to reproduce it and get back to you asap. Cheers!

[2021-08-12 06:30] aguapanelo-glb commented on #560
Hello, @bogdanprodan-okta
Has been there any progress with this? Could you at least reproduce and confirm the behaviour? I tested with v3.13.1 but this keeps happening.

Thx.

[2021-08-12 07:29] bogdanprodan-okta commented on #560
Hi, @aguapanelo-glb! The problem is in this piece of code:
[code]
Provider should not set `target_group_list` if `groupIDs` is an empty array. That's why you see `+ target_app_list = []` in the terraform plan.

I'll create a PR shortly to fix this issue.

[2021-08-12 13:38] asheynkmantyler commented on #549
Hi @bogdanprodan-okta ! did you get a chance to recreate this issue? Thanks

[2021-08-12 15:31] #560 closed, assigned to nobody

[2021-08-12 16:46] kensykora opened #572 "okta_app_oauth unusable with a large user base"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-12 17:03] #558 closed, assigned to bogdanprodan-okta

[2021-08-12 20:06] venkatakanupuru opened #576 "Enabling Federation broker mode for SAML applications"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-13 00:05] bendrucker opened #577 "`data.okta_user`: plugin crashes on expected 403 errors"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-13 00:20] lucascantor opened #578 "Breaking change(s) in 3.13.3 prevent creating okta_user_schema_property resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-13 00:41] kensykora commented on #572
Something to consider as an implementation for the short term until the users and groups aspect of the apps goes away, could we consider a provider config option to ignore users and groups in the application resource types? something like

I'd take a crack at it but I've got the learning curve of go and terraform internals go get over. I might give it a shot.

[code]

[2021-08-13 10:16] mcrobbj opened #580 "Cant create or update a okta_app_oauth with token_endpoint_auth_method of "none""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-13 12:49] vazuev opened #581 "TFlint ruleset okta"
Hi!
There is nothing to check TF code for Okta.
We have found one restriction for the name attribute of okta_auth_server_policy. It should be no longer than 50 characters.
I have written TF linter for this [https://github.com/vazuev/tflint-ruleset-okta](https://github.com/vazuev/tflint-ruleset-okta).
I would like to write more linter rules, but there is no information about other restrictions or c

[2021-08-13 14:11] #577 closed, assigned to nobody

[2021-08-13 15:12] mihzaidi opened #582 "okta_group_schema_property possible feature?"
Hello,
     I just wanted to ask if there's any way we can also add the addition of group custom attributes as well. The api to do so is documented [here](https://developer.okta.com/docs/reference/api/schemas/#add-property-to-group-profile-schema). If I by mistake missed this capability in another object, I apologize, and please point me in the right direction.

thank you!

### Community Note

- P

[2021-08-13 15:28] bogdanprodan-okta commented on #576
Hi @venkatakanupuru! Thanks for submitting this issue! Adding this feature depends on whether it's available via Okta API. I'll see what I can do and get back to you ASAP.

[2021-08-13 15:29] bogdanprodan-okta commented on #578
Hi @lucascantor! Thanks for submitting this issue! I've already created a PR that should fix this issue.

[2021-08-13 15:35] bogdanprodan-okta commented on #580
Hi @mcrobbj! Thanks for submitting this issue! It's clearly a bug from the Okta API itself. According to the [official documentation](https://developer.okta.com/docs/reference/api/apps/#credentials), `none` is a valid value, so I'll try to request assistance from the team responsible for this functionality.

[2021-08-13 16:33] lucascantor commented on #578
@bogdanprodan-okta my pleasure, and thanks so much for the help!

It's the least I could do, given how valuable the Okta Terraform provider is to us.

[2021-08-13 17:13] #578 closed, assigned to nobody

[2021-08-13 17:30] monde commented on #580
hello @mcrobbj creating a web app which has a client_secret `none` can’t be used for `token_endpoint_auth_method` e.g. `client_secret_basic, client_secret_post, client_secret_jwt: Use one of these methods when the client has a client secret. Public clients (such as single-page and mobile apps) that can't protect a client secret must use none below.`
https://developer.okta.com/docs/reference/api/oi

[2021-08-13 18:03] mcrobbj commented on #580
If it helps it used to work, or certainly not error.
I have another resource that I created a few months ago with those settings.

On Fri, 13 Aug 2021 at 16:35, bogdanprodan-okta ***@***.***>
wrote:

[2021-08-13 18:05] monde commented on #580
@mcrobbj is this something you can work around? I'll pass this issue along and see what other information I can gather.

[2021-08-13 18:48] mcrobbj commented on #580
I need to check what happens when you create from the portal - it seems
from terraform and possibly the api if you dont specify anything the
default to client_secret_basic

John

On Fri, 13 Aug 2021 at 19:05, Mike Mondragon ***@***.***>
wrote:

[2021-08-13 21:11] monde commented on #580
@mcrobbj I discussed this with the feature team that does federation and showed them your feedback. This was their response "we have had this check for a long time now, this is not something that changed recently. If the client's grantTypes contains authorization_code, we allow only browser and native clients to create the app with token_endpoint_auth_method=none. We do not have this restriction i

[2021-08-13 21:12] abatilo commented on #549
I believe I'm having the same issue:

[code]

I get the following panic stack trace when all I'm doing is:
[code]

[2021-08-14 06:54] mcrobbj commented on #580
That's not the case. The Gant type is Auth code and doesn't allow none. If
I comment the token_endpoint_auth_method out it defaults to basic. I have
talked to support and confirmed this.

On Fri, 13 Aug 2021, 22:16 Mike Mondragon, ***@***.***> wrote:

[2021-08-14 07:18] bogdanprodan-okta commented on #580
Here is the JSON payload that is used to create this app:
[code]
And it's clear that `grant_types` contains `authorization_code`

[2021-08-15 14:14] dethstrobe commented on #508
I wasn't able to figure out what the problem is before I moved on from my employer. I hope someone else follows up on this problem. But I'm closing this since I won't be able to investigate it any longer.

[2021-08-15 14:14] #508 closed, assigned to nobody

[2021-08-15 20:12] patoarvizu opened #584 ""Cannot unmarshal array into Go value of type okta.NetworkZone" while creating dynamic zone"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-15 20:40] patoarvizu commented on #584
Actually, I was also able to reproduce this with a network zone of `type = "IP"`. The strange thing in this case is that the resource definition was exactly identical to one I was successfully able to create just a few minutes before it started failing.

[2021-08-16 09:30] dziedrius opened #585 "okta_app_oauth ignoring users still calls API to download all of them"
I have a resource
[code]
and I've noticed, that in production plan runs very long time, so I've attached proxy to see what is going on and it seems that it tries to download all the users for that app:
![image](https://user-images.githubusercontent.com/772162/129541195-8ef70c95-4514-45bc-a948-e68d4fc2c9cf.png)
which in our case can be tens of thousands and 99% of them are assigned to app through g

[2021-08-16 09:45] bogdanprodan-okta commented on #585
Hi @dziedrius! Thanks for submitting this issue! I'll work on this issue this week so the fix can be released asap.

[2021-08-16 10:05] bogdanprodan-okta commented on #584
Hi @patoarvizu! Thanks for submitting this issue! I'll try to reproduce the bug and get back to you asap.

[2021-08-16 10:40] dziedrius commented on #585
@bogdanprodan-okta, thanks a lot for quick reaction.

[2021-08-16 14:30] bogdanprodan-okta commented on #582
Hi @mihzaidi! Thanks for submitting this issue! We have plans to add it to the official SDK first and then implement it here.

[2021-08-16 14:37] #584 closed, assigned to nobody

[2021-08-16 15:08] patoarvizu commented on #584
Thanks!! 👍

[2021-08-16 15:09] bogdanprodan-okta commented on #584
@patoarvizu will be released today.

[2021-08-16 15:12] jrummlerS24 opened #587 "Migration from "okta_app_user_schema" to "okta_app_user_schema_property" resources"
Hi!

I'm facing an issue to migrate from `okta_app_user_schema` to `okta_app_user_schema_property`.

Even when I import the previously existing `okta_app_user_schema` as the new `okta_app_user_schema_property` (via `terraform import okta_app_user_schema_property.example <app id>/<property name>`) I fail to migrate to the new resource name.

Now that wouldn't be a problem if I could just destroy an

[2021-08-16 16:34] bogdanprodan-okta commented on #587
Hi @jrummlerS24! Thanks for submitting this issue! The problem is that sometimes it takes time to remove `app_user_schema_property` (because it has to update all the users assigned to this app).
This is an example of how I did it:
1. Import the ` okta_app_user_schema_property.test `, but keep intact `okta_app_user_schema.test` (the old one).
[code]
2. Copy-paste all the fields from `okta_app_user_

[2021-08-16 16:38] bogdanprodan-okta commented on #581
Hi, @vazuev! Thanks for submitting this issue! I think you can find some of the restrictions in the [official documentation](https://developer.okta.com/docs/reference/core-okta-api/), however, I think some of the validation info might be missing from there.

[2021-08-16 17:04] kensykora commented on #585
This is related to #572

[2021-08-17 01:07] Omicron7 commented on #483
I've got a few SAML apps with the `Everyone` group assigned. For us, thats approximately 700k users. Just planning a simple change on the one app is taking over 1000 requests to the API currently. I'm hoping this change will drastically reduce that.

[2021-08-17 13:18] bogdanprodan-okta commented on #421
`okta_behavior` is now available. Closing this issue.

[2021-08-17 13:18] #421 closed, assigned to bogdanprodan-okta

[2021-08-17 17:51] #26 closed, assigned to nobody

[2021-08-17 20:06] kennyko opened #591 "3.15.3 Plugin Crash"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-18 07:50] bogdanprodan-okta commented on #591
Hi @kennyko! Thanks for submitting this issue! I was able to reproduce it by using this script:
[code]
I'll release the fix shortly.

[2021-08-18 08:10] jrummlerS24 commented on #587
Thank you!!

[2021-08-18 08:10] #587 closed, assigned to nobody

[2021-08-18 15:33] #591 closed, assigned to nobody

[2021-08-18 18:31] bogdanprodan-okta commented on #460
Hi @gstotts! I will be adding `saml_version` field to the `okta_app_saml`, so it can be configured

[2021-08-18 19:09] #460 closed, assigned to bogdanprodan-okta

[2021-08-18 21:33] phi1ipp opened #595 "Skipping users import for okta_group"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-18 23:28] lucascantor opened #597 "Terraform loses track of READ_ONLY_ADMIN `okta_group_role` after editing `target_group_list` of GROUP_MEMBERSHIP_ADMIN `okta_group_role`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-19 00:47] phi1ipp opened #598 "okta_auth_server_policy_rule misses token lifetimes during import"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-19 00:56] phi1ipp commented on #483
Bogdan, what is ETA for v4 you mentioned above?

Thx

[2021-08-19 10:09] bogdanprodan-okta commented on #595
Hi @phi1ipp! Thanks for submitting this issue! I'm currently working on adding "skip" functionality for apps and groups.

[2021-08-19 10:13] bogdanprodan-okta commented on #598
Hi @phi1ipp! Thanks for submitting this issue! I'll try to reproduce it and fix it.

[2021-08-19 10:14] bogdanprodan-okta commented on #597
Hi @lucascantor! Thanks for submitting this issue! I'll try to reproduce the scenario you've provided and fix the problem.

[2021-08-19 10:16] bogdanprodan-okta commented on #483
Hi @phi1ipp! Currently I'm working on fixing the bugs in the provider to stabilise it before releasing v4

[2021-08-19 21:36] #476 closed, assigned to nobody

[2021-08-20 00:46] phi1ipp commented on #598
Hi @bogdanprodan-okta , I submitted PR https://github.com/okta/terraform-provider-okta/pull/600 for you to check if it's enough for the issue to be fixed.

Please review

[2021-08-20 07:24] #598 closed, assigned to nobody

[2021-08-20 11:34] bogdanprodan-okta commented on #398
`refresh_token_rotation` and `refresh_token_leeway` are available in the latest version of the provider, closing this issue

[2021-08-20 11:34] #398 closed, assigned to nobody

[2021-08-20 13:28] bogdanprodan-okta commented on #582
Hi @mihzaidi! It's currently in progress to be added to Okta OpenAPI specification and then to the SDK. It's going to be added to the provider's next version.

[2021-08-20 13:36] bogdanprodan-okta commented on #493
Hi @ksumitathenahealth! Assertion Inline Hook in SAML Settings now can be set via `inline_hook_id` argument. Closing this issue.

[2021-08-20 13:36] #493 closed, assigned to nobody

[2021-08-20 15:21] #461 closed, assigned to bogdanprodan-okta

[2021-08-20 19:19] #462 closed, assigned to bogdanprodan-okta

[2021-08-20 22:43] phi1ipp opened #604 "okta_app_user_schema_property fails during create for newly created application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-20 23:08] phi1ipp commented on #604
I think the problem is that schema property being sent to Okta doesn't match API description

https://developer.okta.com/docs/reference/api/schemas/#app-user-profile-schema-property-object

Things like:
* pattern
* permissions
are not listed among allowed ones

[2021-08-21 00:04] phi1ipp commented on #604
I tried to run the following request and it worked fine
[code]

What is interesting, when I do addition of an attribute in the browser, I see a different API calls happening:
`PUT /api/v1/apps/user/types/oty9hwqkg2jV3K8DU297/schemas/sch9hwqkg1WhXfiOp297` with the following body
[code]
where `oty9hwqkg2jV3K8DU297` is coming from `GET /api/v1/apps/user/types` for the selected application.

[2021-08-22 16:56] phi1ipp commented on #604
@bogdanprodan-okta , it seems that a fix maybe as easy as this PR https://github.com/okta/terraform-provider-okta/pull/606

Please have a look, when you have a chance

[2021-08-23 20:18] dsalaza4 opened #608 "app_links_json for okta_app_auto_login apps"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-23 21:27] phi1ipp opened #609 "Error creating trusted origin (okta_trusted_origin)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-23 22:13] phi1ipp commented on #609
My bad, it should've been "REDIRECT" for the scope

[2021-08-23 22:13] #609 closed, assigned to nobody

[2021-08-24 13:10] jrummlerS24 commented on #56
There seems to be an API now... but just for OIE enabled Okta tenants: https://developer.okta.com/docs/reference/api/policy/#app-sign-on-policy

[2021-08-24 14:15] dsalaza4 commented on #608
Would it be better to support both `app_settings_json` and `app_links_json` for all applications?

[2021-08-24 16:52] elena-rico opened #610 "okta_app_user_schema_property fails update from okta_app_user_schema"
Unable to upgrade resource from `okta_app_user_schema` to `okta_app_user_schema_property`

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add rel

[2021-08-24 17:03] dathdev commented on #610
I'd recommend removing the resource from the tfstate by running `terraform state rm okta_app_user_schema.role` and import the new resource with `terraform import okta_app_user_schema_property.role <user type id>/<role index>`. Then you should be able to `terraform apply`

[2021-08-25 11:52] kouk commented on #568
Seems like the `/api/v1/internal/apps/xyz/settings/oauth/idToken` endpoint being used to read group claims doesn't work with OAuth token, but works with SSWS token.
Maybe related: https://github.com/okta/terraform-provider-okta/issues/44

[2021-08-25 12:11] posquit0 commented on #546
Is there any update for optional `priority` field? Need to be optional for `okta_app_group_assignments`.

[2021-08-25 12:24] posquit0 opened #611 "Exists Change Loop for okta_app_group_assignments"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-25 21:12] phi1ipp opened #612 "okta_app_saml doesn't read configured custom login URL"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-25 21:25] phi1ipp commented on #612
@bogdanprodan-okta , fixed in https://github.com/okta/terraform-provider-okta/pull/613

[2021-08-25 22:22] monde commented on #604
@phi1ipp, fyi @bogdanprodan-okta will be back from vacation 8/30/2021

[2021-08-25 22:23] phi1ipp commented on #604
ty @monde , I hope he is not the only one working on this produce :)

[2021-08-25 22:24] monde commented on #608
@dsalaza4, fyi @bogdanprodan-okta will be back from vacation 8/30/2021

[2021-08-25 22:25] monde commented on #610
@elena-rico, fyi @bogdanprodan-okta will be back from vacation 8/30/2021

[2021-08-25 22:25] monde commented on #611
@posquit0, fyi @bogdanprodan-okta will be back from vacation 8/30/2021

[2021-08-26 05:33] posquit0 commented on #611
Thanks! Hope to be fix soon!

[2021-08-26 11:37] ghost commented on #557
@bogdanprodan-okta sorry your comment does not make sense to me. Can you please check it out if it is saying what you are thinking?

Again:
[code]

 If you plan to remove oktadeveloper/okta why did you move it there?

 So what is the correct usage of okta provider 3.13.7 in TF version 0.12.31 ?

[2021-08-26 11:45] ghost commented on #557
Oh I see so you actually moved from `terraform-providers/okta` -> `oktadeveloper/okta` -> `okta/okta`

However it does not work on tf 0.12.31 last working version of okta provider is 3.11.0

[2021-08-26 17:14] kensykora commented on #585
@bogdanprodan-okta Any update on this? Anxiously awaiting a method for managing Okta apps without user associations

[2021-08-26 20:24] tgoodsell-tempus commented on #611
Just an FYI, I'm having the same issue, I think the resource is mangling the embedded object in state. I've had loads of issues getting these list of complex object type resources playing nicely:
[code]

[2021-08-28 11:30] #612 closed, assigned to nobody

[2021-08-28 11:32] bogdanprodan-okta commented on #610
Hi @elena-rico! Try using this as a reference https://github.com/okta/terraform-provider-okta/issues/587#issuecomment-899650911

[2021-08-28 13:21] #471 closed, assigned to nobody

[2021-08-28 14:17] bogdanprodan-okta commented on #379
Hi, @jkgeyti! I believe this functionality is available via `login_mode` and `login_scopes`
1)

[code]

<img width="611" alt="Screenshot 2021-08-28 at 17 11 10" src="https://user-images.githubusercontent.com/71279414/131220706-4221b6fe-91e6-47c4-9aa0-a61e368ad830.png">

2)
[code]
<img width="611" alt="Screenshot 2021-08-28 at 17 08 17" src="https://user-images.githubusercontent.com/71279414/131220

[2021-08-28 14:17] #379 closed, assigned to nobody

[2021-08-28 18:46] bogdanprodan-okta commented on #585
Hi @kensykora! I was on vacation but I will start to work on this issue on Monday since it's affecting a lot of clients.

[2021-08-28 19:43] bogdanprodan-okta commented on #604
![benedict-cumberbatch-endgame](https://user-images.githubusercontent.com/71279414/131229180-f23f549b-85db-4c9c-9eb8-7b8915d368af.gif)

[2021-08-28 20:29] #448 closed, assigned to bogdanprodan-okta

[2021-08-28 20:31] #470 closed, assigned to nobody

[2021-08-28 20:33] #412 closed, assigned to bogdanprodan-okta

[2021-08-30 17:13] #404 closed, assigned to nobody

[2021-08-30 18:00] elena-rico commented on #610
Thanks @bogdanprodan-okta this strategy works. Do you mind explaining why updating a deprecated resource requires this many manual steps? This unfortunately break our automation, usually replacing deprecated arguments is backwards compatible.

[2021-08-30 21:12] bogdanprodan-okta commented on #610
@elena-rico I think the problem is that the `terraform state mv` command only allows moving items within the same type. The steps I've provided were based on [this tutorial](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/guides/migrating-between-renamed-resources).

[2021-08-31 15:59] PurrBiscuit opened #618 "okta_user admin_roles Argument is deprecated"
### Terraform Version

Terraform version -> `v0.14.11`
Okta provider version -> `v3.13.7`

### Affected Resource(s)

- okta_user
- okta_user_admin_roles

### Terraform Configuration Files

[code]

### Expected Behavior

Getting this warning in my `terraform plan` about a deprecated argument in the `okta_user` resource:

[code]

I updated my Terraform configs (given above) to correct the warning an

[2021-08-31 17:00] #458 closed, assigned to bogdanprodan-okta

[2021-08-31 17:30] bogdanprodan-okta commented on #533
Hi @kevin-chiu-dragon! Is this bug can be reproduced purely via Okta UI? The reason I'm asking is that terraform can only influence Okta behavior via API.

[2021-08-31 18:30] Omicron7 opened #620 "Add exclusion of users in `okta_group_rule`."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-31 18:32] bogdanprodan-okta commented on #620
Hi @Omicron7! Thanks for submitting this issue! I'll create a corresponding PR to add this functionality asap.

[2021-08-31 19:17] john-hoffman opened #621 "v3.13.7 plugin crashed"
Hi,

Code was running fine yesterday. Today ran terraform plan on same code base on got following output:

Stack trace from the terraform-provider-okta_v3.13.7 plugin:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x18ad682]

goroutine 107 [running]:
github.com/okta/terraform-provider-okta/okta.resourcePolicyR

[2021-08-31 19:51] bogdanprodan-okta commented on #621
Hi @john-hoffman! Thanks for submitting this issue! I'll add a nil check there to avoid this problem.

[2021-08-31 20:21] bogdanprodan-okta commented on #621
@john-hoffman could you also provide the resource example you are using for `okta_policy_rule_idp_discovery`?

[2021-08-31 20:40] bogdanprodan-okta commented on #618
Hi @PurrBiscuit! Thanks for submitting this issue! I'll gonna try to fix it before the next release

[2021-08-31 20:44] john-hoffman commented on #621
Hi @bogdanprodan-okta ..I did setup similar to this (terraform-provider-okta/examples/okta_policy_rule_idp_discovery/basic.tf)

data "okta_policy" "idp" {
  name = "Idp Discovery Policy"
  type = "IDP_DISCOVERY"
}

esource "okta_policy_rule_idp_discovery" "aloha" {
  policy_id                 = "S{data.okta_policy.idp.id}"
  name                      = "Redirect for new"
  idp_id

[2021-08-31 20:58] bogdanprodan-okta commented on #618
@PurrBiscuit for now you can just do like this
[code]

[2021-08-31 21:40] dsalaza4 commented on #458
Thank you so much  @bogdanprodan-okta!

[2021-08-31 21:56] #503 closed, assigned to nobody

[2021-08-31 21:56] #621 closed, assigned to nobody

[2021-09-01 16:08] MatthewJDavis opened #625 "Provider crashes when importing a SAML application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-01 20:03] bogdanprodan-okta commented on #625
Hi @MatthewJDavis! Thanks for submitting this issue! As a temp solution, you can put either admin or user notes in this app (is that's possible) so you don't get this error. I'll fix this asap and create the corresponding PR. Cheers!
<img width="391" alt="Screenshot 2021-09-01 at 23 02 53" src="https://user-images.githubusercontent.com/71279414/131736491-69e5dda9-4d33-4851-976d-fb1a65b18489.png">

[2021-09-02 10:00] posquit0 commented on #611
@bogdanprodan-okta is there any update? :)

[2021-09-02 12:15] bogdanprodan-okta commented on #611
@posquit0 haven't got to this bit yet :(

[2021-09-02 12:17] MatthewJDavis commented on #625
Hello @bogdanprodan-okta,
Thanks for that quick response - the workaround of adding **Application notes for admins** worked and I was able to import the SAML app to terraform successfully.

[2021-09-02 16:21] bogdanprodan-okta commented on #475
Hi @dsalaza4! The problem with Radius apps is that a lot of the properties you can set up via UI are not available in public API. I will ask the team responsible for this functionality and maybe get some ETA. Cheers!

[2021-09-02 16:34] #608 closed, assigned to nobody

[2021-09-02 16:34] #625 closed, assigned to nobody

[2021-09-02 16:38] bogdanprodan-okta commented on #608
@dsalaza4 `app_links_json` gonna be available for all the apps. As for `app_settings_json`, I need to add it where it's applicable because some of the apps already have it or the settings themselves have names (like `button_selector` or `username_selector` is app settings in `okta_app_three_field`)

[2021-09-02 20:34] bogdanprodan-okta commented on #610
If there are no more questions I'm closing this issue. If you have any other concerns, feel free to write them here. Cheers!

[2021-09-02 20:34] #610 closed, assigned to nobody

[2021-09-02 20:45] bogdanprodan-okta commented on #563
Hi @mcrobbj! Is this still an issue or may I close this one?

[2021-09-02 21:01] bogdanprodan-okta commented on #557
@dusan-dragon yes, I'm afraid you have to use v0.13.x or newer in order to use that latest provider version.
[code]

[2021-09-02 21:01] #557 closed, assigned to nobody

[2021-09-02 21:02] #504 closed, assigned to nobody

[2021-09-02 22:17] phi1ipp opened #628 "okta_app_group_assignments import fails"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-03 01:16] mcrobbj commented on #563
You can close, seems to be working with the latest version.

On Thu, 2 Sep 2021, 21:45 bogdanprodan-okta, ***@***.***>
wrote:

[2021-09-03 12:29] bryantbiggs commented on #585
hi @bogdanprodan-okta any update on this?

[2021-09-03 12:39] bogdanprodan-okta commented on #628
Hi @phi1ipp! Thanks for submitting this issue! I'll investigate the root cause of this problem and create a corresponding PR. Cheers!

[2021-09-03 12:39] #563 closed, assigned to nobody

[2021-09-03 12:41] bogdanprodan-okta commented on #585
Hi @bryantbiggs! Yes, I'm currently working to make all the `groups` and `users` 'importable'/'readable' if the property is explicitly set in the terraform file.

[2021-09-03 12:43] bryantbiggs commented on #585
thank you!

[2021-09-03 17:24] elena-rico commented on #610
Thanks, @bogdanprodan-okta

[2021-09-03 20:55] phi1ipp commented on #628
@bogdanprodan-okta ,
Created PR https://github.com/okta/terraform-provider-okta/pull/630

[2021-09-08 10:36] stmyers opened #632 "okta_app_user_schema_property fails when applying multiple new properties"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-08 15:47] #459 closed, assigned to nobody

[2021-09-08 15:47] #572 closed, assigned to nobody

[2021-09-08 15:47] #585 closed, assigned to nobody

[2021-09-08 20:58] bogdanprodan-okta commented on #632
Hi @stmyers! Thanks for submitting this issue! It's a duplicate of #604 and will be resolved shortly.

[2021-09-08 21:39] #604 closed, assigned to nobody

[2021-09-08 21:39] #632 closed, assigned to nobody

[2021-09-09 07:18] #628 closed, assigned to nobody

[2021-09-09 11:26] raulbarreto-delivion opened #635 "Failure to execute plan / refresh"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-09 11:56] goerge commented on #635
@raulbarreto-delivion I bet you prefer to switch "Expected" and "Actual" ;-)

[2021-09-09 12:03] raulbarreto-delivion commented on #635
Thanks @goerge

[2021-09-09 12:35] bogdanprodan-okta commented on #635
Hi, @raulbarreto-delivion! Thanks for submitting this issue! Could you also include example of the resource you are trying to create?

[2021-09-09 12:38] drewmullen opened #636 "SAML App Provisioning API Integration"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-09 12:52] shk3bq4d commented on #635
@raulbarreto-delivion : were you updating ? I also had a crash trying to update from 3.12.1 to 3.13.8.

I then tried (and failed) to upgrade from 3.12.1 to 3.13.7

but had success to go from minor to minor 3.12.1 (terraform 1.0.4), 3.13.0 (terraform 1.0.6), 3.13.1, 3.13.2, 3.13.3, 3.13.4, 3.13.5, 3.13.6, 3.13.7, 3.13.8

[2021-09-09 13:00] bogdanprodan-okta commented on #636
Hi @drewmullen! Thanks for submitting this issue! I'll check whether all the operations are available via public API. If they are I'll add them to the provider. Cheers!

[2021-09-09 13:37] drewmullen opened #637 "okta_app_saml.app_settings_json should exist as its own resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-09 13:40] bogdanprodan-okta commented on #637
Hi @drewmullen! Thanks for submitting this issue! This seems like a reasonable thing to add. I'll start to work on this asap. Cheers!

[2021-09-09 15:50] raulbarreto-delivion commented on #635
@bogdanprodan-okta Here is an example:

[code]

[2021-09-09 15:56] raulbarreto-delivion commented on #635
@shk3bq4d The resource was created on an older version of the module but the change was on the newest version. I am not sure if this caused the issue.

[2021-09-09 16:10] shk3bq4d commented on #635
Same for me, while I guess it would be nice to fix the underlying issue, at least you probably have a workaround that I explained in my previous comment (update through all minor versions), should you need it.

[2021-09-09 20:07] drewmullen commented on #636
@bogdanprodan-okta thanks for your update! were you, by chance, able to find an API endpoint? we're looking at making the commands via automation while waiting until the tf provider to be updated - if possible

[2021-09-09 21:49] sklarsa commented on #456
Any updates on this? We have our entire okta provisioning pipeline automated except for this piece

[2021-09-09 21:52] #635 closed, assigned to nobody

[2021-09-10 08:31] guillaumelecerf commented on #506
Hi @monde,

Gentle ping to get an update on this issue please ;)

[2021-09-10 10:09] bogdanprodan-okta commented on #456
Hi @sklarsa! I've asked the team responsible for this functionality and get back to you as soon as I get the answer. Cheers!

[2021-09-10 15:31] sklarsa commented on #506
I'm also experiencing this issue and would love to see a resolution, thanks!

I'm using an `okta_app_oauth`, and this is working fine for bookmark apps

[2021-09-10 15:50] monde commented on #506
@guillaumelecerf @sklarsa I'm looking to see when this will be prioritized by the corresponding internal feature team. I will post an update when I find out new information.

[2021-09-10 15:57] bogdanprodan-okta commented on #56
Yes, that's correct and currently I can not add it here :(

[2021-09-13 09:20] #527 closed, assigned to bogdanprodan-okta

[2021-09-14 15:30] bogdanprodan-okta commented on #549
Hi @abatilo @asheynkmantyler! Are you still able to reproduce this issue using the latest provider's version?

[2021-09-14 19:33] #611 closed, assigned to nobody

[2021-09-14 20:12] bogdanprodan-okta commented on #597
Hi @lucascantor! I've used this scenario to reproduce the issue (I'm using Terraform v1.0.6)

1. Run `terraform apply` to create these resources
[code]
2. Edit `okta_group_role.test_app` to have only one item in the `target_group_list` and run `terraform apply`
[code]
Output:
[code]
3. Remove `target_group_list` field from the `okta_group_role.test_app` resource and run `terraform apply`
[code]
Ou

[2021-09-14 20:53] bogdanprodan-okta commented on #597
Ok, now I get the problem. I'm not sure why this is happening, but if I remove `"GROUP_MEMBERSHIP_ADMIN"` role from the group and then add it back, the ID of `"READ_ONLY_ADMIN"` role will change. That's a very weird behavior and I'll ask the team responsible for this functionality what may cause this problem.

[2021-09-14 21:19] lucascantor commented on #597
@bogdanprodan-okta thanks so much for this. I thought I was losing my mind, but I'm glad to know it's not just me.

[2021-09-15 01:11] monde commented on #597
@lucascantor we have a conversation started with the team in Okta core that will help us get the upstream issue fixed.

[2021-09-15 08:19] bogdanprodan-okta commented on #597
@lucascantor I will create a workaround for this. Basically, I will hot-swap the ID, so only this message might appear.
[code]

I know it's not the best solution, but at least it fixes the problem for now.

[2021-09-15 14:21] kyleian commented on #618
Thanks a bunch!

[2021-09-15 14:48] jeffg-archive opened #647 "group create fails on read (sometimes)"
When doing a standard okta_group create operation, we experienced an issue yesterday where the group create API call succeeded, but the group read that happens immediately after the create (internal to the provider implementation) fails with a 404.

We get a valid groupID and can observe the group is created in the Okta org, but the GET call fails with 404.

We suspect this is a timing issue, perh

[2021-09-15 16:04] lucascantor commented on #597
@bogdanprodan-okta thank you! This is still infinitely better than the current behavior 🙏🏼

[2021-09-15 16:06] #595 closed, assigned to nobody

[2021-09-15 16:06] #597 closed, assigned to nobody

[2021-09-15 16:38] phi1ipp opened #648 "okta_group_role with target_app_list always re-created at plan/apply"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-15 17:19] bogdanprodan-okta commented on #648
Hi @phi1ipp! Thanks for submitting this issue! I'll try to fix it by the next release

[2021-09-15 17:20] bogdanprodan-okta commented on #647
Hi @jeffg-hpe! Thanks for submitting this issue! I'll add a retry mechanism for this resource (like I did for several others), so it will retry GET request several times after resource creation.

[2021-09-15 19:48] sklarsa opened #649 "Is the "Update Application Profile for Assigned User" endpoint implemented?"
Is this endpoint implemented by the provider? https://developer.okta.com/docs/reference/api/apps/#update-application-profile-for-assigned-user

I'm trying to update user <> app profiles for users who are assigned to an app through a group assignment.  It seems like this is what I need?  If so, I'll look at implementing it since my team needs this quickly

[2021-09-15 19:54] bogdanprodan-okta commented on #649
Hi @sklarsa! Yes, this endpoint is used by `okta_app_user` resource. Check [this](https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_app_user/basic_profile.tf) example.

[2021-09-15 19:58] sklarsa commented on #649
Thanks! I tried using it with an oauth app and got this error:
[code]

This is my resource:
[code]

Also what is the behavior of this resouce if a user is already assigned the application via a group assignment?  Is a separate user-based assignment created?

[2021-09-15 20:15] bogdanprodan-okta commented on #649
Could you try to add username to the resource?
[code]

[2021-09-15 20:22] sklarsa commented on #649
Nice! that worked. thanks!

[2021-09-15 20:22] #649 closed, assigned to nobody

[2021-09-16 05:23] ahmei0 opened #650 "Error: failed to delete application user schema property"
getting following error while running terraform destory

Error: failed to delete application user schema property

Got following resources in code to create custom properties and mapp them

okta_profile_mapping
okta_app_user_schema_property

Looks like it tries to delete custom property while mapping still exist. We need to somehow tell terraform to remove mapping first and then delete the propert

[2021-09-16 05:58] ahmei0 commented on #635
@raulbarreto-delivion I need a quick help - I'm creating custom property and mapping but when I run terraform destroy I get error that property cannot be deleted. This is because it doesn't remove the mapping first. Any idea how to force terraform to remove mapping first before attempting to delete property?

[2021-09-16 07:53] bogdanprodan-okta commented on #650
Hi @ahmei0! Thanks for submitting this issue! There are basically two solutions:
* Use [depends_on](https://www.terraform.io/docs/language/meta-arguments/depends_on.html) meta argument, so `okta_app_user_schema_property` will be a 'child' of the `okta_profile_mapping`
* Use targeted destroy `terraform destroy -target=okta_profile_mapping.my_mapping`, and then remove the rest of the infrastructure.

[2021-09-16 08:07] bogdanprodan-okta commented on #618
I'm closing this issue for now. All the deprecated resources will be removed in the upcoming 4.0.0 version of the provider.

[2021-09-16 08:07] #618 closed, assigned to nobody

[2021-09-16 09:52] bogdanprodan-okta commented on #549
I'm closing this issue for now, but if it still exists in the latest version, please leave a comment.

[2021-09-16 09:52] #549 closed, assigned to nobody

[2021-09-16 11:59] fschmager opened #652 "skip_users/skip_groups not used "retroactively""
We have a large user base and the okta provider started syncronizing users of apps. Those users are not part of the terraform state. Everytime we plan the okta provider compares the users in the state with the users in okta. That's taking a really long time due to low rate limits.

We added `skip_users = true` to our `okta_app_oidc` and `okta_app_saml`. In addition to `ignore_changes = [users, gro

[2021-09-16 12:19] bogdanprodan-okta commented on #648
Hi @phi1ipp! I've investigated the problem, and the problem is as follows:
[code]
App in the data source has `id` field
Request:
`GET /api/v1/apps?filter=status+eq+%22ACTIVE%22&limit=1&q=HCQIS+-+Cloudbees+Jenkins`
Response:
[code]
However, when `okta_group_role.hcqis-cloudbee-jenkins-admins` resource makes a request to get list of target apps:
Request:
`GET /api/v1/groups/00g11l1hljlwyX6sz0h8/role

[2021-09-16 12:37] phi1ipp commented on #648
Doh, I think, I've seen it mentioned somewhere in the document, that different formats are used for target_app_list, depending if it's OIN vs custom.

Thank you for looking into it, @bogdanprodan-okta and sorry for bothering you. My bad, should've read the doc thoroughly!

[2021-09-16 12:37] #648 closed, assigned to nobody

[2021-09-16 12:40] ahmei0 commented on #650
I tried depends_on already but didn't help, I have multiple properties so I have a multiple values in depends_on list

2nd option wouldn't be ideal as every time we have a new property we'd have to fiddle with this

![image](https://user-images.githubusercontent.com/62230464/133613458-90b4f73d-9590-4089-8f90-b809b1d7e6de.png)

Also, while defining mapping I'm referring to property index which shou

[2021-09-16 12:47] ahmei0 commented on #650
dependency looks fine as it tries to delete in right order and even confirms deletion of mapping as highlighted in the screenshot but then fails to delete property. If I go to the portal, mapping still exist and manual deletion of property also fails with same error. So something weird is happening here

![image](https://user-images.githubusercontent.com/62230464/133614422-9f4c976c-506f-4848-bc7e-

[2021-09-16 12:50] ahmei0 commented on #650
Here's the error on portal
![image](https://user-images.githubusercontent.com/62230464/133615085-ae5a87d2-5e99-4474-9569-5ba7ef21ade7.png)

[2021-09-16 12:56] bogdanprodan-okta commented on #652
Hi @fschmager! Thanks for submitting this issue! In this case, you can try something like this
1. Copy the `id` for `okta_app_oauth.my_app` (or you can copy it from the state backup file later)
2. Run `terraform state rm okta_app_oauth.my_app` (it removes the resource from the state without actually removing the real underlying app)
3.  Run `terraform import okta_app_oauth.my_app <app id>/skip_gro

[2021-09-16 13:00] bogdanprodan-okta commented on #650
@ahmei0 and get weirder, because the method responsible for removing the mapping doesn't do anything
[code]
I'll start to investigate this, as it's clearly not the expected behavior. Thanks again for the issue!

[2021-09-16 13:04] ahmei0 commented on #650
At least that explains the behaviour :D

[2021-09-16 13:08] fschmager commented on #652
Hey @bogdanprodan-okta,
Thanks for the quick reply. I was afraid you would suggest something like this.

This is a very labor intensive process. We have tens of application, repeated across multiple okta tenants, that means I would have to repeat those steps for over 50 apps swapping in different API keys and looking up all the ID. Lots of places to make errors.

[2021-09-16 13:21] bogdanprodan-okta commented on #652
I have the last two options here:
1. Manually add `skip_users` to the state file (which is also annoying)
2. I can create a branch and remove all the group/users from the app resources, so you can clone the repo, build the binary (simple `go install`), and use binary directly. Because there won't be other changes other than removing `users` and `groups` from the app-related resource, you can then

[2021-09-16 13:27] fschmager commented on #652
Let's hold off on 2. I don't want to create more work for you and distract you from getting 4.0.0 out the door :)

I'll experiment with adding `skip_users` to the state. That feels the most convenient.

Will that leave "tombstone" users in the state or will that get cleaned up automatically or is that something I shouldn't have to worry about?

[2021-09-16 13:29] bogdanprodan-okta commented on #652
No, terraform will just skip the check for users/groups

[2021-09-16 13:31] fschmager commented on #652
Understood. Thanks. OK, let me do a little experimentation. I'll report what I find for anyone running into this as well.

[2021-09-16 14:22] #528 closed, assigned to bogdanprodan-okta

[2021-09-16 16:41] #620 closed, assigned to nobody

[2021-09-16 16:41] #647 closed, assigned to nobody

[2021-09-17 04:34] greenkiwi opened #653 "subject_name_id_format & subject_name_id_template keep being applied"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-17 09:29] bogdanprodan-okta commented on #653
Hi @greenkiwi! Thanks for submitting this issue! I'll try to fix it asap.

[2021-09-17 13:01] fschmager commented on #652
Removing the apps from the state and then re-importing did the trick. Planning is much faster now.

Here my script for removing and reimporting all `okta_app_oauth` and `okta_app_saml` resources:
[code]
Thanks for your quick replies as always. Looking forward to 4.0.0 :)

[2021-09-17 20:08] bogdanprodan-okta commented on #653
I've tried to create a SAML app based on the script you've provided, but it has failed with an error.
[code]

Error:
[code]

After I've added missing fields

[code]
Everything is working fine.
Could you also tell me is this a preconfigured app?

[2021-09-17 20:15] greenkiwi commented on #653
It was an app that was added manually in the Okta UI and then imported.

We followed the instructions here: https://www.terraform.io/docs/enterprise/saml/identity-provider-configuration-okta.html

I'll try to pull the full debug logs and then remove anything that appears sensitive.

[2021-09-17 20:17] bogdanprodan-okta commented on #653
Thanks!

[2021-09-17 20:39] greenkiwi commented on #653
@bogdanprodan-okta Do you know which requests from the debug log you would need?  The debug output is extremely long and appears to be filled with IDs etc which seem sensitive.

[2021-09-17 20:40] bogdanprodan-okta commented on #653
I just need a response from `GET /api/v1/apps/${appID}`

[2021-09-17 20:48] greenkiwi commented on #653
@bogdanprodan-okta what is the `objectClass` that I should be looking for?  the responses are interleaved with different requests.
[code]

samle_app?

[2021-09-17 20:51] bogdanprodan-okta commented on #653
If you are using SSWS token you can just make a curl request
[code]

[2021-09-17 20:53] greenkiwi commented on #653
I found it:
[code]

[2021-09-17 21:03] zionghimire opened #654 "okta_groups isn't working as expected."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-17 21:10] bogdanprodan-okta commented on #653
Thanks! I'll try to see what I can do here. BTW, `signOn` field in my app looks like this:
[code]

[2021-09-17 21:32] greenkiwi commented on #653
@bogdanprodan-okta is there a chance that these values need some other value to be set?

[code]

So without the other value set, they always show up in this weird state.

It just seems weird that if I don't specify them, it tells me I am setting them from the specified value to `""` but if I specify them, it tells me that it is going to set those values.

My goal is to cleanly import this app so t

[2021-09-17 21:55] Mrorya opened #655 "Custom SAML App gets SCIM tab wiped out on re-apply on 3.13.10"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-17 22:03] greenkiwi commented on #653
So I have confirmed that if I remove the values - they are removed and stay removed.

But if the values are set, they continue to need to be set.

Maybe there is some other value that "enables" them? And/or stops them from being set?

[2021-09-20 08:51] bogdanprodan-okta commented on #655
Hi @Mrorya! Thanks for submitting this issue! I'll investigate the problem and try to fix it asap.

[2021-09-20 22:10] pc-mrousseau opened #658 "okta_app_saml.groups deprecated but okta_app_group_assignments not recognized in state"
Hello Team

When trying to assign groups to an `okta_app_saml` object, you get the following error message if doing so using the `groups` parameter.

[code]

That's all nice and fine however if you remove that line from the `okta_app_saml.test` object and instead use a `okta_app_group_assignments` like this:

[code]

### Expected Behavior

Using `terraform apply` should result in the groups being

[2021-09-20 22:16] pc-mrousseau commented on #658
A potential ugly workaround that can be used is the following in the okta_saml_app block:

[code]

[2021-09-21 09:16] exitcode0 commented on #658
@pc-mrousseau this doesn't seem to work for me
I still seem to get Terraform attempting to replace the group assignments resource on each apply

[code]

[2021-09-21 09:48] bogdanprodan-okta commented on #658
Hi, @pc-mrousseau! Thanks for submitting this issue! Currently, you have to use `ignore_changes` in this resource to avoid constant plan change. However, I'm working on the 4.0.0 version now and all the deprecated fields/resources will be removed.
Regarding @exitcode0 's issue, there will be a new release today which should fix this problem.

[2021-09-21 09:56] bogdanprodan-okta commented on #654
I'm closing this issue because it has been inactive for a few days without any description added.

[2021-09-21 09:56] #654 closed, assigned to nobody

[2021-09-21 19:54] jlundstedt commented on #91
API for managing custom domains is available nowadays:

https://developer.okta.com/docs/reference/api/domains/

@bogdanprodan-okta FYI

[2021-09-22 00:35] pc-mrousseau commented on #658
Sounds great @bogdanprodan-okta - to be fair the workaround is also called out in the documentation:
https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_group_assignment

Hoping to see 4.0 soon and hopefully that includes some of the newer APIs as well so we can manage things that are currently not possible to!

[2021-09-22 00:38] gambitran opened #660 "skip_users for okta_groups not working for existing group memberships"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-22 12:52] dawiki commented on #660
this is happening to us as well .. since yesterday we lost some user group memberships that are managed outside of okta and we now run into timeouts because the groups are trying to be refreshed and we have ~17000 users in the group

I think it is very _unfortunate_ or actually worrying that such a change is happening in a patch release.

[2021-09-22 13:24] bogdanprodan-okta commented on #660
Hi, @Gambitran! Thanks for submitting this issue! To avoid users sync you should also put igmore_changes into your resource
[code]
In addition, please read the comments in [this issue](https://github.com/okta/terraform-provider-okta/issues/652) on how to avoid users sync after adding `skip_users = true` field.

[2021-09-22 13:28] dawiki commented on #660
We actually did the lifecycle ignore_changes as well .. but it still is loading the whole user list. At least it takes 20min to refresh the state for some groups (with many users)

So the ignore_changes thing does not solve the issue fully

I have no idea how this really works but could it be a problem that in https://github.com/okta/terraform-provider-okta/blob/8cc0d8669c189cd10537c6031021b8c3113

[2021-09-22 13:33] bogdanprodan-okta commented on #660
@dawiki even if you set `skip_users = true`, terraform will still use the values from the old state and refresh the resource. The easiest thing to do is to remove the resource from the state (but not from the terraform script) and then just import it back. In this case it will pick up new fields and won't sync the users.

[2021-09-22 13:36] dawiki commented on #660
Yeah that is unfortunate .. we have about 700 groups in terraform.

As I said before this is quite worrying to be happening with a patch release - because we did not change anything and pinned the provider version to 3.13.* and then suddenly this happens :(

[2021-09-22 13:39] bogdanprodan-okta commented on #660
@dawiki I'll make a fix to this resource today and release a new version.

[2021-09-22 15:41] #660 closed, assigned to nobody

[2021-09-22 16:44] bogdanprodan-okta commented on #660
@dawiki new release gonna be available within 15mins or so

[2021-09-22 20:35] elena-rico opened #663 "constant change-loops in the 'okta_app_group_assignments' resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-22 21:23] miguelpuiggarcia commented on #506
Do we have any update on this one?
thanks!

[2021-09-23 08:28] dawiki commented on #660
thank you guys .. we already see it working 👍

[2021-09-23 08:30] bogdanprodan-okta commented on #660
@dawiki no problem and sorry again for the inconvenience!

[2021-09-23 08:39] bogdanprodan-okta commented on #663
Hi @elena-rico! Thanks for submitting this issue! Unfortunately, this bug still exists. The problem is that terraform's `schema.TypeSet` doesn't work well when element contains required/optional elements ([found this issue](https://discuss.hashicorp.com/t/using-typeset-in-provider-always-adds-an-empty-element-on-update/18566/3)). To make things work, either I'll make `priority` field as required,

[2021-09-23 12:51] fschmager commented on #663
Is there something that could be done using `lifecycle.ignore_changes`? I haven't been able use that because `priority` and `profile` are on nested `group` properties.
[code]
Here's someone with a similar conundrum: https://stackoverflow.com/questions/64431159/terraform-ignore-changes-on-dynamic-resources

[2021-09-23 17:04] bogdanprodan-okta commented on #663
@elena-rico @fschmager I've created a PR that should fix constant change-loops. I had to switch from `TypeSet` to `TypeList`. It might show some strange updates in place because if you change elements in the middle, the list will 'shift', but the provider will only do the necessary operations.

[2021-09-23 17:12] #658 closed, assigned to nobody

[2021-09-23 17:12] #663 closed, assigned to nobody

[2021-09-23 17:12] elena-rico commented on #663
Hi @bogdanprodan-okta, I was testing your earlier suggestions. I'll wait for your changes to be merged and test again.
Thank you.
PS. I love the PR Title

[2021-09-23 18:30] bogdanprodan-okta commented on #663
@elena-rico new release is out so you can check if that fixes this issue.

[2021-09-23 19:11] kennyko opened #666 "data_source_okta_user_type unable to retrieve application user types"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-23 20:44] kennyko commented on #666
Found out applications should use `okta_app_user_schema_property` instead of `okta_user_schema_property`

[2021-09-23 20:44] #666 closed, assigned to nobody

[2021-09-24 06:22] BalaGanaparthi opened #667 "Getting "Invalid session" error when using okta_user_profile_mapping_source datasource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-24 14:18] elena-rico opened #669 "okta_app_group_assignments for SAML apps updates (Optional) profile values"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-24 17:39] #568 closed, assigned to nobody

[2021-09-25 00:23] kennyko opened #670 "Disable refresh of users on app_saml resource"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-25 00:26] kennyko commented on #670
I can't read, its provided by the `skip_users` parameter

[2021-09-25 00:26] #670 closed, assigned to nobody

[2021-09-27 16:22] monde commented on #506
@miguelpuiggarcia I've pinged the feature team responsible for this part of the Okta API and am trying to get it into an upcoming sprint.

[2021-09-27 16:50] karlsequeira opened #672 "Update of SAML Cert Fails."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-27 19:35] bogdanprodan-okta commented on #672
Hi @karlsequeira! Thanks for submitting this issue! I'll try to reproduce the bug and get back to you asap. Cheers!

[2021-09-28 08:13] ChristophShyper commented on #546
@bogdanprodan-okta I have another connected issue happening for the last few days.
My resource is defined as:
[code]

And `terraform plan` is showing sometimes:
[code]

Was something changed in `v3.13.13` around it? My priority is fixed but provider still is scrambling it randomly.

[2021-09-28 21:03] CodyDunlap commented on #582
Would this also include the ability to set values for Group Level attributes for specific application assignments in a group? We can do this through the console but I haven't discovered a way to do this via Terraform as of yet.

[2021-09-29 00:13] masipah commented on #655
Wondering if there are any workarounds for this or if you were able to reproduce it

[2021-09-29 14:34] drc-hpaddock commented on #670
@kennyko did that field work for you? I'm encountering the same problem, but adding `skip_users` and `skip_groups` did not prevent thousands of calls to `/api/v1/apps/appid/users?after=userid&limit=200`.

Here is my configuration:

[code]

[2021-09-29 15:22] bogdanprodan-okta commented on #670
Is this an existing resource or a new one? If it's existing, please read [this comment](https://github.com/okta/terraform-provider-okta/issues/652#issuecomment-920876349)

[2021-09-29 15:26] phi1ipp opened #673 "To have a config setting to preserve some capacity for rate limits"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-29 15:29] bogdanprodan-okta commented on #673
Hi @phi1ipp! You can use [this field](https://registry.terraform.io/providers/okta/okta/latest/docs#max_api_capacity) to set rate limits.

[2021-09-29 15:33] drc-hpaddock commented on #670
Existing.

The steps outlined in your comment worked. Thank you @bogdanprodan-okta .

[2021-09-29 15:36] phi1ipp commented on #673
hi @bogdanprodan-okta , thank you for the prompt response! I'm sorry, I should've read documentation more thoroughly

[2021-09-29 16:07] techjutsu-mikeb opened #674 "DOC: Provider usage example - incorrect version"
The example usage for the Okta terraform provider uses a version that is not currently released. A client tried to use this for their scripts and had problems with initializing since the version doesn't actually exist (yet) - `3.18` (current release is only `3.13.13`).

As Is:
[code]

[2021-09-29 16:11] techjutsu-mikeb opened #675 "DOC: Missing closing quote from "scopes" in "api_token" config documentation"
The configuration documentation for `api_token` mentions the alternative of using `scopes`; however, the closing double quotation is missing (is actually a **v**).

**_Example text with missing closing quotation:_**

api_token - (Optional) This is the API token to interact with your Okta org (either "api_token" or "client_id", "scopesv and "private_key" must be provided). It can also be sourced fr

[2021-09-29 19:05] phi1ipp commented on #673
@bogdanprodan-okta , is it currently supported or not? Below is what I got, trying to apply the config param, which you mentioned
[code]

[code]

[2021-09-30 10:10] bogdanprodan-okta commented on #673
@phi1ipp in the comment above you are trying to set terraform's config. You should put this setting in provider's config instead
[code]

[2021-09-30 11:36] elior379 opened #678 "okta provider crashes when trying to data "okta_auth_server""
Encountered this error which prevents me from working with okta provider

`Error: Plugin did not respond
│
│   with module.main-api-gateway-sandbox-cert.data.okta_auth_server.get_auth_server_id,
│   on ../main-api-gateway-rest-sandbox-cert/main.tf line 17, in data "okta_auth_server" "get_auth_server_id":
│   17: data "okta_auth_server" "get_auth_server_id" {
│
│ The plugin encountered an error, an

[2021-09-30 12:11] bogdanprodan-okta commented on #678
Hi @elior379! Thanks for submitting this issue! Yeah, it's a bug :) It should return an error in case auth server doesn’t exist, but not panic. I'll create a PR shortly to fix this.

[2021-09-30 12:56] phi1ipp commented on #673
Doh, thank you, @bogdanprodan-okta! Sorry for the silly question

[2021-09-30 12:56] #673 closed, assigned to nobody

[2021-09-30 15:20] #678 closed, assigned to nobody

[2021-10-01 05:43] BalaGanaparthi opened #680 "Error: "failed to delete application user schema property" when destroying okta_idp_saml with mappings"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-01 09:50] frousselet opened #681 "Add resource okta_domain_validation"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-01 16:35] frousselet opened #682 "Add resource okta_domain_certificate"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-01 23:11] Mrorya opened #683 "Add app_settings_json to okta_app_swa"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-04 07:56] billsw opened #684 "Add support for Token Exchange grant type for Native SSO"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-04 08:36] bogdanprodan-okta commented on #683
Hi, @Mrorya! It might look weird, but could you try to use the `okta_app_auto_login` resource to create this app?

The problem is that according to official docs, this is the body for browser plugin app settings:
[code]
If you want to add [custom SWA app](https://developer.okta.com/docs/reference/api/apps/#add-custom-swa-application), you have to use the `okta_app_auto_login` resource type.

[2021-10-04 15:11] Mrorya commented on #683
@bogdanprodan-okta - How would that work if we've already created the app as an "okta_app_swa" resource? Is there a 'migrate from resource to resource' option here? We created the app as an okta_app_swa app and applied the settings json manually - I'd be concerned about losing the config if I terminated the okta_app_swa resource that's already been created.

[2021-10-04 15:11] JaseKirby commented on #568
I am still experiencing this exact same issue in the latest `v3.13.13` version of the provider and can confirm the source code for that release does not contain the fix in the pull request. I assume it will be in the next release whenever that happens???

[2021-10-04 15:58] bogdanprodan-okta commented on #683
@Mrorya I think the best approach here would be:
1. Create new resource in the terraform file
[code]
2. Import the existing app `terraform import okta_app_auto_login.amplitude_scim <app_id>`
3. Set all the required fields (or just copy-paste from the old `okta_app_swa` resource)
4. Remove old `okta_app_swa` resource from the state `terraform state rm okta_app_swa.amplitude_scim`. This will just re

[2021-10-04 16:00] bogdanprodan-okta commented on #568
@JaseKirby new version is going to be released this week. It will include this fix.

[2021-10-04 17:23] bogdanprodan-okta commented on #682
Hi @frousselet! Thanks for submitting this issue! I've started to work on adding this into next release

[2021-10-04 17:29] bogdanprodan-okta commented on #681
Hi @frousselet! Thanks for submitting this issue! I've started to work on adding this into the next release.
Question: what do you think about resource behavior?
1. Keep trying to validate until the `VERIFIED` status is returned and just fail after several attempts if not.
2. Try to validate, don't retry, and just set the status. Keep validating after every plan-refresh until status is `VERIFIED`

[2021-10-04 17:30] bogdanprodan-okta commented on #684
Hi, @billsw! Thanks for submitting this issue! I'll try to add this into the next release

[2021-10-04 18:18] Mrorya commented on #683
This worked for us, thanks for the help here

[2021-10-04 18:30] frousselet commented on #681
Hi @bogdanprodan-okta,

Thanks for the feedback!

Yes option 1 makes sense too since 'verify' is a status and it doesn't really make sense to destroy it, however the verification will be performed in background (because the DNS provider needs the TXT record information from `okta_domain`), and it implies having to go on Okta GUI (or somewhere else) and check the status after the apply.

What I lik

[2021-10-04 18:42] frousselet commented on #682
Hi @bogdanprodan-okta,

Thanks for the feedback, I really appreciate.

[2021-10-05 01:47] ahmei0 opened #685 "Client authentication on SPA app"
When I create SPA app using app_oauth resource it create app with Client authentication not enabled.

Could you pls advise parameter below I need to use so "Client authentication" is set to "Use PKCE (for public clients)"

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/app_oauth

[2021-10-05 10:02] pbygrave-lucid opened #686 "Metadata format unsuitable for AWS Opensearch integration"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 11:39] bogdanprodan-okta commented on #681
@frousselet so the `okta_domain_validation` will make only one attempt to validate the domain and set's the status returned in the response. If you run `terraform apply` once more time, the provider will check the status that is stored in the state. If it's not `VERIFIED`, then it will do another API call to try to verify it and so on. As you said in prev comment, the first option seems more logic

[2021-10-05 12:15] frousselet commented on #681
Hi @bogdanprodan-okta,

We need `okta_domain` to finish its process to get the TXT record information (we both agreed on that).

That means we can't let the resource `okta_domain` creation timeout when verify is not successful (we both agreed on that).

That means, with this solution, we have to do this verify process in background, without letting know the status to Terraform (or most of the time

[2021-10-05 13:28] bogdanprodan-okta commented on #685
Hi, @ahmei0! Thanks for submitting this issue! Here is an example of the app that has "Client authentication" set to "Use PKCE (for public clients)":
[code]
The key value you are looking for is `type = "browser"`

[2021-10-05 13:35] bogdanprodan-okta commented on #685
You can also use `type = "native"`, and set `token_endpoint_auth_method = "none"` ("Client authentication" set to "Use PKCE (for public clients)") or `token_endpoint_auth_method = "client_secret_basic"` ("Client authentication" set to "Use Client Authentication")

[2021-10-06 08:34] bogdanprodan-okta commented on #686
Hi, @pbygrave-lucid! Thanks for submitting this issue! I'll take a look into this and try to solve your problem. Meanwhile, could you try using `local_file` resource to store the metadata into a local file, and then use that file in the `metadata_content` field?
[code]

[2021-10-06 08:56] #683 closed, assigned to nobody

[2021-10-06 09:17] pbygrave-lucid commented on #686
@bogdanprodan-okta I am massively sorry to have wasted your time, I was reporting this issue on behalf of another engineer and we have subsequently found that the invalid SAML configuration was being caused by an incorrect subject_key being passed, it was actually nothing to do with the metadata and the direct referencing works correctly. I will close this issue so as not to waste anyone's time fu

[2021-10-06 09:17] #686 closed, assigned to nobody

[2021-10-06 09:46] bogdanprodan-okta commented on #672
Hi, @karlsequeira! I think I'll make this resource updatable to fulfill your request. The logic will be something like this:
* create a new identity provider key
* list all identity providers that are using an old key
* assign a new key to these identity providers
* remove old identity provider key

However, I'm not sure whether this will work properly, since several identity providers outside the

[2021-10-06 10:23] bogdanprodan-okta commented on #652
I'm closing this issue for now, since there is nothing to be done at this point.

[2021-10-06 10:23] #652 closed, assigned to nobody

[2021-10-06 14:52] karlsequeira commented on #672
Thanks for your response. I will use this as a workaround for now. Will wait for the resource to be updateable.

[2021-10-06 15:44] bogdanprodan-okta commented on #669
Hi, @elena-rico! Sorry for the late response. I'm currently looking into this issue and hopefully will include the fix in the next release. Cheers!

[2021-10-06 16:40] #681 closed, assigned to nobody

[2021-10-06 16:40] #682 closed, assigned to nobody

[2021-10-06 17:05] #582 closed, assigned to nobody

[2021-10-06 17:32] elena-rico commented on #669
Excellent! Thank you @bogdanprodan-okta

[2021-10-06 18:29] bogdanprodan-okta commented on #669
@elena-rico so the behavior will be as follows:
- terraform will skip profile fields that are set to `null`.
- if the profile field is set outside the terraform, it will show the diff like this:
[code]

[2021-10-06 18:31] #669 closed, assigned to nobody

[2021-10-07 08:05] bogdanprodan-okta commented on #546
I'm closing this issue for now. If you have any errors regarding the`okta_group_memberships` behavior, please create another issue. Thanks!

[2021-10-07 08:05] #546 closed, assigned to nobody

[2021-10-07 08:59] #684 closed, assigned to nobody

[2021-10-07 09:02] #674 closed, assigned to nobody

[2021-10-07 09:02] #675 closed, assigned to nobody

[2021-10-07 18:03] #637 closed, assigned to nobody

[2021-10-07 19:11] bogdanprodan-okta commented on #680
Hi, @BalaGanaparthi! I've created the PR that should fix your problem. This is the script I used for the testing:
[code]

Note this block in the `okta_profile_mapping` resource. Mapping can not be created if schema property doesn't exist.
[code]
Another option would be to make mappings look something like this:
[code]

[2021-10-07 19:15] bogdanprodan-okta commented on #650
Hi, @ahmei0! I've created the PR that should fix the issue. Basically, I'm setting all the mappings to `nil` value thus [removing property mapping](https://developer.okta.com/docs/reference/api/mappings/#remove-property-mapping).

[2021-10-07 19:23] bogdanprodan-okta commented on #685
@ahmei0 I'm closing this issue for now. If have more questions, feel free to post them here. Cheers!

[2021-10-07 19:23] #685 closed, assigned to nobody

[2021-10-07 19:26] #680 closed, assigned to nobody

[2021-10-07 19:26] #650 closed, assigned to bogdanprodan-okta

[2021-10-07 22:40] monde commented on #56
We are working on policies this month in okta-sdk-golang and that will trickle down to the okta provider.

[2021-10-07 22:53] monde commented on #436
@ymylei @bogdanprodan-okta We could probably do an option (via env var, cli, or config) that would toggle which env variable convention is used. Something like `OKTA_ENV_VAR_TYPE=okta-sdk-golang`. The toggling logic might be in `envDefaultSetFunc` https://github.com/okta/terraform-provider-okta/blob/master/okta/provider.go#L346-L358  to make it work. A couple of implementionts come to mind. I thin

[2021-10-08 15:55] #672 closed, assigned to bogdanprodan-okta

[2021-10-08 15:56] #469 closed, assigned to bogdanprodan-okta

[2021-10-10 05:01] ashwini-desai commented on #576
@bogdanprodan-okta : I see that `implicit_assignment` code of resource `okta_app_oauth` uses code to fetch application usrs and groups. The verified that same Okta APIs do return users and groups for SAML apps too. So I am thinking it would be about making this parameter available and re-using the same code behind that parameter.
If I am on the right track, can I attempt this?

[2021-10-10 12:10] ahmei0 opened #704 "user profile to app mapping isn't working as expected"
Hi, I'm using following code to map custom attributes and it works fine

[code]
and I can see following mapping on app to user mapping tab
![image](https://user-images.githubusercontent.com/62230464/136694739-5ee41359-42d7-44f1-98f5-b529c02771bd.png)

but I don't see mapped parameters on user to app maping tab
![image](https://user-images.githubusercontent.com/62230464/136694785-1b53b159-cc03-4eff

[2021-10-11 08:40] bogdanprodan-okta commented on #704
Hi, @ahmei0! Thanks for submitting this issue!
1. To preserve mappings that are set outside of the terraform, you should set `delete_when_absent = false`.
2. As for `okta_profile_mapping`, to set `user -> app` mapped parameters, you have to create another one with `source_id` set to a user_profile_mapping_source.

Here is an example I've used to test this:
[code]

[2021-10-11 10:15] #576 closed, assigned to nobody

[2021-10-11 18:02] bogdanprodan-okta commented on #704
Hey, @ahmei0! Did my comment help to solve your issue?

[2021-10-11 23:16] ahmei0 commented on #704
Thanks @bogdanprodan-okta  yeah I already defined another resource with reverse source and target and it worked.

[2021-10-11 23:16] #704 closed, assigned to bogdanprodan-okta

[2021-10-13 15:10] pc-mrousseau opened #710 "okta_app_saml.features reset by provider"
Working with imported applications that are configured for SCIM, we noticed that the provider will actually detect this as a "change" and flip back the features like SCIM back to off. Obviously, that's not great as it breaks SCIM and actually drop the configurations.

## Expected Behavior
The documentation here states
`Notice: you can't currently configure provisioning features via the API. `
http

[2021-10-15 01:07] ahmei0 opened #713 "Cannot edit access policy rule"
I'm using following code to create access policy rule, it is created fine but I cannot edit it on UI. When I edit it and click on "Update Rule" it just hangs there and does nothing.

On the other hand, if I create exact a ditto copy of rule using UI, it works fine.

Please advise what terraform is doing differently that causes this problem

[code]

[2021-10-15 17:25] monde commented on #713
@ahmei0 I will look into this further.

[2021-10-15 17:53] monde commented on #713
@ahmei0 does the account that you log into the UI with have less privileges than superadmin associated with the API token the Okta provider is using? Double check that for me, that will give me next steps for bug escalation.

[2021-10-15 20:12] #56 closed, assigned to nobody

[2021-10-15 20:12] #456 closed, assigned to nobody

[2021-10-15 20:16] bogdanprodan-okta commented on #710
Hi, @pc-mrousseau! Thanks for submitting this issue! Yeah, you can't currently configure provisioning features via the API, so I'll just remove that from the provider.

[2021-10-15 20:18] #710 closed, assigned to bogdanprodan-okta

[2021-10-15 21:49] ahmei0 commented on #713
No, both are superadmin

________________________________
From: Mike Mondragon ***@***.***>
Sent: Saturday, October 16, 2021 4:54:00 AM
To: okta/terraform-provider-okta ***@***.***>
Cc: Ahmed, Ishtiaq ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/terraform-provider-okta] Cannot edit access policy rule (#713)

@ahmei0<https://github.com/ahmei0> does the account that you log into the UI with

[2021-10-16 21:07] bogdanprodan-okta commented on #655
@Mrorya I think this might be related to the [#710](https://github.com/okta/terraform-provider-okta/issues/710) issue.

[2021-10-17 21:48] ahmei0 opened #720 "network zone question"
I have multiple apps with their own git repos and workspaces (per app per env) e.g. and I have a global repo for common or shared config (e.g. enabling mfa factors)

* app1
* app2
* app3
* global

We need to lock signon to Australia only. So I'm trying to decide whether I create network zone just once in global repo/workspace and refer it in app workspaces as remote resource or create network zone

[2021-10-18 02:00] ahmei0 opened #721 "default signon policy"
is there a resource to edit default signon policy or edit default signon policy rule or edit default signon policy rul

[2021-10-18 12:47] bogdanprodan-okta commented on #721
Hi, @ahmei0! Thanks for submitting this issue! Default sign-on policy and default sign-on policy rule are immutable, so they can not be changed via API.

[2021-10-18 12:47] #721 closed, assigned to nobody

[2021-10-18 14:46] noinarisak commented on #720
Hey @ahmei0, I think your approach is sound. Currently, it does not look like we have a data source for `okta_network_zone` that you would reference at your app-level HCL file, which would be ideal for your situation and a lot cleaner. @bogdanprodan-okta, we should add a data source for `okta_network_zone` so it can be used by the other resource like `okta_policy_rule_signon`.

A workaround could

[2021-10-18 16:58] #720 closed, assigned to nobody

[2021-10-18 17:34] bogdanprodan-okta commented on #653
Hi, @greenkiwi! Sorry for such a late response. I'm currently trying to figure out with Terraform Cloud doesn't have these fields, so I pinged the internal team responsible for the app's functionality to help me out. As soon I get a response from them, I'll get back to you with an answer. Cheers!

[2021-10-18 19:29] bogdanprodan-okta commented on #667
https://github.com/okta/terraform-provider-okta/pull/676#issuecomment-946096443

[2021-10-18 19:29] #667 closed, assigned to nobody

[2021-10-18 19:44] bogdanprodan-okta commented on #713
@ahmei0 could you check if `"AST"` scope exists in your Auth Server? Also, you can check the console to see what request UI is making when you heat the `Edit` sign.

[2021-10-18 20:05] bogdanprodan-okta commented on #653
@greenkiwi As I understand, these fields might be missing from the pre-configured aka catalog apps, so unfortunately you can not set up them.

[2021-10-18 21:05] ahmei0 commented on #720
Thanks. You guys are super quick. Yes I was exporting network zone in global workspace and importing as remote resource in app.

[2021-10-18 21:22] ahmei0 commented on #393
waiting on this

[2021-10-18 21:26] ahmei0 commented on #713
yes AST scope exist

[2021-10-18 21:28] bogdanprodan-okta commented on #713
Quoting the reply from the team who maintain this functionality :
[code]

[2021-10-18 21:29] ahmei0 commented on #713
Here's the rules config I pulled using postman if that helps. 'backup_rule_ast' was created manually and works fine. retail-digital-ast-ec-nat-uat-policy-rule was created using tf and it has edit issue
[code]

[2021-10-18 21:36] ahmei0 commented on #713
this is what I see in browser when I press Update Rule
![image](https://user-images.githubusercontent.com/62230464/137810074-d41ac885-00f9-4029-8ff8-68ceda021219.png)

[2021-10-18 21:40] ahmei0 commented on #713
Could not load content for webpack://AuthorizationServer/./src/models/ResourceAccessRule.js (HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME)

[2021-10-18 21:46] ahmei0 commented on #721
@bogdanprodan-okta  but you can add a new rule to Default signon policy using control panel so why can't we have it using API

[2021-10-19 07:30] bogdanprodan-okta commented on #721
Sure you can add new rules to the default sign-on policy:
[code]

[2021-10-19 07:52] ahmei0 commented on #721
Thanks that worked like a charm.

[2021-10-19 13:57] fatbasstard commented on #506
Hi @monde,

Back to the "question of the month": Any update?

I've also created a case now (refering to this issue and the internal reference you've provided earlier) in the hope that it might speed up a bit

[2021-10-19 15:40] #393 closed, assigned to bogdanprodan-okta

[2021-10-19 15:45] Mrorya commented on #655
@bogdanprodan-okta - Thanks! I'll keep an eye out for the next version release and we'll test on our side that it resolves the provisioning tab issue.

[2021-10-19 15:54] monde commented on #506
@fatbasstard I'm using our internal process to escalate the issue with the responsible feature team.

[2021-10-19 20:45] monde commented on #277
hi @conor-mullen conditions is the way to go about this as referenced at the beginning of the issue. So it won't be possible to put an identity provider on the okta_policy_rule_signon and have that behave as conditions do. cc/ @bogdanprodan-okta

[2021-10-19 20:51] karlsequeira opened #729 "SAML JIT Settings"
### Community Note
Please allow for updating for this is an option under JIT Settings.
- Update of attributes for existing users check.
- Reactivation Settings

### Description

### New or Affected Resource(s)

- okta_app_saml

update_attr_existing_users
reactiveate_deactivated_users
unsuspend_suspended_users

### Potential Terraform Configuration

[code]

### References

- #0000

[2021-10-19 22:11] virgofx opened #730 "`okta_app_oauth_api_scope` Doesn't Diff `scopes` Properly resulting in Changes For Subsequent Plan/Applies"
The `okta_app_oauth_api_scope` resource will detect a change based on the ordering of `scopes`. Subsequent `terraform plan` or `terraform apply` commands will constantly show changed order after a successful `terraform apply`. The behavior of the resource should properly detect ordering issues from API and show as not changed.

### Community Note

- Please vote on this issue by adding a 👍 [reactio

[2021-10-19 22:44] monde commented on #506
Okta internal escalation: [OKTA-439102](https://oktainc.atlassian.net/browse/OKTA-439102) /cc @fatbasstard @joshowen .

FWIW the terraform provider is calling this API endpoint for logo uploads [POST
/api/v1/apps/${applicationId}/logo](https://developer.okta.com/docs/reference/api/apps/#application-logo-operations)

[2021-10-20 14:42] bogdanprodan-okta commented on #730
Hi, @virgofx! Thanks for submitting this issue! I'll try to reproduce it and create a fix asap. Cheers!

[2021-10-20 14:48] bogdanprodan-okta commented on #729
Hi, @karlsequeira! Thanks for submitting this issue! I'll try to find Okta API that manages SAML JIT Settings and try to add it to the provider. Cheers!

[2021-10-20 17:41] monde commented on #506
The feature team responsible for that Okta API endpoint is now looking for a fix in its current sprint.

[2021-10-21 00:06] #581 closed, assigned to nobody

[2021-10-21 16:41] travisty- commented on #548
Hi @bogdanprodan-okta! Any chance this functionality will be available in the next release?
Having the ability to grant third-party admin status with Terraform would be very useful.

[2021-10-21 16:43] bogdanprodan-okta commented on #548
Hi, @travisty- ! I've just started to work on this today :) Gonna be published tomorrow. Cheers!

[2021-10-21 19:15] #548 closed, assigned to bogdanprodan-okta

[2021-10-21 19:33] #730 closed, assigned to bogdanprodan-okta

[2021-10-21 21:22] faurel opened #738 "Resource okta_app_group_assignment receive HTTP code 500 from OKTA API"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-21 23:28] ahmei0 commented on #713
Any update on this

[2021-10-22 02:36] virgofx commented on #506
I'm seeing a similar but different error. Was about to post new issue but saw this one. I also confirmed we don't have that EA feature listed any more in one of the workarounds above.

[code]

[2021-10-22 11:27] bogdanprodan-okta commented on #738
Hi, @faurel! Thanks for submitting this issue! I've tried to reproduce this issue, but just couldn't. You can also refer to [this comment](https://github.com/okta/terraform-provider-okta/issues/736#issuecomment-949540683) and also submit the request via Okta support.
I've created a PR, so the priority field won't be present in the request unless it's specified in the resource.

[2021-10-22 13:11] bogdanprodan-okta commented on #713
Hi @ahmei0! The team responsible for this functionality is aware of the problem. I'll keep you posted once they give me some updates.

[2021-10-22 13:19] #738 closed, assigned to nobody

[2021-10-22 17:52] hueydn opened #745 "okta_policy_rule_mfa resource support for users accessing specific applications"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-22 23:50] ahmei0 commented on #713
Were they able to reproduce it?

________________________________
From: bogdanprodan-okta ***@***.***>
Sent: Saturday, October 23, 2021 12:11:33 AM
To: okta/terraform-provider-okta ***@***.***>
Cc: Ahmed, Ishtiaq ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/terraform-provider-okta] Cannot edit access policy rule (#713)

Hi @ahmei0<https://github.com/ahmei0>! The team responsible for this

[2021-10-25 20:59] bogdanprodan-okta commented on #745
Hi, @huy-keydata! Thanks for submitting this issue! I'll start to work on this functionality asap.

[2021-10-26 13:09] hueydn commented on #745
Thanks this will help with my deployment because it seems that every time my terraform deployment runs and makes a change to this resource it removes all the apps assigned even though I can't set values for the app assignments.

[2021-10-27 15:46] bogdanprodan-okta commented on #655
Hi, @Mrorya! Does the issue regarding features still exist?

[2021-10-27 16:53] bogdanprodan-okta commented on #713
Internal ticket reference [OKTA-441274](https://oktainc.atlassian.net/browse/OKTA-441274)

[2021-10-27 18:21] bogdanprodan-okta commented on #713
@ahmei0 I've managed to reproduce this bug. It's clearly some UI issue and the team responsible for this functionality will check it. I'll keep you posted.

[2021-10-28 09:39] fatbasstard commented on #738
Small FYI: We've been hitting this issue as well on "random" workspaces almost. After opening and having a call with Okta they also suggested to leave out the priority if the order is not needed explicitly (we've been setting all assignments to priority `1`).

So this being fixed is really ready for us as well.

[2021-10-28 13:53] mcrobbj-abrdn opened #754 "okta_org_configuration doesn't pick up logo - an example would help"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-28 14:51] bogdanprodan-okta commented on #754
Hi, @mcrobbj-abrdn! Thanks for submitting this issue! I've just tested the script you've provided and it works fine.
`terra.tf` is my terraform file and `orgLogo.jpeg` file was used for the logo.
[code]
<img width="290" alt="Screenshot 2021-10-28 at 17 48 06" src="https://user-images.githubusercontent.com/71279414/139281229-8b73a9bd-d917-446f-8e24-94b9199725ef.png">

[2021-10-28 18:56] agosto-lorinronken opened #756 "Okta OIDC Application Custom URL"
Hello,

I am having trouble deploying an OIDC Oauth Application using a custom URL via Terraform.  When I set the attribute `issuer_mode` to `CUSTOM_URL` it is expecting a custom domain to be configured, however, I don't currently see an option for this (such as `issuer`).   Could someone help me identify what the Terraform setting is for setting the custom domain?  I have included the error messa

[2021-10-28 19:12] bogdanprodan-okta commented on #756
Hi, @agosto-lorinronken! Thanks for submitting this issue! The reason for that is you don't have a custom domain configured. You can read more details [here](https://developer.okta.com/docs/reference/api/apps/#details). You have to [configure a custom domain](https://developer.okta.com/docs/guides/custom-url-domain/overview/) for this issuer mode. You can use terraform resources for that as well.

[2021-10-28 19:14] bogdanprodan-okta commented on #745
Hi, @huy-keydata! I will add this functionality to the rule. Just FYI, app conditions within the MFA enrollment policies are currently not supported on OIE, but still gonna work in 'classic' orgs.

[2021-10-28 22:54] thekbb opened #757 "Terraform up a user, activate it and set password doesn't appear to work"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-29 00:57] ahmei0 opened #758 "Provider produced inconsistent final plan"
╷
│ Error: Provider produced inconsistent final plan
│
│ When expanding the plan for
│ okta_profile_mapping.app_to_user_profile_mapping_local[0] to include new
│ values learned so far during apply, provider
│ "registry.terraform.io/okta/okta" produced an invalid new value for
│ .always_apply: was cty.False, but now null.
│
│ This is a bug in the provider, which should be reported in the provider's

[2021-10-29 06:44] bogdanprodan-okta commented on #758
Hi, @ahmei0! Thanks for submitting this issue! Please provide an example of scripts so I can reproduce this bug.

[2021-10-29 07:11] bogdanprodan-okta commented on #757
Hi, @thekbb! Thanks for submitting this issue! The problem is that password for this user was set outside the terraform provider, so it doesn't know the old password. On the resource update, the provider calls the endpoint for changing the password, but because the old value for `password` is empty, the endpoint returns a validation error. I can add another `old_password` field to the resource, so

[2021-10-29 08:01] ahmei0 commented on #758
ok_profile_mapping created using version 3.16.0 or lower.

re-ran tf using version 3.17.0 and got this error probably because behaviour of always_apply changed as this attribute was introduced in 3.17.0. Expectation here to be backward compatible even if I don't add always_apply to my scripts. If I have to add it, what value I set it that won't give above error? I tried with always_apply=false but

[2021-10-29 12:28] bogdanprodan-okta commented on #758
@ahmei0 what terraform version are using? I used v1.0.9 to reproduce the error, but no luck.

I've created `okta_profile_mapping` using 3.16.0 and the script above. State file:
[code]
Updated the provider to 3.17.0 using `terraform init -upgrade`. Run `terraform apply`. State file:
[code]
Set `always_apply = false` in the terraform scripts and run `terraform apply`. No error whatsoever.

[2021-10-29 13:33] hueydn commented on #745
Ok good to know we are currently still on classic so it won't be a problem for us until we migrate to OIE. Also can a flag be set to uncheck Okta access and only allow Application access in the rule settings?

[2021-10-29 13:59] thekbb commented on #757
The password for the user isn't set, it's a brand new user - does that change things?
My goal for test users:
1. put passwords in aws secretsmanager
2. create the `okta_user`, setting it to `status = ACTIVE` with the password from secretsmanager
3. be able to log in with that user and password

So a brand new user won't have a password, I'm assuming if `old_password` is required it must be valid?

[2021-10-29 14:09] bogdanprodan-okta commented on #757
@thekbb I need to look into that and understand the flow where you create a user without the password and then try to set it during user update.

[2021-10-29 23:21] monde commented on #506
UPDATE: @fatbasstard @joshowen @virgofx @miguelpuiggarcia @sklarsa @guillaumelecerf @ReeceWilliams7 @gavinbunney

The feature team responsible for the endpoint where app logos are uploaded to has fixed this bug. However, the fix won't be released to production until mid-November given the way releases are proved and promoted within Okta.

[2021-10-30 01:20] ahmei0 commented on #758
Terraform v1.0.9

I did not run 'terraform init -upgrade' .

Just normal terraform init and apply. Since I don't have fixed okta provider version so it picks the latest one and fails with above error

[2021-10-30 02:34] ahmei0 commented on #758
tried exactly same as you.
tf version 1.0.9 and terraform init -upgrade, didn't work.

Just realised user -> app mapping works but above error is on app -> user mapping only. Did you try this scenario?
![image](https://user-images.githubusercontent.com/62230464/139517406-33a18048-c712-4297-9bcc-0189f42b969b.png)

[2021-10-30 02:35] ahmei0 commented on #758
![image](https://user-images.githubusercontent.com/62230464/139517486-041b5a97-330b-4ca3-b9a5-d52be088931c.png)

[2021-10-30 02:36] ahmei0 commented on #758
![image](https://user-images.githubusercontent.com/62230464/139517500-c5d497ff-9c84-4137-aac4-3b3829afb955.png)

[2021-10-30 03:03] codelkirby opened #759 "Issue on apply with okta_policy_rule_signon errorSummary: conditions: Invalid condition type specified: riskScore."
I'm trying to apply a policy rule to a signon policy but it fails with the following:

okta_policy_rule_signon.SignonMFARule: Creating...
╷
│ Error: failed to create sign-on policy rule: failed to create policy rule: the API returned an error: Api validation failed: conditions. Causes: errorSummary: conditions: Invalid condition type specified: riskScore.
│
│   with okta_policy_rule_signon.SignonM

[2021-11-01 03:16] ahmei0 commented on #758
apparently, resource created in previous versions have '"always_apply": null' and new version isn't able to change null to false. That means current provider version isn't backward compatible.

I edited state file manually, changed null to false and it worked even without adding  'always_apply =false' to the code

[2021-11-01 07:19] bogdanprodan-okta commented on #759
Hi, @codelkirby! Thanks for submitting this issue! I think it’s because of this feature flag - `RISK_SCORING`. It is disabled in your org, and that's why you get this error.

[2021-11-01 08:49] omrishilton opened #760 "okta_app_signon_policy does not work with default Okta applications"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-01 08:55] bogdanprodan-okta commented on #760
Hi, @omrishilton! Thanks for submitting this issue! Does your org support new Identity Engine functionality? You can check it [here](https://help.okta.com/oie/en-us/Content/Topics/identity-engine/oie-verify-version.htm).
This feature is only available as a part of the [Identity Engine](https://www.okta.com/platform/identity-engine/).
There is also a [warning note](https://registry.terraform.io/pro

[2021-11-01 09:05] bogdanprodan-okta commented on #757
Hi, @thekbb! I don't think this flow is going to work. If you create a user without a password, Okta sends an activation email and the user is the one who sets the password.
In order to change it from terraform, I need to add `old_password` to the terraform, so you get that password from the user, set that to `old_password`, and set a new value into `password`. The problem is that it might be conf

[2021-11-01 09:08] omrishilton commented on #760
Thank you! it slipped pass through me.
Im closing the issue

[2021-11-01 09:08] #760 closed, assigned to nobody

[2021-11-01 16:08] Omicron7 opened #761 "Add `user_name_template_push_status` to SAML apps."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-01 19:50] Omicron7 commented on #761
Further testing seems to suggest there is also a bug associated with this property missing. For an existing app, if `pushState` is set to `PUSH`, and we apply something else on the `okta_app_saml`, since the property isn't included in the request to Okta, Okta sets the `pushState` field back to `DONT_PUSH`.

[2021-11-01 20:02] bogdanprodan-okta commented on #761
Hi, @Omicron7! Thanks for submitting this issue! If that functionality is present in the API, I'll add it.

[2021-11-01 20:16] #745 closed, assigned to bogdanprodan-okta

[2021-11-01 20:20] cvs-sigrejas opened #763 "authorization_server data source by name matches first instead of matching name"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-02 08:21] fatbasstard commented on #506
Super, thanks for hunting people @monde !!

Can we keep this issue open until it is released? Not sure if this will be mentioned in the release notes from Okta, so that would be nice :D

[2021-11-02 08:38] bogdanprodan-okta commented on #506
@fatbasstard yes, this issue will stay open until it's resolved.

[2021-11-02 12:57] bogdanprodan-okta commented on #655
Closing this for now. Please create another issue or leave a comment here in case the problem still exists.

[2021-11-02 12:58] bogdanprodan-okta commented on #756
Closing this issue for now. If you have more questions, please leave a comment here or create another issue.

[2021-11-02 12:58] #756 closed, assigned to nobody

[2021-11-02 13:02] bogdanprodan-okta commented on #759
@codelkirby another workaround would be to set `risc_level = ""`. In this case, you won't get any errors. I'm closing this issue for now. If you have other questions, please leave a comment here or create another issue.

[2021-11-02 13:02] #759 closed, assigned to nobody

[2021-11-02 13:03] #533 closed, assigned to nobody

[2021-11-02 15:06] hueydn commented on #745
How about adding support for this too:
"exclude": [
                    {
                        "type": "APP_TYPE",
                        "name": "okta"
                    }

Or do you need me to open another issue?

[2021-11-02 15:55] bogdanprodan-okta commented on #597
@lucascantor this issue is resolved and right now this is behind an `ENG` flag to be rolled out to preview in the next monthly release. In the meantime, you can make a request to the support so they enable this flag `ENG_GROUP_ROLE_ASSIGNMENT_PERF_AND_SIMPLIFY`.

[2021-11-02 15:55] #763 closed, assigned to nobody

[2021-11-02 15:58] bogdanprodan-okta commented on #754
Closing this issue for now. If the problem still exists, please leave a comment here or create another one.

[2021-11-02 15:58] #754 closed, assigned to nobody

[2021-11-02 16:07] cvs-sigrejas commented on #763
Thanks @bogdanprodan-okta for your very quick response and resolution!

[2021-11-02 16:17] jimrazmus opened #768 "Resource okta_app_saml attribute metadata is a heredoc, not "raw SAML metadata in XML""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-02 17:33] #761 closed, assigned to nobody

[2021-11-02 18:05] conodelial2f commented on #759
@bogdanprodan-okta, another feather your cap my friend! that did the trick. Thank you.

[2021-11-02 18:19] bogdanprodan-okta commented on #768
Hi, @jimrazmus! Thanks for submitting this issue! I think this is [expected behavior](https://github.com/hashicorp/terraform/issues/27162) for the terraform. You can use `terraform output -raw metadata` to print the metadata without EOTs.

[2021-11-02 22:33] karlsequeira opened #773 "You do not have permission to access the feature"
### Community Note
Getting the following when applying in prod. This works fine in lower environments.  I am using an admin token with the same access in other environments. Please do let me know if I can missing some feature access.

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to

[2021-11-03 07:40] bogdanprodan-okta commented on #773
Hi, @karlsequeira! Thanks for submitting this issue! You should reach Okta Support so they enable this feature in your org.

[2021-11-03 10:11] ahmei0 opened #774 "okta_idp_saml azure ad"
I need to use okta_idp_saml to configure azure ad idp. Please advise how I assign aad certificate value to kid

Example here doesn't really help as it is creating app first and getting cert from app attribute, not sure why.
https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_idp_saml/datasource_id.tf

[2021-11-03 10:21] bogdanprodan-okta commented on #774
Hi, @ahmei0! Thanks for submitting this issue! You can find information regarding the certs here
 - https://developer.okta.com/docs/reference/api/idps/#add-x-509-certificate-public-key
 - https://registry.terraform.io/providers/okta/okta/latest/docs/resources/idp_saml_key#example-usage

[2021-11-03 10:38] ahmei0 commented on #774
Thanks, got that working :)

[2021-11-03 11:54] stmyers opened #775 "Custom Admin Roles"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-03 11:56] bogdanprodan-okta commented on #775
Hi, @stmyers! Thanks for creating this issue! I'll start to work on this asap.

[2021-11-03 11:56] #774 closed, assigned to nobody

[2021-11-03 12:21] ahmei0 opened #776 "custom attribute for saml user profile"
I'm creating a custom attribute for saml idp profile, trying to figure out what user_type value would I use for saml idp profile?

[code]

[2021-11-03 12:30] bogdanprodan-okta commented on #776
Hi, @ahmei0! Thanks for submitting this issue! You can use `default` or an ID of the custom user types.

[2021-11-03 12:32] ahmei0 commented on #776
Wouldn't default set attribute on User default profile? I need to set custom attribute on SAML Idp profile as given on this screenshot
![image](https://user-images.githubusercontent.com/62230464/140060512-eeb5bee8-ffd9-434e-9853-78ce341c61ff.png)

[2021-11-03 12:38] bogdanprodan-okta commented on #776
You can try something like this:
[code]

[2021-11-03 13:05] ahmei0 commented on #776
Did not work

[code]

[2021-11-03 13:06] ahmei0 commented on #776
Error: user type 'saml_idp' does not exist
│
│   with data.okta_user_type.saml_idp_profile,
│   on idp_saml.tf line 77, in data "okta_user_type" "saml_idp_profile":
│   77: data "okta_user_type" "saml_idp_profile" {

[2021-11-03 13:11] bogdanprodan-okta commented on #776
In your case, you can use `default`, since you only have one user type for all the providers. You can create your own, so it will look something like this:
<img width="774" alt="Screenshot 2021-11-03 at 15 11 12" src="https://user-images.githubusercontent.com/71279414/140066050-eb6ad494-5a03-43e7-9054-bf4bc307eae1.png">

 If you want to create a property for users in specific app, you should use `

[2021-11-03 13:21] ahmei0 commented on #776
I tried with default already but I think you are not getting my point. I have 3 types of profiles.

1- Okta - User default
2- Apps - app profiles
3- IDP - SAML

First 2 are working fine, but I'm trying to figure out how to add attributes to IDP profile. Setting user_type = default adds custom attribute to 1 above not 3. What you are suggesting is for 1

![image](https://user-images.githubuserconte

[2021-11-03 13:30] bogdanprodan-okta commented on #776
You should use `okta_app_user_schema_property` to add custom attributes to your IDP providers.

[2021-11-03 13:38] ahmei0 commented on #776
What would I use for app_id in that case ? actually I tried that as well to start with, didn't work.

![image](https://user-images.githubusercontent.com/62230464/140070177-1df3fe8d-d129-499f-9730-5b2930780220.png)

[2021-11-03 13:41] bogdanprodan-okta commented on #776
[code]

[2021-11-03 13:49] ahmei0 commented on #776
fails with following error. It doesn't recognise it as idp. It tries to treat it as an app and find it as app and fails

Error: failed to update custom app user schema property: the API returned an error: Not found: Resource not found: 0oa11kxpdsaLgdl3T3l7 (AppInstance)
│
│   with okta_app_user_schema_property.upn,
│   on idp_saml.tf line 78, in resource "okta_app_user_schema_property" "upn":
│

[2021-11-03 13:56] bogdanprodan-okta commented on #776
I've used this ID for the `app_id` in that resource:
<img width="1058" alt="Screenshot 2021-11-03 at 15 53 41" src="https://user-images.githubusercontent.com/71279414/140073019-c44592c9-5646-48d1-bacc-78821cf3c1b0.png">

State file
[code]
Script:
[code]
<img width="1012" alt="Screenshot 2021-11-03 at 15 57 30" src="https://user-images.githubusercontent.com/71279414/140073632-3b80bd61-d0ab-484f-b75

[2021-11-03 14:01] cvs-sigrejas opened #777 "okta_authenticator gets created in INACTIVE status causing other things (like okta_policy_password_default) to fail."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-03 14:04] bogdanprodan-okta commented on #777
Hi, @cvs-sigrejas! Thanks for submitting this issue! It's clearly a bug, I'll create a fix asap.

[2021-11-03 14:57] ahmei0 commented on #776
Ok, it worked but I found the issue why it was failing.

![image](https://user-images.githubusercontent.com/62230464/140084556-36ab71fe-63ae-402f-b96c-7886e5cf0f41.png)

okta_idp_saml resource was set to be INACTIVE thats why it was failing when referred in custom attribute. I set it to ACTIVE and it worked. Is that expected behaviour ?

![image](https://user-images.githubusercontent.com/62230464/

[2021-11-03 15:49] bogdanprodan-okta commented on #776
I'm not sure about this, because clearly, you can edit the properties for inactive IdPs via UI. I'll ask the team responsible for this functionality. For now, I'm closing this issue. Feel free to post comments here or create another one.

[2021-11-03 15:49] #776 closed, assigned to nobody

[2021-11-03 21:05] ahmei0 opened #778 "azure ad saml idp custom attribute issue"
I'm creating custom attribute for azure ad idp profile.
As per the instructions below I have to delete attributes first and recreate them as external name is not editable

https://help.okta.com/en/prod/Content/Topics/Provisioning/azure/azure-map-attributes.htm

![image](https://user-images.githubusercontent.com/62230464/140192664-9c378e6a-0e3b-48b3-a3a9-5c99ff4fd86b.png)

Wondering how would I aut

[2021-11-04 06:46] exitcode0 opened #779 "terraform registry docs inaccurate - okta_user_base_schema"
`okta_user_base_schema` is deprecated as per [here](https://github.com/okta/terraform-provider-okta/blob/09b8db99ed924f170dd4dfdba95dbe3c99db9c83/website/docs/r/user_base_schema.html.markdown?plain=1#L7) however it doesn't appear to show as deprecated [here](https://registry.terraform.io/providers/okta/okta/latest/docs/resources/user_base_schema)

[2021-11-04 07:34] bogdanprodan-okta commented on #779
Hi, @exitcode0! Thanks for submitting this issue! I'll fix the doc asap.

[2021-11-05 11:44] stmyers opened #780 "Custom URL value for issuer_mode in okta_app_oauth keeps resetting to org url"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-05 16:51] vignesh-okta opened #781 "Unable to pass always_include_in_token as an input for default Okta claims"
### Terraform Version

Terraform v1.0.3

### Affected Resource(s)

okta_auth_server_claim_default

### Terraform Configuration Files

[code]

### Expected Behavior

Would like to allow the standard claim to be always included in the token using TF. The default claims are not included  in the token by default. Using TF, we would like to update the existing standard claim to set the alwaysIncludeInT

[2021-11-05 17:36] noinarisak commented on #781
@bogdanprodan-okta and @monde, I notice that we are not acception testing this attribute in [example/basic.tf](https://github.com/okta/terraform-provider-okta/blob/09b8db99ed924f170dd4dfdba95dbe3c99db9c83/examples/okta_auth_server_claim_default/basic.tf). To validate the attribute.

[2021-11-05 17:40] bogdanprodan-okta commented on #780
Hi, @stmyers! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-11-08 00:06] #272 closed, assigned to nobody

[2021-11-08 07:31] exitcode0 commented on #636
looks like this is the endpoint a resource would need to use here
[set-default-provisioning-connection-for-application](https://developer.okta.com/docs/reference/api/apps/#set-default-provisioning-connection-for-application)
The edge case here would be applications that use Oauth for provisioning, this would still require manual click-ops setup in the okta admin console

[2021-11-08 07:55] exitcode0 opened #784 "Linked Objects"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-08 08:00] bogdanprodan-okta commented on #784
Hi, @exitcode0! Thanks for submitting this issue! I'll start to work on this asap.

[2021-11-08 17:14] #777 closed, assigned to nobody

[2021-11-08 17:14] #779 closed, assigned to nobody

[2021-11-08 20:19] BalaGanaparthi opened #787 "OIE capabilities for okta_policy_rule_signon"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-08 23:20] dsalaza4 commented on #475
Shouldn't this issue be reopened?

[2021-11-09 00:36] pmjensen opened #788 "backend configured as "pg" causes terraform to look in oktadeveloper/okta for provider"
With versions of the okta provider newer that 3.10.0 and backend set as "pg" Terraform is unable to initialize because it is looking in oktadeveloper/okta for the provider binaries.

Initializing the backend...

Initializing provider plugins...
- Reusing previous version of okta/okta from the dependency lock file
- Finding latest version of oktadeveloper/okta...
- Installing okta/okta v3.18.0...
-

[2021-11-09 08:21] bogdanprodan-okta commented on #788
Hi, @pmjensen! Thanks for submitting this issue! I couldn't reproduce the same error, but I think you should check the contents of the `.terraform.lock.hcl`. It still might contain info about `oktadeveloper/okta`, thus causing this error.

[2021-11-09 08:22] bogdanprodan-okta commented on #475
There is still no proper API available for the Radius apps, but I'll keep this issue open.

[2021-11-09 16:40] noinarisak commented on #788
Including what @bogdanprodan-okta stated to check your `.terraform.lock.hcl`. Since you using `pg` as remote backend state. `pg` needs to be aware to be aware to pull from `okta/okta` could be the issue.

This may resolve your issue, however, I have never Postgres as option a my remote state backend.

[code]

[More detail](https://www.terraform.io/docs/cli/commands/state/replace-provider.html).

[2021-11-09 18:11] pmjensen commented on #788
Thank you!  The 'replace-provider' worked.

[2021-11-09 18:11] #788 closed, assigned to nobody

[2021-11-10 09:50] bogdanprodan-okta commented on #773
Hi, @karlsequeira! Have you managed to fix this?

[2021-11-10 11:28] bogdanprodan-okta commented on #778
Hi, @ahmei0! Thanks for submitting this issue! I have to investigate this properly in order to come up with a solution.

[2021-11-10 15:54] karlsequeira commented on #773
Yes. Okta support was able to enable the feature that was missing. Thanks a lot for all the support.

[2021-11-10 15:54] #773 closed, assigned to nobody

[2021-11-10 16:22] #781 closed, assigned to nobody

[2021-11-10 16:22] #775 closed, assigned to nobody

[2021-11-10 16:23] bogdanprodan-okta commented on #768
Hi, @jimrazmus! Is this still an issue for you?

[2021-11-11 00:00] ahmei0 commented on #758
@bogdanprodan-okta   any update on this

[2021-11-11 00:43] techjutsu-mikeb opened #791 "DOC: Updated "okta_policy_rule_idp_discovery" documentation"
Minor update: The example documentation on the `platform_include` parameter references `app_exclude` instead (the sub-parameters are correct).

**Example**
[code]

Should be
[code]

[2021-11-11 07:54] bogdanprodan-okta commented on #758
No, no updates. I've asked several people to reproduce the problem and they weren't able to do so. Maybe someone from the community will hit the same issue and post the steps here.

[2021-11-11 22:01] virgofx opened #793 "Invalid Memory Address Segfault on 3.18.0"
`Terraform 1.0.10`
`okta/okta 3.18.0`

[code]

[2021-11-12 07:44] bogdanprodan-okta commented on #793
Hi, @virgofx! Thanks for submitting this issue! I'll fix this issue and make a release today.

[2021-11-12 17:24] #791 closed, assigned to nobody

[2021-11-12 17:25] #784 closed, assigned to nobody

[2021-11-12 17:25] #793 closed, assigned to bogdanprodan-okta

[2021-11-12 17:25] #787 closed, assigned to nobody

[2021-11-12 18:27] virgofx commented on #793
Confirm fixed, thanks @bogdanprodan-okta

[2021-11-12 18:31] bogdanprodan-okta commented on #506
@fatbasstard @joshowen @virgofx @miguelpuiggarcia @sklarsa @guillaumelecerf @ReeceWilliams7 @gavinbunney I've tested logo on two different `*.oktapreview.com` orgs and it worked! Could you please try to set logos in your orgs?

[2021-11-12 18:46] bogdanprodan-okta commented on #768
Closing this issue for now. If you have any questions, please write them here or create another issue. Cheers!

[2021-11-12 18:46] #768 closed, assigned to nobody

[2021-11-12 18:47] bogdanprodan-okta commented on #653
Closing this issue for now as there is nothing that can be done from the provider's side.

[2021-11-12 18:47] #653 closed, assigned to nobody

[2021-11-12 19:06] reecewilliams7 commented on #506
Hi @bogdanprodan-okta - funnily enough I tested this on our preview instance yesterday and meant to update on here. Pleased to report it worked. Thanks for your help (and @monde) in getting this prioritised on your side - much appreciated!

[2021-11-12 20:53] bogdanprodan-okta commented on #506
Thanks for everyone's patience. I'm closing this issue for now. Feel free to comment here or create another issue if necessary. Cheers!

[2021-11-12 20:53] #506 closed, assigned to monde

[2021-11-12 22:09] AnijaAbraham2021 opened #800 "Terraform Resource to Enable Rate Limiting Communications"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-12 22:13] AnijaAbraham2021 opened #801 "Terraform Resource to configure Client-based rate limiting"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-14 03:43] BalaGanaparthi opened #802 "OIE capabilities for okta_policy_rule_signon : “Secondary factor""
Description

Need to configure to control "Secondary factor" from okta_policy_rule_signon

“Secondary factor” is a check box on Okta Sign-on Policy Rule and is checked in the UI by default.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and

[2021-11-14 11:19] bogdanprodan-okta commented on #802
Hi, @BalaGanaparthi! Thanks for submitting this issue! You can use this example to enable a secondary factor:
1.
[code]
<img width="594" alt="Screenshot 2021-11-14 at 13 17 06" src="https://user-images.githubusercontent.com/71279414/141678658-cc429f66-7f4b-4b2a-92e9-1b79fa4c58f1.png">

2.
[code]
<img width="591" alt="Screenshot 2021-11-14 at 13 18 55" src="https://user-images.githubusercontent.com

[2021-11-15 16:40] #802 closed, assigned to nobody

[2021-11-15 17:35] #800 closed, assigned to nobody

[2021-11-15 17:35] #801 closed, assigned to nobody

[2021-11-15 18:25] virgofx opened #805 "Using Client Credentials Results in Requesting OIDC token for every Resource"
When using the Okta provider with client credentials, it appears that each resource might be making a call to get an OIDC token. This is causing high rate usage limit warnings to occur. I believe in other providers like AWS, they use a connection pooler that will request this once and then re-use the tokens. When you see the screenshot below you can see the timestamp is the same as these are all g

[2021-11-15 18:47] virgofx commented on #506
✔️ Just following up. The `logo` parameter worked for me for all use cases that were previously broken. Tested using client credentials and token API against tenant in `okta.com`. Thanks so much @bogdanprodan-okta

[2021-11-15 21:00] BalaGanaparthi commented on #802
Thank you Bogdan. Appreciate your detailed response with an example

[2021-11-16 01:16] BalaGanaparthi opened #806 "okta_network_zone not getting deleted"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-16 13:59] 1337andre opened #807 "okta_profile_mapping Api validation failed: updateMapping. Profile mastering enabled apps support push status only"
### Terraform Version

Terraform v1.0.9

### Affected Resource(s)

- okta_profile_mapping

### Terraform Configuration Files

[code]

### Debug Output

according this docu https://github.com/okta/terraform-provider-okta/blob/master/examples/okta_profile_mapping/basic.tf I try to map SAML attribute to user. but I doesn't work. Maybe you can help?

terraform plan
[code]

terraform apply
[code]

###

[2021-11-16 17:13] monde commented on #805
Hey @virgofx , @bogdanprodan-okta looked at this and points out that the default okta-sdk-golang doesn't operate with a caching manager (https://github.com/okta/okta-sdk-golang#extending-or-creating-new-cache-manager). As you point out  this includes any bearer tokens. We need to change the sdk to cache the bearer token properly to eliminate unnecessary requests regardless of okta-sdk-golang runni

[2021-11-16 17:14] monde commented on #805
ref: https://github.com/okta/okta-sdk-golang/issues/269

[2021-11-16 17:18] virgofx commented on #805
Thanks @monde !  Appreciate the upstream support. Obviously, this would be beneficial as less redundant API calls on the Okta side. Happy to test/confirm any releases.

[2021-11-16 17:21] ecaya-hopper opened #808 "Okta Group Memberships validation timeout with high user count"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-16 18:43] monde commented on #805
@bogdanprodan-okta there is already some token juggling in okta-sdk-golang https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go#L124-L213 and past feedback about it https://github.com/okta/okta-sdk-golang/pull/140 . But overall, it seems like the history of okta-sdk-golang has been not to have an opinion about bearer tokens.

@bogdanprodan-okta it seems like the terraform pr

[2021-11-16 19:02] monde commented on #805
Another thought, @virgofx if you set a long lived bearer token named `OKTA_ACCESS_TOKEN` as an environment variable in the shell that you run `terraform` does this resolve the rate limit issues you are running into? As can be seen in the okta-sdk-golang code it will always use that value if it is set rather than doing a new token request https://github.com/okta/okta-sdk-golang/blob/master/okta/req

[2021-11-16 19:08] virgofx commented on #805
Sure that makes sense. I haven't tried that ... it may work, would be happy to one-time test. Currently; however, we have an OAuth application specific for our Terraform/Atlantis that generates client credentials. Instead of codifying the logic for obtaining the bearer token, we simply use the native functionality of the provider making it easier in our outside environment (containers/runners) suc

[2021-11-16 19:57] monde commented on #805
@virgofx @bogdanprodan-okta the more I contemplate this I think the terraform provider should have a cache manager option that is enabled by configuration setting. Something like `cache_bearer_tokens` that enables a caching manager to do such on the okta-sdk-golang client.

[2021-11-17 00:09] BillRamsey-minted opened #809 "Segmentation Fault while importing facebook IDP"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-17 00:12] BillRamsey-minted commented on #809
Should have imported with okta_idp_social.

[code]
works.  Thank you.

[2021-11-17 00:12] #809 closed, assigned to nobody

[2021-11-17 13:50] bogdanprodan-okta commented on #808
Hi, @ecaya-hopper! Thanks for submitting this issue! I'll try to reproduce the problem and get back to you asap.

[2021-11-17 13:51] bogdanprodan-okta commented on #807
Hi, @1337andre! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-11-17 14:52] kabads commented on #808
We think we may have a similar issue with our setup. We have a lot of users in OKTA (I'd rather not say how many, but it is many more than the OP).

[2021-11-17 15:09] kabads commented on #808
`╷
│ Error: failed to sync groups and users for OAuth application: Get "https://XXXXXXXXXXXXXXX.okta.com/api/v1/apps/YYYYYYYYYYYY/users?after=ZZZZZZZZZZZZZZZZZ&limit=200": context deadline exceeded
│
│   with module.AAA_BB.okta_app_oauth.app_oauth,
│   on .terraform\modules\AAA_BB\app\main.tf line 11, in resource "okta_app_oauth" "app_oauth":
│   11: resource "okta_app_oauth" "app_oauth" {
│`

[2021-11-18 08:25] fatbasstard commented on #506
Sweet, can confirm it works here too now! 🎉

Another "manual" action removed, long live automation!

[2021-11-18 15:05] bogdanprodan-okta commented on #807
Hi, @1337andre! Try this:
[code]

[2021-11-18 15:46] #806 closed, assigned to nobody

[2021-11-18 17:47] jackson-theisen commented on #636
The API call you've linked takes a [provisioning-connection-profile-object](https://developer.okta.com/docs/reference/api/apps/#provisioning-connection-profile-object). Per the docs - currently, only token based authentication is supported. So this still leaves a gap for more than just apps w/ OAuth provisioning. Particularly, I am most interested in automated app provisioning/API integration (i.e

[2021-11-18 20:06] #808 closed, assigned to nobody

[2021-11-19 01:42] ahmei0 opened #811 "signon policy exclude users"
Okta UI has option to exclude users from signon policy but there's no option to configure this using terraform

![image](https://user-images.githubusercontent.com/62230464/142546468-8ebc73a5-f0ac-433a-bccc-37342a668348.png)

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_rule_signon

[2021-11-19 08:00] 1337andre commented on #807
it works! thanks a lot

[2021-11-19 08:00] #807 closed, assigned to nobody

[2021-11-19 08:28] bogdanprodan-okta commented on #811
Hi, @ahmei0! Thanks for submitting this issue! This functionality is present, but not documented. I've created a PR to fix that.

[2021-11-19 12:13] borissavelev opened #813 "Why `okta_group_membership` is deprecated?"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-19 12:54] bogdanprodan-okta commented on #813
Hi, @borissavelev! Thanks for submitting this issue! The reason `okta_group_membership` is deprecated is that `okta_group_memberships` gives you the same functionality, but you can also assign multiple users. As for `okta_user_group_memberships`, it allows assigning multiple groups to a single user.

[2021-11-19 19:42] #811 closed, assigned to nobody

[2021-11-19 21:15] #813 closed, assigned to nobody

[2021-11-20 00:30] nottooshort opened #815 "Oauth Secrets Exposed in Output"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-21 18:18] bogdanprodan-okta commented on #815
Hi, @nottooshort! Thanks for submitting this issue! I've tried to run the script you've provider, and got this message:
[code]

I'm using `Terraform v1.0.9`

[2021-11-21 20:00] nottooshort commented on #815
Hi @boganprodan-okta

The bulk of the output is what we’re looking for. Utilizing the “sensative
= true” argument consumes the entire output which isn’t ideal. This doesn’t
scale with the breadth of applications we manage via terraform.

On Sun, Nov 21, 2021 at 10:18 AM bogdanprodan-okta ***@***.***>
wrote:

--
Brian Short
Systems Engineer | Turo
c: 650.464.3851 | free/busy
<https://calendar.googl

[2021-11-21 21:50] bogdanprodan-okta commented on #815
In this case, there is nothing I can do, because the provider itself doesn't have influence in the terraform CLI itself.
FYI, the `client_secret` value is marked as sensitive in the codebase:
[code]

[2021-11-22 10:00] Marek26 opened #816 "Validation for email customization fails"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-22 10:14] bogdanprodan-okta commented on #780
Hi, @stmyers! I couldn't reproduce the issue you were getting. My steps were:
1. Create a custom domain.
2. Verify custom domain.
3. Add certificates.
4. Create an OIDC web app and then import it.  The`issuer_mode` had `"CUSTOM_URL"` value after import.

[2021-11-22 10:25] bogdanprodan-okta commented on #816
Hi, @Marek26! Thanks for submitting this issue! The best solution here would be to ma a request directly to Okta Support since I don't possess detailed documentation on this feature.

[2021-11-23 07:18] BalaGanaparthi opened #819 "New resources to configure CAPTCHA, UserEnumeration Prevention and Organization settings"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-23 13:21] bogdanprodan-okta commented on #819
Hi, @BalaGanaparthi! Thanks for submitting this issue! Unfortunately, `Organization` and `User Enumeration Prevention` are not available via public API. I'll start to work on adding the `CAPTCHA` resource asap.

[2021-11-23 15:02] cvs-sigrejas opened #820 "Support providing priorities to profile sources for the Okta profile"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-23 15:06] bogdanprodan-okta commented on #820
Hi, @cvs-sigrejas! Thanks for submitting this issue! I'll investigate whether this functionality is available via Okta API and get back to you asap.
PS if it's available, I'll start to work on the implementation.

[2021-11-23 16:33] bogdanprodan-okta commented on #820
Unfortunately, there is no API available for this feature.

[2021-11-23 16:53] max4t opened #823 "Unable to use idp_saml_key"
I've tried this example from the documentation https://registry.terraform.io/providers/okta/okta/latest/docs/resources/idp_saml_key#example-usage
More precisely,
[code]
But I get the following error: `Error: failed to create identity provider signing key: asn1: syntax error: data truncated`

[2021-11-23 17:00] bogdanprodan-okta commented on #823
Hi, @max4t! Thanks for submitting this issue! I've fixed the example and created the corresponding PR.

[2021-11-23 17:03] max4t commented on #823
For some reason however, the example seems to be valid when uploaded through the API directly (not the provider)

[2021-11-23 17:14] max4t commented on #823
This is working fine:
[code]
But this is failing:
[code]
[code]

[2021-11-23 17:20] bogdanprodan-okta commented on #823
Works fine on my side:
[code]
Output:
[code]
terraform version `Terraform v1.0.11`

[2021-11-23 18:23] #823 closed, assigned to nobody

[2021-11-23 18:23] #819 closed, assigned to nobody

[2021-11-23 18:27] #815 closed, assigned to nobody

[2021-11-23 22:20] virgofx opened #825 "Fix new `okta_rate_limiting` Resource Documentation Errors"
Actual resource name is `okta_rate_limiting` but the documentation has numerous places that refer to `okta_rate_limit`.

See screenshot for examples. There may be more but this was my first pass. Might be worth doing a search in code just to be safe.

![image](https://user-images.githubusercontent.com/739719/143138324-738dce06-fd55-4b14-a65c-e71d165d59c0.png)

[2021-11-23 22:25] bogdanprodan-okta commented on #825
Hi, @virgofx! Thanks for submitting this issue! Yes, seems like I forgot to fix naming in the documentation. The name of the resource should be `okta_rate_limiting`.

[2021-11-23 22:27] virgofx commented on #825
No worries. I'd submit a PR; however, holiday/short week so you'll likely get to it first. Any insights when this as well as other recent account / settings features APIs will be available via OAuth scopes?

[2021-11-23 22:32] bogdanprodan-okta commented on #825
Unfortunately no, I don't.

[2021-11-24 03:48] BalaGanaparthi opened #826 "Question : How to assign Apps to Profile Enrollment?"
With the current resources can create profile enrollment and its rule (with okta_policy_profile_enrollment and okta_policy_rule_profile_enrollment ), but could not find any resource that can assign apps to the profile enrollment entity

Require a resource for adding apps to the profile enrollment entity.

If missing the resource, please accept this issue as an enhancement else an example will be h

[2021-11-24 17:24] bogdanprodan-okta commented on #826
Hi, @BalaGanaparthi! Thanks for submitting this issue! Currently, there is no documentation available for this feature. I need to make a request to the team responsible for this functionality in order to implement it correctly.
FYI, this is the request used for adding apps to the policy:
[code]

[2021-11-24 19:09] BalaGanaparthi commented on #826
Thanks @bogdanprodan-okta

[2021-11-24 20:14] BalaGanaparthi opened #828 "[session_lifetime] value in [okta_policy_rule_signon] resource not getting applied to {Session expires after} in UI"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-24 20:37] bogdanprodan-okta commented on #828
Hi, @BalaGanaparthi! Thanks for submitting this issue! If you want to change `Session expires after` you should use `session_idle` (MaxSessionIdleMinutes), not the `session_lifetime` (MaxSessionLifetimeMinutes). [Docs](https://developer.okta.com/docs/reference/api/policy/#signon-session-object)

[2021-11-24 20:37] #828 closed, assigned to nobody

[2021-11-25 17:46] BalaGanaparthi opened #829 "okta_authenticator to control phone methods (voice and sms)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-25 21:06] rcastelino-cbh opened #830 "Getting 405 when trying to refresh/plan/apply auth_server_scope resources"
As of this morning (~11:30am PST), my previously working terraform scripts started to fail when running plan/apply on a configuration involving auth_server_scopes. I'm getting the following error:

"Error: failed to get auth server scope: the API returned an error: The endpoint does not support the provided HTTP method, Status: 405 Method Not Allowed"

I tried reverting my code to older version wh

[2021-11-25 21:13] bogdanprodan-okta commented on #830
Hi, @rcastelinoCrate! I'm not sure what is causing this issue! Could you please extract the `x-okta-request-id` response header for the request that is failing (you can run terraform commands with ` TF_LOG=TRACE` env var to see all the requests/responses)
FYI I just tested create/update/delete for `okta_auth_server_scope` and everything works fine

[2021-11-26 01:59] rcastelino-cbh commented on #830
Hmmm... I'll take a look to see if there's anything I missed since it does sound like it's a local issue.

In the meantime, I tried another request (which unfortunately failed) with x-okta-request-id of YaA@vTVeUflWoQDjykYTLgAADuc

[2021-11-26 08:07] bogdanprodan-okta commented on #830
Hi! As for `x-okta-request-id=YaA@vTVeUflWoQDjykYTLgAADuc`, the response to this request (GET /api/v1/users/me) was 200

[2021-11-27 20:28] virgofx opened #831 "Thoughts on Adding Capability For extra API call to expire password on new user creation"
For the `okta_user` resource, we can currently generate new users in the `ACTIVE` state with temporary password credentials via the `password` field.  It would be nice to have another flag that would force new users to be required to change their password.

Currently, forcing a user to change their password is done from the UI or API via the [PASSWORD EXPIRED API](https://developer.okta.com/docs/r

[2021-11-27 20:30] BalaGanaparthi opened #832 "okta_policy_mfa assigns overlapping priority to Authenticators enrollment policy"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-28 19:10] bogdanprodan-okta commented on #832
This needs investigation on Okta's side, closing this issue for now.

[2021-11-28 19:10] #832 closed, assigned to nobody

[2021-11-28 20:39] BalaGanaparthi opened #833 "`okta_auth_server_policy_rule` need to support `interaction_code` grant type"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-29 07:55] bogdanprodan-okta commented on #831
Hi, @virgofx! Thanks for submitting this issue! I think it's possible to add this flag. I need to investigate all possible scenarios when this operation is permitted.

[2021-11-29 17:43] BalaGanaparthi commented on #713
I too faced the same issue, the issue seems to exist only when the `group_whitelist` is set to any groups other than "EVERYONE"

[2021-11-30 08:29] BalaGanaparthi opened #834 "okta_policy_password and okta_policy_rule_password compatibility with OIE features"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-30 15:51] rcastelino-cbh commented on #830
Ah, figured it it out! For some reason, my terraform state file had wiped the auth_server_id fields so when refreshing it was posting a GET to api/v1/AuthorizationServers//scopes/.... rather than api/v1/AuthorizationServers/<authorization server id>/scopes. The former is an invalid url causing the script to crash.

[2021-11-30 15:51] #830 closed, assigned to nobody

[2021-11-30 20:22] BalaGanaparthi opened #835 "Create user with password inline hook using okta_user"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-01 01:37] BalaGanaparthi opened #836 "Intermittently encountering "Internal Server Error" when executing multiple instances of okta_policy_rule_signon resources"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-01 02:01] ahmei0 opened #837 "custom domain certificate_chain issue"
as per docs certificate_chain is an optional field.

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/domain_certificate#certificate_chain

But I get following error when certificate_chain is not provided. This field seems to be mandatory

│ Error: failed to create domain's certificate: the API returned an error: Api validation failed: certificateChain. Causes: errorSummary:

[2021-12-01 02:09] ahmei0 opened #838 "certificate format consistency required"
I have noticed that pem cert format requirements are not consistent across multiple resources

e.g.  idp_saml_key requires base64 encoded

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/idp_saml_key

but domain_certificate requires non base64 format but in single line

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/domain_certificate

[2021-12-01 06:39] ahmei0 opened #839 "Custom Sign In question"
Is there a way to update custom sign on html  section?
![image](https://user-images.githubusercontent.com/62230464/144184555-3b0e6991-154f-411e-a891-462337e45635.png)

[2021-12-01 07:45] bogdanprodanj commented on #837
Hi, @ahmei0! Thanks for submitting this issue! I think Okta has changed the requirements recently and now this field is required in the request. I will update terraform documentation accordingly.

[2021-12-01 07:49] bogdanprodanj commented on #838
Hi, @ahmei0! Thanks for submitting this issue! That inconsistency is caused by the Okta API itself and not the terraform provider.
* Cert [example](https://developer.okta.com/docs/reference/api/domains/#certificate-object) for domain certificate.
* Cert [example ](https://developer.okta.com/docs/reference/api/idps/#request-example-25) for IdP SAML key.

[2021-12-01 07:58] bogdanprodan-okta commented on #839
Hi, @ahmei0! Thanks for submitting this issue! Unfortunately, there is no public API available for this functionality.

[2021-12-01 07:59] bogdanprodan-okta commented on #836
Hi, @BalaGanaparthi! Thanks for submitting this issue! Unfortunately, there is nothing that can be done from the provider's side. It's purely an Okta back-end problem.

[2021-12-01 08:01] bogdanprodan-okta commented on #835
Hi, @BalaGanaparthi! Thanks for submitting this issue! I'll start to work on the implementation asap.

[2021-12-01 22:50] karlsequeira opened #840 "Update of Cert"
Using the latest 3.20, I get the following error updating the cert for inbound SAML

2021-12-01T22:45:36.9952717Z Terraform 0.11 and earlier required all non-constant expressions to be
2021-12-01T22:45:36.9953200Z provided via interpolation syntax, but this pattern is now deprecated. To
2021-12-01T22:45:36.9953766Z silence this warning, remove the "${ sequence from the start and the }"
2021-12-01T

[2021-12-02 09:50] Marek26 commented on #816
Hi @bogdanprodan-okta,

the templates themselves are now working again but I am not able to send test mails due to "old" variables.

Enabling the Velocity Feature would cause changes in variables within the deployed mail templates in Okta.
These changes must then be also made in the templates being stored in terraform.

Is there any plan to provide a migration plan on variables and macros currentl

[2021-12-02 16:44] isaiahtech opened #841 "Social IdP (Apple) no examples for Key ID or Team ID"
Documentation does not have an example or details on how to send the Key ID or Team ID with Oka Terraform provider.
https://registry.terraform.io/providers/okta/okta/latest/docs
https://developer.okta.com/docs/guides/add-an-external-idp/apple/main/

ASK: I just need an example of how to setup Apple as a Social IdP.

Okta Postman collection sends these values as 'kid' and 'teamId' respectively, nei

[2021-12-02 16:52] bogdanprodan-okta commented on #840
Hi, @karlsequeira! Thanks for submitting this issue! Could you please provide more details of how to reproduce this scenario and info regarding the terraform version you are using?

[2021-12-02 16:59] bogdanprodan-okta commented on #841
Hi, @isaiahtech! Thanks for submitting this issue! I need to investigate this and figure out what parts are missing from terraform provider.

[2021-12-02 23:17] karlsequeira commented on #840
Sorry.

terraform {
  required_providers {
    aws = {
      source = "hashicorp/aws"
    }
    okta = {
      source = "okta/okta"
      version = "3.20.0"
    }
  }
  required_version = ">= 0.13"
}

[2021-12-03 18:05] #825 closed, assigned to nobody

[2021-12-03 18:05] #841 closed, assigned to nobody

[2021-12-03 18:54] quantumew opened #844 "Custom Domains Cannot be Imported without subsequent recreation"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-03 19:27] #844 closed, assigned to nobody

[2021-12-06 18:43] tl24 opened #846 "DOC: okta_app_oauth_redirect_uri not listed in documentation"
The okta_app_oauth_redirect_uri resource is not listed in the documentation on terraform's site: https://registry.terraform.io/providers/okta/okta/latest/docs, but the resource seems to exist in the code.

[2021-12-06 20:37] Namita1201 opened #847 "Terraform Resource to Enable Asynchronous application reports"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-07 08:56] bogdanprodan-okta commented on #846
Hi, @tl24! Thanks for submitting this issue! I'll update the documentation asap.

[2021-12-07 08:57] bogdanprodan-okta commented on #847
Hi, @Namita1201! Thanks for submitting this issue! I'll investigate this functionality and try to implement it in the terraform.

[2021-12-08 08:31] bogdanprodan-okta commented on #836
Internal reference [OKTA-450317](https://oktainc.atlassian.net/browse/OKTA-450317)

[2021-12-08 13:58] quantumew commented on #844
Anyway we could get this in a patch release? Thanks!

[2021-12-08 14:02] bogdanprodan-okta commented on #844
yes, I think I can make a minor release today. I just need some PRs to be merged first.

[2021-12-08 17:29] #835 closed, assigned to nobody

[2021-12-08 17:29] #837 closed, assigned to nobody

[2021-12-08 17:29] #846 closed, assigned to nobody

[2021-12-14 17:27] rc-ssoltau opened #858 "Support for setting "risc_level" on "okta_app_signon_policy_rule "resource"
Okta added the condition of risk assessment to Okta Identity Engine for the application sign-on rules. Unable to set risk level using the "okta_app_signon_policy_rule "resource.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers

[2021-12-14 19:47] bogdanprodanj commented on #858
Hi, @rc-ssoltau! Thanks for submitting this issue! `risc_level` field is only present in the `okta_policy_rule_signon` resource.

[2021-12-14 19:57] rc-ssoltau commented on #858
Hello @bogdanprodanj , Thanks for the quick response!

I think I might have placed this request in the wrong place, I was intending to add this as a feature request since setting risk-level on application sign-on rules is now supported in the UI within the new Okta Identity Engine tenants.

Feel free to close this Issue and I can re-create it in the appropriate spot

[2021-12-15 13:07] elior379 commented on #77
Thank you! its working

[2021-12-15 22:21] pandeyabhishek7 opened #859 "Okta: Test Environment Only: Password change notification email configuration is missing in the UI console"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-15 22:28] pandeyabhishek7 opened #860 "Okta: Unable to subscribe API_ADMIN to notifications using terraform"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-15 22:30] Namita1201 commented on #847
Hi, @bogdanprodan-okta thanks for looking into this. Could you please provide an update on this implementation?

[2021-12-15 22:31] pandeyabhishek7 opened #861 "Okta : Unable to update the notification type status to subscribed for certain notification types"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-16 04:37] nottooshort opened #862 "Counter Intuitive Resource - okta_policy_rule_idp_discovery"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-16 08:27] bogdanprodan-okta commented on #847
@Namita1201 I'm currently working on some SDK for Identity Engine and will get back to terraform next week

[2021-12-16 14:13] farzadmahjobi opened #864 "Terraform provider crash when "Rate Limiting Communications" is disabled. (terraform-provider-okta_v3.20.0)"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-16 19:36] CodyDunlap opened #865 "Add user type id to output of IdP resources."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-17 00:44] exitcode0 opened #866 "Terraform import okta_factor"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-17 03:29] exitcode0 opened #867 "okta_policy_password auth_provider = "LDAP""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-17 04:10] exitcode0 opened #868 "Importing okta_policy_rule_mfa omits "enroll" attribute"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-17 04:24] nsharma-fy opened #869 "Which TF resource to use to add SAML roles in AWS app user assignment?"
I am trying to provision the "AWS Account Federation" app with TF. I am not able to find a suitable resource to assign the AWS SAML role to the use assignment (in the circle in the attached image), "okta_app_user" works for a simple assignment but does not have the option to specify the SAML role.

<img width="666" alt="Screen Shot 2021-12-16 at 8 11 26 PM" src="https://user-images.githubuserconte

[2021-12-17 05:35] exitcode0 commented on #869
`okta_app_group_assignment` or `okta_app_group_assignments` both have the `profile` attribute which you can pass a Json object

[2021-12-17 05:39] exitcode0 opened #870 "okta_policy_signon_default"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-17 06:15] nsharma-fy commented on #869
Thanks, @exitcode0  for your response. Using group resources may not work as we don't have okta groups, can we use profile attribute directly with okta users.  Also is there an example or documentation on how to use AWS SAML roles in profile. I couldn't find it at https://developer.okta.com/docs/reference/api/apps/#profile-object

[2021-12-17 12:01] exitcode0 commented on #869
looks like you can use `okta_app_user` with the following lifecycle meta argument on the `okta_app`
[code]

[2021-12-17 16:26] tmatilai opened #871 "Error when modifying attribute statements in a SAML app"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-17 21:01] nsharma-fy commented on #869
Actually adding a profile like below in `okta_app_user` works, thank you @exitcode0 for the pointer on using profile

[code]

[2021-12-17 21:01] #869 closed, assigned to nobody

[2021-12-17 21:42] nottooshort commented on #871
Terraform v0.14.9
+ provider registry.terraform.io/okta/okta v3.20.0

I agree that the order in which dictionary values of an attribute statement should be entirely agnostic. I've ran into similar issues when applying resources, then the terraform state gets modified and introduces new arguments that during subsequent runs, terraform constantly tries to make changes.

One helpful tool I've used in

[2021-12-20 00:10] exitcode0 opened #872 "TF import okta_group_schema_property omits index"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-20 07:53] bogdanprodanj commented on #861
Hi, @pandeyabhishek7! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 07:54] bogdanprodanj commented on #862
Hi, @nottooshort ! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 07:55] bogdanprodanj commented on #864
Hi, @farzadmahjobi! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 07:55] bogdanprodanj commented on #865
Hi, @CodyDunlap! Thanks for submitting this issue! I'll start to work on this asap.

[2021-12-20 07:56] bogdanprodanj commented on #866
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 07:58] bogdanprodanj commented on #867
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 07:58] bogdanprodanj commented on #868
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 07:58] bogdanprodanj commented on #870
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 08:00] bogdanprodanj commented on #871
Hi, @tmatilai! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 08:00] bogdanprodanj commented on #872
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2021-12-20 08:02] bogdanprodanj commented on #859
Hi, @pandeyabhishek7! Thanks for submitting this issue! Could you provide a resource example so I can reproduce the problem?

[2021-12-20 09:44] tmatilai commented on #871
In my case this is especially clumsy to work around, as the attribute statements come as a map to a common module, where the configuration blocks are created with `dynamic`, thus automatically sorted by the map key (`name` in this case).

I took a look at the implementation, and unfortunately I think a similar kind of matching logic would be needed as e.g. with the [aws_security_group_rule](https:

[2021-12-20 19:46] karlsequeira commented on #729
@bogdanprodan-okta  any update on this?

[2021-12-22 11:04] exitcode0 opened #874 "Feature Request - okta_policy_idp_discovery_default"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-22 21:27] pandeyabhishek7 commented on #859
@bogdanprodan-okta
***Test Environment: Password changed notification email configuration is missing at the admin console. We need Password changed notification email configuration in the Test environment as well. Please check screen shot from the Lab env below.
![image](https://user-images.githubusercontent.com/63614026/147157002-d5b788c6-4682-4749-bba7-88bb838be99f.png)

***Lab Environment: Pass

[2021-12-24 12:40] Shrirang97 opened #875 "Data source `okta_auth_server_policy` doesn't return its priority number"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-27 10:32] tmatilai commented on #871
It seems that I can't reproduce the problems any more. 🤔

Both our current production version tenant (`Version 2021.12.1 C`) and the Preview tenant (`Version 2021.12.2 C`) seem to work.

After configuring the assertion encryption in the admin console, the next Terraform run still wants to reorder the attribute statements, but the `apply` succeeds, and the state will be clean afterwards.

Was somet

[2021-12-27 12:49] Shrirang97 opened #876 "Set negative priority number for `okta_auth_server_policy`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-27 20:25] virgofx opened #877 "`okta_authenticator` doesn't support import"
### Issue

When attempting to use the Okta Authenticator resource to import existing authenticators, the following error is reported:

[code]

### Terraform Version
[code]

### Affected Resource(s)

- `okta_authenticator`

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original

[2021-12-27 20:37] virgofx opened #878 "Okta Authenticator doesn't support FIDO2 (WebAuthn)"
### Issue

When attempting to use the Okta Authenticator resource to create a new FIDO2 (WebAuthn) resource, the provider doesn't allow it.
![image](https://user-images.githubusercontent.com/739719/147505774-edfcc16d-5fa9-4925-a1d1-0c507c531760.png)

### Sample Config

[code]

####  Error
[code]

Additionally, because this resource can't be imported as result of https://github.com/okta/terraform-p

[2021-12-27 21:07] virgofx opened #879 "Okta Policy MFA SegFault"
This happens when using `okta_policy_mfa` and `okta_policy_rule_mfa` rules with OIE enabled on tenant. Then making changes in the UI and simply re-planning/re-applying will result in these errors continuously:

[code]

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issu

[2021-12-27 21:12] virgofx opened #880 "Resource `okta_policy_mfa` doesn't support Identity Engine `okta_verify`"
Identity Engine uses `okta_verify`

![image](https://user-images.githubusercontent.com/739719/147507584-6f655dfa-3c12-42a3-98ec-3a1bee7e580f.png)

This isn't supported via the `okta_policy_mfa` Terrraform provider arguments.

https://registry.terraform.io/providers/okta/okta/latest/docs/resources/policy_mfa

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.gith

[2021-12-27 21:24] virgofx opened #881 "`okta_authenticator` settings doesn't diff whitespace changes"
When using the `okta_authenticator` the `settings` attribute is not properly diffed to account for whitespace changes. This results in permanent changes detected.

[code]

[code]

As you can tell, there are no changes. Re-running this will continue to output 1 changed resource.

### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reaction

[2021-12-27 23:37] virgofx opened #882 "Allow `okta_domain_verification` to succeed when existing status is "COMPLETED""
There are now 2 domain options when creating a domain in the API with the new EA Lets Encrypt / Okta managed domains. I believe that the `okta_domain` may need to be updated to handle both variations.

Additionally, verification may come outside or via UI. Thus, we should be able to create the verification record and have it succeed since it can't be imported. That way it can still be managed via

[2021-12-28 18:51] virgofx opened #883 "Support Configuring Features for `okta_app_saml`"
The features API exists. It should be configurable via `okta_app_saml` or a linked new resource (which would help with the prior issue where it was ignored internally as these were changed via UI.)

API reference: https://developer.okta.com/docs/reference/api/apps/#update-feature-for-application

Seeing as there is additional configuration for the features, I'd likely lean towards deprecating the

[2021-12-30 19:24] kensykora opened #884 "skip_users = true is not respected for okta_app_oauth, queries all groups/users anyway"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-30 19:28] kensykora commented on #884
Workaround: as suggested in #652:

1. `terraform state pull > state.json`
2. Increment `serial` property
3. find all usages of `skip_users` and `skip_groups` and set their values to `true`
4. `terraform state push state.json`

[2022-01-02 01:24] xee5ch opened #885 "Cannot Use Preconfigured AWS SSO App with Provider Resource `aws_app_saml`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-06 11:18] tkjwa opened #886 "Error importing user"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-06 11:48] trzpiot commented on #393
Hi @bogdanprodan-okta,

Unfortunately, the "General - Organization" configurations still cannot be set via Terraform (the PR https://github.com/okta/terraform-provider-okta/pull/728 does not change this, unfortunately):

- "Remember Me" checkbox on sign in
- Activation emails are valid for
- Enforce device binding for creating sessions

btw: Thanks for ur awesome work!

[2022-01-07 10:35] tkjwa commented on #886
I've had the same issue with another resource so it might not be related to the `okta_user` resource but the import in general

[2022-01-07 10:43] tkjwa opened #887 "Add "system" option for "auth_server_scope""
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-07 11:37] bogdanprodan-okta commented on #886
Hi, @tkjwa! Thanks for submitting this issue! There are two ways to configure terraform provider:
1) via end vars (`OKTA_ORG_NAME`, `OKTA_BASE_URL`, `OKTA_API_TOKEN`)
2) using provider's block
[code]
Which one did you use?

[2022-01-07 11:42] exitcode0 opened #888 "Importing okta_profile_mapping"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-07 12:18] tkjwa commented on #886
Hello @bogdanprodan-okta
I am using env vars through terraform cloud

[2022-01-07 16:28] cvs-sigrejas opened #889 "Destroying multiple user and app_user schema properties results in some not being removed."
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-07 16:30] cvs-sigrejas commented on #889
I did notice code uses indexes for updating attributes. Not sure if this has something to do with that... if index 5 is removed and then index 10 (last one), does that make index 10 do nothing?

[2022-01-07 21:26] cvs-sigrejas opened #890 "Cannot remove authenticators"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-07 21:31] bogdanprodan-okta commented on #890
Hi, @cvs-sigrejas! Thanks for submitting this issue! Technically, you can not delete an authenticator. However, you can deactivate it first and then remove it from terraform. From a UI perspective, it might look like the authenticator is being removed, but in reality, it is just being deactivated.

[2022-01-10 08:27] bogdanprodan-okta commented on #874
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:28] bogdanprodan-okta commented on #875
Hi, @Shrirang97! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:28] bogdanprodan-okta commented on #876
Hi, @Shrirang97! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:29] bogdanprodan-okta commented on #877
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:29] bogdanprodan-okta commented on #878
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:30] bogdanprodan-okta commented on #879
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:30] bogdanprodan-okta commented on #880
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:31] bogdanprodan-okta commented on #881
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:31] bogdanprodan-okta commented on #882
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:32] bogdanprodan-okta commented on #883
Hi, @virgofx! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:35] bogdanprodan-okta commented on #885
Hi, @xee5ch! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:36] bogdanprodan-okta commented on #886
@tkjwa the error you are seeing is because the provider can not read these env vars.

[2022-01-10 08:38] bogdanprodan-okta commented on #887
Hi, @tkjwa! Thanks for submitting this issue! As far as I know, the `system` property is read-only and is just indicates whether Okta created this scope.

[2022-01-10 08:39] bogdanprodan-okta commented on #888
Hi, @exitcode0! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 08:42] bogdanprodan-okta commented on #889
Hi, @cvs-sigrejas! Thanks for submitting this issue! I'll investigate the problem and get back to you asap.

[2022-01-10 09:02] tkjwa commented on #886
Hi @bogdanprodan-okta , indeed i've just found the following which explains why I was having issues: https://www.terraform.io/cli/import#remote-backends
Sorry for the noise and thank you for your help !

[2022-01-10 09:02] #886 closed, assigned to nobody

[2022-01-10 09:09] tkjwa commented on #887
Hello @bogdanprodan-okta ! Indeed but it needs to be sent to the api when you want to update a scope created by okta.

I've made tests with direct api calls: `PUT /api/v1/authorizationServers/ausabc123/scopes/scpabc123`
with the following body: `{"consent": "REQUIRED", "name": "profile", "metadataPublish":"ALL_CLIENTS"}` I have an error, but it works with `{"consent": "REQUIRED", "name": "profile"

[2022-01-10 10:24] fatbasstard opened #891 "okta_app_group_assignment sorting in samlRoles of profiles trigger continuous changes"
Hi,

Okta does not preserve the sorting as given in the `profile` json of the `okta_app_group_assignment` resource. As a result Teraform keeps updating the group assignment.

### Terraform Version

- Terraform 1.1.3
- Okta 3.20.2

### Affected Resource(s)

- okta_app_group_assignment

### Terraform Configuration Files

[code]

### Output
[code]

### Expected Behavior

No Changes.

### Actual Behav

[2022-01-10 14:06] cvs-sigrejas commented on #890
Shouldn't the provider deactivate on removal of the resource. You're saying don't remove the resource and instead deactivate it?

[2022-01-10 16:51] simonweil opened #892 "How to use client_id scopes and private_key?"
I'm trying to understand the usage of client_id, scopes and private_key vs. an api_key.

Is there any documentation explaining the difference and how to obtain the values required?

Thanks
Simon

edit from @monde:
Don't use internet websites for production secrets and audit all software used to generate secrets. Here is a better example of using Terraform to create a PEM and JWKS:
https://github.c

[2022-01-10 17:02] bogdanprodan-okta commented on #892
Hi, @simonweil! Thanks for submitting this issue!
1. [API token](https://developer.okta.com/docs/guides/create-an-api-token/main/) can be created using admin Okta console Security > API > Tokens Crete Token. API tokens inherit the privilege level of the admin account that is used to create them
2. Using client_id, scopes and private_key can give more granular access to the org resources. Basically

[2022-01-10 18:04] MichaelOtte-lhsystems commented on #277
@monde @bogdanprodan-okta  Can you please help/advise how to set the IDP condition on okta_policy_rule_signon via terraform ?
The branch from @conor-mullen  looks promising and works like the UI/API as well.
There is no `conditions` TF resource or i missed it?

[2022-01-10 18:24] thatguysimon opened #893 "app_include property of okta_policy_rule_mfa not properly stored in state"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-10 22:10] simonweil commented on #892
Thanks so much for the explanation!
It would be great to add it to the provider documentation :)

It says you need OKTA for developers, so if I just use OKTA platform as SSO, is this option for me?

[2022-01-11 00:37] exitcode0 opened #894 "imported okta_app_user_base_schema_property caused apply failure"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-01-11 01:54] virgofx opened #895 "Add support for the Brands/Themes API"
The Okta Brands API allows you to customize the look and feel of pages and templates, such as the Okta-hosted sign-in Page, error pages, email templates, and the Okta End-User Dashboard.

Okta API Reference: https://developer.okta.com/docs/reference/api/brands/#get-started

### Potential Start of New Resources

`okta_brand`
* Create, Read, Update
* Output would contain list of brand IDs
* Paramete