[2019-11-06 21:52] joshk0 opened #4 "Is this dead?"
Should articulate/terraform-provider-okta be the canonical version?

I would propose either removing this or working with the articulate folks to give them access to this repository.

Thanks.

[2019-11-08 14:32] quantumew commented on #4
Sorry for the delay I was not watching this repo. I am now! We were hoping to release our provider as the official provider. Unfortunately, as soon as it was ready, Okta stepped in and stopped it due to "licensing issues". I agree if this gets delayed any longer this should just get deleted until we can actually go through with it. Just causing confusion at this point.

[2020-01-09 19:51] pratikmallya commented on #4
Can we nuke this repo if its ded? Unfortunately, terraform will try to install this by default giving the appearance of a broken/unstable/old provider.

[2020-01-11 04:31] quantumew commented on #4
I revived this topic with the interested parties a month or so ago, I will ping them and see where this is at. cc: @cgriggs01

[2020-01-17 05:13] j0nathontayl0r commented on #4
@pratikmallya best way around it is to install the articulate okta provider as per the third-party installation guideline.

https://github.com/articulate/terraform-provider-okta/issues/317

[2020-01-21 08:58] fatbasstard commented on #4
@quantumew Hi,

any news on the progress? Anything I can help out with perhaps?

This "official" version of the Okta provider would make our live a lot easier, so looking forward on enabling this as the one-and-only-true Okta provider

[2020-01-21 15:07] quantumew commented on #4
@fatbasstard @pratikmallya Sorry for the delay, I heard back on this, and it turns out Okta is not willing to rubber stamp this 😞. We instead will be included in the first iteration of the community registry. No strict timeline on that yet. Hashicorp should be removing this from their official provider registry soon.

[2020-01-21 17:01] noinarisak opened #1 "Pre-Steps"
[ ] Communication
[ ] Validate permission on Articulate and Okta Developer
[ ] x

[2020-01-29 16:00] cgriggs01 commented on #4
Change in direction. We are align with the team at Okta and @quantumew. The change will be coming soon to address the issues here and release the provider formally to releases.hashicorp.com.

[2020-02-08 22:08] pratikmallya commented on #4
@cgriggs01 that's great news! Any idea around when that might happen (days? months?)? In the meanwhile, should new contributions continue to go to the  articulate/ version?

[2020-02-09 21:39] quantumew commented on #4
@pratikmallya Working on getting this repo updated now (https://github.com/terraform-providers/terraform-provider-okta/pull/6). I would keep an eye on that, a release will follow shortly after that is merged. Shooting for early next week.

[2020-02-19 23:15] quantumew opened #8 "Okta SDK Panics on bad URI or Token"
### Expected Behavior

Nice pretty error when consumer provides an invalid Okta URI or Token. We should recover from this panic or even better, the panic never happen!

### Actual Behavior

PANIC at the disco.

https://github.com/terraform-providers/terraform-provider-okta/blob/0c1611a960c7c7b35c14ca2edbf99649c970119a/vendor/github.com/okta/okta-sdk-golang/okta/okta.go#L87

### Steps to Reproduce

[2020-02-20 15:23] icebal commented on #8
ok, getting somewhere with this. my variable for the api was misconfigured. there is an error that is passed only sometimes in debug mode saying no api key found (how i noticed). is there a way to pass this to an actual TF error? when i hard coded the api in, it looks to be working, i'm now just getting a misformed body error.  here is the whole okta TF.
error:
 `2020/02/20 15:15:28 [ERROR] <root>

[2020-02-20 16:31] icebal commented on #8
i have narrowed the above to the attribute_statements block, even doing something simple like below errors as not well formed body:

 attribute_statements {
    name         = "username"
    filter_value = "user.login"
  }

[2020-02-20 16:36] tgoodsell-tempus opened #9 "Missing attribute reference in document for "okta_auth_server_scope""
Copied this over from the articulate repo.

## Expected Behavior
There appear to be other attributes exposed by an instance of the "okta_auth_server_scope" resource, such as name, which are not documented.
## Actual Behavior
Current attribute reference: https://www.terraform.io/docs/providers/okta/r/auth_server_scope.html#attributes-reference

In the documentation example for claim, it shows the u

[2020-02-20 17:37] quantumew commented on #9
@tgoodsell-tempus Thanks for copying this over. I should be able to move the remainder of the issues soon.

Please elaborate if I am misunderstanding. `name` is documented [here](https://www.terraform.io/docs/providers/okta/r/auth_server_scope.html#argument-reference) but not [here](https://www.terraform.io/docs/providers/okta/r/auth_server_scope.html#attributes-reference). I think that is standar

[2020-02-20 18:09] tgoodsell-tempus commented on #9
Cheers, let me do a little digging since I'm not 100% on the best practices.

I'm under the impression is "Argument Reference" should contain all the required and optional inputs the resource can have; while "Attributes Reference" should contain all of the exposed attributes a created/usable resource object can have (all the <resource_type>.<resource_instance>.<attribute> calls)

[2020-02-20 18:23] quantumew commented on #9
@tgoodsell-tempus cool I’ll do a little digging as well and we can decide if that needs to change. Thanks!

[2020-02-20 21:08] tgoodsell-tempus commented on #9
I'm really struggling to find any clearly written documentation guidelines for the terraform site.

However, I believe this PR from the AWS provider is a good example of what I'm referring to: https://github.com/terraform-providers/terraform-provider-aws/pull/10971/files

They've supported new "attributes" which aren't the things you're giving the API to create the resource but the metadata/proper

[2020-02-20 21:11] tgoodsell-tempus commented on #9
Another good example I think is the data source objects in the AWS provider:
https://www.terraform.io/docs/providers/aws/d/iam_policy.html

In this example, the ARN is required to "find" the policy using the API, once picked up it then has a set of attributes you can use in your TF code; including ARN. Just an example of how an object can have an argument and attribute which are the same.

[2020-02-20 21:30] tgoodsell-tempus commented on #9
I suppose if maybe I'm miss understanding a terraform principal that both the "arguments" and "attributes" can be referenced using the `<resource>.<instance>.<item>` format, then this would be a non-issue.

[2020-02-25 03:38] pratikmallya opened #10 "OKTA golang sdk appears to be dead?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-02-26 16:07] noinarisak commented on #10
Hi @pratikmallya,

I agree the okta-sdk-golang has not seen any love in a while but this provider actually extends the SDK thanks to @quantumew and committers to close that gap. I and two other Okta employees with @quantumew help will continue work on this provider going forward. Please be aware, thou, we are volunteering our time on this project and it is not our full-time focus. We just big beli

[2020-02-26 17:31] pratikmallya commented on #10
Ah ok cool. I was curious if the provider would be constrained by the sdk but this appears to not be the case. Thanks!

[2020-02-26 17:31] #10 closed, assigned to nobody

[2020-02-27 21:53] gustavo-chan opened #11 ""unique" property not supported when updating custom attributes in user schema"
**Is your feature request related to a problem? Please describe.**
I'm trying to enforce uniqueness on 2 custom attributes in my Okta user profile. Currently, it can be done via the Okta UI and by calling POST /api/v1/meta/schemas/user/default by setting "unique": "UNIQUE_VALIDATED"

**Describe the solution you'd like**
Add the "unique" attribute to user_schema

[2020-03-04 15:55] tgoodsell-tempus opened #13 "Add support for group/app whitelist for administrative roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-04 23:56] noinarisak commented on #4
@quantumew @cgriggs01 I think we can close this issue, since we are almost fully migrated, minus migrating the old Issues from Articulate repo.

[2020-03-05 17:14] noinarisak commented on #4
Closing! =)

[2020-03-05 17:14] #4 closed, assigned to nobody

[2020-03-09 04:56] rtlong commented on #13
I'd be happy to implement this.

I can see the complication, as you mentioned @tgoodsell-tempus.

I feel like it may be best solved by normalizing the `okta_group_roles` resource to be singular and then represent the role-group target assignments using a new resource:

[code]

[Hashicorp recommends that resources should represent single API object.](https://www.terraform.io/docs/extend/hashicorp-p

[2020-03-09 15:40] tgoodsell-tempus commented on #13
I agree with your stance on refactoring the okta_group_roles to being a singular instance of the admin assignment operation. I think the Hashicorp recommendation + the Okta API architecture would lend this to being the better design choice for the resource.

There's the other side of this, which is the current resource more closely mimics the experience of configuring this in the Okta UI versus wh

[2020-03-17 04:20] tgoodsell-tempus opened #16 "Failure on undocumented okta_group_rules status "INVALID""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-18 03:03] noinarisak commented on #11
Resolved by PR #12

[2020-03-18 03:03] #11 closed, assigned to noinarisak

[2020-03-18 20:01] ghost opened #19 "okta_group_membership resource"
*@quantumew commented on Nov 14, 2019, 10:09 PM UTC:*

Part of achieving [#248](https://github.com/articulate/terraform-provider-okta/issues/248) is being able to tie a single user to a single group.

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#335](https://github.com/articulate/terraform-provider-okta/issues/335).*

[2020-03-18 20:01] ghost commented on #19
*@quantumew commented on Mar 16, 2020, 8:37 PM UTC:*

[noinarisak](https://github.com/noinarisak) Testing against this issue again, you are right, it is installed. The configured alias is just borked.

[2020-03-18 20:08] ghost opened #20 "okta_event_hook"
*@quantumew commented on Sep 6, 2019, 5:36 PM UTC:*

Okta Event Hooks are now EA, add a resource for it.

[https://developer.okta.com/docs/reference/api/event-hooks/](https://developer.okta.com/docs/reference/api/event-hooks/)

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#272](https://github.com/articulate/terraform-provider-okta/iss

[2020-03-18 20:08] ghost commented on #20
*@rcrowe commented on Dec 10, 2019, 10:28 PM UTC:*

Has there been any movement on this? Would a PR be accepted?

[2020-03-18 20:08] ghost commented on #20
*@quantumew commented on Dec 11, 2019, 3:56 PM UTC:*

[rcrowe](https://github.com/rcrowe) No movement yet. Would love a PR! My time has been limited as of late. IIRC this resource will be pretty cut and dry.

[2020-03-18 20:11] RichiCoder1 opened #21 "Update User Schema Resources and add User Type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-18 20:29] ghost opened #22 "Administrator Roles: add support for role targets"
*@bellaweo commented on Apr 24, 2018, 5:41 AM UTC:*

[https://developer.okta.com/docs/api/resources/roles](https://developer.okta.com/docs/api/resources/roles)

App Roles

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#15](https://github.com/articulate/terraform-provider-okta/issues/15).*

[2020-03-18 20:29] ghost commented on #22
*@rtlong commented on Nov 26, 2019, 8:58 PM UTC:*

[quantumew](https://github.com/quantumew) Was this effort abandoned? I just encountered this missing functionality and would very much like to have it. I'm willing to implement, but I would like to understand why this issue was closed before I do.

[2020-03-18 20:29] ghost commented on #22
*@quantumew commented on Nov 26, 2019, 9:04 PM UTC:*

[rtlong](https://github.com/rtlong) the group portion of this was implemented (link below) but the app roles were not. I am guessing it was an oversight. Reopening and updating.

[https://github.com/articulate/terraform-provider-okta/tree/master/examples/okta_group_roles](https://github.com/articulate/terraform-provider-okta/tree/master/example

[2020-03-18 20:29] ghost commented on #22
*@rtlong commented on Mar 18, 2020, 5:30 PM UTC:*

See this issue in the migrated repo: [terraform-providers/terraform-provider-okta#13](https://github.com/terraform-providers/terraform-provider-okta/issues/13)

[2020-03-18 20:29] ghost commented on #22
*@noinarisak commented on Mar 18, 2020, 8:29 PM UTC:*

Hi [rtlong](https://github.com/rtlong)! Thanks for your interest in the provider. We officially apart of the Hashicorp Terraform ecosytem which means this repo will be read-only in the near future. Sady, we are still in the middle of moving all GH Issues over to [terraform-providers/terraform-provider-okta](https://github.com/terraform-provide

[2020-03-18 20:40] ghost opened #23 "Support logout uri resource similar to redirect_uri resource"
*@quantumew commented on Apr 2, 2019, 8:46 PM UTC:*

This will allow us to manage URIs in the list while ignoring others.

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#125](https://github.com/articulate/terraform-provider-okta/issues/125).*

[2020-03-18 20:41] rtlong commented on #22
Well, now this duplicates #13 which is what I was trying to avoid. 😝

[2020-03-18 20:43] ghost opened #24 "new resource | app_push_group ?"
*@robwaldron-flg commented on Apr 23, 2019, 5:37 AM UTC:*

Not sure if a new resource or to be embedded into an existing resource makes more sense, but using the Okta Org2Org as an example; Push Groups enables pushing users from a group in a master Okta org to be pushed into a specified group (or created on demand) in another Okta org.

In this documentation, it exists here: [https://saml-doc.okta

[2020-03-18 20:43] ghost commented on #24
*@ahsanali commented on Jan 31, 2020, 1:43 PM UTC:*

I dont think there is a okta public api endpoint to do this. I wrote a python script and used local executioner to achieve adding 76 groups. May be you can do the same.

[2020-03-18 20:44] ghost opened #25 "new resource | ability to add administrators"
*@robwaldron-flg commented on Apr 23, 2019, 6:23 AM UTC:*

The ability to add administrators in Okta through the user and group methods would be quite helpful (probably more so assigning groups to admin roles).

resource_roles and be able to add one or many users or groups.

[https://developer.okta.com/docs/api/resources/roles/#list-roles-assigned-to-user](https://developer.okta.com/docs/api/resou

[2020-03-18 20:45] ghost opened #26 "Support for setting "Application notes for admins" in apps"
*@bodgit commented on Apr 24, 2019, 9:34 AM UTC:*

Our Okta account now has apps that are both manually set up and managed by Terraform, it will be a long time I suspect before everything in there is 100% managed by Terraform.

I figured it might be a good idea to utilize the "Application notes for admins" field in an app to add a "Managed by Terraform" hint so people know that if they manually ed

[2020-03-18 20:45] ghost commented on #26
*@quantumew commented on Apr 24, 2019, 12:13 PM UTC:*

Unfortunately this field is not exposed by the API. I can put in a request for it but likely it would take a bit.

[2020-03-18 20:45] ghost commented on #26
*@bodgit commented on Apr 24, 2019, 12:46 PM UTC:*

Bah, I figured as much given everything else can be managed. It makes sense to be able to manage it, so if you can request API support that would be great. For now I'll just manually update the note to warn any other admins.

[2020-03-18 20:46] ghost opened #27 "User schema properties overwritten"
*@quantumew commented on Apr 24, 2019, 2:03 PM UTC:*

When creating/updating multiple user schema properties we are seeing successful create and update responses but then later when we do a GET, the data is missing. The only way around this is by forcing creates/updates to happen one at a time. This appears to be a race condition in the API.

*This issue was moved by [noinarisak](https://github.co

[2020-03-18 20:46] ghost commented on #27
*@quantumew commented on Jul 12, 2019, 5:39 PM UTC:*

Did a little testing here and I think I see what is happening. It appears Okta is not returning the new schema right away. I am wondering if just sending Cache-Control no-cache will fix this? Another thing, is we are using the old SDK for this, we should probably update it to the new approach. Maybe the old SDK has some caching in it, not sure.

[2020-03-18 20:46] ghost commented on #27
*@msmrnv1 commented on Jul 31, 2019, 2:52 PM UTC:*

I am still seeing the issue when I try to create more than one custom field in the user schema. It works fine when it is just one custom field but it usually crashes when I create more than 1 custom field.

It looks like it is still getting nil after sleep function and getSubchema call

[code]

[2020-03-18 20:46] ghost commented on #27
*@quantumew commented on Jul 31, 2019, 4:07 PM UTC:*

Interesting I tested it quite a lot with no issues. How often have you hit this?

I actually got to chat with Okta about this and it might be related to their API lying to us. Saying it is created when it actually was just queued up to be created. This is definitely just a bandage until they attend to that issue. I will dig into it a bit more.

[2020-03-18 20:46] ghost commented on #27
*@quantumew commented on Jul 31, 2019, 4:10 PM UTC:*

I should also say, this should no longer panic, it should now simply error, if it is panicking that should be corrected anyways. Let me validate that. Also if you could validate the version of the provider you are using? Guessing the latest!

[2020-03-18 20:46] ghost commented on #27
*@msmrnv1 commented on Aug 1, 2019, 12:59 AM UTC:*

Yes, it was still panicking and it happens almost every time. I changed a bit in the fork to check for nil condition for schema to avoid the panicking. Only err was checked in that block.

[code]

[2020-03-18 20:46] ghost commented on #27
*@quantumew commented on Aug 1, 2019, 1:56 AM UTC:*

Seriously, I forgot the guard statement lmao. Ok adding that. Will follow up and dig into why that is not working. Was this on Update? Or Create? Multiple schema properties?

[2020-03-18 20:46] ghost commented on #27
*@quantumew commented on Aug 1, 2019, 2:00 AM UTC:*

Ok corrected in v3.0.12\. Should have time this weekend to dig in further to this one.

[2020-03-18 20:47] ghost commented on #27
*@msmrnv1 commented on Aug 1, 2019, 2:27 AM UTC:*

It was on create. Below a sample of what I have in tf file

resource "okta_user_schema" "schema_uuid" {
index = "UserUuid"
title = "User UUID"
type = "string"
description = "The internal user identifier"
required = false
min_length = 1
max_length = 50
}

resource "okta_user_schema" "schema_fb" {
index = "facebookLinkingId"
title = "External Facebo

[2020-03-18 20:47] ghost commented on #27
*@quantumew commented on Aug 1, 2019, 1:08 PM UTC:*

Ok I think I figured out what is happening here. It looks like having multiple schema objects, due to the way the endpoint works, are conflicting. Fix coming soon. I may create a new resource that combines the entire schema into a single resource.

[2020-03-18 20:47] ghost commented on #27
*@quantumew commented on Aug 18, 2019, 8:24 PM UTC:*

Finally got around to this one and I confirmed resource get overwritten when concurrent requests are sent to Okta's API. Opening an issue with Okta, for now we can use `depends_on` to ensure any new resources are created one at a time. See [#247](https://github.com/articulate/terraform-provider-okta/pull/247) for the updated example: [https://g

[2020-03-18 20:47] ghost commented on #27
*@msmrnv1 commented on Aug 19, 2019, 2:02 PM UTC:*

Thanks for an update. That is what I have been using as a work around. I had to create explicit dependency for each custom field so it works now.

[2020-03-18 20:47] ghost opened #28 "Directory Integrations | New resources"
*@robwaldron-flg commented on Apr 29, 2019, 3:06 AM UTC:*

I'm pretty sure that from what I've seen, there's no API for creating directory integrations, but thought I'd add this here as a feature request.

Proposed resources:

*   resource_directory_ad
*   resource_directory_ldap
*   resource_directory_csv

[![image](https://user-images.githubusercontent.com/41554886/56874760-705c5180-6a7f-11e9-9b

[2020-03-18 20:47] ghost commented on #27
*@quantumew commented on Aug 30, 2019, 6:46 PM UTC:*

This makes zero sense. I spoke with Okta support, and it sounds like this is just how the API works. It is batching the requests and only taking the final change, even though it is reporting back that it is taking the previous changes as well. These are individual requests for distinct properties.

[2020-03-18 20:47] ghost commented on #27
*@jralmaraz commented on Nov 14, 2019, 5:55 AM UTC:*

Hey, just checking if we did have any update on this or the only way going forward is by using the depends_on (which seems to working well for us, just slowing things down a little bit) ?

I thought of raising that with Okta, but better checking for the latest on it before :)

[2020-03-18 20:47] ghost commented on #27
*@quantumew commented on Nov 14, 2019, 2:43 PM UTC:*

This is still just a feature request. Imo this is a bug in the API but they disagree. The solution currently is to turn off parallelism or add dependencies between these resources to avoid concurrency. I toyed with the idea of making a new resource but then you have to track the entire schema. I suppose I could add a “ignore_absent” option. Hmm

[2020-03-18 20:48] ghost opened #29 "okta_app structure"
*@shawnferry commented on May 2, 2019, 7:39 PM UTC:*

Conditionally failing okta_app_saml on missing resources only at apply time seems suboptimal.

I _think_ [integrated](https://www.okta.com/okta-integration-network/) apps should have a different resource. Possibly `okta_app_preconfigured`, `okta_app_integrated`, `okta_app_from_catalog` (selecting catalog because okta says "search catalog" for i

[2020-03-18 20:48] ghost commented on #29
*@quantumew commented on May 2, 2019, 7:56 PM UTC:*

Yea I agree 100%. I was pretty new when I made this decision and I didn't think it through. I definitely plan on deprecating "preconfigured_app" setting and separating it. I have thought the real solution is a resource per distinct app, for instance, `okta_app_aws_console`. The resources will be super thin and rely on shared functions/schemas/re

[2020-03-18 20:48] ghost opened #30 "app_settings_json isn't"
*@shawnferry commented on May 2, 2019, 9:25 PM UTC:*

[struct ApplicationSettings](https://github.com/okta/okta-sdk-golang/blob/2395a5f0ddc8840b41566277432f0589f2570108/okta/applicationSettings.go) has members App and Notification.

I'm too new at this to understand how the code is working [parsing the payload](https://github.com/articulate/terraform-provider-okta/blob/a277407821f4af8f69fbf91ae7be

[2020-03-18 20:48] ghost commented on #30
*@quantumew commented on May 2, 2019, 11:03 PM UTC:*

At a cursory look it appears the config is not represented in the resource. I will be get this added. Thanks for the report!

[2020-03-18 20:51] ghost opened #31 "Okta attempting to add user to group before user creation finishes"
*@hgibsonqb commented on May 7, 2019, 11:35 AM UTC:*

Hi,
I'm using this provider to create two okta users, two okta groups each with a group rule, and add the two okta users to both groups.

What seems to be happening is okta attempts to create the group before the users finish creating. This is a sample run:

[code]

The users don't finish creating until much later

[code]

This causes `terrafor

[2020-03-18 20:51] ghost commented on #31
*@ocxo commented on May 7, 2019, 12:05 PM UTC:*

We have seen something like this recently as well. Are you seeing it in an oktapreview.com or okta.com environment? cc [pklingem](https://github.com/pklingem)

[2020-03-18 20:51] ghost commented on #31
*@hgibsonqb commented on May 7, 2019, 12:08 PM UTC:*

In an okta.com environment

[2020-03-18 20:51] ghost commented on #31
*@quantumew commented on May 7, 2019, 12:24 PM UTC:*

Can I see your group rule config or the entire config? I think the main issue here is the 500 on the group rule. I have found Okta returns 500 often when it should be returning 400/422, which makes debugging a bit confusing.

[2020-03-18 20:51] ghost commented on #31
*@hgibsonqb commented on May 7, 2019, 12:28 PM UTC:*

[code]

This is contents of the module creating the group. `var.users` is a map of maps where each map is a user and has the format:

[code]

[2020-03-18 20:51] ghost commented on #31
*@hgibsonqb commented on May 7, 2019, 12:30 PM UTC:*

This is with terraform v 0.11.13 and okta provider version 2.26

[2020-03-18 20:51] ghost commented on #31
*@quantumew commented on May 7, 2019, 12:56 PM UTC:*

You can add users to groups directly without a rule. It looks like you are adding users by their login, is there a reason you cannot add them by id using the method below? We have a data source to get the id by login if you do not know the user id. I generally use group rules for more generic purposes like, I want to add all engineers to the En

[2020-03-18 20:51] ghost commented on #31
*@hgibsonqb commented on May 7, 2019, 12:58 PM UTC:*

These users are only being created for the test fixtures. We're creating the users separately, then passing a list of logins to this module, which is why they need to be added by rule.

[2020-03-18 20:51] ghost commented on #31
*@quantumew commented on May 7, 2019, 1:01 PM UTC:*

Oh interesting, ok that totally seems valid then. I misunderstood the config. I can see what the templated config looks like but I want something I can repro in my own account. Can you give me a raw group rule? What would the provider see on one of these? That way I can create a replica and use ACC tests to debug it. Your templated config looks

[2020-03-18 20:51] ghost commented on #31
*@hgibsonqb commented on May 7, 2019, 1:38 PM UTC:*

The final rule looks something like

[code]

I've been able to create two users in okta, create two groups, then create two rules adding both those users to each group manually in okta without any issues.

This was the sequence:

1.  Create users
2.  Create groups
3.  Create first rule and activate
4.  Create second rule and activate

[2020-03-18 20:51] ghost commented on #31
*@quantumew commented on May 7, 2019, 1:57 PM UTC:*

Thanks! I created an acceptance test with the group and the group rule. No users but that shouldn't have any bearing on any bearing on the internal server error returned by the group rule endpoint. I am at a lost here, everything I try seems to work. Feel free to suggest changes to my test config.

Can you try the latest provider? I don't recall

[2020-03-18 20:51] ghost commented on #31
*@hgibsonqb commented on May 7, 2019, 2:02 PM UTC:*

Would creating two rules that have different names but the same expression cause any problems?

[2020-03-18 20:51] ghost commented on #31
*@quantumew commented on May 7, 2019, 2:05 PM UTC:*

Good question, maybe? They provide the ability to create a single rule that assigns users to multiple groups so yea they may not like that for some reason. Let me repro that.

[2020-03-18 20:51] ghost commented on #31
*@quantumew commented on May 7, 2019, 2:10 PM UTC:*

That passes as well for myself. Going to merge the above PR. [salekseev](https://github.com/salekseev) has a good point, request logging would be really helpful here. Released v2.34.0\. Can you post some debug logs? `TF_LOG=DEBUG terraform plan`

[2020-03-18 20:51] ghost commented on #31
*@salekseev commented on May 7, 2019, 2:19 PM UTC:*

Here's a response we're getting intermittently upon rule creation. Could be an Okta side problem...

[code]

[2020-03-18 20:52] ghost commented on #31
*@quantumew commented on May 7, 2019, 2:29 PM UTC:*

Interesting, if it is intermittent it is likely an Okta issue. I can post this same API to my account and I get only 200s (should be a 201 CREATED imo). This might be a good time to ask Okta. Does your system log have any info? Whoopsies looks like you need to redact your auth header, <g-emoji class="g-emoji" alias="see_no_evil" fallback-src="ht

[2020-03-18 20:52] ghost commented on #31
*@salekseev commented on May 7, 2019, 2:42 PM UTC:*

Good catch. Thanks. :) re-issued the token already. <g-emoji class="g-emoji" alias="see_no_evil" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f648.png">🙈</g-emoji>

[2020-03-18 20:52] ghost commented on #31
*@salekseev commented on May 7, 2019, 3:01 PM UTC:*

We're engaging Okta support to see if we can get a trace on this error as it's not visible in the "System Log" unfortunately.

[2020-03-18 20:52] ghost opened #32 "Policy and rule model seems wrong"
*@shawnferry commented on May 8, 2019, 8:58 PM UTC:*

Looking at the existing policy and policy rules constructs I _think_ there are type specific details vs the higher level abstractions and this also needs a refactor.

I think [policy.go](https://github.com/articulate/terraform-provider-okta/blob/master/okta/policy.go#L42) has members groups_[included|excluded] incorrectly it should instead have

[2020-03-18 20:52] ghost commented on #31
*@quantumew commented on May 7, 2019, 3:19 PM UTC:*

Please report back. It sounds like we are facing the same issue although I personally have not run into this.

[2020-03-18 20:52] ghost commented on #32
*@quantumew commented on May 9, 2019, 3:10 AM UTC:*

Took a look at this and there is definitely room for improvement here. Was able to get [#166](https://github.com/articulate/terraform-provider-okta/pull/166) in without touching too much of it but it definitely could use work.

[2020-03-18 20:52] ghost commented on #31
*@salekseev commented on May 8, 2019, 6:44 PM UTC:*

[okta_error_2.log](https://github.com/articulate/terraform-provider-okta/files/3158844/okta_error_2.log)

Okta is still investigating but another error sample started showing response header `X-Xss-Protection: 1; mode=block; report=https://okta.report-uri.com/r/d/xss/enforce` today. It's possible that we're bumping into their WAF.

[2020-03-18 20:52] ghost commented on #31
*@quantumew commented on May 8, 2019, 7:06 PM UTC:*

Hmm we could bandage this for the time being. We maintain a fork of Okta's beta SDK (they dropped development on it for a few months), I could temporarily add an option to the provider `max_retries_internal_server_errors`, which would by default would be 1, but you could increase it and hopefully see better results. I am not sure how intermitten

[2020-03-18 20:52] ghost commented on #31
*@salekseev commented on May 8, 2019, 8:40 PM UTC:*

I believe we have a temporary workaround for this (not make too many requests) and we’re working with Okta support to try and validate that this is a bug on their end. If this is a retry-able error they should be returning a different code. Thanks.

[2020-03-18 20:52] ghost commented on #31
*@quantumew commented on May 8, 2019, 8:55 PM UTC:*

Agreed. Good deal <g-emoji class="g-emoji" alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">👍</g-emoji>

[2020-03-18 20:52] ghost commented on #31
*@quantumew commented on Jul 23, 2019, 8:00 PM UTC:*

[salekseev](https://github.com/salekseev) [hgibsonqb](https://github.com/hgibsonqb) Were you able to solve this? We are hitting a very similar issue on another one of our resources. I was curious if you had any insight or if we should also take this issue up with Okta's engineering team as well? Perhaps, they could at least triangulate this to

[2020-03-18 20:52] ghost opened #33 "Better Tests"
*@quantumew commented on May 21, 2019, 7:45 PM UTC:*

Some resources have multiple endpoints associated with them. In our tests we should check everything to validate downstream. For instance, users with group memberships. Otherwise stuff will break and we won't know. [#174](https://github.com/articulate/terraform-provider-okta/pull/174)

*This issue was moved by [noinarisak](https://github.com/no

[2020-03-18 20:53] ghost opened #34 "[feature request] shared credentials file"
*@shantanugadgil commented on Jun 3, 2019, 2:15 PM UTC:*

Terraform version: 0.12.0
Provider version: 3.0.0

Would it be possible to add functionality like the "shared credentials file", like that of the AWS provider?

Use case:
When using multiple Okta accounts, in the `provider "okta"` block, I can just mention the "provider profile" name and then, safely store the actual profile details in my d

[2020-03-18 20:53] ghost commented on #34
*@quantumew commented on Jun 3, 2019, 6:38 PM UTC:*

Love this idea, will dig into this soon. I see no reason why this can't be an option but I will likely post again once I look further into it.

Aforementioned AWS provider option: [https://www.terraform.io/docs/providers/aws/index.html#shared-credentials-file](https://www.terraform.io/docs/providers/aws/index.html#shared-credentials-file)

[2020-03-18 20:53] ghost commented on #34
*@shantanugadgil commented on Nov 11, 2019, 4:24 AM UTC:*

Any luck with? I would have definitely submitted a PR had I been more of a gopher! <g-emoji class="g-emoji" alias="chipmunk" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f43f.png">🐿️</g-emoji><g-emoji class="g-emoji" alias="innocent" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f607

[2020-03-18 20:53] ghost commented on #34
*@quantumew commented on Nov 11, 2019, 4:39 AM UTC:*

[shantanugadgil](https://github.com/shantanugadgil) totally forgot about this one. I will plan on doing it after I wrap up mappings resource. My time has been limited lately unfortunately. Feel free to take a crack at it, glad to give guidance!

[2020-03-18 20:54] ghost opened #35 "More Light-handed approach to API calls"
*@quantumew commented on Jun 11, 2019, 10:33 PM UTC:*

There has been concerns about alert fatigue + terraform tripping rate limits in prod. The only real overlap is the user resource. Our prod has only 7 TF managed users so this shouldn't be an issue. We still should have an option to backoff before a 429 if possible. Maybe if the limit is X amount from tripping, cache that, and backoff. This cou

[2020-03-18 20:54] ghost commented on #35
*@jeremie0 commented on Jul 12, 2019, 8:00 PM UTC:*

We are running into this with the POST /api/v1/apps?activate=true endpoint. Trying to get rate limits increased w/Okta, but if we can do anything on the provider side that would be great.

I see the terraform plan stage working fine.
When we go to apply, creating new apps, we immediately get a 429 back. Default rate limit appears to be 100 and w

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Jul 12, 2019, 8:39 PM UTC:*

Wow that doesn't sound right. How many apps is the config creating? What version of the provider are you using? There was one bug where XML endpoints were not using the "retries" enabled request executor.

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Jul 12, 2019, 8:41 PM UTC:*

Here is that bugfix that I mentioned, I am wondering if you are hitting this? [#189](https://github.com/articulate/terraform-provider-okta/pull/189). Fixed in v3.0.2 and on

[2020-03-18 20:54] ghost commented on #35
*@jeremie0 commented on Jul 12, 2019, 9:25 PM UTC:*

The config I am trying to run now is just trying to add 2 apps.
running provider.okta v3.0.6 so maybe something else is going on.

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Jul 12, 2019, 9:27 PM UTC:*

Gotcha, yea seems like something else is going on. We have tenants with 50+ apps and don't have this issue. If you run terraform with `TF_LOG=debug` it will dump the http requests. That will help give us a better view into what is going on. We just want to make sure to redact your API token if you post anything here!

[2020-03-18 20:54] ghost commented on #35
*@jeremie0 commented on Jul 19, 2019, 1:56 PM UTC:*

I was fine for a week but last night applying some changes we ran into this again. Here's a debug trace. I was able to terraform apply -target each one individually and it was fine, so maybe something when multiple requests are coming in and how the retries work?

[code]

my provider setup:

[code]

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Jul 19, 2019, 2:20 PM UTC:*

Is that all of the output? It looks like it is retrying but **if** this is all of the output it is definitely not retrying 30 times. Let me run some tests, I can tell you if I can get it to abide your provider config above.

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Jul 19, 2019, 2:23 PM UTC:*

Whoops accidentally closed. Ok, one other questions, is there something else using the rate limits on these endpoints? There are 100 reqs/min available. Two apps should definitely not be using that up!

[2020-03-18 20:54] ghost commented on #35
*@jeremie0 commented on Jul 19, 2019, 3:11 PM UTC:*

We were just adding 2 apps, but there are lots of other users/groups/apps already defined.
As part of the terraform plan/terraform apply/state refresh it looks like there are lots of calls to get the users and groups for each app, each of those are hammering away at the 100 reqs/second limit.

We hit the rate limit a couple times before the outp

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Jul 19, 2019, 3:34 PM UTC:*

Got it, thanks for laying out the details, that does make sense. I will confirm the options are being respected and report back! Perhaps just write a unit test and have Gock return 429s.

[2020-03-18 20:54] ghost commented on #35
*@ryber commented on Oct 11, 2019, 12:53 PM UTC:*

Hi, we are also seeing lots of rate limit alerts on various endpoints. We are managing our entire orgs configuration in a single GitHub repo (because we don't want to distribute keys to lots of teams).

One concerning thing is that I can see alerts on things like /api/v1/{id}/users for applications that are only client_credentials apps and so woul

[2020-03-18 20:54] ghost commented on #35
*@quantumew commented on Oct 11, 2019, 1:03 PM UTC:*

Yea the app resources need a bit of work, that is related to [#248](https://github.com/articulate/terraform-provider-okta/issues/248). At the advent of this provider we naively nested some resources such as app users. We are planning on deprecating those methods of adding users to app and only supporting the separate resource, for example `okta

[2020-03-18 20:56] ghost opened #36 "Is it possible to set Single Logout URL?"
*@mcdir commented on Jul 1, 2019, 9:27 AM UTC:*

**Is your feature request related to a problem? Please describe.**
Setup Single Logout URL via terraform-provider-okta

**Describe the solution you'd like**
Just any kind possibility to setup "Single Logout URL" the same as manual way in the "Edit SAML Integration>Show Advanced Settings"
Enable Single Logout > On,
Single Logout URL
SP Issuer

**Desc

[2020-03-18 20:56] ghost commented on #36
*@quantumew commented on Jul 1, 2019, 2:09 PM UTC:*

Did you try the `sso_url` setting? [https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_idp_saml/basic.tf#L3](https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_idp_saml/basic.tf#L3)

[2020-03-18 20:56] ghost commented on #36
*@mcdir commented on Jul 2, 2019, 7:20 AM UTC:*

Yes I've set this var, but unfortunately `sso_url` is `Single Sign On URL`. I need set `Single Logout URL`

[2020-03-18 20:56] ghost commented on #36
*@quantumew commented on Jul 2, 2019, 10:25 AM UTC:*

Silly me, I thought you were referring to a SAML IdP. Cool, let me get that added to the SAML app schema.

[2020-03-18 20:56] ghost commented on #36
*@quantumew commented on Jul 2, 2019, 10:43 AM UTC:*

Ok dug into this a bit more. Turns out Okta does not expose these settings via the API. I can toggle these settings and the API response does not change and they are undocumented. I will report this to Okta.

[2020-03-18 20:56] ghost commented on #36
*@mcdir commented on Jul 2, 2019, 1:06 PM UTC:*

[quantumew](https://github.com/quantumew) Thank you a lot for your support.

[2020-03-18 20:57] ghost commented on #36
*@asemikov commented on Feb 7, 2020, 1:58 PM UTC:*

[quantumew](https://github.com/quantumew)
Any updates on this? Any possible ways via Terraform or Okta API?

[2020-03-18 20:58] ghost opened #37 "Provide an Option to PGP Encrypt client_secret"
*@ryber commented on Jul 1, 2019, 1:22 PM UTC:*

**Is your feature request related to a problem? Please describe.**
Hi, I've noticed that when creating applications that application secrets are stored in state. It would be nice to have an option where that is not kept but left in Okta.

**Describe the solution you'd like**
Maybe some kind of configuration to not keep secrets in state?

**Describe

[2020-03-18 20:58] ghost commented on #37
*@quantumew commented on Jul 1, 2019, 2:13 PM UTC:*

Have you tried the `omit_secret` setting? This is a unique setting so I should really have a clear example of it.

<div class="border rounded-1 my-2">

<div class="f6 px-3 py-2 lh-condensed border-bottom bg-gray-light">

[terraform-provider-okta/examples/okta_app_oauth/oauth_app_remove_groups_and_users.tf](https://github.com/articulate/terraform

[2020-03-18 20:58] ghost commented on #37
*@ryber commented on Jul 1, 2019, 2:41 PM UTC:*

Oh, yea, that's probably exactly what I want. Let me ask a follow up question. I plan on wiring this all up to our internal GitHub Enterprise and then letting teams do pull requests to create apps and get added to auth server policies. Using this setting (or even in the default behavior), do you have a recommendation on how I would communicate the c

[2020-03-18 20:58] ghost commented on #37
*@quantumew commented on Jul 1, 2019, 2:55 PM UTC:*

Okta's API is limited here. You can only get the `client_secret` on create so you would not be able to use a data source to get it. This really limits your options. Either store it in state or manually intervene.

With that said, I have seen some providers have an option to encrypt secrets so they are not stored in cleartext in TF state (link be

[2020-03-18 20:58] ghost commented on #37
*@ryber commented on Jul 1, 2019, 3:50 PM UTC:*

Yes, thank you very much. This can be closed, or you can keep it open and convert it to a reminder to update your doc maybe? Thanks again!

[2020-03-18 21:02] ghost opened #38 "terraform validate should fail if redirect_uris contains a fragment"
*@jeremie0 commented on Jul 17, 2019, 5:12 PM UTC:*

**Is your feature request related to a problem? Please describe.**
If we configure a okta_app_oauth resource as:

[code]

A terraform validate passes:

[code]

but when we terraform apply we get an error back from Okta:

[code]

**Describe the solution you'd like**
It would be great if `terraform validate` could catch this - not allow a redirect

[2020-03-18 21:02] ghost commented on #38
*@quantumew commented on Jul 17, 2019, 5:21 PM UTC:*

Agree fully that it would be nice! Unfortunately Terraform ties our hands a bit here, since validation functions aren't supported on aggregate types in Terraform (Sets, Lists, and Maps). I will have a look though.

[2020-03-18 21:03] ghost opened #39 "Support for "logo" when building applications"
*@paullschock commented on Jul 23, 2019, 10:07 PM UTC:*

When building applications via terraform, it'd be nice to be able to personalize the application by uploading a custom logo.

From reviewing the API documentation for Okta ([https://developer.okta.com/docs/reference/api/apps/#add-application](https://developer.okta.com/docs/reference/api/apps/#add-application)) this does not yet appear to be

[2020-03-18 21:03] ghost commented on #39
*@quantumew commented on Jul 23, 2019, 10:55 PM UTC:*

I was asked by Okta to supply the deficiencies in Okta's API that is limiting the provider so I will definitely pass this on.

[2020-03-18 21:03] ghost commented on #39
*@fatbasstard commented on Dec 17, 2019, 3:36 PM UTC:*

Hi [quantumew](https://github.com/quantumew),

Do you happen to have an update on this?

[2020-03-18 21:03] ghost commented on #39
*@danielinclouds commented on Feb 24, 2020, 3:10 PM UTC:*

Hi, [quantumew](https://github.com/quantumew) [paullschock](https://github.com/paullschock) do you have any update on this?

[2020-03-18 21:03] ghost commented on #39
*@quantumew commented on Feb 28, 2020, 12:49 AM UTC:*

[fatbasstard](https://github.com/fatbasstard) [danielinclouds](https://github.com/danielinclouds) It is still only on their internal API only. Sorry for the delayed answer. We are close to transferring this over to Okta so hopefully that will create more visibility of limitations such as this.

[2020-03-18 21:03] ghost opened #40 "can't opt-in to group user management when importing a group"
*@joshk0 commented on Jul 24, 2019, 10:26 PM UTC:*

## Expected Behavior

When I import a group, and it contains some users, and my tf wants to manage the users, a plan should show that the group already has users and compare it against the tf list of users.

## Actual Behavior

Until the first apply, or until you adulterate the state to add a non-empty users array, terraform will not show an accu

[2020-03-18 21:03] ghost commented on #40
*@joshk0 commented on Jul 24, 2019, 10:26 PM UTC:*

The proximate cause is probably [this line of code](https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_group.go#L119-L122)

If it could be modified to check and see if we are about to start managing the list of users on the next plan and then sync the group users, that would be great.

[2020-03-18 21:04] ghost commented on #40
*@quantumew commented on Jul 24, 2019, 10:28 PM UTC:*

Ah right, that makes sense. Let me write a test to replicate and get it fixed.

[2020-03-18 21:04] ghost opened #41 "SAML app Requestable SSO URLs"
*@c-knowles commented on Jul 31, 2019, 11:40 AM UTC:*

Is it currently possible to set `Requestable SSO URLs` for SAML app configs? This option is available once `Allow this app to request other SSO URLs` is checked on on the SAML app setup page. I could not see an Okta API option so not sure it's even possible.

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate

[2020-03-18 21:04] ghost commented on #41
*@quantumew commented on Jul 31, 2019, 12:48 PM UTC:*

Unfortunately Okta does not expose this via their API. Opening a feature request with them.

[2020-03-18 21:05] ghost opened #42 "To be able to create users from a file in bulk"
*@msmrnv1 commented on Aug 6, 2019, 3:46 PM UTC:*

I would like to be able to have an option to create users in bulk (e.g. define a list of users in JSON object) and assign them to a specific user group. I did not find any good way to do that using the current resources.
Do you have any recommendation based on the current functionality or that will be a new feature?

*This issue was moved by [noin

[2020-03-18 21:05] ghost commented on #42
*@quantumew commented on Aug 6, 2019, 4:28 PM UTC:*

This would be a new feature. It would be a limited resource. Importing existing resource would be `terraform import okta_user_json_set.my_set {user_id}/{user_id}...`, that would be a bit of a pain but scriptable. You also wouldn't get all of the schema goodness Terraform provides or any of the lifecycle ignore stuff. Maybe a beneficial nonethele

[2020-03-18 21:05] ghost commented on #42
*@msmrnv1 commented on Aug 6, 2019, 6:01 PM UTC:*

That will probably work. My use case is more focused on creating small number of the users with admin roles that can be different depending on environment.
So I would be able to define a variable in dev.mycompany.tfvar file for my dev env (qa env will have qa.mycompany.tfvar) that will have something like this
super_admin_users: "{
"users": [
{
"f

[2020-03-18 21:05] ghost commented on #42
*@quantumew commented on Aug 6, 2019, 6:15 PM UTC:*

Oh I see what you are saying. Cool, that is better than the JSON payload idea, because we get all of the Terraform goodness. I think this might already be possible, I will follow up shortly with an example or I will fail trying and mark this as a new feature.

[2020-03-18 21:05] ghost commented on #42
*@msmrnv1 commented on Aug 6, 2019, 6:19 PM UTC:*

great, thanks!

[2020-03-18 21:05] ghost commented on #42
*@jralmaraz commented on Sep 23, 2019, 7:40 AM UTC:*

That example would be great! Did we have any ? Thanks.

[2020-03-18 21:05] ghost opened #43 "Data source searching with Q"
*@quantumew commented on Aug 6, 2019, 3:58 PM UTC:*

Okta's search API for many resources is not super great. If you have two resources `Thing` and `Thing Thing` both will appear in a search for `?q=Thing`, and you cannot control the order. We can bandage this in the provider by doing some better filtering after making the search requests. We could use a fuzzy algorithm to get the closest match.

[2020-03-18 21:06] ghost opened #44 "Internal Okta API Resources"
*@quantumew commented on Aug 7, 2019, 7:37 PM UTC:*

Can we start to build resources for things that have no public API? In my opinion, we can as long as it we very clearly mark these resources as "contractless" and output a warning message. We should make it clear that Okta reserves the right to change the API without a version increment being that it is leveraging a `/internal` endpoint.

The ot

[2020-03-18 21:06] ghost commented on #44
*@nijave commented on Sep 18, 2019, 12:37 PM UTC:*

What's the auth flow look like on these? I was playing around and it looks like you need a cookie and CSRF token for the internal APIs. I just grabbed them out of the browser but I imagine automating will require a bit more work

[code]

[2020-03-18 21:06] ghost commented on #44
*@quantumew commented on Sep 18, 2019, 7:44 PM UTC:*

[nijave](https://github.com/nijave) unfortunately, I have not explored this at all since opening it. I am still sticking to my old approach, block tickets without APIs and open a feature request with Okta via [https://ideas.okta.com](https://ideas.okta.com). With that said, I sort of assumed this would not be pretty if it was plausible at all.

[2020-03-18 21:06] ghost commented on #44
*@nijave commented on Feb 6, 2020, 5:58 PM UTC:*

I _think_ aws-okta is doing something that might be useful here to create an Okta session by scraping through the normal GUI. See [https://github.com/segmentio/aws-okta/blob/master/lib/okta.go](https://github.com/segmentio/aws-okta/blob/master/lib/okta.go)

[2020-03-18 21:06] ghost commented on #44
*@nijave commented on Feb 11, 2020, 10:10 PM UTC:*

After spending some time setting up directory sync it looks like the internal APIs (or at least some of them are Java Spring SOAP services). I suspect SWSS authorization is referring to Spring Web Security Service

[2020-03-18 21:07] ghost opened #45 "To be able to create tokens under security->API"
*@msmrnv1 commented on Aug 12, 2019, 6:02 PM UTC:*

I would like to be able to create a token that can be used later by an application to call Okta admin APIs. Is there a way to do it today?

End Point: api/internal/tokens?expand=user
Request Param: {"name":"Test Token"}

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#240](https://gith

[2020-03-18 21:07] ghost commented on #45
*@quantumew commented on Aug 12, 2019, 6:17 PM UTC:*

There was a public API for this at one time but it was deprecated. We have recently considered starting to look at internal APIs for resources: [#235](https://github.com/articulate/terraform-provider-okta/issues/235). I fear this endpoint will be difficult to build a resource around. Tokens are tied to user accounts, this endpoint likely requir

[2020-03-18 21:07] ghost commented on #45
*@msmrnv1 commented on Aug 12, 2019, 6:32 PM UTC:*

Ok, appreciated.. OKTA support did mention that they might release a feature to support the service accounts for token generation. I am not sure about the timing of that though.

[2020-03-18 21:07] ghost commented on #45
*@quantumew commented on Aug 12, 2019, 6:34 PM UTC:*

I do remember hearing about that, I will keep that in mind and report back. Thanks for the reminder!

[2020-03-18 21:07] ghost commented on #45
*@jeremie0 commented on Aug 23, 2019, 11:00 AM UTC:*

I bet they are talking about the Oauth 2.0 for Okta APIs feature.

OAuth 2.0 for Okta APIs
Enable scoped OAuth 2.0 tokens for Okta APIs. This will allow administrators to configure specific scoped Okta API access policies for OAuth 2.0 and OIDC applications in an Okta tenant.

This will likely change the whole flow for interacting w/the Okta AP

[2020-03-18 21:07] ghost opened #46 "Nested Resources"
*@quantumew commented on Aug 18, 2019, 10:36 PM UTC:*

At the advent of this project we followed the pattern of nesting resources. For instance, `okta_user` takes resources for the user but also takes `group_memberships`, which is a separate API. In my opinion, this was a mistake, I suggest we deprecate these properties and instead make association resources. This allows for maximal flexibility an

[2020-03-18 21:07] ghost commented on #46
*@williamtheaker commented on Nov 14, 2019, 1:23 AM UTC:*

This would be helpful when combined with `okta_group_roles` so we could use Terraform to define a list of superadmins with already existing users.

[2020-03-18 21:08] ghost commented on #46
*@quantumew commented on Nov 14, 2019, 1:34 AM UTC:*

[williamtheaker](https://github.com/williamtheaker) can you elaborate? I have an idea of how this would work currently but I want to be sure I am on the same page. I am thinking you could use a user(s) data source to list users, push users to `okta_group` via the users attribute, then assign that group the appropriate role(s).

[2020-03-18 21:08] ghost commented on #46
*@williamtheaker commented on Nov 14, 2019, 10:01 PM UTC:*

Ideally I could define Okta user data sources by Okta id, similar to how the [AWS provider handles IAM users](https://www.terraform.io/docs/providers/aws/d/iam_user.html).

I was thinking it would look like this:

[code]

[2020-03-18 21:08] ghost commented on #46
*@quantumew commented on Nov 14, 2019, 10:15 PM UTC:*

I assumed if you had the user id you wouldn't need to look it up. You would just refer to a `local`.

[code]

Regardless, the below should work and I will add a shortcut (ticket below). Thanks for the reminder on the `okta_group_membership` resource. Hadn't opened a ticket for that yet.

[code]

[#335](https://github.com/articulate/terraform-p

[2020-03-18 21:08] ghost commented on #46
*@williamtheaker commented on Nov 19, 2019, 1:02 AM UTC:*

Ah right, using locals didn't cross my mind. For sake of concision, `okta_group_membership` resources should probably accept a list for assigned users:

[code]

[2020-03-18 21:08] ghost commented on #46
*@quantumew commented on Nov 19, 2019, 1:30 AM UTC:*

Hey [williamtheaker](https://github.com/williamtheaker), `okta_group_membership` will always be a one to one but there is potential for another attachment resource there, I suppose, but for now just iterate over your list (syntax is off the top of the old noggin so please validate <g-emoji class="g-emoji" alias="smile" fallback-src="https://git

[2020-03-18 21:08] ghost opened #47 "Update App Examples"
*@quantumew commented on Sep 3, 2019, 12:16 AM UTC:*

Now that we have the `okta_app_user` resource, use that in our application examples. See [#248](https://github.com/articulate/terraform-provider-okta/issues/248), opened this in response to confusion in [#244](https://github.com/articulate/terraform-provider-okta/issues/244).

*This issue was moved by [noinarisak](https://github.com/noinarisak)

[2020-03-18 21:08] ghost opened #48 "Email Template customization"
*@msmrnv1 commented on Sep 27, 2019, 7:29 PM UTC:*

Hi,

I am trying to customize the email templates and I would like to reuse the existing HTML templates that I have. It is a pretty long html text. What would be the best approach to do that?

Also, I would like to customize the sender from. Can this be done thru terraform?

*This issue was moved by [noinarisak](https://github.com/noinarisak) fro

[2020-03-18 21:08] ghost commented on #48
*@quantumew commented on Sep 27, 2019, 7:49 PM UTC:*

Unfortunately, last I checked the sender was set via the customization settings which doesn't have an exposed API. I can verify that though.

As to writing the template in Terraform, I am guessing you are having trouble because we don't do any normalization, which makes the template in TF not very readable since the API likely normalizes it and

[2020-03-18 21:08] ghost commented on #48
*@quantumew commented on Sep 27, 2019, 7:51 PM UTC:*

In the meantime you can use this example to guide you [https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_template_email/basic.tf](https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_template_email/basic.tf). It might require you to write your template in an editor, then normalize it your

[2020-03-18 21:09] ghost commented on #48
*@msmrnv1 commented on Sep 27, 2019, 8:22 PM UTC:*

Yes, you're right on point. Thanks

[2020-03-18 21:09] ghost opened #49 "Terraform Module should pull in nested resource"
*@NeenuAVarghese commented on Sep 27, 2019, 9:41 PM UTC:*

## Actual Behavior

Cannot update `sub` claim in a resource in the Okta Auth server

## Steps to reproduce

Links to the relevant code, snippets

[code]

Apply the above changes and terraform will error out saying that the claim names conflict

# Expected Behavior

Terraform should be able to pull in nested resource of the auth server it c

[2020-03-18 21:09] ghost commented on #49
*@quantumew commented on Sep 27, 2019, 10:03 PM UTC:*

I don't believe the editing of system level claims was ever added to the provider. We will need to get this added!

[2020-03-18 21:09] ghost opened #50 "Cannot update Default Password Policy configuration"
*@NeenuAVarghese commented on Sep 29, 2019, 9:13 PM UTC:*

## Expected Behavior

Should be able to update Default Password Policy configuration

## Steps to Reproduce the Problem

[code]

When doing `terraform plan`, I get that the resource will be updated

[code]

However, when I do a `terraform apply`, I get the following error:

[code]

*This issue was moved by [noinarisak](https://github.com/n

[2020-03-18 21:09] ghost commented on #50
*@quantumew commented on Sep 29, 2019, 9:26 PM UTC:*

Same deal as [#288](https://github.com/articulate/terraform-provider-okta/issues/288), I think this has been silently on the TODO for some time so I am going to use [#290](https://github.com/articulate/terraform-provider-okta/issues/290) to track this work for all resources. Thanks for the report!

[2020-03-18 21:10] ghost opened #51 "Support amending system resources"
*@quantumew commented on Sep 29, 2019, 9:24 PM UTC:*

Several resources don't support amending system "default" resources that get added to the tenant by default. We should either add a new resource or support it in the existing resource. The approach may vary depending on the API restrictions. More specific reports of this issue: [#289](https://github.com/articulate/terraform-provider-okta/issues

[2020-03-18 21:10] ghost opened #52 "SDK"
*@quantumew commented on Sep 30, 2019, 1:43 PM UTC:*

There are 3 SDKs technically used. The old one should go away, and mostly has. The official one is an alias for our fork due to the original being behind for sometime. The internal one because Okta doesn't support all of their endpoints. Here is the consolidation plan. Only use the official one, which is aliased to our Fork. We will move the in

[2020-03-18 21:11] ghost opened #53 "supporting format character restriction in Profile Editor"
*@msmrnv1 commented on Oct 2, 2019, 8:00 PM UTC:*

I cant find a way to specify the pattern for format character restriction when I update a field in Okta schema. I tried to use something like this

resource "okta_user_schema" "schema_login" {
index = "login"
title = "Username"
type = "string"
required = true
min_length = 1
max_length = 50
pattern = "[\^a-zA-Z0-9\\\\\+\@\.\_-]+"
permissions = "REA

[2020-03-18 21:11] ghost commented on #53
*@quantumew commented on Oct 2, 2019, 8:35 PM UTC:*

Thanks for the report. I was unaware this was even possible. Will get that property added this evening. Looks very straight forward.

[2020-03-18 21:11] ghost commented on #53
*@msmrnv1 commented on Oct 3, 2019, 1:40 PM UTC:*

great, thanks

[2020-03-18 21:11] ghost commented on #53
*@msmrnv1 commented on Oct 4, 2019, 12:10 AM UTC:*

I got the latest version, but it is not updating for me. I see see some warming, but I dont think that's a real issue
2019/10/03 20:05:52 [WARN] Provider "okta" produced an unexpected new value for okta_user_base_schema.schema_login, but we are tolerating it because it is using the legacy plugin SDK.
The following problems may be the cause of any

[2020-03-18 21:11] ghost commented on #53
*@quantumew commented on Oct 4, 2019, 12:29 AM UTC:*

[msmrnv1](https://github.com/msmrnv1) sorry about that, my acceptance tests were passing but I am wondering if it was a false positive. I will report back shortly. Will get the min/max lengths added as well.

[2020-03-18 21:11] ghost commented on #53
*@quantumew commented on Oct 4, 2019, 1:07 AM UTC:*

Ignore my previous comment, looks like pattern, max_length, and min_length are all being ignored by the API. Going to work with Okta on this. Reverting my previous PR for now.

[2020-03-18 21:12] ghost opened #54 "Missing Validators"
*@quantumew commented on Oct 18, 2019, 6:43 PM UTC:*

I have noticed a few resources have fields that are restricted in length, for instance, `okta_auth_server` `name` attribute, but we don't validate them. This results in errors when applying from Okta's API. We should vet all of our resources and be sure we have all of the simple validators in place.

*This issue was moved by [noinarisak](https:

[2020-03-18 21:12] ghost opened #55 "Why are policy names ForceNew?"
*@quantumew commented on Oct 18, 2019, 8:28 PM UTC:*

I don't see a reason for policy name attributes to be `ForceNew`. I think this is a remnant of the original iteration of this resource that can be removed.

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#306](https://github.com/articulate/terraform-provider-okta/issues/306).*

[2020-03-18 21:13] ghost opened #56 "New Resource: App Sign On Policy"
*@msmrnv1 commented on Oct 22, 2019, 6:46 PM UTC:*

I can't find a resource to specify the signon policy for the app. Is there such a resource?

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#309](https://github.com/articulate/terraform-provider-okta/issues/309).*

[2020-03-18 21:13] ghost commented on #56
*@quantumew commented on Oct 22, 2019, 6:56 PM UTC:*

You can use `okta_policy_signon` and `okta_policy_rule_signon` for Sign On policies, although I am not sure I 100% follow what you mean by app? Makes me think you have a use case I haven't run into.

[https://github.com/articulate/terraform-provider-okta/tree/master/examples/okta_policy_signon](https://github.com/articulate/terraform-provider-o

[2020-03-18 21:13] ghost commented on #56
*@msmrnv1 commented on Oct 22, 2019, 7:07 PM UTC:*

it is under the application in Sign on Tab

[![image](https://user-images.githubusercontent.com/53347685/67321460-87837580-f4dd-11e9-834a-af6148f56ccd.png)](https://user-images.githubusercontent.com/53347685/67321460-87837580-f4dd-11e9-834a-af6148f56ccd.png)

[![image](https://user-images.githubusercontent.com/53347685/67321527-99fdaf00-f4dd-11e9

[2020-03-18 21:13] ghost commented on #56
*@quantumew commented on Oct 22, 2019, 7:16 PM UTC:*

Right, I forgot about this feature. There is no resource for it, thanks for reporting. We will need to ensure there is an API for it but we can likely reuse a lot of the signon policy stuff we have. Probably similar to the app_user_schema and user_schema relationship.

[2020-03-18 21:13] ghost commented on #56
*@msmrnv1 commented on Oct 23, 2019, 8:13 PM UTC:*

oh, I see.. thanks for an update. It's a definitely a needed resource.

[2020-03-18 21:13] ghost commented on #56
*@jralmaraz commented on Nov 12, 2019, 3:10 AM UTC:*

Quick investigation update:

*   Raised a support ticket and at least so far found they are not supporting it via API :(

*   Some other people already raised the feature requests:

1.  [https://okta.my.salesforce.com/087F0000000BGB5IAO](https://okta.my.salesforce.com/087F0000000BGB5IAO)

2.  [https://ideas.okta.com/app/#/case/111597](https://i

[2020-03-18 21:14] ghost opened #57 "Missing parameter 'Login initiated by'"
*@wiciu125 commented on Oct 28, 2019, 9:39 PM UTC:*

When configuring OAUTH in terraform there is no option to define `Login initiated by` parameter.
After successfully creating application the default option for it is "App only".
As a result, when trying to open page by clicking on application in okta an error 404 appears.
To change it to "Either Okta or App" manual action is required from the ok

[2020-03-18 21:14] ghost commented on #57
*@quantumew commented on Oct 28, 2019, 9:43 PM UTC:*

Thanks for reporting, likely a missing attribute, let me get that added.

[2020-03-18 21:14] ghost commented on #57
*@quantumew commented on Oct 28, 2019, 9:51 PM UTC:*

Arghhhh so frustrating. This is not exposed via the public app api. Rather it is exposed on `/api/v1/internal/apps/<appId>/settings/oidc`. Opening a feature request with Okta.

[2020-03-18 21:14] ghost commented on #57
*@wiciu125 commented on Oct 28, 2019, 9:58 PM UTC:*

Thank you start working on that. Waiting for any update.

[2020-03-18 21:14] ghost commented on #57
*@fatbasstard commented on Dec 17, 2019, 3:36 PM UTC:*

Really missing this option, any update on this [quantumew](https://github.com/quantumew) ?

[2020-03-18 21:14] ghost commented on #57
*@quantumew commented on Dec 18, 2019, 5:17 PM UTC:*

[fatbasstard](https://github.com/fatbasstard) I have never had a feature request accepted let alone completed so likely no update <g-emoji class="g-emoji" alias="laughing" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f606.png">😆</g-emoji>. I will check this evening. I have been planning on shooting my Okta contact s

[2020-03-18 21:15] ghost opened #58 "Okta API Issues"
*@quantumew commented on Nov 4, 2019, 12:42 AM UTC:*

Suddenly our tests are failing and it is for a reason out of our control. I can watch an App get created, return a 200 on the first read, then start 404ing on all subsequent calls, then when I go to debug suddenly the app starts 200ing again. I would guess this is a cache issue on Okta end.

[https://support.okta.com/help/s/case/5001Y00001K9bnE

[2020-03-18 21:15] ghost commented on #58
*@quantumew commented on Nov 4, 2019, 1:05 AM UTC:*

Debug logs showing POST works, GET on app and app groups is OK but app user listing endpoint 404\. I will get a 404 on this endpoint for over a second after getting a 200 on other endpoints. Seems to definitely be a caching bug on Okta's API. Unfortunately, I didn't get milliseconds on my timestamp but I did get the order.

| Method | Endpoint |

[2020-03-18 21:15] ghost commented on #58
*@jpf commented on Nov 4, 2019, 7:13 PM UTC:*

Hey [quantumew](https://github.com/quantumew) - I'm seeing this issue too and am actively looking into it.

[2020-03-18 21:15] ghost commented on #58
*@quantumew commented on Nov 4, 2019, 7:23 PM UTC:*

[jpf](https://github.com/jpf) awesome, really appreciate that! Let me know what you find and if it will require any changes on my end to work around it.

[2020-03-18 21:15] ghost commented on #58
*@jeremie0 commented on Nov 4, 2019, 8:32 PM UTC:*

I'm seeing this too. sometimes it works to delete the newly created app from the UI and then re-create via terraform but that is not consistent.

[2020-03-18 21:15] ghost commented on #58
*@jpf commented on Nov 4, 2019, 8:56 PM UTC:*

Hey [quantumew](https://github.com/quantumew) - I'm able to see errors in the logs, but I'm having trouble replicating the error "by hand" - here's what I'm running:

[code]

[2020-03-18 21:15] ghost commented on #58
*@quantumew commented on Nov 4, 2019, 9:10 PM UTC:*

[jpf](https://github.com/jpf) That is exactly what I used to repro this issue yesterday, it was a toss up whether it would work or not even with a 5 second sleep. Today I am seeing it less. If you remove the sleep and run it a few times it will happen for you. I added the sleep in yesterday to demonstrate that even with a long sleep it would sti

[2020-03-18 21:15] ghost commented on #58
*@quantumew commented on Nov 9, 2019, 3:08 PM UTC:*

Received an update on my case, `Since we have reported this issue to Engineering, the initial investigation revealed a replication issue on our database that caused a delay for the preview cell (OP1) with data replication across the database.`. Some initial testing is showing an improvement. Although I did see this error once in the wild after r

[2020-03-18 21:17] ghost opened #59 "Allow for creation of other app types"
*@mikn commented on Nov 11, 2019, 5:42 AM UTC:*

**Is your feature request related to a problem? Please describe.**
Whilst trying to provision a "Microsoft RDP (MFA)" type application, I find that there is no resource that describes an application that would support those settings.

**Describe the solution you'd like**
I would like to be able to provision app types outside of Bookmark/OAuth/SAML/T

[2020-03-18 21:17] ghost commented on #59
*@quantumew commented on Nov 11, 2019, 1:40 PM UTC:*

Totally agree. The app resources were essentially built around Okta's API docs, which leave out use cases such as these. A custom app resource would cover a lot of use cases, especially given that `app_settings` just expects JSON. We could potentially get rid of the `preconfigured_app=<catalog_app_name>` since most of the unique settings are un

[2020-03-18 21:17] ghost commented on #59
*@mikn commented on Nov 11, 2019, 2:16 PM UTC:*

Okay, I'll see if I can put up a PR by tomorrow <g-emoji class="g-emoji" alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">👍</g-emoji>
Any thoughts on naming? I'll go for `okta_app_custom` until I hear other votes.

[2020-03-18 21:17] ghost commented on #59
*@quantumew commented on Nov 11, 2019, 2:23 PM UTC:*

[mikn](https://github.com/mikn) <g-emoji class="g-emoji" alias="bowing_man" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f647.png">🙇</g-emoji> +1 on the name from me. Part of me wants to name it `okta_app`. It is a generic application resource. Although I think that might confuse people into using that when the more

[2020-03-18 21:17] ghost commented on #59
*@jralmaraz commented on Nov 12, 2019, 2:37 AM UTC:*

Great stuff [mikn](https://github.com/mikn) , will keep an eye on this one (very useful use-case :) )

[2020-03-18 21:17] ghost commented on #59
*@mikn commented on Nov 13, 2019, 3:50 AM UTC:*

Right, I hit a snag with the implementation. The Okta API doesn't actually support creating a `Microsoft RDP (MFA)` application as of now as it seems that the UI flow creates another resource that isn't exposed through the API and links them up (I have an open ticket with Okta support to try to resolve it). I'm thus holding back on the code until I

[2020-03-18 21:18] ghost opened #60 "App Condition for MFA Enrollment Policy"
*@jralmaraz commented on Nov 12, 2019, 5:31 AM UTC:*

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
In an MFA policy we would be able to list which apps it applies for (or all).

**Describe alternatives you've considered**
Extend the schema in the following resource
[https://github.com/articulate/terraform-provider-okta/blob/master/okta

[2020-03-18 21:18] ghost opened #61 "Password policy - allow setting userLockoutNotificationChannels"
*@jeremie0 commented on Nov 12, 2019, 4:11 PM UTC:*

**Is your feature request related to a problem? Please describe.**
The Okta UI allows us to enable "Send lockout email to user".
In the API for password policies, it looks like this is undocumented, but is set via:

[code]

can the terraform provider also let us set this?

**Describe the solution you'd like**
option for `okta_policy_password` to

[2020-03-18 21:18] ghost commented on #61
*@jralmaraz commented on Nov 13, 2019, 8:33 AM UTC:*

The payload to {{url}}/api/v1/policies needs to go like this:

[code]

I wanted to use schema.TypeBool in the schema to allow the suggestion from [jeremie0](https://github.com/jeremie0) to something like "send_lockout_email = true". Due to my coding limitation, I didn't know the best approach to map string{"["EMAIL"]"} to a boolean attribute, s

[2020-03-18 21:18] ghost commented on #61
*@quantumew commented on Nov 14, 2019, 6:18 PM UTC:*

Hey [jralmaraz](https://github.com/jralmaraz) , thanks for taking a look at this! I am personally slightly more partial to this being a `TypeSet` of `TypeString` rather than a boolean that does magic. That way when Okta adds new notification channels, it just works, theoretically. Although I could be persuaded, the boolean is definitely nice an

[2020-03-18 21:18] ghost commented on #61
*@jralmaraz commented on Nov 19, 2019, 12:08 AM UTC:*

Hi [quantumew](https://github.com/quantumew) , sorry, I was offline for 4 days for a trip, will look at your suggestion and put the PR in place as soon as I can, cheers!

[2020-03-18 21:19] ghost commented on #61
*@quantumew commented on Nov 19, 2019, 12:47 AM UTC:*

[jralmaraz](https://github.com/jralmaraz) no worries! Thanks for your contribution!!

[2020-03-18 21:19] ghost commented on #61
*@jralmaraz commented on Nov 19, 2019, 3:54 AM UTC:*

[quantumew](https://github.com/quantumew) as I know there's some work going on to improve/change the SDK's extension, let me know if the PR I added for the Lockout is OK or if that should be changed. Thanks!

[2020-03-18 21:19] ghost opened #62 "Document how to set "key_id" to retrieve pre-existing okta_app_metadata_saml resource"
*@eliezio commented on Nov 15, 2019, 11:54 AM UTC:*

The example at [https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_metadata_saml/datasource.tf](https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_metadata_saml/datasource.tf) shows how to retrieve the metadata of okta_app_metadata_saml created by TF, by reusing output variables '

[2020-03-18 21:19] ghost commented on #62
*@quantumew commented on Nov 15, 2019, 2:03 PM UTC:*

Interesting, Okta documents it as required but it is clearly not. I wonder if it is possible to have multiple "entities" on one app. We could definitely make this an optional arg. Regardless there is a data source for retrieving your `kid`, example below.

[code]

[2020-03-18 21:20] ghost commented on #62
*@eliezio commented on Nov 16, 2019, 12:48 AM UTC:*

You nailed it! Thanks [quantumew](https://github.com/quantumew)

[2020-03-18 21:21] ghost opened #63 "okta_app_secure_password_store does not satisfy okta API schema"
*@the-maldridge commented on Nov 20, 2019, 4:23 AM UTC:*

## Expected Behavior

I expect to be able to manage resources of type okta_app_secure_password_store.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Attempt to manage an app of this type.

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#347](https://github.com/ar

[2020-03-18 21:21] ghost commented on #63
*@quantumew commented on Nov 21, 2019, 12:09 AM UTC:*

[the-maldridge](https://github.com/the-maldridge) Can you share your config with me? I can see that Okta's SDK is missing this property on this app type (link below). I'd like to add a test to our acceptance tests for this scenario.

[https://github.com/okta/okta-sdk-golang/blob/master/okta/securePasswordStoreApplicationSettings.go#L24-L27](ht

[2020-03-18 21:21] ghost commented on #63
*@the-maldridge commented on Nov 21, 2019, 8:54 PM UTC:*

Sure, here's an example app from my terraform project:

[code]

I think this is what you were asking for, but if you need more don't hesitate to ask.

[2020-03-18 21:21] ghost commented on #63
*@quantumew commented on Nov 21, 2019, 10:35 PM UTC:*

[the-maldridge](https://github.com/the-maldridge) Thanks! Opened a PR with this test case but it works in my tenant. I also checked their docs, there is no mention of the `signOn` object on the secure password store app. There is some undocumented behavior happening here that is not happening in my tenant. We may have to chat with Okta on this

[2020-03-18 21:21] ghost commented on #63
*@the-maldridge commented on Nov 21, 2019, 11:24 PM UTC:*

That's spooky, but I wouldn't be surprised if Okta has some kind of undocumented breaking change in a public API. I can provide a terraform debug trace if that would help, but I'd rather not post that to github.

[2020-03-18 21:21] ghost commented on #63
*@quantumew commented on Nov 21, 2019, 11:29 PM UTC:*

[the-maldridge](https://github.com/the-maldridge) I see it occasionally with features that are flipped on for you but not for our test tenant. Apropos the debug log, understandable, a lot to redact in this case. Regardless I don’t think it would help much.

The one thing that would help is if you created one of these apps in your tenant via th

[2020-03-18 21:21] ghost commented on #63
*@the-maldridge commented on Nov 21, 2019, 11:30 PM UTC:*

Sure, I can do that and report back. Do you want it created purely with the API, i.e. I write a shim in Go to drive it, or do you want me to create a new app with terraform and try that?

[2020-03-18 21:21] ghost commented on #63
*@quantumew commented on Nov 21, 2019, 11:34 PM UTC:*

[the-maldridge](https://github.com/the-maldridge) honestly I was thinking of just throwing it in postman/curl and getting it created. Give it an empty signOn object to see if it gives you more details about what settings are missing. See if we can gather what it needs. Worth a try we can open a ticket if we cannot gather any more info.

[2020-03-18 21:21] ghost commented on #63
*@the-maldridge commented on Dec 1, 2019, 6:27 AM UTC:*

Just wanted to comment that I haven't forgotten this one but I'm out at AWS re:invent this week so I don't think I'll have time to run the test.

[2020-03-18 21:21] ghost commented on #63
*@the-maldridge commented on Dec 17, 2019, 6:51 PM UTC:*

Time has gotten away from me. [cpiwarski](https://github.com/cpiwarski) is going to handle followup here on my behalf.

[2020-03-18 21:21] ghost commented on #63
*@cpiwarski commented on Dec 17, 2019, 10:17 PM UTC:*

Hello [quantumew](https://github.com/quantumew), using curl I was able to make a SWA app. I then removed the signOn object and was left with a generic error: "The settings.signOn object doesn't match the type indicated by signOnMode value or is ill defined"

[2020-03-18 21:21] ghost opened #64 "Unable to retrieve policy of type OAUTH_AUTHORIZATION_POLICY using okta_policy datasource"
*@jimmy-dg commented on Nov 21, 2019, 1:06 PM UTC:*

## Expected Behavior

The following data source should return the default OAuth policy

[code]

[code]

## Actual Behavior

The following errors are returned when applying terraform

## Steps to Reproduce the Problem

Environment:

*   MacOS 10.15.1
*   Docker 2.1.0.3
*   terraform-provider-okta 3.0.28

1.  Create tf file containing the above da

[2020-03-18 21:21] ghost commented on #63
*@quantumew commented on Dec 18, 2019, 5:18 PM UTC:*

hah that doesn't help much Okta! What happens with an empty `signOn` object [cpiwarski](https://github.com/cpiwarski)? Does it give you any specific attributes that are missing?

[2020-03-18 21:21] ghost commented on #64
*@quantumew commented on Nov 21, 2019, 10:14 PM UTC:*

Interesting, appears that Okta doesn't allow you to get OAuth policies that way. I ran into this and failed to open a ticket a while back. We will have to create a specific data source for it or at least awareness in this resource to hit the right endpoint.

*   Hit `/authorizationServers/:id/policies` endpoint with this policy type
*   Potent

[2020-03-18 21:22] ghost commented on #63
*@cpiwarski commented on Dec 18, 2019, 5:42 PM UTC:*

[quantumew](https://github.com/quantumew) Currently the default postman template for adding an swa app with secure password store runs just fine, and it does not pass in a signOn object, so I chop that up to a mistake with my curl command. Sorry about that.

[2020-03-18 21:23] ghost opened #65 "Missing attribute to create group claims for Okta-Mastered groups"
*@kevin-chiu-dragon commented on Nov 22, 2019, 9:48 AM UTC:*

According to [Create a Groups Claim for Okta-Mastered Groups](https://developer.okta.com/docs/guides/create-token-with-groups-claim/create-groups-claim/#create-a-groups-claim-for-okta-mastered-groups), ones should be able to create a groups claim on an OIDC client application.

The corresponding config is not in [okta_app_oauth](https:/

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 25, 2019, 1:01 AM UTC:*

Hi [kevin-chiu-dragon](https://github.com/kevin-chiu-dragon), can you try something similar as the below resource ? Is that something similar to what you are looking for ?

resource "okta_auth_server_claim" "Views" {
auth_server_id = "${okta_auth_server.Member_Portal.id}"
name = "Experience"
status = "ACTIVE"
claim_type = "RESOURCE"
value_type

[2020-03-18 21:23] ghost commented on #65
*@kevin-chiu-dragon commented on Nov 25, 2019, 2:30 AM UTC:*

Hi [jralmaraz](https://github.com/jralmaraz) , thanks for the suggestion, yes we've tried the above with dev okta account and it works. But since it needs additional licensing and the OIDC client application groups claims can serve our needs, so we are trying to use the later.

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 25, 2019, 4:22 AM UTC:*

Nice, thanks for confirming that [kevin-chiu-dragon](https://github.com/kevin-chiu-dragon).

I could see any that profile is available in the resource: [https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_oauth.go](https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_oauth

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 25, 2019, 4:44 AM UTC:*

[<tt>d6ef132</tt>#diff-2bf37877a9890a57960ab5fb1558261a](https://github.com/articulate/terraform-provider-okta/commit/d6ef132faf7a31bc56e9e58e1c8ef12d444727b0#diff-2bf37877a9890a57960ab5fb1558261a)

[https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_oauth/group_for_groups_claim.tf](https://github.com/articulate

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 25, 2019, 4:53 AM UTC:*

The profile details are though correctly set and returned when doing a GET apps:

{{url}}/api/v1/apps/0oa1xo30chxtUVbQ4357

[![image](https://user-images.githubusercontent.com/13877691/69513338-9ad1a700-0f9b-11ea-9c59-d864090c317d.png)](https://user-images.githubusercontent.com/13877691/69513338-9ad1a700-0f9b-11ea-9c59-d864090c317d.png)

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 25, 2019, 4:53 AM UTC:*

Can you test retrieving the actual token flows to see if the group will be seen ?

[2020-03-18 21:23] ghost commented on #65
*@kevin-chiu-dragon commented on Nov 25, 2019, 5:42 AM UTC:*

Yes, it's the OpenID Connect ID Token setting. While instead of group whitelist, we need to create a groups claim:

[![image](https://user-images.githubusercontent.com/53592724/69515319-2c83e900-0f89-11ea-90f3-76e02a0dc727.png)](https://user-images.githubusercontent.com/53592724/69515319-2c83e900-0f89-11ea-90f3-76e02a0dc727.png)

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 26, 2019, 12:18 AM UTC:*

[quantumew](https://github.com/quantumew) do you think this call is only internal and we might need to reach to Okta ?

Let me know what would be the next step, happy to chase.

Cheers.

Request Method: POST

Request URL: [https://instance.okta.com/api/v1/internal/apps/0oa6o6isarIXUX8hQ3l5/settings/oauth/idToken?issuerHint=true](https://instan

[2020-03-18 21:23] ghost opened #66 "Imported okta_group always ignores users"
*@alkar commented on Nov 25, 2019, 3:25 PM UTC:*

Using v3.0.38.

Given the following configuration:

[code]

If applied and the group is managed via terraform, it looks like changes produces the expected plans, even when users are manually added outside of terraform.

However, if I _import_ this resource, instead of creating it with terraform (and the user is manually added in it):

*   without a

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 26, 2019, 3:49 AM UTC:*

This was the response I got from Support, so, it cannot be done through the public API yet :(

[2020-03-18 21:23] ghost commented on #65
*@kevin-chiu-dragon commented on Nov 26, 2019, 5:40 AM UTC:*

[jralmaraz](https://github.com/jralmaraz) thanks for the investigation and update! Looks like we need to stick with manual steps for the time being.

[2020-03-18 21:23] ghost commented on #65
*@jralmaraz commented on Nov 26, 2019, 6:34 AM UTC:*

No problem, I have also raised a feature request for this so we can at least chase and follow it up:

[https://ideas.okta.com/app/#/case/113869](https://ideas.okta.com/app/#/case/113869)

[2020-03-18 21:23] ghost commented on #65
*@shaoliang-jia-dragon commented on Jan 9, 2020, 10:48 AM UTC:*

Any update on this issue?

[2020-03-18 21:24] ghost opened #67 "New resource for user types"
*@jralmaraz commented on Nov 26, 2019, 4:52 AM UTC:*

**Is your feature request related to a problem? Please describe.**
User types enables enhanced user segmentation within a single organization. Each type of user can have fully customizable user schema, application assignments, and application mappings.

**Describe the solution you'd like**
A new resource to define new user types.

**Describe al

[2020-03-18 21:24] ghost commented on #67
*@jralmaraz commented on Nov 26, 2019, 5:12 AM UTC:*

Wondering if it would be better to extend the current SDK and API supplement/extension.

[2020-03-18 21:24] ghost opened #68 "okta_app_saml resource will delete any group assignments created by okta_app_group_assignment"
*@ryno75 commented on Nov 27, 2019, 8:13 PM UTC:*

## Expected Behavior

1.  Create an AWS SAML application using `okta_app_saml` resource from module1
2.  Add AD to IAM group/role mappings to the SAML application using the `okta_app_group_assignment` resource in module2 (a 2nd module is required because there are manual steps required to add AWS Access Keys to Okta, Configure IAM SAML IDP & roles

[2020-03-18 21:24] ghost commented on #68
*@ryno75 commented on Nov 27, 2019, 8:18 PM UTC:*

What's strange to me is that `okta_app_saml` is even trying to manage `groups` since it no longer has any notion of that property in the resource code.

[2020-03-18 21:24] ghost commented on #68
*@quantumew commented on Nov 27, 2019, 8:27 PM UTC:*

[ryno75](https://github.com/ryno75) I think you are running into [#322](https://github.com/articulate/terraform-provider-okta/issues/322). i.e. the legacy way of managing groups needs to be lifecycle ignored until the work to deprecate this is done [#248](https://github.com/articulate/terraform-provider-okta/issues/248). See example here: [http

[2020-03-18 21:24] ghost commented on #68
*@ryno75 commented on Nov 27, 2019, 8:31 PM UTC:*

Ah, see this is what I get for only searching "open" issues. dangit!
Thanks for the quick reply on the workaround!
implementing this now...

[code]

[2020-03-18 21:26] ghost opened #69 "Add support for creating 'Okta API scopes'"
*@rachrdfds commented on Dec 2, 2019, 3:01 PM UTC:*

**Is your feature request related to a problem? Please describe.**
When creating an application that is to be used to create and maintain other Okta applications etc. in Okta, some Okta API scopes must be enabled/granted on the application.

Currently I can create the application using Terraform but the I ahve to set the Okta API scopes manually

[2020-03-18 21:26] ghost commented on #69
*@quantumew commented on Dec 2, 2019, 5:16 PM UTC:*

We will investigate this one. Often Okta only exposes features like this on their internal API which is subject to change and generally doesn't accept API token auth. If this is the case, we will open a feature request and wait for an endpoint to get publicly released.

[2020-03-18 21:26] ghost commented on #69
*@rachrdfds commented on Dec 4, 2019, 12:33 PM UTC:*

Okta feature request for exposing Okta API scopes created: [https://ideas.okta.com/app/#/case/114235](https://ideas.okta.com/app/#/case/114235)

[2020-03-18 21:26] ghost commented on #69
*@mbudnek commented on Mar 5, 2020, 5:32 PM UTC:*

To update, the API for this is currently available in early access: [https://developer.okta.com/docs/reference/api/apps/#application-oauth-2-0-scope-consent-grant-operations](https://developer.okta.com/docs/reference/api/apps/#application-oauth-2-0-scope-consent-grant-operations)

OAuth authorization for Okta APIs went GA in their preview environm

[2020-03-18 21:27] ghost opened #70 "Sometimes 'produced an unexpected new value occurs' when creating lots of new objects"
*@rachrdfds commented on Dec 4, 2019, 1:00 PM UTC:*

## Expected Behavior

Creation of ne Okta objects without any issues

## Actual Behavior

Sometimes when I destroy and try to recreate new objects in Okta, I get a 'provider "okta" produced an unexpected new value for was present, but now absent error'.

See the first video, where you see:

*   destoy all Terraform managed objects in Okta
*   ap

[2020-03-18 21:27] ghost commented on #70
*@noinarisak commented on Dec 4, 2019, 8:43 PM UTC:*

Hi [rachrdfds](https://github.com/rachrdfds). Just taking a stab at this.

Is this happening every time? Could you supply an example of your terraform script that is causing this? A trace log with `TF_LOG=TRACE` would also be helpful to see if it is bug. More details on [TF_LOG](https://www.terraform.io/docs/internals/debugging.html).

[2020-03-18 21:27] ghost commented on #70
*@rachrdfds commented on Dec 5, 2019, 8:29 AM UTC:*

Actually, it used to only happen sometimes, but now I have just applied and destructed five times and none succeeded.

I have attached a zip with three traces.

*   trace with one inconsistency error
*   trace with one inconsistency error and then a successfull reapply
*   trace with two inconsistency errors

It is the same configuration that is

[2020-03-18 21:27] ghost commented on #70
*@noinarisak commented on Dec 12, 2019, 9:48 PM UTC:*

Hi [rachrdfds](https://github.com/rachrdfds).

Just getting back to your issue. After reviewing your logs. Thanks by the way!

I seen something similar to this when I was working on `okta_app_user_schema` where I was also getting the `Provider produced inconsistent result after apply` error message. In my case, I was creating multiple app_user

[2020-03-18 21:27] ghost commented on #70
*@rachrdfds commented on Dec 13, 2019, 9:27 AM UTC:*

Hi [noinarisak](https://github.com/noinarisak).

Thanks for your feedback. I like parallelism, so I have implemented the depends_on method and it works like charm :-)

Now I'm using this (depends_on) on other resources too as it makes the configuration/execution more robust.

If this is a general 'issue' regarding trying to create too many obje

[2020-03-18 21:27] ghost commented on #70
*@noinarisak commented on Jan 8, 2020, 7:59 PM UTC:*

Hi [rachrdfds](https://github.com/rachrdfds) and Happy New Year!

Glad that worked out for you!

Maybe [quantumew](https://github.com/quantumew) would consider verbiage (ie. Warning: section) on the publish documentation at [https://www.terraform.io/docs/providers/okta/d/user.html](https://www.terraform.io/docs/providers/okta/d/user.html) so th

[2020-03-18 21:28] ghost opened #71 "Inconsistent handling of group assignments for application"
*@rachrdfds commented on Dec 4, 2019, 1:52 PM UTC:*

## Expected Behavior

Group assigned on applications stays assigned.

## Actual Behavior

If I create all the Okta objects using Terraform including group assignments (okta_app_group_assignment) then the there are issue regarding keeping the groups assigned to an application. It keeps wanting to assign the group, but it never really gets assigne

[2020-03-18 21:28] ghost commented on #71
*@quantumew commented on Dec 4, 2019, 1:58 PM UTC:*

Can you confirm you are not running into [#359](https://github.com/articulate/terraform-provider-okta/issues/359)? Still have an open PR with Hashicorp to get the docs updated. On hold currently.

[2020-03-18 21:28] ghost commented on #71
*@rachrdfds commented on Dec 4, 2019, 2:08 PM UTC:*

If this ([https://www.terraform.io/docs/providers/okta/r/app_saml.html](https://www.terraform.io/docs/providers/okta/r/app_saml.html)) is what you mean, then I can confirm that okta_app_saml is not being used at all.

I haven't implemented this yet, is that the current workaround to use?
`lifecycle { ignore_changes = ["users", "groups"] }`
It lo

[2020-03-18 21:28] ghost commented on #71
*@quantumew commented on Dec 4, 2019, 2:11 PM UTC:*

[rachrdfds](https://github.com/rachrdfds) Yea not app specific, this applies to all apps. The `users` and `groups` attributes will be deprecated, once someone gets around to [#248](https://github.com/articulate/terraform-provider-okta/issues/248), so I would recommend the approach you are using + the lifecycle ignore.

[2020-03-18 21:28] ghost commented on #71
*@rachrdfds commented on Dec 4, 2019, 2:13 PM UTC:*

Cool thanks, I will do that.
Keep up the good work, it is really appreciated :-)

[2020-03-18 21:28] ghost commented on #71
*@rachrdfds commented on Dec 4, 2019, 2:28 PM UTC:*

Using the lifecycle-method helps regarding the group assignments, but I still see consistent 'mishandling'/interpretation of priority of group assignments (and Auth server):
[![image](https://user-images.githubusercontent.com/57186882/70150365-3228af80-16aa-11ea-8f47-e9aae975268a.png)](https://user-images.githubusercontent.com/57186882/70150365-

[2020-03-18 21:28] ghost commented on #71
*@rachrdfds commented on Dec 4, 2019, 2:29 PM UTC:*

hmmm, but that can't be done :-(
[![image](https://user-images.githubusercontent.com/57186882/70150747-c85cd580-16aa-11ea-851c-6fad0120da8a.png)](https://user-images.githubusercontent.com/57186882/70150747-c85cd580-16aa-11ea-851c-6fad0120da8a.png)

[2020-03-18 21:28] ghost commented on #71
*@quantumew commented on Dec 4, 2019, 2:38 PM UTC:*

It looks like you are ignoring changes to `priority` on the wrong resource. For the priority on `okta_app_group_assignment`, you can remove it from your config, Okta's API appears to be ignoring your value. As for the auth server policy priority, Okta is pretty fast and loose with these, for instance, if you send it `1` and it cannot move it to

[2020-03-18 21:28] ghost commented on #71
*@rachrdfds commented on Dec 4, 2019, 2:46 PM UTC:*

I actually don't have priority on okta_app_group_assignment:
[![image](https://user-images.githubusercontent.com/57186882/70151913-8af94780-16ac-11ea-8736-0dc00a0a4087.png)](https://user-images.githubusercontent.com/57186882/70151913-8af94780-16ac-11ea-8736-0dc00a0a4087.png)

I can try to set it explicit and see if that helps.

Regarding auth se

[2020-03-18 21:28] ghost commented on #71
*@quantumew commented on Dec 4, 2019, 2:49 PM UTC:*

Yea for some reason it appears Okta is updating it to 2 thus the perpetual diff on the auth server policy. Ah I see, I bet Okta is defaulting the group membership priority to 1\. The provider should do the same.

[https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_group_assignment.go#L57-L60](https://github.

[2020-03-18 21:28] ghost commented on #71
*@rachrdfds commented on Dec 4, 2019, 3:01 PM UTC:*

Inserting the ignore of priority for group assignments 'removes' the changes regarding those:
[![image](https://user-images.githubusercontent.com/57186882/70153367-1d024f80-16af-11ea-80c2-3ed3b0033f34.png)](https://user-images.githubusercontent.com/57186882/70153367-1d024f80-16af-11ea-80c2-3ed3b0033f34.png)

I still don't understand why in the f

[2020-03-18 21:29] ghost commented on #71
*@quantumew commented on Dec 4, 2019, 3:03 PM UTC:*

Yea this would be Okta's API doing making some dynamic changes. There are various reasons for this. For instance, two policies both with overlapping priorities, one will get dynamically dropped down by Okta. The other one, is Okta adding a default the provider isn't assigning but should! Thanks!

[2020-03-18 21:29] ghost opened #72 "Add IdP metadata URL attribute to okta_app_saml resource"
*@ivan-sukhomlyn commented on Dec 5, 2019, 2:26 PM UTC:*

**Is your feature request related to a problem? Please describe.**

Currently, the **okta_app_saml** Terraform resource has a `metadata` output attribute but doesn't have an attribute related to Identity provider metadata URL that can be useful for applications that support dynamic SAML configuration.
[![Screenshot 2019-12-05 at 4 21 47 PM]

[2020-03-18 21:29] ghost commented on #72
*@quantumew commented on Dec 5, 2019, 2:29 PM UTC:*

Hey [ivan-sukhomlyn](https://github.com/ivan-sukhomlyn), we could definitely add the link to the attrs. Just an FYI there is a metadata data source for SAML apps in case that is helpful.

[2020-03-18 21:29] ghost commented on #72
*@ivan-sukhomlyn commented on Dec 5, 2019, 2:37 PM UTC:*

Hello [quantumew](https://github.com/quantumew)
Yes, I know. Thanks!
But I saw SAML feature realization at some applications where only dynamic configuration supports and the metadata URL is required.

[2020-03-18 21:29] ghost opened #73 "okta_app_saml has a default set for key_years_valid"
*@AClarkie commented on Dec 8, 2019, 9:00 PM UTC:*

I'm confused why the key_years_valid parameter has a default in the terraform but when created via the UI does not have a default set:
[https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_saml.go](https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_saml.go)

Steps to reprod

[2020-03-18 21:29] ghost commented on #73
*@quantumew commented on Dec 8, 2019, 9:24 PM UTC:*

Yea, that seems wrong. Should be an easy fix. Thanks for calling it out.

[2020-03-18 21:30] ghost commented on #73
*@jralmaraz commented on Dec 9, 2019, 12:51 AM UTC:*

Hi [quantumew](https://github.com/quantumew) , should we just remove the default in this case ?

Cheers.

[2020-03-18 21:30] ghost commented on #73
*@quantumew commented on Dec 9, 2019, 12:53 AM UTC:*

[jralmaraz](https://github.com/jralmaraz) likely, I would also be interested to know the effect on the config if someone created a SAML app with an old version of the provider and updated. I would want to make sure there wasn’t an adverse effect that would require attention.

[2020-03-18 21:30] ghost opened #74 "Ability to assign specific group targets to a user assigned USER_ADMIN admin role."
*@anyeone commented on Dec 9, 2019, 2:39 PM UTC:*

**Is your feature request related to a problem? Please describe.**
I am trying to create a service account that has USER_ADMIN role only for the groups I have created for the app I am creating through the script (not all groups in my instance).

This is supported via Okta API: [https://developer.okta.com/docs/reference/api/roles/#group-administrat

[2020-03-18 21:30] ghost commented on #74
*@tgoodsell-tempus commented on Dec 15, 2019, 9:54 PM UTC:*

I think based on the API your 3rd option would be best, though I suppose due to TF provider methods doing a for loop on the list of roles; the API itself has a 1 to 1 mapping for groups/users to admin roles with unique id for each assignment; then maybe a good compromise would be optional attributes in the schema for each role type which

[2020-03-18 21:30] ghost commented on #74
*@mikemcowie commented on Feb 13, 2020, 12:51 AM UTC:*

Definitely want to have, as looking at automating some implementation of okta, and this would be a requirement to be able to use terraform to do so...

[2020-03-18 21:30] ghost commented on #74
*@chriskolenko commented on Mar 10, 2020, 10:23 PM UTC:*

+1

[2020-03-18 21:30] ghost commented on #74
*@tgoodsell-tempus commented on Mar 10, 2020, 10:25 PM UTC:*

Hey Y'all, please see [terraform-providers/terraform-provider-okta#13](https://github.com/terraform-providers/terraform-provider-okta/issues/13) since the provider has moved there.

[2020-03-18 21:31] ghost opened #75 "auth_server_policy_rule - refresh_token_window_minutes enforced minimum of 10 is incorrect"
*@AClarkie commented on Dec 16, 2019, 1:31 PM UTC:*

The refresh_token_window_minutes is enforced at between 10 minutes and 5 years, however if I set it via the OKTA UI I can specify down to 5 minutes. Please can this limit be updated in the terraform module as we desire 5 minutes.

Link:
[https://www.terraform.io/docs/providers/okta/r/auth_server_policy_rule.html#refresh_token_window_minutes-quot

[2020-03-18 21:31] ghost opened #76 "okta_user firstname and lastname are required but don't have to be"
*@AClarkie commented on Dec 16, 2019, 6:51 PM UTC:*

Why are these properties required in the terraform module but can be set to not required in the OKTA tenant. Surely allow empty fields to be passed and then rejected by the OKTA API if they're not set and are required to be so?

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#368](htt

[2020-03-18 21:31] ghost commented on #76
*@quantumew commented on Dec 18, 2019, 5:21 PM UTC:*

Indeed, this is a bug. Should be optional.

[2020-03-18 21:32] ghost opened #77 "okta_user_profile_mapping_source Errors out"
*@mrvtoney commented on Jan 9, 2020, 8:57 PM UTC:*

## Expected Behavior

Should return the id of the profile mappings

## Actual Behavior

Links to the relevant code, snippets
When running the terraform script the following error is returned during "terraform plan"
`Error: Error refreshing state: 1 error(s) occurred:

*   module.okta.data.okta_user_profile_mapping_source.user: 1 error(s) occurred

[2020-03-18 21:32] ghost commented on #77
*@chriskolenko commented on Mar 12, 2020, 4:58 AM UTC:*

I'm having the same issue.

[2020-03-18 21:33] ghost opened #78 "Support for behavior attribute in MFA sign on policy"
*@msmrnv1 commented on Jan 13, 2020, 2:03 AM UTC:*

**Is your feature request related to a problem? Please describe.**
I would like to be able to specify the behavior attribute when in okta_policy_rule_mfa resource. That will allow to support adaptive MFA policies.

**Describe the solution you'd like**
Add an attribute on okta_policy_rule_mfa resource that can be used to specify the behaviors (e.g

[2020-03-18 21:33] ghost opened #79 "Error while creating custom user schema"
*@asiyani commented on Jan 13, 2020, 4:01 PM UTC:*

## Expected Behavior

`okta_app_user_schema` can be use to create/add custom user schema for any provisioned enabled app

[code]

## Actual Behavior

when using `okta_app_user_schema` as shown above to create `externalIdsOrganizationValue` in `Gsuite` I am getting following error..

[code]

## Steps to Reproduce the Problem

Environment, commands

[2020-03-18 21:33] ghost commented on #79
*@quantumew commented on Jan 23, 2020, 11:15 PM UTC:*

Sorry for the delay. I am assuming Okta's API is breaking its contract here. Or if not breaking it, it is returning something we haven't accounted for, thus the marshalling error. Let me see why and get that accounted for in the response payload for this endpoint.

[2020-03-18 21:34] ghost opened #80 "actions not suported on okta_group_rule?"
*@zpol commented on Jan 24, 2020, 2:25 PM UTC:*

I was trying to create a set of rules in Okta, but I got stucked when I realized that there's no support for actions method for okta_group_rule resource.

Doc link: [https://www.terraform.io/docs/providers/okta/r/group_rule.html](https://www.terraform.io/docs/providers/okta/r/group_rule.html)

There's a roadmap to include actions on `okta_group_rule

[2020-03-18 21:34] ghost commented on #80
*@tgoodsell-tempus commented on Feb 5, 2020, 4:43 AM UTC:*

Hey Zpol,

Do you mind getting more into the specifics of what you mean by the group rule actions, any specific examples?

As far as I can tell the current resource supports everything the API does, see these docs:
[https://developer.okta.com/docs/reference/api/groups/#group-rule-operations](https://developer.okta.com/docs/reference/api/g

[2020-03-18 21:35] ghost opened #81 "default_relay_state is not assigning for okta_app_saml first run"
*@jujjavarapu commented on Jan 27, 2020, 3:21 PM UTC:*

## Expected Behavior

default_relay_state value should be assigned for okta_app_saml resource when terraform apply executes first time

## Actual Behavior

Links to the relevant code, snippets
default_relay_state value is not assigning to the okta_app_saml resource when it runs first time. if we re-run the terraform apply seocond time, it wor

[2020-03-18 21:36] ghost opened #82 "403 Error in Idp-initiated login with 'okta_app_oauth'"
*@shaoliang-jia-dragon commented on Jan 29, 2020, 10:06 AM UTC:*

## Expected Behavior

User can login through okta.com by Idp-initiated login.

## Actual Behavior

User get 403 "Access Forbidden" error when accessing the app from okta.com
[https://www.terraform.io/docs/providers/okta/r/app_oauth.html](https://www.terraform.io/docs/providers/okta/r/app_oauth.html)

## Steps to Reproduce the Proble

[2020-03-18 21:36] ghost opened #83 "Okta Email not a supported okta_factor resource"
*@auzroz commented on Feb 21, 2020, 12:51 AM UTC:*

## Expected Behavior

okta_factor = okta_email is unrecognized by terraform

## Actual Behavior

Receive an error indicating the provider_id by one of an array, but okta_email is not listed.

## Steps to Reproduce the Problem

Environment, commands

resource okta_factor okta_email {
provider_id = "okta_email"
}

1.  terraform validate

## Additio

[2020-03-18 21:38] ghost opened #84 "okta_policy_password resource requires multiple runs to change recovery_email_token"
*@davidmortiz commented on Feb 21, 2020, 12:51 PM UTC:*

## Expected Behavior

Let's say that I have an existing password policy

[code]

And I update the recovery_email_token value

[code]

I expect to take effect after a single Terraform run

## Actual Behavior

What actually happens is that it requires multiple runs for the setting to take effect. After the first run, I've noticed that the chan

[2020-03-18 21:38] ghost opened #85 "Cyclic dependency in SAML federation flow"
*@LouisAmon commented on Feb 22, 2020, 11:59 AM UTC:*

When you perform SAML federation with [for example AWS](https://saml-doc.okta.com/SAML_Docs/How-to-Configure-SAML-2.0-for-Amazon-Web-Service.html#scenarioA), you need to perform 3 steps:

1.  Create Okta app in SAML mode, which gives you metadata
2.  Create an IdentityProvider in the service that you're federating, using the metadata as input

[2020-03-18 21:42] ghost opened #86 "Support for user to enroll, Activate and reset factors"
*@patluri43 commented on Feb 26, 2020, 6:03 PM UTC:*

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

User created using terraform and enroll in factors like call, SMS and security question, Activate the factors and reset factors.

**Describe the solution you'd like**
A clear and concis

[2020-03-18 21:42] ghost opened #87 "Support OAuth Authorization for Okta APIs"
*@mbudnek commented on Mar 5, 2020, 5:29 PM UTC:*

OAuth authorization for Okta APIs went GA in their latest preview release, which means it will likely be going GA in production very soon.

It would be really nice to have support for using the OAuth Client Credentials grant with this terraform provider. That would eliminate the need to have an admin user account for terraform to act as and allow

[2020-03-18 21:43] ghost opened #88 "okta splunk integration"
*@piotr-jablonski-dragon commented on Mar 9, 2020, 1:47 PM UTC:*

**Is your feature request related to a problem? Please describe.**
I'm following this instruction:
[https://www.splunk.com/en_us/blog/cloud/configuring-okta-saml-single-sign-on-with-splunk-cloud-using-the-okta-splunk-cloud-app.html](https://www.splunk.com/en_us/blog/cloud/configuring-okta-saml-single-sign-on-with-splunk-cloud-using-

[2020-03-18 21:43] ghost opened #89 "cannot find login_initiated_by anywhere in okta_app_oauth"
*@chlsmith commented on Mar 13, 2020, 7:07 PM UTC:*

Looking to set an oauth app up for both Okta and App initiated logons. It's a dropdown on the Okta UI, but I cannot find it anywhere in the provider.

login_initiated_by = "APP" or "OKTA_OR_APP"

It's definitely part of their API, as can be seen from this tracing when you post the change on their UI:
[![image](https://user-images.githubuserconte

[2020-03-18 21:47] ghost opened #90 "Integrating AWS or Google app"
*@webhull commented on Dec 11, 2018, 11:56 AM UTC:*

Hello,

Could you please provide more information about which resource needs to be used to integrate aws or google ? I went through the saml_app_test, but there seems to be a little bit info about this. Thanks in advance

*This issue was moved by [noinarisak](https://github.com/noinarisak) from [articulate/terraform-provider-okta#92](https://git

[2020-03-18 21:47] ghost commented on #90
*@quantumew commented on Dec 11, 2018, 2:02 PM UTC:*

You bet. I will add a better example today. One thing to note with AWS is they don't have a way to configure API integration via their API so there are some pieces that are still manual. I am waiting to hear when they are going to add that.

[2020-03-18 21:47] ghost commented on #90
*@webhull commented on Dec 11, 2018, 2:18 PM UTC:*

Thanks. I will be glad to see the better example described, because at the moment it is not understandable.

[2020-03-18 21:47] ghost commented on #90
*@ahsanali commented on Jan 31, 2020, 1:44 PM UTC:*

Can we have this please ? :)

[2020-03-20 14:47] tecnobrat opened #91 "Manage custom domain settings."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-23 16:58] daniel-munch-cko opened #92 "Create a `okta_inline_hook` data source."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-24 13:03] daniel-munch-cko commented on #92
Turns out it's indeed me being a Terraform newbie. The above situation is easily solved by referencing the resource itself instead the data source.

[code]

I'm closing the issue, as even if an `okta_inline_hook` data source might be interesting, I think there should be a good use-case for it - Mine isn't one.

[2020-03-24 13:03] #92 closed, assigned to nobody

[2020-03-25 09:21] andymarch opened #93 "Optimize app retrieval by ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-25 18:42] Indigenuity commented on #71
The issue of `priority = x -> null` still persists.  I'm happy to make a separate issue or participate in another thread of there is one already created.

I'm also happy to take a stab at it myself if someone could point me in the right direction.

[2020-03-25 18:46] dunindd opened #94 "okta_group_rule and okta_group.users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-26 17:20] PurrBiscuit opened #95 "Infinite loop on okta_app data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-26 17:30] quantumew commented on #95
@noinarisak Noticed this one came across. Can you mark this as a bug? This will be a pretty nasty one, yet an easy one to fix. I am guessing something changed on Okta's API, this has been in place for a while. Here is the code that figures out how to go to the next page: https://github.com/terraform-providers/terraform-provider-okta/blob/71e363be2678f66f999699351f57a98350e52ddb/sdk/api_supplement.

[2020-03-26 18:30] quantumew commented on #95
Set aside a little time later today. Going to tackle this one. Feel free to assign to me @noinarisak

[2020-03-26 23:11] PurrBiscuit opened #96 "Add support for external_namespace to okta_app_user_schema resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-03-27 14:25] noinarisak commented on #95
@quantumew issue assigned.

Just a heads up, the Okta DevEx team plans to release a updated okta-sdk-golang in early April. We should start to talk about the new update.

[2020-03-27 23:34] noinarisak commented on #91
Hi @tecnobrat, thanks for submitting an Issue. Unfortunately, this provider cannot manage your feature request if there is no API endpoint from Okta.

Sadly, the best course of action is to submit a request on https://ideas.okta.com/. Sorry!

[2020-03-31 14:55] jaimellamasi opened #99 "okta_group: removal failure because of policy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-01 08:50] tgoodsell-tempus opened #100 "Unexpected "Internal Server Error" on okta_group_rule resource"
When running a `terraform apply` with numerous "okta_group_ruple" creation actions; there will randomly be a "500 Internal Server Error" return, which is not handled by the provider.

I am currently working on a case with Okta to try and diagnose this and comment on my thoughts on the proper solution.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com

[2020-04-01 16:30] aaronjohnstone-okta commented on #99
To fix this add 'depends_on =  okta_auth_server.default' to your auth server scope and policy resources.

The reason for the error is due to the auth server policy attempting to be deleted after the auth server itself has been deleted. This is due to the multi-threaded nature of Terraform. This is also the reason it is random, in some cases it the scope and policy threads will run before the auth

[2020-04-01 17:23] jaimellamasi commented on #99
Hello @aaronjohnstone-okta , thanks for your response. I do not think this is error, as I actually got the `auth_server` information from a remote state in the cloud, so it's not part of the destroy plan. I just put it as a new resource in my gist for demonstration purposes.

[2020-04-02 04:50] ryanwholey opened #101 "Expose issuer attribute in okta_server_auth data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-02 15:18] anthonyangel commented on #41
@quantumew Did you ever hear anything back about this from Okta? I'm opening a feature request for this with them too

[2020-04-02 21:35] quantumew commented on #41
@anthonyangel Still no word back. Apologies, never posted the feature req, here it is https://ideas.okta.com/app/#/case/112137?section=requests

[2020-04-03 00:35] tgoodsell-tempus commented on #101
According to the [API reference docs](tm-uk-kolesar-organoid) for this, it looks like issuer is returned in the response, so we should be able to use it.

[2020-04-03 18:49] noinarisak commented on #99
Hi @jllamasi,

I believe @aaronjohnstone-okta might be on the right track when it comes to `Not found: Resource not found` error. You could test with `depends_on` as @aaronjohnstone-okta mention so the execution has to wait before performing another HTTP call. Another possible option is to prevent the default concurrent calls in your `destroy` with the "[-paralelism=1](https://www.terraform.io/doc

[2020-04-03 18:51] noinarisak commented on #93
@andymarch Could you let us know if PR #97 resolved this issue. Thanks!

[2020-04-04 17:32] tgoodsell-tempus commented on #89
I'm not sure it's possible to set this in the "general" API we have available to us. I do not see that field explicitly defined in the [API Docs](https://developer.okta.com/docs/reference/api/apps/#add-oauth-2-0-client-application).

If you look at the [response schema](https://developer.okta.com/docs/reference/api/apps/#response-example-9) there is the `visibility.appLinks.oidc_client_link`. Sinc

[2020-04-06 15:29] jaimellamasi commented on #99
Hi @noinarisak and thanks for your help. I cannot rely on `depends_on` as my auth server is actually on a remote state (it's not been destroyed on each action) and terraform itself does not allow to do this: `Error: okta_auth_server_policy.customer_policy: depends on value cannot contain interpolations: ${data.terraform_remote_state.okta.default}`

I have tried "-parallelism=1" option and it seems

[2020-04-06 16:47] tgoodsell-tempus commented on #100
Making a comment here, I made a mistake analyzing the trace logs for this. This is coming from an APPLY error, I will update this and working on providing better trace data once I'm able to re-produce again.

[2020-04-06 17:32] tgoodsell-tempus commented on #100
I've updated the root comment with the corrected details and a new debug output; I've also opened a case with Okta to specifically investigate the 500 error which was returned in the debug posted.

[2020-04-07 14:48] chlsmith opened #105 "okta_auth_server import failing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-07 18:02] SebastianCzoch commented on #73
any update on this ?

I think releasing new version of provider with braking change will solve your concerns?

I do not see PR linked to this issue, is it true?

[2020-04-08 22:10] mfulgo opened #107 "Terraform crashes when creating a Policy Rule"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-09 02:23] secretsound opened #108 "Support Gathering SAML Information from Org2Org Application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-09 12:53] nathankodilla opened #109 "okta_app_oauth caches client_secret forever"
Terraform v0.12.24
Okta v3.1.1

If you switch the token_endpoint_auth_method, Okta will generate a new client_secret. However, the output in terraform is always the first one that was created.

[2020-04-10 14:57] patluri43 opened #110 "datasource to get default claims and scopes from AuthServer and modify them"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-13 20:11] mfulgo opened #111 "Authorization Server Policy does not Activate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-15 22:24] thekbb commented on #105
I did successfully import an `okta_auth_server` with terraform `0.12.24` today. maybe upgrade?

[2020-04-16 08:23] rachrdfds opened #112 "Not possible to change User Schema attribute 'locale' to READ-WRITE"
### Terraform Version
0.12.8
### Affected Resource(s)

okta_user_base_schema

### Terraform Configuration File

`
resource okta_user_base_schema base_lastName {
  index       = "lastName"
  title       = "Last name"
  type        = "string"
  master      = "PROFILE_MASTER"
  required	  = false
  permissions = "READ_WRITE"
}

resource okta_user_base_schema base_locale {
  index       = "locale"
  t

[2020-04-21 15:48] fisherevans opened #113 "Inaccurate documentaion for `okta_factor`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-21 15:59] fisherevans opened #114 "Inaccurate documentation for `okta_factor`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-23 04:25] Freaky-namuH commented on #53
I had a play around with the pattern field and found that setting `pattern =".+"`  does work, except you can never put it back the username to "Email". To unset it, a null'ed pattern field needs to be POST'ed, however, the `UserSubSchema`  uses `omitempty` on the pattern field so it never gets sent.

[2020-04-23 17:48] fisherevans commented on #113
Duplicate of #114

[2020-04-23 17:48] #113 closed, assigned to nobody

[2020-04-23 19:50] cgetzen opened #115 "data.okta_user(s) and user ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-04-23 21:19] cgetzen commented on #115
On further investigation, "id" is a usable attribute on data.okta_user, but not on data.okta_users.

[2020-04-24 00:15] cgetzen commented on #115
This serves our purpose: https://github.com/terraform-providers/terraform-provider-okta/pull/116

[2020-04-26 00:06] #9 closed, assigned to quantumew

[2020-04-29 07:47] itrann opened #117 "Question: Factor Sequencing"
Hi,

Just wondering if anyone's currently working on supporting factor sequencing for Sign On Policy?

Any comments would be greatly appreciated!

Thanks!

[2020-05-01 14:53] tgoodsell-tempus commented on #100
Updated on this, I've not got a resolution on my case. However, this does appear to be caused hitting that API in parallel.

I've set my terraform apply to `-parallelism=1` and I've had 0 failures on group rule applies since then.

[2020-05-03 13:32] Ruffio commented on #105
@chlsmith what version are you using? Could you try with latest official version?

[2020-05-03 13:34] Ruffio commented on #95
Has this issue been fixed?

[2020-05-06 19:40] bloudraak opened #119 "The data source to retrieve a group from Okta returns a non native group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-09 08:38] netflash commented on #13
Hi there,

I was wondering if there are any plans to implement this soon?

Cheers!

[2020-05-11 00:32] noinarisak commented on #114
@fisherevans Thanks! Issued assigned

[2020-05-11 11:42] shk3bq4d commented on #91
for those coming in here, one step is to take @noinarisak 's advice and vote on the exact same request:
* https://ideas.okta.com/app/#/case/107241

alternative okta ideas that suggest a fully-managed-by-okta automated workflow for custom domains (so no longer in the terraform scope)
* https://ideas.okta.com/app/#/case/106229
* https://ideas.okta.com/app/#/case/119838

cc: @kevin-bowers

[2020-05-12 02:26] jeremie0 opened #122 "okta_app_oauth consent_method now required w/Okta release 2020.05.0?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-12 08:20] Ruffio commented on #122
We experience the same issue.

In Okta Preview instances the attribute is required to be set in Terraform configuration. It doesn't set the default value by itself.
However in Prod. it is not required, but since we use the same Terraform configuration we also set it in Prod. In Prod. it keeps flipping back, so every time we Terraform Prod. instances, then the value is set again and then Okta inter

[2020-05-12 10:06] Ruffio commented on #77
I also encounter this issue. This is not working: https://www.terraform.io/docs/providers/okta/d/user_profile_mapping_source.html

Which means that you can't do this either: https://www.terraform.io/docs/providers/okta/r/profile_mapping.html

[2020-05-14 02:11] jeremie0 commented on #122
I've been trying some tweaks on the provider side to see if we can force a default or should make this required, when I set ```Default:      "TRUSTED" ```, rebuild the provider, and apply my tf code as-is on my dev tenant (which doesn't  have this EA feature enabled)  it keeps on attempting to set the value each time I do a terraform apply, so I don't think that will work for everyone.

[2020-05-15 01:40] netflash opened #124 "Provide SAML Metadata URL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-18 00:52] msmrnv1 commented on #78
This feature is still needed.

[2020-05-18 06:38] Ruffio commented on #76
this is still a bug

[2020-05-18 06:39] Ruffio commented on #75
this is still e bug

[2020-05-18 06:40] Ruffio commented on #74
this is still a feature request

[2020-05-18 06:41] Ruffio commented on #70
this is still a bug

[2020-05-18 06:41] Ruffio commented on #69
this is still a feature request

[2020-05-18 07:11] ivan-sukhomlyn commented on #124
@netflash Hi,
I'm looking forward to this attribute as well)

It's pretty similar to https://github.com/terraform-providers/terraform-provider-okta/issues/72

[2020-05-19 00:21] quantumew commented on #64
@noinarisak just noticed emails about stale issues. You will probably want to disable this GitHub action. These are all still valid issues and I cannot remove the stale label, only contributors will be able to edit labels afaik. Most of these issues are just waiting for a developer to attend to it so I think they should stay open.

[2020-05-20 00:09] joshk0 commented on #40
The bug still exists.

[2020-05-20 16:28] noinarisak commented on #77
I confirmed the AccTest is failing for this resource.

ie.
[code]

I need to further investigate if the `/api/v1/mappings` endpoint has changed. @quantumew any thoughts?

[2020-05-20 16:33] edulop91 commented on #87
There is [now support](https://github.com/okta/okta-sdk-golang#oauth-20) for this in the v1 and v2 versions of the go okta sdk

[2020-05-21 02:08] RichiCoder1 commented on #21
*bump* not stale, still an issue

[2020-05-21 05:47] shantanugadgil commented on #34
CPR ... to keep the issue alive?!

[2020-05-21 05:52] pratikmallya opened #125 "okta_policy_rule_signon fails to create with `session_lifetime` error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-23 00:15] #86 closed, assigned to nobody

[2020-05-23 00:16] #84 closed, assigned to nobody

[2020-05-23 00:16] #85 closed, assigned to nobody

[2020-05-23 00:16] #82 closed, assigned to nobody

[2020-05-23 00:16] #80 closed, assigned to nobody

[2020-05-23 00:16] #81 closed, assigned to nobody

[2020-05-23 00:16] #72 closed, assigned to nobody

[2020-05-23 00:16] #79 closed, assigned to nobody

[2020-05-23 00:16] #68 closed, assigned to nobody

[2020-05-24 00:16] #67 closed, assigned to nobody

[2020-05-24 00:16] #65 closed, assigned to nobody

[2020-05-24 00:16] #62 closed, assigned to nobody

[2020-05-24 00:16] #63 closed, assigned to nobody

[2020-05-24 00:16] #60 closed, assigned to nobody

[2020-05-24 00:16] #61 closed, assigned to nobody

[2020-05-24 00:16] #58 closed, assigned to nobody

[2020-05-24 00:16] #59 closed, assigned to nobody

[2020-05-24 00:16] #57 closed, assigned to nobody

[2020-05-24 00:16] #52 closed, assigned to nobody

[2020-05-24 00:18] jeremie0 commented on #61
Still would be nice to have this.

[2020-05-25 00:16] #51 closed, assigned to nobody

[2020-05-25 00:16] #49 closed, assigned to nobody

[2020-05-25 00:16] #47 closed, assigned to nobody

[2020-05-25 00:16] #45 closed, assigned to nobody

[2020-05-25 00:16] #46 closed, assigned to nobody

[2020-05-25 00:16] #43 closed, assigned to nobody

[2020-05-25 00:16] #44 closed, assigned to nobody

[2020-05-25 00:16] #37 closed, assigned to nobody

[2020-05-25 00:16] #36 closed, assigned to nobody

[2020-05-25 11:21] bodgit commented on #26
Not stale.

[2020-05-26 00:16] #35 closed, assigned to nobody

[2020-05-26 00:16] #33 closed, assigned to nobody

[2020-05-26 00:16] #31 closed, assigned to nobody

[2020-05-26 00:16] #32 closed, assigned to nobody

[2020-05-26 00:16] #29 closed, assigned to nobody

[2020-05-26 00:16] #30 closed, assigned to nobody

[2020-05-26 00:16] #27 closed, assigned to nobody

[2020-05-26 00:16] #28 closed, assigned to nobody

[2020-05-26 00:16] #24 closed, assigned to nobody

[2020-05-26 00:16] #25 closed, assigned to nobody

[2020-05-26 00:16] #22 closed, assigned to nobody

[2020-05-27 00:16] #19 closed, assigned to nobody

[2020-05-27 00:16] #20 closed, assigned to nobody

[2020-05-29 03:02] rajnadimpalli commented on #83
This feature is still needed..

[2020-05-29 18:05] eatplaysleep opened #129 "Add support for 'OVERRIDE' profile master type on okta_user_schema"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-29 22:52] eatplaysleep opened #130 "`acs_binding` required for OIDC Idp but not a valid field (in Okta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-05-31 00:13] #71 closed, assigned to nobody

[2020-06-01 00:13] #96 closed, assigned to nobody

[2020-06-01 05:29] thekbb commented on #114
#126 fixes this.

[2020-06-01 16:23] bahatelos opened #131 "Terraform plan fails if Okta inline hook has been deleted outside of terraform"
Hello!

*Symptoms*:
terraform plan fails if an Okta inline hook has been deleted in Okta outside terraform.

*Steps to replicate*:
use terraform to create an inline hook (in this case it was a SAML inline hook).
Go to Okta and delete the hook manually.
Re-run terraform

*Expected behaviour*:
Terraform does not find the key, plans to create it and creates it during the apply phase

*Actual behaviou

[2020-06-02 00:13] #90 closed, assigned to nobody

[2020-06-02 00:13] #88 closed, assigned to nobody

[2020-06-02 00:13] #16 closed, assigned to nobody

[2020-06-02 00:22] cknowles commented on #41
Still relevant

[2020-06-03 00:17] ryanwholey commented on #101
I have a [PR open](https://github.com/terraform-providers/terraform-provider-okta/pull/104) for this issue. Is anyone available to review?

[2020-06-03 12:26] lasektom opened #133 "Not able to provision custom `sub` claim"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-06-08 00:14] #93 closed, assigned to nobody

[2020-06-08 00:34] mfulgo commented on #107
(Commenting to keep the issue open.)

[2020-06-08 11:05] SebastianCzoch commented on #73
Any update on it?

[2020-06-09 00:51] nathankodilla commented on #109
Anyone able to address this?

[2020-06-10 00:13] #89 closed, assigned to nobody

[2020-06-11 15:00] awagneratzendesk commented on #26
We would definitely use this feature if it was exposed by the API and incorporated into the provider. "Description" would be another similar field we would love to control via the provider but currently cannot.

[2020-06-11 15:02] awagneratzendesk commented on #13
Just a note of interest on this - we would love to be able to control the APPLICATION_ADMIN assignment for all of our TF controlled applications through a mechanism like this.

[2020-06-11 16:36] tgoodsell-tempus commented on #117
Currently this probably isn't being work on, as I do not see management of the factor sequencing settings supported by the public management API.

Ref: https://developer.okta.com/docs/reference/api/policy/

[2020-06-11 18:34] tgoodsell-tempus opened #134 "Bump Okta SDK to 2.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-06-11 22:12] fschmager opened #136 "Support `OVERRIDE` type for `master` on `okta_user_schema`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-06-14 00:14] #108 closed, assigned to nobody

[2020-06-16 00:13] #110 closed, assigned to nobody

[2020-06-18 12:38] fatbasstard commented on #89
Can I bring this issue back to live again? Really missing this

[2020-06-18 21:58] eatplaysleep commented on #136
See https://github.com/terraform-providers/terraform-provider-okta/issues/129

[2020-06-19 10:56] fschmager commented on #136
As @eatplaysleep points out, this is a duplicate of #129.

[2020-06-19 10:56] #136 closed, assigned to nobody

[2020-06-26 16:20] ghost opened #139 "Okta Provider produced inconsistent result after apply"
_This issue was originally opened by @nmasuram as hashicorp/terraform#25401. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Terraform v0.12.24
+ provider.okta v3.2.0

Adding Okta User schema to Universal Directory
[code]

**Output:**
When applying changes to modu

[2020-06-26 22:39] noinarisak opened #140 "Add support for GROUP_MEMBERSHIP_ADMIN role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-06-29 12:06] merlin-zdn opened #141 "okta_app_swa and Missing settings.signOn"
Unable to update swa app after import. Terraform stops showing information about missing settings.signOn but there is no possibility to configure this option.

I try   `app_settings_json` but I got an error:
`An argument named "app_settings_json" is not expected here.`

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull

[2020-06-29 18:06] m-wynn opened #142 "Allow setting `Union` in UserSubSchema"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-06-29 22:21] ymylei commented on #140
Posting here for visibility, I've updated #138 to add the other required items for supporting this new role.

[2020-07-02 10:13] szymon-lyszkowski-dragon opened #144 "[ERROR] REPORT_ADMIN is not a valid Okta role"
Probably simple validation require fixing:

https://github.com/terraform-providers/terraform-provider-okta/blob/v3.3.0/vendor/github.com/articulate/oktasdk-go/okta/users.go#L624
https://github.com/terraform-providers/terraform-provider-okta/blob/v3.3.0/sdk/group_role.go#L19

Documentation clearly says `REPORT_ADMIN` is supported:
https://github.com/terraform-providers/terraform-provider-okta/blob/

[2020-07-07 00:18] #100 closed, assigned to nobody

[2020-07-07 00:55] ymylei commented on #83
Gonna need downstream support in the articulate okta sdk (where the factors api actions are pulled from) or refactor this whole thing to use the okta native api.

Source: https://github.com/articulate/oktasdk-go/blob/master/okta/org.go

[2020-07-07 01:09] ymylei commented on #144
will be fixed by #138

[2020-07-08 00:18] #95 closed, assigned to noinarisak, quantumew

[2020-07-08 00:18] #105 closed, assigned to nobody

[2020-07-10 07:23] fatbasstard commented on #13
To prevent the issue from closing itself: we also need this feature

[2020-07-10 16:04] sme123999 opened #145 "Add sign on policy for apps"
Can you add a sign on policy for applications so that I can require MFA and conditional access for my apps via terraform

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or oth

[2020-07-10 16:08] sme123999 opened #146 "Add single logout to saml apps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-11 00:18] #119 closed, assigned to nobody

[2020-07-11 04:36] mfulgo commented on #111
Commenting to dismiss the stale tag, as this is still an issue AFAIK.

[2020-07-13 21:07] noinarisak commented on #139
Hi @nmasuram! Could give us more details of your issue that you are facing by following our `Issue` details below. Thanks!

---

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1"

[2020-07-14 06:31] peijiinsg opened #148 "Create user in group fails due to password policy failed the default policy in okta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-14 21:14] mihzaidi commented on #53
Going to try to revive this one. Was pattern ever re-added back in to be used for login?

[2020-07-15 15:41] mihzaidi opened #149 "supporting format character restriction in Profile Editor"
Hello Team,
     It seems that the old functionality for pattern isn't working as intended and in fact can't be currently done in the Terraform object for user schema today. I'm linking over an old release that had the pattern functionality but for some reason seems to have been removed.
https://github.com/articulate/terraform-provider-okta/releases/tag/v3.0.29

I also noticed that there was an is

[2020-07-16 00:18] #91 closed, assigned to nobody

[2020-07-16 00:18] #112 closed, assigned to nobody

[2020-07-16 20:50] varrunramani-okta opened #152 "private_key_jwt client authentication method needs documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-16 21:12] tannernicol-okta commented on #152
👍

[2020-07-19 00:20] #122 closed, assigned to nobody

[2020-07-19 19:50] joshk0 commented on #40
The bug still exists.

[2020-07-20 00:36] mbudnek commented on #87
This issue is still valid, please don't close it.

[2020-07-20 02:41] jlaundry commented on #74
I'm currently working on this...

[2020-07-20 12:55] khitrenovich commented on #69
this is still a feature request

[2020-07-23 00:19] #76 closed, assigned to nobody

[2020-07-23 00:19] #78 closed, assigned to nobody

[2020-07-23 00:19] #70 closed, assigned to nobody

[2020-07-23 00:42] netflash commented on #124
Hopefully, this can be added relatively soon.

[2020-07-23 09:31] rajnadimpalli commented on #21
issue is not stale

[2020-07-28 21:14] ymylei commented on #16
I'm going to PR a fix for this based on some similar patterns I've seen

[2020-07-28 21:16] ymylei opened #157 "Group Rule "INVALID" State"
**Community Note**

    Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request
    Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do not help prioritize the request
    If you are interested in working on this issue or ha

[2020-07-30 06:33] mattz commented on #40
We are also affected by this one, when we generate a TF with group and user memberships and import the resources, the state file has users listed as "null" for each resource. It is only when we run an apply that the state file refreshes correctly with the user memberships.

As mentioned previously from another poster I am guessing it is from line 124 func syncGroupUsers or 137 func updateGroupUser

[2020-07-31 21:13] noinarisak opened #162 "Documentation workaround for okta schema resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-31 21:18] noinarisak commented on #152
Closed #151 🌮

[2020-07-31 21:18] #152 closed, assigned to nobody

[2020-07-31 21:20] noinarisak commented on #144
Closed #138.

[2020-07-31 21:20] #144 closed, assigned to nobody

[2020-07-31 21:32] noinarisak commented on #134
Thanks, @tgoodsell-tempus!

I started to investigate how heavy the lift to move to okta-sdk-golang v2 and my first scan (~15 minutes) there are possible breaking changes. My plate has been pretty packed in the last couple of months (regular day job, I volunteer on this project at Okta 😉 ). Hopefully, there will be some helping hands coming our way to aid effort. 🤞

[2020-07-31 23:26] ymylei commented on #134
@noinarisak Good to hear! I've actually started a draft for this in #153 so I can certainly assist here with the necessary code changes and such. There's some upstream work to be done on the SDK itself to get some of the easy stuff working, probably more work done to get support for some of the features we're doing with the articulate and provider custom sdks (but those don't really need to be don

[2020-07-31 23:31] ymylei commented on #134
Would you also be able to start a v4 branch we can use to start staging up some of the changes which will be breaking? I know this upgrade in the SDK will be one, there's the PR #154 which looks to be another (though that one is certainly more ready go to than the SDK change).

[2020-08-01 21:16] noinarisak commented on #145
Hi @sme123999! Sadly there is no API endpoint to manage Application Sign-On Policy. Unfortunately, many UI configuration is not exposed via Okta API.

Please search and/or submit this request at https://ideas.okta.com/ to let Okta know! 👍

[2020-08-02 22:33] ryanwholey commented on #101
Still hoping for a review!

[2020-08-03 00:21] #130 closed, assigned to nobody

[2020-08-03 22:24] azenk opened #163 "okta_user datasource doesn't populate status"
It appears that the okta_user data source doesn't populate the user status field.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant ne

[2020-08-05 01:58] jlaundry commented on #134
@noinarisak would it be helpful for you if we raised Okta support tickets to review open PR's?

We need #154 in order to continue using Okta for our use case, and we pay for premium support, so it seems (from the outside) to be reasonable to have non-volunteer support assigned time for this - but I don't know your internal politics, just an idea 😊

[2020-08-05 04:30] gustavo-chan commented on #77
@noinarisak Is there any traction on this issue? I have cloned the latest version of the provider and I'm still seeing this issue. Also, can we re-open this issue?

[2020-08-05 16:45] davidmortiz commented on #77
Any chance we can re-open this issue, it is in fact a problem?

[2020-08-06 00:21] #114 closed, assigned to noinarisak

[2020-08-06 16:44] noinarisak commented on #69
Related #87

[2020-08-07 00:22] #41 closed, assigned to nobody

[2020-08-07 18:02] Jorge-Rodriguez commented on #107
Can reproduce with:

Terraform v0.12.28
+ provider.okta v3.4.1

[2020-08-08 00:21] #133 closed, assigned to nobody

[2020-08-11 16:41] bodgit commented on #26
Not stale.

[2020-08-12 04:00] nathanbartlett opened #166 "Error with user data source if user does not have any roles"
https://github.com/oktadeveloper/terraform-provider-okta/blob/cb99df541ad95c5c866c3d8e8b28cc0ce7d510f7/okta/data_source_okta_user.go#L91

Hitting **/api/v1/users/<user_id>/roles** end point returns bad request for some users. Okta's documentation doesn't seem to list this end point as part of their API for users but i may have missed it.

Bad request response appears to be from a user not having a

[2020-08-12 20:23] leonsp-ai opened #167 "Undocumented groups parameter for okta_app_saml"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-14 22:04] ADevUser opened #170 "Add password import inline hook type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-16 00:23] #117 closed, assigned to nobody

[2020-08-18 17:42] RickB-2840 commented on #167
The groups parameter needs more than documentation - I deployed the SAML app and app entitlements for two groups. This populated the groups parameter of the SAML app with the group ids. Users who were members of the groups had app entitlements via the groups.
Bug 1: When I repeated the terraform plan and apply steps, terraform removed the group ids from the SAML app and although the group entitlem

[2020-08-20 12:58] ThomasWatling opened #171 ""description" attribute of okta_app_saml resource is not valid"
In the documentation for the okta_app_saml resource (https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/app_saml) one of the optional attributes listed is "description". If you add this to a resource block and run terraform validate or plan, you get an error "An argument named "description" is not expected here." Looking at the source code for the Okta provider https:

[2020-08-25 01:34] mattz opened #174 "Incorrect/Incomplete documentation for okta_app_saml with multiple attribute_statements"
The following documentation is incorrect:
https://github.com/oktadeveloper/terraform-provider-okta/blob/master/examples/okta_app_saml/updated.tf

If you use the same argument "attribute_statements" under one resource, you get the error:
Error: Attribute redefined
The argument "attribute_statements" was already set at <location>. Each argument may be set only once.

What is the correct syntax for m

[2020-08-25 09:44] nathanbartlett commented on #166
Closing as it looks like this was not a provider/API issue and was particular to our Okta setup.

[2020-08-25 09:44] #166 closed, assigned to nobody

[2020-08-25 16:11] noinarisak commented on #83
All.

Unless the Okta DevX team decides to publish and/or move the endpoint with the `email` type into `EA` level with associated documentation, we should not implement this addition. At the current stage, it a hidden factor type (eg. requires Okta Support call to enable) and requires "tribal" knowledge that would make it challenging for the overall community to support and contribute.

[2020-08-26 00:27] #174 closed, assigned to nobody

[2020-08-26 00:30] mattz commented on #174
Mistake on my end. Had an = after attribute_statements which was causing the error

[2020-08-31 20:55] adw1n commented on #93
@noinarisak it did not. I'm using the latest v3.4.1 relase and I see a ton of requests being made to /api/v1/apps which consitently causes rate limit violations for my Org. This furthermore causes downtime for my app which relies on being able to use `/api/v1/apps` endpoint. I had a look at https://github.com/oktadeveloper/terraform-provider-okta/pull/97 description and

apporach sounds really pro

[2020-08-31 21:06] adw1n commented on #93
On second thought I don't even use `data_source_okta_app` so it's something else in the provider code DDOSing `/api/v1/apps` endpoint.

[2020-08-31 22:23] askouras opened #176 "Inline Hook documentation references wrong version number"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-31 23:27] adw1n commented on #93
I dig deeper using `TF_LOG` and it turns out these three endpoints are giving me a hard time:
1. GET /api/v1/apps/{app_id}/groups?limit=200
2. GET /api/v1/apps/{app_id}/users?limit=200
3. GET /api/v1/apps/{app_id}/groups/{group_id}

They all share the same `/api/v1/apps` very low rate limit.

[2020-09-01 20:06] leonsp-ai commented on #167
@RickB-2840 Yeah, it's a mess. I think you should open separate issue(s) for those to get more visibility.

[2020-09-03 00:25] #141 closed, assigned to nobody

[2020-09-03 00:25] #140 closed, assigned to noinarisak

[2020-09-03 15:05] noinarisak commented on #176
Resolved #175

[2020-09-03 15:05] #176 closed, assigned to nobody

[2020-09-03 22:43] Travis-Wright-Systems opened #179 "Groups can't have members added by rule and explicitly, must be one or other."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-04 13:10] bpottier commented on #21
Is there any update on this?

[2020-09-09 03:47] jlaundry commented on #13
Commenting to prevent the issue from closing itself

[2020-09-10 01:36] mfulgo commented on #111
(Dismissing "stale" tag.)

[2020-09-16 17:52] zamerman opened #180 "okta_inline_hook seems to require the type parameter at the very least when using the channel argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-16 19:52] Stratouklos opened #181 "The okta_user example is wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-16 21:48] jeremie0 commented on #111
this is still an issue

[2020-09-16 22:47] mfulgo commented on #111
@noinarisak - could we get this reopened?

[2020-09-17 00:27] #139 closed, assigned to nobody

[2020-09-17 17:21] mithewt commented on #107
Reproduced with Terraform v0.13 with provider.okta v3.4.1. The logs appear to show it crashing inside okta.setPeopleAssignments when the rule's POST response looks like `"conditions": { "people": { "users": { "exclude": [] } }}`

[2020-09-18 21:17] RichiCoder1 commented on #134
Late September bump. I'd also be interested in contributing to this (and pushing via our support channels).

[2020-09-20 04:12] ymylei commented on #134
I'm not super keen on going to v2 until https://github.com/okta/okta-sdk-golang/pull/150 is pushed in (or at least the underlying dependency mixup is dealt with).

[2020-09-20 21:40] adw1n commented on #87
Few notes from me:
1. The additional benefit is that I can rotate these credentials on my own schedule instead of being forced to regenerate the admin token every month. This is a big issue for people that e.g. use terraform cloud integrated with their CI.
2. When using api key the cache gets disabled https://github.com/oktadeveloper/terraform-provider-okta/blob/b563d6cbbb2d9e69f76f2ca2ed0ae5a217f

[2020-09-20 22:05] adw1n commented on #69
I thought only apps created using the `/oauth2/v1/clients` endpoint can take advantage of Okta Management API scopes https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/overview/. `okta-sdk-golang` doesn't support `/oauth2/v1/clients` endpoint which means `terraform-provider-okta` also doesn't support it. So I think granting these scopes to any app created with `terraform-pr

[2020-09-20 23:07] mbudnek commented on #69
@adw1n From experimentation it seems that it doesn't matter how an app is created.  Any OAuth app can be granted scopes and use them to access the Okta API.

[2020-09-22 04:53] rajnadimpalli commented on #21
Hi @noinarisak ,

I have submitted a pull request for this enhancement (https://github.com/oktadeveloper/terraform-provider-okta/pull/183).
Can you please help to review?

Thank you.

[2020-09-22 12:19] SBerda opened #184 "Add Active directory okta_user_type and okta_user_attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-23 07:39] kschlz opened #185 "Possibility to set Requestable SSO URLs via okta_app_saml"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-24 13:09] adw1n opened #186 "Add request throttling to avoid rate limit violations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-25 20:23] mtttcgcg opened #188 "PUT App API fails with 400 because consent_method is not supplied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-26 04:29] ymylei commented on #186
Excellent idea! I'm glad you're starting work on this type of control for the provider!

The main comment I have is regarding how we'll detect / manage the API limits. I think we may be able to avoid a lot of hard-coding of the various endpoints by using a combination of the URI, `X-Rate-Limit-Limit`, and `X-Rate-Limit-Remaining` headers.

Key doc: https://developer.okta.com/docs/reference/rl-best

[2020-09-26 04:37] ymylei commented on #134
Looks like that was merged in, next release of the sdk I'll rebase and update my PR for updating the provider. It'll still be a breaking change but it should be ready at that point for us to use.

[2020-09-26 04:49] ymylei commented on #69
@adw1n I'm pretty sure the difference between `apps` and `clients` is the dynamic oauth client support. For example I can see this EA API doc for the `apps` endpoint for configuring the OKTA management scopes: https://developer.okta.com/docs/reference/api/apps/#application-oauth-2-0-scope-consent-grant-operations

[2020-09-28 02:53] jlaundry commented on #13
Can we please reopen this?

[2020-09-29 15:11] ThomasWatling opened #189 "okta_group_roles resource is missing features to specify "all {apps|groups}" or "specific {apps|groups}""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-30 20:22] m-wynn commented on #142
This is still an issue that we are encountering.

[2020-09-30 22:24] khitrenovich opened #191 "Cannot modify default MFA policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-30 23:34] rtlong commented on #13
@jlaundry  I was just checking in on this to see if it still needs doing; I see you said over in #74 that you were working on this, back in July. Are you still indeed actively working on it? I definitely still have the need for this feature, as do a number of other users it seems. I have some time to tackle this finally and I'll get started on it if you're not actively working on it. I'd love to s

[2020-10-01 19:42] Ashley-Gunn commented on #146
Commenting to hopefully keep this open. I see it's tagged with needs investigation, but am not seeing any movement. My team really needs this piece to fully manage our SAML apps via Terraform.

[2020-10-04 18:30] adw1n commented on #186
@ymylei I disagree, to an extent. We should certainly use `X-Rate-Limit-*` and uri path but I am afraid the hardcoding is impossible to avoid for people that don't have internal, undocumented Okta know-how. I really think that throttling only the `/api/v1/apps` endpoint will suffice for most organizations. This endpoint has much lower rate limit, for many organizations just 25 requests per minute.

[2020-10-05 00:30] #162 closed, assigned to noinarisak

[2020-10-05 00:30] #148 closed, assigned to nobody

[2020-10-05 00:30] #157 closed, assigned to nobody

[2020-10-06 00:30] #145 closed, assigned to nobody

[2020-10-06 06:24] jlaundry commented on #13
Hi @rtlong, I ended up submitting PR #154 but haven't heard anything back.

If you could please review, it was my first Terraform extension, so undoubtedly I did something wrong 🙂

[2020-10-07 21:36] noinarisak commented on #134
Hi @jlaundry and @ymylei. Apologies for being MIA, still juggling multiple projects, but some cycles opened up for me to review some PRs.

🎉  I'm getting some help to support the project, but on the initial stage of onboarding the individual and identifying some priorities, more to come. Plus, okta-sdk-golang maintainer (@bretterer) will help with this transition and hopefully help close some of t

[2020-10-07 22:37] eatplaysleep commented on #139
Also experiencing this so will add my details to bump the issue.

### Terraform Version
`v0.13.3`

### Affected Resource(s)
`okta_app_user_schema`

### Terraform Configuration Files

keybase://private/eatplaysleep%2Chashicorp/terraform_okta.zip

### Debug Output
keybase://private/eatplaysleep%2Chashicorp/logs.log
### Panic Output
[code]
### Expected Behavior
Apply should work without issue.

### A

[2020-10-07 22:38] Venkatsai opened #193 "Fix the name of resource okta_idp_saml_signing_key to reflect actual declaration"
As per the documentation, the name of the resource is different from it's defined in the example.
Doc: https://registry.terraform.io/providers/oktadeveloper/okta/latest/docs/resources/idp_saml_signing_key

Whereas, the example,

[code]
This is confusing to the user who might be unable to find okta_idp_saml_key in the terraform-okta-provider.

### Community Note

* Please vote on this issue by addi

[2020-10-07 22:59] Venkatsai opened #194 "IDP Broken: Unable to configure Max Clock Skew for okta_idp_saml resource"
The Identity Provider when created on okta tenant is broken due to the fact the Max Clock Skew value is set to null through terraform. There should be an argument which can define under okta_idp_saml resource.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to hel

[2020-10-07 23:26] eatplaysleep commented on #139
In doing some digging it looks like this might simply be related to the provider not using the write model for app_user_schema.

The provider uses the same model for both app_user_schema and user_schema and the App schema does *not* have the same fields.

The provider documentation calls out support for the following fields, and sets defaults for many of them, but the Okta documentation does not s

[2020-10-08 04:47] mattz commented on #40
The bug still exists.

[2020-10-09 00:30] #163 closed, assigned to nobody

[2020-10-09 21:28] noinarisak commented on #13
Reopening, still reviewing @jlaundry PR #154.

[2020-10-09 21:33] noinarisak commented on #74
Related to PR #154

[2020-10-12 12:15] ryber commented on #100
I started getting this same error today. Turning parallel off worked. It would be nice to get a better error than just 500 but maybe the Okta API doesn't return anything better?

[2020-10-12 17:09] cdhunt opened #197 "Bad Okta domain causes Terraform panic"
This error was causing terraform to crash instead of just reporting a useful error message.

`panic: your Okta domain should not contain -admin. Current value: https://dev-11111-admin.okta.com. You can copy your domain from the Okta Developer Console. Follow these instructions to find it: https://bit.ly/finding-okta-domain`

The only message reported outside of the debug log is `rpc error: code =

[2020-10-15 00:32] #13 closed, assigned to nobody

[2020-10-15 06:45] dunindd opened #200 "3.5.1 sends incorrect version in User-Agent String"
It seems like this should `okta-terraform/3.5.0`

https://github.com/oktadeveloper/terraform-provider-okta/blob/v3.5.1/okta/config.go#L71

[2020-10-15 15:07] btsteve commented on #73
Can we get this reopened?

[2020-10-15 15:14] btsteve opened #201 "key_years_valid defaults to 1 when importing okta_app_saml version 3.5.0 of plugin"
When importing a resource from okta the terraform provider tries to set key_years_valid to 1 eventhough it was imported as null and setting as null in the resource still tries to set to 1 when running plan.

"key_years_valid": null, from state

from plan:
  + key_years_valid            = 1

from resource:

    key_years_valid            = null

[2020-10-15 15:16] btsteve commented on #201
There was a previous issue that keeps getting marked as stale.

https://github.com/oktadeveloper/terraform-provider-okta/issues/73

[2020-10-19 00:33] #170 closed, assigned to nobody

[2020-10-20 14:27] SBerda opened #202 "okta_auth_server_policy_rule with client_credentials option produce crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-20 22:06] jeremie0 commented on #188
similar issue https://github.com/oktadeveloper/terraform-provider-okta/issues/122

[2020-10-23 16:51] duy-ng-12354 opened #204 "resource_okta_app_bookmark produces RPC issue when planning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-25 00:35] #171 closed, assigned to noinarisak

[2020-10-25 00:46] auzroz commented on #83
Still needed, officially supported in the API documentation: https://developer.okta.com/docs/reference/api/factors/#factor-type

[2020-10-26 15:11] ghost opened #205 "Terrafrom documentation is missing params for okta_app_bookmark"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-28 21:17] rnikoopour commented on #201
This happens in with provider version `3.5.1` and `3.4.1` as well.

[2020-10-29 19:49] noinarisak commented on #134
Closing PR #203 address this now.

[2020-10-29 19:49] #134 closed, assigned to nobody

[2020-10-29 19:51] noinarisak commented on #200
Closing since we bumping up to `3.6.0` in PR #207 .

[2020-10-29 19:51] #200 closed, assigned to nobody

[2020-10-30 07:39] analytically commented on #122
Still seeing this issue in 3.6.0.

[2020-10-30 07:42] analytically commented on #122
@bogdanprodan-okta

[2020-10-30 09:28] bogdanprodan-okta commented on #122
@analytically I wasn't able to reproduce the error you have in version 3.6.0
#### Terraform Configuration Files
In `main.tf`
[code]

In `versions.tf`
[code]

#### Steps to reproduce

[code]

Try running `terraform init` to install the latest version of the provider

[2020-10-30 09:38] analytically commented on #122
Our code:

[code]

Using "oktadeveloper/okta" provider 3.6.0, and I'm seeing + consent_method = "TRUSTED" after apply and each plan. The consent_method doesn't seem to be saved in state by Terraform.

[2020-10-30 09:56] bogdanprodan-okta commented on #122
Here is the output of the `terraform apply` using the resource you've provided.

[code]

[2020-10-30 10:00] analytically commented on #122
I think I know the culprit: this application was created by an older version of the provider, and in the resourceAppOAuthUpdate the consent_method isn't saved?

[2020-10-30 10:21] bogdanprodan-okta commented on #122
The bug was that `consent_method` was optional, but didn't have a default value. This is why terraform didn't handle it properly.

[2020-10-30 10:29] analytically commented on #122
Even after manually editing the state (terraform state pull and push) and setting consent method from `"consent_method": "",` to `"consent_method": "TRUSTED",` the plan keeps nagging about setting it.

[2020-10-30 10:44] bogdanprodan-okta commented on #122
you can try the following sequence
1) save `id` of the `okta_app_oauth.cloudflare_access` somewhere
2) run `terraform state rm okta_app_oauth.cloudflare_access`
3) run `terraform import okta_app_oauth.cloudflare_access saved-id`

PS terraform will save the old state in a backup file

[2020-10-30 10:51] analytically commented on #122
As consent is early access, should something be activated in the Okta Features settings?

[2020-10-30 13:46] bogdanprodan-okta commented on #122
There is a possibility that your organization does not have the required features for this to function properly. In order to check this, you would have to reach out to support@okta.com in order to confirm the flags. Please reference this GH issue so they have more details, but also explain what is happening with any error information you are getting.

[2020-10-31 00:19] #83 closed, assigned to nobody

[2020-10-31 03:32] ymylei opened #210 "Configuration parameters parallelism, min_wait_time, and backoff are not used"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-02 18:15] brandongblack opened #212 "Generate new SAML App Signing Cert available via this Terraform provider?"
Hello,

I am wondering if the following functionality is supported in this terraform provider.. I see some references to it in the code but not seeing it - are you able to confirm if this is officially supported or not? If it is supported how would we implement? Rather which resource should be used

https://developer.okta.com/docs/reference/api/apps/#generate-new-application-key-credential

Here i

[2020-11-03 10:49] fatbasstard commented on #122
Hi,

Seeing the same issue as @analytically with the last provider version (`3.6.0`) with every run:

[code]

Not sure how/if to solve this, but mainly wanted to give a heads up that it affects more people, we're also hitting limits so getting this "fixed" would be great.

[2020-11-04 19:50] jfriv commented on #210
Looks like the application of those values on the http client was removed here:
https://github.com/oktadeveloper/terraform-provider-okta/commit/d92e7743ac44c67e18ce32eb6756eab49e276309#diff-943c1ebd2e94122586bfc4772625552a6af0f781fe16140c99c66c64e394eb12L66

[2020-11-04 20:22] jfriv commented on #210
Downgrading and pinning the okta provider version to v3.5.1 resolved our rate limit issues

[2020-11-04 22:49] PurrBiscuit opened #213 "okta_oauth_app default value for consent_method argument (EA feature)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-05 15:42] PurrBiscuit opened #214 "Terraform Plans Getting Stuck on Version 3.6.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-05 15:52] PurrBiscuit commented on #214
Seems similar to this issue -> https://github.com/oktadeveloper/terraform-provider-okta/issues/210

[2020-11-05 21:52] tgoodsell-tempus commented on #214
Here is the docs from the SDK where they describe how to use the re-try options: https://github.com/okta/okta-sdk-golang#connection-retry--rate-limiting

[2020-11-05 22:30] tgoodsell-tempus commented on #214
Link to relevant usage in SDK: https://github.com/okta/okta-sdk-golang/blob/52c559514937dc072dc3212388bea2f8b968b641/okta/requestExecutor.go#L226

[2020-11-09 21:47] bogdanprodan-okta commented on #213
Hi @PurrBiscuit ! Thanks for submitting this issue. Fix for your problem is currently in PR #215. Hopefully, we will merge it soon and roll out the `3.6.1` version of the terraform provider.

[2020-11-09 21:56] bogdanprodan-okta commented on #214
Hi @PurrBiscuit, @tgoodsell-tempus! We are aware of this issue and there is already a PR to fix that. Once it will be merged and a new version of SDK will be rolled out, I will update providers modules, so the new version will no longer have this issue.

[2020-11-11 08:10] bogdanprodan-okta commented on #210
Hi @jfriv! We are aware of this issue and there is already a PR to fix that. Once it will be merged and a new version of SDK will be rolled out, I will update providers modules, so the new version will no longer have this issue.

[2020-11-12 16:48] dangoslen opened #216 "Refresh Attributes When Creating New Profile Mappings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-15 00:23] #73 closed, assigned to nobody

[2020-11-15 22:33] bryantbiggs commented on #73
this should be fixed now with #215

[2020-11-16 13:52] bogdanprodan-okta commented on #197
Hi @cdhunt! Thanks for submitting this issue! Panic was triggered by `okta-sdk-golang`, which is used by the provider for API calls. This was fixed some time ago and now it should just error out.

[2020-11-16 14:14] #197 closed, assigned to nobody

[2020-11-16 21:36] PurrBiscuit commented on #213
@bogdanprodan-okta looks like that `consent_method` attribute just got released as a General Availability Feature with the last Okta Production release for November - [User Consent for OAuth 2.0 Flows in API Access Management](https://help.okta.com/en/prod/Content/Topics/ReleaseNotes/production.htm).  The Okta Apps API also no longer lists it as `EA` and makes it a `required` attribute.  It's prob

[2020-11-17 03:06] mfulgo commented on #107
Any chance of this getting fixed soon? (Also commenting to remove the stale label.)

[2020-11-17 08:39] bogdanprodan-okta commented on #213
Hi @PurrBiscuit! The `consent_method` attribute still has a default value, but I put a safety `if` statement in case some orgs still don't have it. I'm closing this issue for now, but we can always reopen it though!

[2020-11-17 08:39] #213 closed, assigned to bogdanprodan-okta

[2020-11-17 08:42] bogdanprodan-okta commented on #214
Hi @PurrBiscuit @tgoodsell-tempus ! Today we released the new version v3.6.1. In case this issue is no longer exists, please close it. Thanks!

[2020-11-17 08:58] bogdanprodan-okta commented on #188
Hi @mtttcgcg! Thanks for creating this issue. Could you please verify if this issue still occurs?

[2020-11-17 09:04] bogdanprodan-okta commented on #21
Hi @RichiCoder1 @bpottier @rajnadimpalli! We are aware that terraform is missing this feature and it will be released in the new v3.7.0 version. I will review #183 shortly and release a new version soon.

[2020-11-17 14:21] PurrBiscuit commented on #214
Thanks for work on this - will close this issue out. 👍

[2020-11-18 17:26] noinarisak commented on #212
@brandongblack  We missing documentation on the `key_name` attribute that will determine to generate another cert for the saml app. Let me attached @bogdanprodan-okta to confirm my observation at [line of code](https://github.com/oktadeveloper/terraform-provider-okta/blob/0dad1ef71abbedf5cb454de0bdc2929321e77778/okta/resource_okta_app_saml.go#L538) and we should update the our documentation and ad

[2020-11-19 09:21] ghost opened #219 "IDP Discovery Rule actions.idp: Api validation error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-19 09:29] ghost commented on #219
I figured out the issue, for some reason SAML Identity Provider returns OKTA as its type. I had to hardcode "SAML2" into `idp_type` rather than referencing SAML IDP `okta_idp_saml.my_idp.type`.

Is this expected behaviour?

[2020-11-19 09:37] ghost commented on #194
Just faced this issue as well, this is breaking SAML2 IDPs, any updates?
![image](https://user-images.githubusercontent.com/21358910/99648354-a004ed00-2a5b-11eb-9978-71719c91af4e.png)

[2020-11-19 13:11] bogdanprodan-okta commented on #219
Hi @IrmantasM ! There are some inaccuracies in our documentation, however as for the `okta_idp_saml.my_idp.type` you have to set it explicitly. The only references you can use are `id` and `policyid`.

[2020-11-19 16:54] isometry commented on #214
We are still seeing this issue manifest with v3.6.1…
@PurrBiscuit : did v3.6.1 actually resolve the issue for you?

[2020-11-19 22:07] PurrBiscuit commented on #214
@isometry yes, you're correct - this is still an issue.  I still had our repo pinned to version `3.5.1` so it wasn't pulling `3.6.1` in the test I ran.  I'm still seeing the rate limit errors and hanging Terraform plans on our larger repos with version `3.6.1`.  Will reopen this issue.

[2020-11-20 02:10] jeremie0 commented on #87
Please keep this open

[2020-11-24 00:59] eatplaysleep commented on #79
@quantumew was this ever resolved? I just ran into it after upgrading to the most recent okta provider but with a slightly different error:

[code]

As a side note, it seems incredibly inefficient to call the `/meta/types/user` endpoint for *every single* user schema resource. When you have hundreds of them it results in a lot of chatter.

[2020-11-24 03:25] eatplaysleep opened #221 "Add okta_groups data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-24 03:33] eatplaysleep opened #222 "Add okta_idp_oidc data resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-24 13:30] bryantbiggs opened #223 "`okta_app_basic_auth` optional fields are failing as required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-25 19:39] #221 closed, assigned to nobody

[2020-11-25 19:39] eatplaysleep commented on #221
figured out a way to handle this with a `for_each` that gets the job done.

[2020-11-25 21:20] eatplaysleep opened #225 "Add okta_auth_server_scopes as a data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-26 04:04] mbudnek commented on #69
Please keep this open

[2020-11-26 04:06] mbudnek commented on #87
This got closed as stale even though there was a comment requesting it stay open.  Can a maintainer reopen it @noinarisak

[2020-11-27 00:26] #184 closed, assigned to nobody

[2020-11-30 14:48] khitrenovich commented on #191
Please don't close.

[2020-12-01 09:45] moein commented on #180
Can we reopen this issue? Since yesterday I've been going crazy thinking I'm doing something wrong but it's basically type field being optional in terraform and being mandatory in the api.
Even worse is that the api just gives a generic error about the request not being well-formed instead of saying it's missing type.

[2020-12-01 11:56] bogdanprodan-okta commented on #223
Hi @bryantbiggs! Thanks for creating this issue! I'll make an investigation and create PR to fix this if necessary.

I made a test call to create a simple app without these values. As it turned out, these are required parameters.
Request:
[code]
Response:
[code]
This will be fixed in #220. Cheers!

[2020-12-01 13:42] bryantbiggs commented on #223
thanks @bogdanprodan-okta !

[2020-12-02 00:39] mbudnek commented on #69
@noinarisak Can you re-open this issue.  It is still relevant.  Also, can you investigate why the GitHub Actions bot is closing things despite my comment?

[2020-12-03 09:12] fatbasstard commented on #122
Update from my side. Starting today, the plans are failing:

[code]

[2020-12-03 12:01] pranjalranjan opened #227 "Add "acs_endpoints" as an argument in okta_app_saml resource."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-03 19:44] RichiCoder1 commented on #189
_bump_. This is important for managing groups via terraform

[2020-12-07 13:42] khitrenovich commented on #191
@bogdanprodan-okta Something is wrong with the stale issues bot. Can you reopen this one manually, please?

[2020-12-07 14:49] bogdanprodan-okta commented on #191
@khitrenovich thanks for the issue! I'll try to deal with it and other related issues this week.

[2020-12-07 19:40] Venkatsai commented on #193
To avoid stale.

[2020-12-09 03:38] jlaundry commented on #74
avoiding stale (not sure this actually removes the tag...)

[2020-12-09 14:15] vpedosyuk opened #229 "Terraform failed to retrieve authentication checksums for provider"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-09 14:24] svanharmelen commented on #229
Using Terraform 0.14.x gives the same error since some 45 minutes ago (give or take)

[2020-12-09 15:57] tgoodsell-tempus commented on #229
Looks like something caused the v3.6.1 release data to get messed up, since it's no longer tagged as "latest" and the artifacts and release notes are gone.

[2020-12-09 17:30] isometry opened #230 "What happened to v3.6.1?"
Apologies for the non-standard format, but there's not much to say…

Provider version v3.6.1 was originally released 22 days ago, but seems to have gone AWOL 4 hours ago. What happened? `terraform init` on new modules requiring the features in v3.6.1 is currently failing.

[2020-12-09 17:35] joe-a-t commented on #230
Duplicate of https://github.com/oktadeveloper/terraform-provider-okta/issues/229

[2020-12-09 18:17] bogdanprodan-okta commented on #229
@vpedosyuk Hi! Sorry for this mess :( The issue should be fixed right now. Could you try and confirm that it's fixed?

[2020-12-09 18:18] #230 closed, assigned to nobody

[2020-12-09 18:21] svanharmelen commented on #229
Yes, looks to be working again! Thanks 👍🏻

[2020-12-09 18:52] #229 closed, assigned to nobody

[2020-12-10 09:19] mcrobbj opened #231 "No clear how to have pkce on an application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-10 17:37] nickerzb opened #232 "Policy for IDP_DISCOVERY fails validation"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-11 20:59] maxyms commented on #231
@mcrobbj
Didn't check for `type = native`, but for SPA (`type = browser`) worked for me setting `token_endpoint_auth_method` to `none`.
Found example at: https://github.com/oktadeveloper/okta-dac/blob/master/terraform/main.tf

[2020-12-12 01:32] recintoit opened #234 "issue when applying changes to a `okta_user_schema`"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-14 09:06] mcrobbj commented on #231
Ok that works for native too, thanks

[2020-12-14 09:06] #231 closed, assigned to nobody

[2020-12-14 09:06] mcrobbj commented on #231
Closed as options above work

[2020-12-14 09:53] bogdanprodan-okta commented on #234
Hi @recintoit! Thanks for submitting this issue! I will investigate it and get back with the result shortly!

[2020-12-14 17:19] recintoit commented on #234
I tried to revert to version 13.1, but the error is still there.  This time it seemed to create one of the custom attributes but not the other.  One custom attribute was created with no error.
2020-12-14T17:15:36.8118933Z [1m[31mError: [0m[0m[1mProvider produced inconsistent result after apply[0m
2020-12-14T17:15:36.8119848Z
2020-12-14T17:15:36.8120431Z [0mWhen applying changes to okta_user

[2020-12-14 21:42] venkatakanupuru opened #235 "Terraform resource for okta self service registration."
Hi Team,

Can you please suggest how I can automate/ implement Self Service Registration  using terraform ?(UI steps are listed below)
Are there any terraform resources available for direct implementation or should I use third party / external tools ?

**Self Service Registration in Okta UI**

1.In the Admin Console, go to Directory > Self-Service Registration.
2.Click Edit.
3.In the Self-service

[2020-12-14 22:46] recintoit commented on #234
I tried a 'depends on' to try to get the tf to acknowledge the other custom attributes.  I recieve this error. I am starting to think there is a dependency issue that I'm missig to get this to work.  The main goal is to be able to create more that one okat_user_schema (custom attribute) in one file.
I am trying now to create two separate .tf files with the end goal as modules for each custom attri

[2020-12-14 23:18] recintoit commented on #234
I tried to perform a work around and create a module to create custom okta_user_schema and I get the errors after one of the attributes is created.  I would like to know if this issue is a bug or something I am leaving out in the config.  But I am creating very basic attriutes.

This is a bug in the provider, which should be reported in the provider's own
issue tracker.

Error: Provider produced i

[2020-12-14 23:19] recintoit commented on #234
If it helps, I have tried this on 4 completely different Okta Orgs that I have as well as my company's.

[2020-12-15 00:28] #74 closed, assigned to nobody

[2020-12-15 00:44] lohman opened #236 "Cannot import saml_app and then use the app_settings, aws app, Invalid reference"
Hi there,

Struggling to use the app_settings_json with an okta_app_saml resource.  Is this a bug?  Or could documentation be written to help us understand how to write the app_settings_json?

I manually created a saml2 app in Okta (aws) and then I imported it in to my state.  I am now attempting to translate that in to my tf file.  When I run a plan, it's hanging up on the roleValuePattern in the

[2020-12-15 09:03] bogdanprodan-okta commented on #236
Hi @lohman! the problem is that terraform treats `$` as a special [escape sequence](https://www.terraform.io/docs/configuration/expressions/strings.html#escape-sequences), so you need to use `$$` to make things work.
[code]

[2020-12-15 09:47] mcrobbj opened #237 "Doesnt appear to be a way to add scope to an application"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no